<div class="modal fade" id="infoOfertaPremiumWorldModal" tabindex="-1" role="dialog" aria-labelledby="navegadoresModalTitle">
    <div class="modal-dialog" role="document" >
        <div class="modal-content">
            <div class="modal-header ofertaExclusiva">
                <p class="text-center main-title">+ Beneficios Premium World</p>
            </div>
            <div class="modal-body ofertaExclusiva">
                <p class="subtitle">Con Premium World accede a:</p>
                <ul>
                    <li><p class="letra-chica gris">Tarjetas de Cr&eacute;dito Visa Signature y MasterCard Black</p></li>
                    <li><p class="letra-chica gris">Cuenta Corriente Bancaria con acuerdo de sobregiro <span class="layer">(1)</span></p></li>
                    <li><p class="letra-chica gris">Cajas de ahorros d&oacute;lares y euros</p></li>
                    <li><p class="letra-chica gris">Tarjeta Visa D&eacute;bito</p></li>
                </ul>
                <p class="subtitle">Beneficios LATAM Pass:</p>
                <ul>
                    <li><p class="letra-chica gris">Acceso gratuito al Sal&oacute;n VIP de LATAM en Ezeiza <span class="layer">(2)</span></p></li>
                    <li><p class="letra-chica gris">Check-in preferente en vuelos LATAM3 y de la alianza oneworld <span class="layer">(4)</span></p></li>
                    <li><p class="letra-chica gris">Bono adicional de 25% de KMS. LATAM Pass al volar en LATAM.</p></li>
                    <li><p class="letra-chica gris">Prioridad de equipaje en desembarque <span class="layer">(2)</span></p></li>
                </ul>
                <div class="modal-footer">
                    <button type="button" class="btn btn-enviar thin" data-dismiss="modal">Volver</button>
                </div>
                <p class="legales">​(1) LAS TASAS A APLICAR SON LAS VIGENTES AL MOMENTO AL MOMENTO DE SU UTILIZACI&Oacute;N, PUBLICADAS EN PIZARRA EN NUESTRAS SUCURSALES. (2) V&Aacute;LIDO PARA EL TITULAR Y UN ACOMPAÑANTE, &Uacute;NICAMENTE VIAJANDO EN VUELOS LATAM, O AEROL&Iacute;NEAS DE LA ALIANZA ONE WORLD. (3) DISPONIBLE &Uacute;NICAMENTE EN VUELOS INTERNACIONALES OPERADOS POR LATAM. (4) EN RUTAS DONDE EST&Eacute; DISPONIBLE. EL PROGRAMA NO ES ACUMULABLE CON OTROS PROGRAMAS DE SUMA Y ACUMULACI&Oacute;N DE PUNTOS. LOS T&Eacute;RMINOS Y CONDICIONES DEL PROGRAMA LATAM PASS SON DE EXCLUSIVA PROPIEDAD Y ADMINISTRADOS POR LATAM, PUEDEN SER MODIFICADOS Y SE ENCUENTRAN DISPONIBLES EN WWW.LATAM.COM.</p>
            </div>
        </div>
    </div>
</div>