<div class="modal fade" id="infoOfertaLibretonModal" tabindex="-1" role="dialog" aria-labelledby="navegadoresModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header ofertaExclusiva">
                <p class="text-center main-title">+ Beneficios Libret&oacute;n Full</p>
            </div>
            <div class="modal-body ofertaExclusiva">
                <p class="subtitle">Con Libret&oacute;n Full accede a:</p>
                <ul>
                    <li><p class="letra-chica gris">Tarjetas de Cr&eacute;dito Visa Gold y MasterCard Gold</p></li>
                    <li><p class="letra-chica gris">Cuenta Corriente Bancaria</p></li>
                    <li><p class="letra-chica gris">Cajas de ahorros d&oacute;lares</p></li>
                    <li><p class="letra-chica gris">Tarjeta Visa D&eacute;bito</p></li>
                    <li><p class="letra-chica gris">Programa Exclusivo de BBVA Franc&eacute;s LATAM Pass <span class="layer">(1)</span></p></li>
                </ul>
                <div class="modal-footer">
                    <button type="button" class="btn btn-enviar thin" data-dismiss="modal">Volver</button>
                </div>
                <p class="legales">​(1) EL PROGRAMA NO ES ACUMULABLE CON OTROS PROGRAMAS DE SUMA Y ACUMULACI&Oacute;N DE PUNTOS. LOS T&Eacute;RMINOS Y CONDICIONES DEL PROGRAMA LATAM PASS SON DE EXCLUSIVA PROPIEDAD Y ADMINISTRADOS POR LATAM, PUEDEN SER MODIFICADOS Y SE ENCUENTRAN DISPONIBLES EN WWW.LATAM.COM.</p>
            </div>
        </div>
    </div>
</div>