<div class="modal fade" id="infoOfertaPremiumModal" tabindex="-1" role="dialog" aria-labelledby="navegadoresModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
             <div class="modal-header ofertaExclusiva">
                <p class="text-center main-title">+ Beneficios Premium</p>
            </div>
            <div class="modal-body ofertaExclusiva">
                <p class="subtitle">Con Premium accede a:</p>
                <ul>
                    <li><p class="letra-chica gris">Tarjetas de Cr&eacute;dito Visa Platinum y MasterCard Platinum</p></li>
                    <li><p class="letra-chica gris">Cuenta Corriente Bancaria con acuerdo de sobregiro <span class="layer">(1)</span></p></li>
                    <li><p class="letra-chica gris">Cajas de ahorros d&oacute;lares y euros</p></li>
                    <li><p class="letra-chica gris">Tarjeta Visa D&eacute;bito</p></li>
                    <li><p class="letra-chica gris">Programa Exclusivo de BBVA Franc&eacute;s LATAM Pass <span class="layer">(2)</span></p></li>
                </ul>
                <div class="modal-footer">
                    <button type="button" class="btn btn-enviar thin" data-dismiss="modal">Volver</button>
                </div>
                <p class="legales">(1) LAS TASAS A APLICAR SON LAS VIGENTES AL MOMENTO AL MOMENTO DE SU UTILIZACI&OacuteN, PUBLICADAS EN PIZARRA EN NUESTRAS SUCURSALES. (2) EL PROGRAMA NO ES ACUMULABLE CON OTROS PROGRAMAS DE SUMA Y ACUMULACI&OacuteN DE PUNTOS. LOS T&EacuteRMINOS Y CONDICIONES DEL PROGRAMA LATAM PASS SON DE EXCLUSIVA PROPIEDAD Y ADMINISTRADOS POR LATAM, PUEDEN SER MODIFICADOS Y SE ENCUENTRAN DISPONIBLES EN WWW.LATAM.COM.</p>
            </div>
        </div>
    </div>