<div class="check-conditions btn-check" ng-class="{ 'active': checked }">
    <input type="checkbox" id="accept" ng-model="checked">
    <label for="accept" class="normal-text">
        <span class="icon-ico_green_check check"></span>
        <ng-transclude></ng-transclude>
    </label>
</div>