	body{
		margin: 0;
		padding: 0;
	}
	.seccion-mis-tarjetas *{
		margin: 0;
		padding: 0;
	}
	@font-face {
		font-family: 'Stag Sans Book';
		src: url('../fonts/StagSans-Book.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'Stag Sans';
		src: url('../fonts/StagSans-Light.ttf') format('truetype');
		font-weight: 300;
		font-style: normal;
	}
	@font-face {
		font-family: 'Stag Sans';
		src: url('../fonts/StagSans-Medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
	}
	.seccion-mis-tarjetas .cover{
		height: 398px;
		background: url('../images/cover.jpg') no-repeat 95% 0 / cover transparent;
	}
	.seccion-mis-tarjetas .contenedor {
		max-width: 1000px;
		margin: 0 auto;
		padding: 50px;
		padding-top: 280px;
		text-align: center;
		font-size: 80%;
	}
	.seccion-mis-tarjetas .contenedor2 {
		max-width: 800px;
		margin: 0 auto;
		padding: 50px;
		position: relative;
	}
	.seccion-mis-tarjetas h1{
		font-family: 'Stag Sans';
		font-weight: 300;
		font-size: 4em;
		color: #ffffff;
	}
	.seccion-mis-tarjetas h2{
		font-family: 'Stag Sans';
		font-weight: 300;
		font-size: 1.8em;
		line-height: 1.3em;
		color: #ffffff;
	}
	.seccion-mis-tarjetas h3{
		font-family: 'Stag Sans Book';
		font-weight: 300;
		font-size: 1.4em;
		color: #4D4D4D;
		margin-bottom: 20px;
	}
	.seccion-mis-tarjetas h4{
		font-family: 'Stag Sans';
		font-weight: 300;
		font-size: 1.3em;
		color: #00A7E7;
		margin-bottom: 20px;
	}
	.seccion-mis-tarjetas h5{
		font-family: 'Stag Sans';
		font-weight: 300;
		font-size: 1.3em;
		color: #ffffff;
		margin-bottom: 20px;
	}
	.seccion-mis-tarjetas h5 strong{
		font-family: 'Stag Sans';
		font-weight: 400;
		font-size: 1em;
		color: #ffffff;
		margin-bottom: 20px;
	}
	.seccion-mis-tarjetas p{
		font-family: 'Stag Sans';
		font-weight: 300;
		font-size: 1.2em;
		color: #4D4D4D;
		margin-bottom: 5px;
	}
	.seccion-mis-tarjetas .lista{
		font-family: 'Stag Sans';
		font-weight: 300;
		font-size: 1.2em;
		list-style-type: none;
	}
	.seccion-mis-tarjetas .link{
		color: #00A7E7;
		text-decoration: underline;
	}
	.seccion-mis-tarjetas .centrado{
		text-align: center;
		margin: 0 auto;
	}
	.seccion-mis-tarjetas .left {
		float: left;
	}
	.seccion-mis-tarjetas .right {
		float: right;
	}
	.seccion-mis-tarjetas .bloque1{
		background: #ffffff;
	}
	.seccion-mis-tarjetas .bloque2{
		background: #F2F2F2;
	}
	.seccion-mis-tarjetas .bloque3{
		background: #00A7E7;
	}
	.seccion-mis-tarjetas .bloque-texto-1{
		max-width: 480px;
		height: 280px
	}
	.seccion-mis-tarjetas .bloque-texto-2{
		max-width: 250px;
	}
	.seccion-mis-tarjetas .celular{
		position: static;
		width: 100%;
		margin: 20px auto;
		text-align: center;
	}
/*	.seccion-mis-tarjetas>img.img-todo-pago{
		position: absolute;
		clip: rect(0px,35px,34px,0px);
		right: 0px;
	}*/
	.seccion-mis-tarjetas .circulo{
		display: inline-block;
		text-align: center;
		margin: 0px;
		padding: 0px;
		min-width: 79px;
	}
	.seccion-mis-tarjetas .circulo>img{
		width: 60px;
	}
	.seccion-mis-tarjetas .stores{
		margin: 5px 10px;
		padding: 0;
		display: inline-block;
	}
	.seccion-mis-tarjetas .footer-txt{
		margin: 5px 5px;
		padding: 0px;
		display: inline-block;
	}
	.seccion-mis-tarjetas .button-enviar{
		margin: 5px auto;
		width: 100px;
		border:0px solid #000000; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:14px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: 0px 0px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
		background-color: #39DA21; background-image: -webkit-gradient(linear, left top, left bottom, from(#39DA21), to(#008c00));
		background-image: -webkit-linear-gradient(top, #39DA21, #008c00);
		background-image: -moz-linear-gradient(top, #39DA21, #008c00);
		background-image: -ms-linear-gradient(top, #39DA21, #008c00);
		background-image: -o-linear-gradient(top, #39DA21, #008c00);
		background-image: linear-gradient(to bottom, #39DA21, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#39DA21, endColorstr=#008c00);
	}
	.seccion-mis-tarjetas .button-enviar:hover{
		border:0px solid #000000;
		background-color: #2dae1a; background-image: -webkit-gradient(linear, left top, left bottom, from(#2dae1a), to(#005900));
		background-image: -webkit-linear-gradient(top, #2dae1a, #005900);
		background-image: -moz-linear-gradient(top, #2dae1a, #005900);
		background-image: -ms-linear-gradient(top, #2dae1a, #005900);
		background-image: -o-linear-gradient(top, #2dae1a, #005900);
		background-image: linear-gradient(to bottom, #2dae1a, #005900);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2dae1a, endColorstr=#005900);
	}

	@media (min-width : 500px) {
		.seccion-mis-tarjetas .circulo>img{
			width: 100px;
		}
	}

	@media (min-width : 768px) {
		.seccion-mis-tarjetas .cover{
			height: 398px;
			background: url('../images/cover.jpg') no-repeat 50% 0 / cover transparent;
		}
		.seccion-mis-tarjetas .contenedor {
			max-width: 1000px;
			margin: 0 auto;
			padding: 50px;
			padding-top: 100px;
			text-align: left;
			font-size: 100%;
		}
		.seccion-mis-tarjetas h3{
			font-size: 1.8em;
		}
		.seccion-mis-tarjetas .bloque-texto-1{
			height: 300px
		}
		.seccion-mis-tarjetas .bloque-texto-2{
			max-width: 300px;
		}
		.seccion-mis-tarjetas .celular{
			width: auto;
			position: absolute;
			top: -120px;
			right: 50px;
		}
/*		.seccion-mis-tarjetas>img.img-todo-pago{
			position: relative;
			clip: initial;
		}*/
		.seccion-mis-tarjetas .circulo{
			display: inline-block;
			text-align: center;
			margin: 0 25px;
			padding: 5px;
		}
		.seccion-mis-tarjetas .circulo img{
			width: initial;
		}
	}

	@media (max-width : 360px) {
		.seccion-mis-tarjetas .centrado .stores {
			margin: 5px 3px;
		}

		.seccion-mis-tarjetas .bloque-texto-1 {
			height: auto;
		}
	}