<style type="text/css">
.dialog-locales {
    max-height: 90%;
    width: 90%;
}

@media screen and (max-width: 760px) {
    .fullscreen-dialog {
        height: 100%;
        width: 100%;
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;
    }
}
</style>
<md-dialog class="fullscreen-dialog dialog-locales " aria-label="Locales Adheridos">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools" style="color : white;">
                Locales Adheridos
                <span flex="">
                </span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog" md-svg-src="assets/img/icons/ic_close_white_24px.svg">
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" style='height: 100%;'>
                <beneficio-detail-map id-beneficio="idBeneficio">
                </beneficio-detail-map>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
