#message-box {
   background-color: #FFFFFF;
}

#waitting{
  position: absolute;
  top: 85px;
  left: -3px;
  width: 100%;
  height: 100%;
  background: rgba(252, 0, 0, 0);
  opacity: 0.7;
  z-index: 999;
  color: #09519e;
  display: none;
}
.identificacion-error{
  width: 317px;
  color: #c4136c;
  background-color: white;
  margin: 0 auto;
  display: none;
  border: 1px solid #ecafc7;
  padding-left: 12px;
  padding-right: 11px;
  padding-top: 5px;
  padding-bottom: 6px;
  font-family: bbva light;
}

.ident-positiva-encabezado1 {
  width: 255px;
  min-height: 40px;
  text-align: left;
  font-family: 'bbva light';
  margin-left: 50px;
  font-size: 13px;
}

#label-reseteo-nocliente{
  color:rgb(9, 81, 158);
  text-align: center;
  font-family: bbva light;
  text-transform: uppercase;
  margin-top: 5px;
}
#block-dropdown_login-login_dropdown .recover-pass-nocliente{
  background: #fff;
}


/*#bbva-profile-pass-recovery-form{
  width: 211px;
  margin: 0 auto;
  padding-bottom: 20px;
}

#bbva-profile-pass-recovery-form .form-type-select{
width: 48px;
float: left;
}

#bbva-profile-pass-recovery-form .form-item-number{
   float: left;
  width: 142px;
  margin: 14px 0 0 21px;
}
#bbva-profile-pass-recovery-form .form-item-number label{
margin-bottom: 2px;
}
#bbva-profile-pass-recovery-form .form-item-number input{
  height: 26px;
}
#bbva-profile-pass-recovery-form .form-item-number #edit-number input{
  color: #fff;
  background: transparent;
}
#bbva-profile-pass-recovery-form label{
font-weight: normal;
text-align: left;
font-family: bbva light;
}

#bbva-profile-pass-recovery-form{
	font-weight: normal;
	text-align: center;
	font-family: bbva light;
	color: #fff;
	width: 316px;
}

#bbva-profile-pass-recovery-form .message,
#bbva-profile-pass-recovery-form .throbber{
  margin-top: 15px;
}
#bbva-profile-pass-recovery-form .form-submit{
  background: #09519e;
  border: none;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  margin: 9px 0 0 0;
}
*/

#edit-captcha-response{
  width: 145px;
  margin-left: 6px;
  margin-top: -1px;
}

#dropdown-login .form-item input.error{
  border:1px red solid;
}
#dropdown-login .form-item-captcha-response input{
  margin-left: 6px;
}
#login_form_full .ajax-progress{
position: absolute;
bottom: 0;
left: 110px;
 
}
.error-login{
  text-align: center;
  width: 100%;
  margin-top: 14px;
}
#dropdown-login .form-required{
  display: none;
}
.modal-content{

}
.close img{
  display: none;
}
.ctools-modal-content{
  border:none!important;
}
.modal-header{
  height: 40px;
  line-height: 39px;
  text-align: center;
  font-family: bbva;
  text-transform: uppercase;
}
.status{
  background: inherit!important;
  border:none!important;
  text-align: center;
  color: #053C5E!important;
}

#user-login-form{
  background: #FFF;
}
#user-login-form .content_title,
#user-login-form .content_description{
  width: 80%;
  margin:0 auto;
  text-align: center;
}
#user-login-form .content_description{
    font-size: 11px;
  line-height: 14px;
  margin-top: 4px;
}

.error_login{
  text-align: center;
  font-size: 11px;
  clear:both;
  display: none;
}


#tipo-number-content{
  float: left;
}
#tipo-number-content .form-item-type-doc{
  width: 24%;
}
#tipo-number-content .form-item-type-doc label{
    float: left;
  white-space: nowrap;
}
#tipo-number-content .form-select {
  width: 100%;
  float: left;
}
#tipo-number-content .form-item-document-number{
  display: inherit;
  float: left;
  margin-top: 22px;
}

#tipo-number-content .form-item-sex{
    float: left;
    position: relative;
    margin: 0;
	margin-left: 12px;
	margin-top: 1.5%;
}
#tipo-number-content .form-item-sex label{

}
#tipo-number-content .bbva-field-sex {
	position: relative;
	margin-bottom: 7.5em;
}

@media screen and (max-width: 960px){

	#tipo-number-content .bbva-field-sex {
		margin-bottom: 6.5em;
		margin-top: 3.7em;
	}

}


#tipo-number-content .bbva-field-sex #gender {
	width: 74px;
	height: 25px;
	right: 0px;
	bottom: 0px;
	text-align: center;
	float: right;
	position: relative;
	margin-right: 3%;
}

@media screen and (max-width: 961px) and (min-width: 720px){
	#tipo-number-content .bbva-field-sex #gender {
		margin-right: 2.5%;
	}
}

#tipo-number-content .bbva-field-sex #gender #g-masculino{
	float: left;
}

#tipo-number-content .bbva-field-sex #gender #g-femenino{
	float: right;
}

#tipo-number-content .form-item-sex .form-radios{
	display: none;
}
#tipo-number-content .form-item-sex .option{
	display: block!important;
	font-weight: bold;
	padding: 2px 0 0 6px;
}
#tipo-number-content .form-item-sex #edit-sex .form-item-sex{
  width: 25px;
  height: 25px;
  margin: 8px 14px 0 0;
  background: #b4b4b4;
}

#tipo-number-content .form-item-sex #edit-sex .form-item-sex input{
  display: none;
}

#block-dropdown_login-login_dropdown .pregunta-recuperacion-form {
 display: none; 
}

#dropdown-login .messages.error{
  color: red;
  background-color: white;
  margin: 0;
}

#dropdown-login #user-login-form .messages.error{
  width: 315px;
  margin: 0 auto;
}

#dropdown-login .identificacion-positiva-form-enrrolar .error {
  color: red; 
  background-color: transparent; 
  margin-left: 59px; 
  font-size: 11px;
}

#dropdown-login .error li{
  display: none;  
}

#dropdown-login .error li:first-child{
  display: block;  
}

#dropdown-login #recovery-continuar {
  width: 110px;
  height: 31px;
  line-height: 34px;
  background: rgb(9, 81, 158);
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  float: right;
  border: 0;
  color: white;
  margin: 21px;
}
