body {
  max-width: 1024px !important;
  overflow-x: hidden;
  /*page*/
}
body .breadcrumb {
  margin-left: 28px;
}
body #configuracion {
  padding-left: 0px;
  width: 90px;
  font-size: 11px;
  font-family: 'bbva light';
}
body #content #views_slideshow_cycle_teaser_section_slide-block {
  height: 541px !important;
}
body #content .inner .region-slideshow .block-views .content .view-slide .skin-default .views_slideshow_cycle_main .views-slideshow-cycle-main-frame .views-slideshow-cycle-main-frame-row .views-slideshow-cycle-main-frame-row-item .field-content img {
  height: 100% !important;
  width: 100% !important;
}
body #page {
  /*header*/
}
body #page #slideshow-wrapper .skin-default #views_slideshow_cycle_main_slide-block #views_slideshow_cycle_teaser_section_slide-block .views-slideshow-cycle-main-frame-row img,
body #page #slideshow-wrapper .skin-default #views_slideshow_cycle_main_slide-block #views_slideshow_cycle_main_slide-block_1 .views-slideshow-cycle-main-frame-row img {
  width: 100% !important;
  max-width: 1024px !important;
  min-width: 962px !important;
  height: auto;
}
body #page #footer .region-footer #block-bbva-footer_socials {
  width: 310px;
  height: 190px;
  margin-right: 0;
  margin-left: 20px;
}
body #page #footer .region-footer #block-bbva-footer_socials .block-inner .field-description {
  width: 85%;
  font-size: 14px;
  line-height: 17px;
}
body #page #footer .region-footer #block-bbva-footer_socials .block-inner .block-title {
  font-size: 21px;
  height: 30px;
}
body #page #footer .region-footer #block-bbva-footer_socials .block-inner .field-subtitle {
  font-size: 17px;
}
body #page #footer .region-footer #block-bbva-footer_mobile {
  width: 311px;
  height: 190px;
  margin-right: 0;
}
body #page #footer .region-footer #block-bbva-footer_mobile .block-inner {
  width: 90%;
  margin: 0 auto;
}
body #page #footer .region-footer #block-bbva-footer_mobile .block-inner .field-description {
  font-size: 14px;
  line-height: 17px;
}
body #page #footer .region-footer #block-bbva-footer_mobile .block-inner .field-mobiles .link-android {
  width: 85px;
}
body #page #footer .region-footer #block-bbva-footer_mobile .block-inner .field-mobiles .link-iphone {
  width: 79px;
}
body #page #footer .region-footer #block-bbva-footer_mobile .block-inner .block-title {
  font-size: 21px;
  height: 30px;
}
body #page #footer .region-footer #block-bbva-footer_mobile .block-inner .field-subtitle {
  font-size: 17px;
}
body #page #footer .region-footer #block-bbva-footer_video {
  width: 31%;
  height: 190px;
  margin-right: 0;
  padding-left: 15px;
}
body #page #footer .region-footer #block-bbva-footer_video .block-inner {
  width: 90%;
  margin: 0 auto;
}
body #page #footer .region-footer #block-bbva-footer_video .block-inner .field-description {
  width: 45%;
  margin-right: 18px;
  font-size: 14px;
  line-height: 17px;
}
body #page #footer .region-footer #block-bbva-footer_video .block-inner .field-videos {
  margin: 18px 0 0 0;
}
body #page #footer .region-footer #block-bbva-footer_video .block-inner .block-title {
  font-size: 21px;
  height: 30px;
}
body #page #footer .region-footer #block-bbva-footer_video .block-inner .field-subtitle {
  font-size: 17px;
}
body #page #pre-footer .inner #block-imageblock-1 .block-inner {
  width: 100%;
  max-width: 1024px;
}
body #page #pre-footer .inner .region-pre-footer
#block-quicktabs-quicktabs .block-inner #quicktabs-quicktabs #quicktabs-tabpage-quicktabs-1 .jcarousel-list-horizontal .field-items .group-fields-title {
  margin-left: 13px;
  margin-right: -13px;
  margin-top: 35px;
}
body #page #pre-footer .inner .region-pre-footer
#block-quicktabs-quicktabs .block-inner #quicktabs-quicktabs #quicktabs-tabpage-quicktabs-1 .jcarousel-list-horizontal .field-items .field-quotes {
  margin-right: 14px;
}
body #page #pre-footer .inner .region-pre-footer
#block-quicktabs-quicktabs #quicktabs-container-quicktabs {
  width: 950px;
  margin: 0 auto;
}
body #page #pre-footer .inner .region-pre-footer
#block-quicktabs-quicktabs #quicktabs-container-quicktabs .view-content .jcarousel-container-horizontal {
  min-height: 327px;
  width: 101%;
  max-width: 950px;
}
body #page #pre-footer .inner .region-pre-footer
#block-quicktabs-quicktabs #quicktabs-container-quicktabs .view-content .jcarousel-container-horizontal .jcarousel-next {
  right: 15px;
  top: 125px;
}
body #page #pre-footer .inner .region-pre-footer
#block-quicktabs-quicktabs #quicktabs-container-quicktabs .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li .field-item .group-fields {
  width: 91%;
}
body #page #pre-footer .inner .region-pre-footer
#block-quicktabs-quicktabs #quicktabs-container-quicktabs .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li .field-item .group-fields .group-fields-promotion {
  padding: 33px 0 10px;
  font-size: 392%;
  font-weight: normal;
  font-family: 'bbva light';
  line-height: 16px;
  width: 34%;
  height: 45px;
  float: left;
  letter-spacing: -2px;
  margin-left: 10px;
}
body #page #pre-footer .inner .region-pre-footer
#block-quicktabs-quicktabs #quicktabs-container-quicktabs .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li .field-item .group-fields .group-fields-duration {
  font-size: 294%;
}
body #page #pre-footer .inner .region-pre-footer
#block-quicktabs-quicktabs #quicktabs-container-quicktabs .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li .field-item .group-fields .group-fields-duration span.porcent {
  font-size: 119%;
}
body #page #pre-footer .inner .region-pre-footer
#block-quicktabs-quicktabs #quicktabs-container-quicktabs .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li .field-item .group-fields .group-fields-logo {
  margin-right: 0;
  margin-top: -4px;
}
body #page #pre-footer .inner .region-pre-footer
#block-quicktabs-quicktabs #quicktabs-container-quicktabs .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li .field-item .group-fields .group-fields-logo img {
  margin-top: 44%;
  margin-left: 20%;
  width: 88%;
}
body #page #header {
  min-height: 96px;
  padding: 0;
  border: 0;
}
body #page #header .container {
  padding: 0;
  margin: 0 0 0 30px;
  /*container*/
}
body #page #header .container #logo {
  padding: 26px 5px 0 0;
  width: 160px;
  height: 49px;
  float: left;
  margin-top: 13px;
  margin-right: 7px;
}
body #page #header .container .region-header {
  width: 80%;
  float: left;
  /*region header*/
}
body #page #header .container .region-header #block-dropdown_login-login_dropdown {
  /*width: 199px;*/
  margin-top: inherit;
}
body #page #header .container .region-header #block-dropdown_login-login_dropdown #dropdown-login a.login.button {
  margin-top: 25px;
  font-size: 11px;
}
body #page #header .container .region-header #block-bbva-search_content {
  width: 134px;
  margin-top: 15px;
}
body #page #header .container .region-header #block-bbva-search_content .content #bbva-search-form input#edit-keyword {
  width: 70%;
  font-size: 8px;
}
body #page #header .container .region-header #block-menu-menu-experience {
  width: 400px;
}
body #page #header .container .region-header #block-menu-menu-experience ul li {
  font-size: 12px;
  margin-top: -4px;
}
body #page #header .container .region-header #block-menu-menu-experience ul li a.menu-download {
  width: 84px;
  font-size: 11px;
  background: #0079C1 url("../../../images/ico_descargar.png") no-repeat 22px 11px;
}
body #page #header .container .region-header #block-menu-menu-experience ul li a.menu-beneficios {
  background-position: 18px 0;
}
body #page #header .container .region-header #block-menu-menu-experience ul li a.menu-futbol {
  background-position: 5px 0;
}
body #page #header .container .region-header #block-menu-menu-experience ul li a.menu-espectaculos {
  background-position: 30px 0;
}
body #page #header .container .region-header #block-menu-menu-experience ul li a.menu-viajes {
  background-position: 11px 0;
}
body #page #header .container .region-header #block-menu-menu-experience ul li a.menu-autos {
  background-position: 3px 4px;
}
body #page #header .container .region-header #block-menu-menu-menu-principal {
  float: right;
  width: 70px;
  margin-top: 25px;
  margin-right: 7px;
}
body #page #header .container .region-header #block-menu-menu-menu-principal ul li {
  font-size: 11px;
  text-align: center;
  left: -7px;
}
body #page #header .container .region-header #block-menu-menu-menu-principal ul li a {
  width: 61px;
  background-position-x: 20px;
  padding-right: 7px;
}
body #page #header .container .region-header #block-views--exp-benefit_filters-block_1 {
  float: right;
  width: 190px;
  margin-left: 15px;
}
body #page #header .container .region-header #block-views--exp-benefit_filters-block_1 form {
  margin: 30px 0 0 0;
}
body #page #header .container .region-header #block-views--exp-benefit_filters-block_1 form #edit-field-tags-tid-wrapper .form-item input.form-autocomplete {
  width: 150px;
  height: 40px;
  padding: 6px 6px 6px 6px;
  font-size: 13px;
}
body #page #header .container .region-header #block-views--exp-benefit_filters-block_1 form .views-exposed-widget input.form-submit {
  height: 40px;
  width: 40px;
  margin: 0;
  border-radius: 0 8px 8px 0;
}
body #page #header .container .region-header #block-views--exp-benefit_filters-block_1 input.form-text {
  width: 276px;
}
body #page #higlighted-area {
  width: 931px !important;
  position: relative;
  z-index: 998;
  width: 980px;
  transition: 0.5s margin-top;
}
body #page #higlighted-area .todos_zonas_elegir, body #page #higlighted-area .todos_rubros_elegir {
  margin-bottom: 15px;
  margin-top: 8px;
  height: 20px;
}
body #page #higlighted-area .todos-rubros, body #page #higlighted-area .todos-zonas {
  float: left;
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 h2 {
  font-size: 19px;
  width: 194px;
  line-height: 35px;
  height: 34px;
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content input, body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content select {
  height: 24px !important;
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form label {
  font-size: 11px !important;
  font-weight: normal;
  font-family: 'bbva light';
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form .gender {
  width: 30px;
  height: 25px;
  padding: 3px;
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form #edit-actions--2 input {
  width: 130px;
  margin: -39px 15px 15px 0;
  line-height: 25px;
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form .form-item-nombre, body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form .form-item-apellido {
  margin-bottom: 0px;
  height: 48px;
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form .form-item-document-type {
  margin-bottom: 0px;
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form .form-item-document-number {
  margin-bottom: 7px;
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form .form-item-day, body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form .form-item-month, body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form .form-item-year {
  height: 30px;
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form .form-item-email {
  height: 50px;
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form .form-item-celular {
  margin-bottom: 0px;
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form .form-item-compania {
  height: 50px;
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form .form-item-pass1, body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form .form-item-pass2 {
  height: 50px;
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form .bbva-form-item-sexo {
  height: 46px;
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form #webform-component-fields #webform-component-fields--subtitle {
  line-height: 28px;
  height: 29px;
  font-size: 16px;
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form .pregunta-soy-cliente {
  margin: 8px 0 5px 13px;
  height: 29px;
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form .pregunta-soy-cliente a {
  width: 160px;
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form .pregunta-soy-cliente a + a {
  width: 160px;
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form .pregunta-soy-cliente #soy, body #page #higlighted-area .region-highlight #block-webform-client-block-63 .content .webform-client-form .pregunta-soy-cliente #nosoy {
  line-height: 30px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block {
  width: 567px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block h2.block-title {
  font-size: 20px;
  line-height: 33px;
  height: 33px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .view-solo-por-hoy {
  float: left;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content #jcarousel-skin-default img {
  width: 228px !important;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content #views_slideshow_cycle_main_solo_por_hoy-block {
  width: 335px !important;
  max-width: 335px !important;
  max-height: 430px;
  margin-top: -32px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content #views_slideshow_cycle_main_solo_por_hoy-block #views_slideshow_cycle_teaser_section_solo_por_hoy-block {
  width: 335px !important;
  height: 430px !important;
  max-height: 430px !important;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content #views_slideshow_cycle_main_solo_por_hoy-block #views_slideshow_cycle_teaser_section_solo_por_hoy-block img {
  width: 335px !important;
  max-width: 335px !important;
  margin-top: -1px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top {
  width: 232px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item {
  padding-bottom: 1.8px;
  max-height: 97.3px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .field-cucarda.featured {
  height: 21px;
  width: 21px;
  background: url("../../../images/destacados_sm.png") no-repeat;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .group-fields {
  width: 119px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .group-fields .group-fields-promotion {
  padding-top: 39px;
  font-size: 45px;
  letter-spacing: -3px;
  width: 66px;
  margin-left: 13px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .group-fields .group-fields-duration {
  font-size: 45px;
  margin-top: -19px;
  margin-left: -13px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .group-fields .field-quotes {
  font-size: 8px;
  font-weight: normal;
  position: absolute;
  right: 4px;
  bottom: 16px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .group-fields .sin-porcent {
  font-size: 15px !important;
  margin-left: 24px;
  position: relative;
  top: -20px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .field-logo {
  width: 71px;
  height: 95.1px;
  top: 0px;
  min-height: 92px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .field-logo img {
  margin-top: 34px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .even {
  height: 95.3px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .even .field-title {
  min-height: inherit;
  top: -8px;
  margin-right: 0;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .ver-mas-destacados {
  right: 3px;
  top: -1px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .ver-mas-destacados a {
  font-size: 8px;
}

/*body*/
#dropdown-login .dropdown {
  position: absolute;
  z-index: 999;
  display: none;
  width: 357px;
  height: 100px;
  background: #fff;
  border: 0;
  right: 84px;
  top: 94px;
}

.front #block-bbva_subscription-subscription_block {
  width: 357px;
}
.front #block-bbva_subscription-subscription_block h2 {
  height: 33px;
  line-height: 33px;
  font-size: 20px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form {
  padding-bottom: 14px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form #form-item-subtitle {
  width: 100%;
  font-size: 18px;
  line-height: 27px;
  height: 27px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .captcha {
  margin-bottom: 14px !important;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .captcha img {
  margin-right: 16px;
  width: 160px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .colorbox-subscription-ver-terminos {
  right: 98px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .field-next {
  top: 7px !important;
  left: -1px !important;
  margin: 0;
  padding: 0;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .field-next2 {
  left: -11px !important;
  top: 7px !important;
  margin: 0;
  padding: 0;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .bbva-edit-zonas {
  width: 162px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .group-left-fields {
  width: 100%;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente {
  height: 28px;
  max-height: 28px;
  margin: 10px 0 6px 13px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a {
  width: 160px;
  line-height: 27px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a + a {
  width: 160px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre {
  height: 41px;
  width: 160px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido {
  width: 160px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-type {
  height: 41px;
  width: 45px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-number {
  width: 201px;
  margin-right: 24px;
  margin-bottom: 6px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area {
  margin-top: -11px;
  width: 45px;
  margin-right: 8px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area select {
  width: 100%;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular {
  margin-top: 4px;
  width: 107px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania {
  margin-top: -16px;
  height: 57px;
  width: 160px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day {
  height: 57px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year {
  width: 54px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year select {
  width: 100%;
  white-space: nowrap;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email {
  height: 50px;
  width: 160px;
  position: relative;
  top: -1px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month {
  width: 43px;
  margin-left: 7px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month select {
  width: 100%;
  white-space: nowrap;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass1,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2 {
  width: 160px;
  height: 50px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .bbva-form-item-sexo {
  left: -12px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .date-field-subscription {
  width: 160px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .telefono_celular,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .fecha_nacimiento {
  width: 160px;
  height: 50px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .todos_rubros_div {
  width: 171px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-footer .form-submit {
  width: 330px;
  margin-left: -120px;
  margin-top: 11px;
}

/*FUTBOL RIVER*/
#parallax .intro-content {
  background-size: 132% !important;
}
#parallax .content-node-parallax .group-title {
  font-size: 65px;
}
#parallax .content-node-parallax .parallax-inner .group-left .section {
  padding: 0 0 0 0;
  text-align: right;
}
#parallax .content-node-parallax .parallax-inner .group-right .section {
  width: 320px;
}

/*PRODUCTO RIVER*/
.node-type-product #page #main #content {
 /*
*/
}
.node-type-product #page #main #content .field-name-title h2 {
  position: absolute;
  right: 5%;
  top: 5%;
  color: #fff;
  font-size: 71px;
  font-family: bbva light;
  width: 500px;
  line-height: 68px;
  text-align: right;
  text-shadow: 3px 2px 2px #000;
}
.node-type-product #page #main #content .statistics_counter {
  display: none;
}
.node-type-product #page #main #content .group-footer {
  width: 946px;
  margin: 20px auto;
}
.node-type-product #page #main #content .group-footer legend {
  display: none;
}
.node-type-product #page #main #content .group-footer .group-inner-footer {
  width: 485px;
  min-width: inherit;
  float: left;
}
.node-type-product #page #main #content .group-footer .group-inner-footer .field-name-field-product-description-short {
  width: 570px;
  float: left;
  font-size: 60px;
  font-family: bbva light;
  color: #00539B;
  line-height: 65px;
}
.node-type-product #page #main #content .group-footer .group-inner-footer .field-name-field-product-tyc {
  float: left;
  position: relative;
  font-size: 14px;
  color: #b4b4b4;
  font-family: bbva light;
  text-decoration: underline;
}
.node-type-product #page #main #content .group-footer .group-inner-footer-right {
  width: 435px;
  margin-left: 20px;
  float: left;
}
.node-type-product #page #main #content .group-footer .group-inner-footer-right .field-name-field-product-titulo-descripcion {
  font-size: 16px;
  line-height: 23px;
  color: #00539B;
  font-family: 'bbva';
  float: left;
  width: inherit;
  text-align: justify;
  margin-top: 11px;
}
.node-type-product #page #main #content .group-footer .group-inner-footer-right ul {
  float: left;
  margin: 12px 0 0 6px;
  padding: 0 0 0 15px;
  font-size: 15px;
  line-height: 23px;
  color: #00539B;
  font-family: 'bbva light';
}
.node-type-product #page #main #content .group-footer .group-inner-footer-right ul li {
  margin-bottom: 7px;
  list-style-image: url("../../../images/list-dot.jpg") !important;
  float: none;
  letter-spacing: 2px;
}
.node-type-product #page #main #content .field-type-image {
  width: 100%;
}
.node-type-product #page #main #content .field-type-image img {
  width: 100%;
  height: 100%;
}
.node-type-product #page #main #content .field-name-field-product-image-button {
  width: 194px;
  height: 127px;
  float: left;
  position: absolute;
  right: 5%;
  top: 23%;
}
.node-type-product #page #main #content .field-name-field-product-image-button even {
  display: none;
}
.node-type-product #page #main #content .field-name-field-product-image-button img {
  width: 100%;
  height: 100%;
}
.node-type-product #page #main #content .field-name-field-product-link-button {
  position: absolute;
  right: 6.3%;
  top: 37%;
}
.node-type-product #page #main #content .field-name-field-product-link-button a {
  padding: 14px 20px 40px 20px;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  height: 55px;
  font-family: 'bbva light';
  background-color: #09519d;
  float: left;
}
.node-type-product #page #main #content .field-name-field-product-category {
  display: none;
}

#block-dropdown_login-login_dropdown #configuracion ul {
  width: 87px !important;
  white-space: nowrap;
}
#block-dropdown_login-login_dropdown #configuracion p {
  font-size: 12px;
}

/*BENEFIT FULL*/
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view--experiences .views-row {
  width: 185px;
}
body #page #pre-footer .inner .block-quicktabs .item-list ul.quicktabs-tabs {
  width: 950px;
}

.page-benefit #main,
.page-benefit-categories #main {
  width: 950px;
  margin: 3px auto;
}
.page-benefit #main #content,
.page-benefit-categories #main #content {
  max-width: 713px;
  width: 76%;
}
.page-benefit #main #content .field-header,
.page-benefit-categories #main #content .field-header {
  width: 703px;
}
.page-benefit #main #content .view-benefit-group-categories .jcarousel-container-horizontal,
.page-benefit-categories #main #content .view-benefit-group-categories .jcarousel-container-horizontal {
  min-width: 703px;
}
.page-benefit #main #content .view-benefit-group-categories .jcarousel-container-horizontal .jcarousel-clip-horizontal,
.page-benefit-categories #main #content .view-benefit-group-categories .jcarousel-container-horizontal .jcarousel-clip-horizontal {
  width: 703px;
}
.page-benefit #main #content .view-benefit-group-categories .jcarousel-container-horizontal .jcarousel-clip-horizontal ul,
.page-benefit-categories #main #content .view-benefit-group-categories .jcarousel-container-horizontal .jcarousel-clip-horizontal ul {
  width: 2000px !important;
}
.page-benefit #main #content #content-inner #content-area .region-content .block-system .block-inner .content .view-benefit-filters .view-content table,
.page-benefit-categories #main #content #content-inner #content-area .region-content .block-system .block-inner .content .view-benefit-filters .view-content table {
  width: 106%;
}
.page-benefit #main #content #content-inner #content-area .region-content .block-system .block-inner .content .view-benefit-filters .view-content table tbody tr td,
.page-benefit-categories #main #content #content-inner #content-area .region-content .block-system .block-inner .content .view-benefit-filters .view-content table tbody tr td {
  float: left;
}
.page-benefit #main #content #content-inner .region-content #block-system-main .content .view-more,
.page-benefit-categories #main #content #content-inner .region-content #block-system-main .content .view-more {
  width: 703px;
}
.page-benefit .field-item .group-fields-duration,
.page-benefit-categories .field-item .group-fields-duration {
  margin-top: 12px !important;
}
.page-benefit .field-item .group-fields-duration span.porcent,
.page-benefit-categories .field-item .group-fields-duration span.porcent {
  top: 23px;
}

.page-benefit-benefit #main {
  width: 950px;
}
.page-benefit-benefit .field-item #section-benefit {
  width: 700px;
}
.page-benefit-benefit .field-item #section-benefit .row {
  width: inherit;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left {
  position: relative;
  /*CAJITAS*/
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .field-title {
  background: #0079C1;
  font-size: 29px;
  color: #fff;
  height: 44px;
  line-height: 44px;
  font-family: 'bbva light';
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .field-title span {
  margin-left: 20px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .field-title span {
  float: left;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-shares ul {
  list-style-type: disc;
  float: right;
  margin: 0px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-shares li {
  height: 35px;
  width: 39px;
  margin-right: 5px;
  margin-top: 4px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-shares li a {
  text-indent: -500em;
  display: block;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-shares .list-face {
  background: url(../../images/face.jpg);
  background-position: -1px;
  cursor: pointer;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-shares .list-twitter {
  background: url(../../images/twitter.jpg);
  background-position: -2px;
  cursor: pointer;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-shares .list-email {
  background: url(../../images/mail.jpg);
  cursor: pointer;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .field-image img {
  width: 100%;
  height: 100%;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .field-logo {
  width: 205px;
  position: absolute;
  top: 140px;
  left: 50px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .field-logo img {
  width: 100%;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-group {
  width: 156px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-1,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-3 {
  width: 210px;
  float: left;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-promotion {
  float: left;
  font-size: 75px;
  line-height: 75px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-duration {
  margin-top: 7px !important;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-duration span.porcent {
  font-size: 65px;
  padding: 0;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .field-quotes {
  float: left;
  font-family: bbva;
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  right: 15px;
  top: 70px;
  padding: 0;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .leyendago,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .leyendanogo,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .leyendago-2 {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 15px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .leyendago-2 {
  margin: 27px 0 21px 0;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .leyendago,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .leyendanogo {
  margin-top: 22px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-3 .leyendanogo {
  width: 220px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-1 a.inicia-sesion,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-1 a.adquiri-cupon,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-1 a.disfruta-mas,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-2 a.inicia-sesion,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-2 a.adquiri-cupon,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-2 a.disfruta-mas,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-3 a.inicia-sesion,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-3 a.adquiri-cupon,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-3 a.disfruta-mas,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4 a.inicia-sesion,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4 a.adquiri-cupon,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4 a.disfruta-mas {
  width: 100%;
  float: left;
  text-align: center;
  height: 40px;
  display: block;
  font-size: 24px;
  line-height: 38px;
  color: #fff;
  font-family: bbva;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-1 a.inicia-sesion,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-1 a.disfruta-mas,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-2 a.inicia-sesion,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-2 a.disfruta-mas,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-3 a.inicia-sesion,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-3 a.disfruta-mas,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4 a.inicia-sesion,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4 a.disfruta-mas {
  background: #f09700;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-1 a.adquiri-cupon,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-2 a.adquiri-cupon,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-3 a.adquiri-cupon,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4 a.adquiri-cupon {
  background: #c91e61;
  margin-top: 7px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4 .disfruta-mas {
  background: #52bdec !important;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-1,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-2,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-3,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-cliente {
  float: left;
  width: 100%;
  text-align: center;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged-2 {
  width: 100%;
  text-align: center;
  float: left;
}
.page-benefit-benefit .field-item #section-benefit .row-desc {
  width: 100%;
  font-family: 'bbva';
  margin-top: 0;
}
.page-benefit-benefit .field-item #section-benefit .row-desc .title {
  font-size: 23px;
}
.page-benefit-benefit .field-item #section-benefit .row-desc .field-description {
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 1px;
}
.page-benefit-benefit .field-item #section-benefit .row-sucursales .field-link a {
  font-size: 16px;
  height: 40px;
  line-height: 0;
}
.page-benefit-benefit .field-item #section-benefit .row-legal .field-legal-title {
  font-size: 16px;
  height: 40px;
  line-height: 0;
  margin-top: 5px;
}

/*EXPERIENCIAS FUTBOL LANDING*/
.page-taxonomy-term .vocabulary-experience #term-carousel ul li .row .col-rows {
  width: 790px;
  padding-top: 23%;
}

/*EXPERIENCIAS RIVER*/
#list-experiences {
  width: 940px;
}
#list-experiences .row {
  width: 300px;
  min-height: 460px;
}
#list-experiences .row .group-fields {
  min-width: 120px;
}
#list-experiences .row .group-fields .field-title {
  font-size: 21px;
  padding-bottom: 10px;
}
#list-experiences .row .group-fields .field-volanta {
  font-size: 15px;
  line-height: 18px;
}

.node-type-experience #main #content .view-mode-full .group-right {
  padding: 0;
  margin-top: 51px;
  margin-bottom: 50px;
}
.node-type-experience #main #content .view-mode-full .group-right .section {
  width: 372px;
}
.node-type-experience #main #content .view-mode-full .group-right .field-name-field-experience-bajada .field-item {
  font-size: 20px;
}
.node-type-experience #main #content .view-mode-full .group-right .field-name-field-experience-fija-titulo3 {
  font-size: 20px;
}
.node-type-experience #main #content .view-mode-full .group-right .field-name-field-experience-descripcion {
  font-size: 16px;
}
.node-type-experience #main #content .view-mode-full .group-right .field-name-field-experience-descripcion .field-item {
  line-height: 19px;
}
.node-type-experience #main #content .view-mode-full .group-right .field-name-field-experience-fija-texto3 {
  font-size: 16px;
}
.node-type-experience #main #content .view-mode-full .group-right .field-name-field-experience-fija-texto3 .field-item {
  line-height: 19px;
}
.node-type-experience #main #content .view-mode-full .group-left .header-carousel .jcarousel-container-horizontal .jcarousel-next,
.node-type-experience #main #content .view-mode-full .group-left .header-carousel .jcarousel-container-horizontal .jcarousel-prev {
  top: 31%;
}
.node-type-experience #main #content .view-mode-full .group-footer .field-name-experiences-related .field-items {
  width: 100%;
}
.node-type-experience #main #content .view-mode-full .group-footer .field-name-experiences-related .field-items .view-experience-related {
  width: 100%;
}
.node-type-experience #main #content .view-mode-full .group-footer .field-name-experiences-related .field-items .view-experience-related .views-row {
  width: 23.8%;
  left: 4px;
}
.node-type-experience #main #content .view-mode-full .group-footer .field-name-experiences-related .field-items .view-experience-related .views-row .group-fields {
  width: 92%;
}

/*BENEFICIOS DE EXPERIENCIA*/
.page-benefit-experience #main #content #content-area .view-benefit-filters {
  width: 946px;
}
.page-benefit-experience #main #content #content-area .view-benefit-filters .views-view-grid tbody td .field-items {
  width: 300px;
}
.page-benefit-experience #main #content #content-area .view-benefit-filters .views-view-grid tbody td .field-items .group-fields .group-fields-logo {
  width: 115px;
  margin-left: 0px;
}
.page-benefit-experience #main #content #content-area .view-benefit-filters .views-view-grid tbody td .field-items .group-fields .group-fields-promotion {
  font-size: 68px;
  width: 85px;
  margin-left: 18px;
  white-space: nowrap;
}
.page-benefit-experience #main #content #content-area .view-benefit-filters .views-view-grid tbody td .field-items .group-fields .group-fields-duration {
  margin-left: 2px;
}
.page-benefit-experience #main #content #content-area .view-benefit-filters .views-view-grid tbody td .field-items .group-fields .group-fields-duration span.porcent {
  font-size: 68px;
}
.page-benefit-experience #main #content #content-area .view-benefit-filters .views-view-grid tbody td .field-items .group-fields .field-quotes {
  margin-right: 8px;
}

/*SORTEOS*/
#node-156 .node-inner .content {
  width: 930px;
}
#node-156 .node-inner .content .field-items .ds-3col .group-middle {
  margin-top: -181px;
  width: 90%;
}
#node-156 .node-inner .content .field-items .ds-3col .group-middle .field-name-field-draw-title {
  font-size: 21px;
  margin-bottom: 15px;
}
#node-156 .node-inner .content .field-items .ds-3col .group-middle .field-name-field-draw-description {
  font-size: 15px;
}
#node-156 .node-inner .content .field-items .ds-3col .group-middle .field-name-field-draw-sub-title {
  font-size: 15px;
}
#node-156 .node-inner .content .field-items .ds-3col .group-middle a {
  width: 79%;
  font-size: 25px;
}
#node-156 .node-inner .content .field-items .field-item {
  width: 300px;
  height: 395px;
}
#node-156 .node-inner .content .field-items .field-item img {
  width: 100%;
  height: 100%;
}

/*SUSCRIPCION FULL*/
.page-subscription #main #block-system-main {
  width: 838px;
  margin: 70px auto;
}
.page-subscription #main #block-system-main #bbva-subscription-form {
  margin: inherit;
  width: inherit;
  float: inherit;
  padding: inherit;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-right {
  float: left;
  width: 415px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-right .form-item-zonas,
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-right .form-item-rubros {
  width: 415px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-right .form-item-zonas label,
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-right .form-item-rubros label {
  height: 65px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-right .form-item-zonas .form-checkboxes,
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-right .form-item-rubros .form-checkboxes {
  width: 415px !important;
}

/*Cambio de Dani*/
body #page #higlighted-area .todos-rubros, body #page #higlighted-area .todos-zonas {
  float: left;
  margin-right: 5px;
  position: relative;
  top: 3px;
  margin-bottom: 7px;
}

.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area {
  margin-top: 0px;
}

.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular {
  margin-top: 0px;
}

.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania {
  margin-top: 0px;
  height: 50px;
}

.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre input,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido input,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-number input,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email input,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular input,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass1 input,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2 input {
  height: 21px;
}

.front #block-bbva_subscription-subscription_block #bbva-subscription-form .bbva-form-item-sexo .gender {
  height: 20px;
  width: 20px;
  line-height: 13px;
  font-weight: normal !important;
}

.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .fecha_nacimiento,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass1,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .telefono_celular,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania {
  height: 44px;
}
