.page-node-84 #main{
  height: inherit!important;
  padding-bottom: 60px;
}
@media only screen and (min-width:960px){
  .page-node-84 #main #content-inner .webform-client-form fieldset label {
    font-size: 14px!important;
  }
}
@media only screen and (max-width:960px){
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item-terminos {
    /*margin-top: 0px !important;*/
  }
  .front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos {
    /*float: left;*/
    /*display: block;*/
    /*width: 30px;*/
    /*right: 0; */
  }
  .front #block-system-main #bbva-subscription-page .form-item-terminos input, .front #block-system-main #bbva-subscription-form .form-item-terminos input, .front #block-bbva_subscription-subscription_block #bbva-subscription-page .form-item-terminos input, .front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item-terminos input, .page-subscription #block-system-main #bbva-subscription-page .form-item-terminos input, .page-subscription #block-system-main #bbva-subscription-form .form-item-terminos input, .page-subscription #block-system-main #bbva-subscription-page .form-item-terminos input, .page-subscription #block-system-main #bbva-subscription-form .form-item-terminos input {
    //float: left;
    //margin: 0;
    //padding: 0;
    //margin-top: 3px;
    //margin-right: 6px;
  }
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-terminos {
    /*top: 0px;*/
  }
  #menu-responsive #block-menu-menu-responsive {
    background:#136eb5 !important;
    /*width:60%;*/
    position:absolute;
    right: 0;
    box-shadow: 3px 0px 0px 1px rgba(119, 119, 119, 0.25);
    -moz-box-shadow: 3px 0px 1px 0px rgba(119, 119, 119, 0.25);
    -webkit-box-shadow: 3px 0px 1px 0px rgba(119, 119, 119, 0.25);
  }
  #menu-responsive #block-menu-menu-responsive ul li a {
    border: none;
    color:#fff;
    font-size: 18px;
    margin: 0;
    padding: 11px 0px 11px 55px;
    display: block;
    text-transform: inherit;
    text-align: left;
    font-family: 'bbva light';
    font-weight: bold;
  }

  #menu-responsive .seas-del-banco-que-seas{
    background-image: url('../../../images/icon-seas-del-banco-que-seas.png');
    background-repeat: no-repeat;
    background-position: 27px 11px;
    -webkit-background-size: 20px auto;
    background-size: 20px auto;
  }

  @media screen and (max-width: 360px){
    #menu-responsive .seas-del-banco-que-seas{
      background-position: 27px 10px;
    }
  }

  #menu-responsive .beneficios{
    background:url(../../../images/iconos_menu.jpg) no-repeat 10px -40px;
  }
  .logged-in .mid-1336{
    background:url(../../../images/iconos_menu.jpg) no-repeat 10px -288px;
  }
  .not-logged-in .mid-1336{
    background:url(../../../images/iconos_menu.jpg) no-repeat 10px -251px;
  }

  #menu-responsive .futbol, #menu-responsive .fútbol{
    background:url(../../../images/iconos_menu.jpg) no-repeat 10px -84px!important;

  }
  #menu-responsive .entretenimiento{
    background: url(../../../images/iconos_menu.jpg) no-repeat 10px -128px;
  }
  #menu-responsive .turismo{
    background: url(../../../images/iconos_menu.jpg) no-repeat 10px -167px;
  }
  #menu-responsive .autos{
    background:url(../../../images/iconos_menu.jpg) no-repeat 10px -208px;
  }
  #menu-responsive .mid-3513{
    background:url(../../../images/iconos_menu.jpg) no-repeat 10px -166px;
  }
  body #page {
    margin: 0 auto;
    width: 100%;
    position:relative;
    z-index:10;
  }
  #menu-responsive #logo {
    display: block;
    float: left;
    width:65%;
  }
  .cabezal-ingresar, .cabezal-usuario{
    display:block;
    float:left;
    font-family: 'bbva light';
    font-size:16px;
    margin-top: 13px;
    color:#b2b1b6;
    text-align:right;
    position: absolute;
    right: 40px;
  }
  .cabezal-ingresar-registro, .cabezal-notificaciones{
    display:block;
    float:left;
    letter-spacing: 0em;
    text-align: right;
  }
  .cabezal-notificaciones{
    width: 115px;
  }
  .cabezal-notificaciones a {
    font-family: 'bbva light';
    font-size: 8px;
    color: #50b6e8;
    font-family:bbva;
    letter-spacing: 0.02em;
    position:relative;
    display:block;
    top:-5px;
    text-align:right;
  }
  #menu-responsive .cabezal-ingresar-registro a{
    display:none !important;
  }
  #menu-responsive button {
    margin: 0px 8px 0px 0px;
    height: 20px;
    float: right;
    width: 21px;
    position: absolute;
    top: 15px;
    right: 0;
  }
  .logged-in #menu-responsive button {
    margin: 0px 8px 0px 0px;
    height: 20px;
    float: right;
    width: 21px;
    position: relative;
  }
  html{
    width: 100% !important;
  }
  html{
    font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
    color: #222;
    width: 100% !important;
  }
  #bbva-search-form--2, #bbva-search-form{
    order: none;
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 11px 0px 11px 55px;
    display: block;
    text-transform: inherit;
    text-align: left;
    font-family: 'bbva light';
    font-weight: bold;
    background: url(../../../images/iconos_menu.jpg) no-repeat 10px 0px;
    height: 30px;
  }
  #edit-keyword--2, #edit-keyword{
    width: 70% !important;
    float: left;
    display: block;
    background-image: none;
    /*height: 20px;*/
    color: #666;
    border: 1px solid #e5e5e5;
    border-radius: 4px 0 0 4px;
    float: left;
    padding: 6px 6px 6px 6px;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    font-family: 'bbva light';
  }
  #edit-submit--5, #bbva-search-form--2 input.form-submit, #edit-submit {
    /*width: 20px /*!important*/;*/
    /*float: left;*/
    display: block;
    background: #55b7e6;
    color: #fff;
    border: 0;
    cursor: pointer;
    /*height: 20px;*/
    margin: 0;
    /*border-radius: 0 4px 4px 0;*/
    font-family: 'bbva light';
    font-size:15px;
    font-weight:bold;
    padding: 4px;
    border-radius: 0 5px 5px 0;
  }
  .page-subscription #block-system-main #edit-submit {
    width: auto;
    /*float: left;*/
    display: block;
    background: #55b7e6;
    color: #fff;
    border: 0;
    cursor: pointer;
    /*height: 20px;*/
    margin: 0;
    border-radius: 0px;
    font-family: 'bbva light';
    font-size:9px;
    font-weight:bold;
    padding: 3px;
  }
  .form-item{
    margin-top: 0em;
    margin-bottom: 0em;
  }
  #menu-responsive {
    min-height: 50px;
    background: #fff url(../../../images/bg_header_line_responsive.gif) no-repeat left top;
    position: relative;
    z-index: 499;
    width: 100%;
  }
  #menu-responsive #logo{
    background: url(../../../images/bbvafrances.gif) no-repeat 7px 5px;
    background-size: 58px;
    padding: 15px 0px 0 5px;
    float: left;
    top:5px;
  }
  #menu-responsive #logo img{
    width:100px;
  }
  /*beneficios*/
  #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget > .views-widget {
    display: block !important;
  }
  #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget {
    height: auto !important;
  }
  .bef-checkboxes input, #edit-field-benefit-type-target-id input{
    width: auto !important;
  }
  #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget > label {
    line-height: 43px !important;
  }
  #edit-field-benefit-category-tid-1-wrapper > label{
    background:#8aca2d !important;
  }
  #edit-field-locality-province-tid-wrapper > label{
    background:#f8891d !important;
  }
  #edit-field-benefit-card-tid-wrapper > label{
    background:#ce145f !important;
  }
  #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget > .views-widget {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .bef-checkboxes .view-more, #edit-field-benefit-card-tid-wrapper .views-widget, #edit-field-benefit-type-target-id-wrapper .views-widget{
    padding-top:15px !important;
  }
  #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget > label {
    margin-top:10px;
  }
  #main #sidebar-first #block-views--exp-benefit_filters-page .views-widget-filter-field_benefit_category_tid_1{
    margin-top: 0;
  }
  /*configuracion*/
  #config-menu-mobile {
    display: none;
    z-index: 999;
    position: absolute;
    bottom: -85px;
    left: 55px;
    z-index: 999;
    text-align: center!important;
    background: #0079C1;
    width: 93px;
    padding: 0;
    color: #fff!important;
  }
  #config-menu-mobile li {
    width: 100%;
    border-bottom: solid 1px;
    height: 26px;
    line-height: 24px;
    font-size: 1.3rem;
  }
  #config-menu-mobile li a{
    padding:0px !important;
    font-size: 1.3rem !important;
    text-align: center !important;
  }
  .cabezal-notificaciones{
    display: inline-block;
    float: right;
    position: absolute;
    top: 32px;
    right: 40px;
  }
  .mid-1336 {
    margin-top: 40px !important;
  }
  /*suscription*/
  .page-subscription #edit-todos-rubros{
    /*width: 130px !important;*/
    /*float: left;*/
  }
  .page-subscription .form-item.form-type-checkbox.form-item-todos-zonas-0, .page-subscription .form-item.form-type-checkbox.form-item-todos-rubros-0{
    float: left;
    display: block;
  }
  .front #edit-next, .front #edit-next2{
    /*float: left;*/
    /*display: block;*/
    /*left: 0 !important;*/
    /*top: 0px !important;*/
    /*padding-top: 3px;*/
  }
  .page-subscription #edit-next2{
    /*padding-left: 0;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form .form-item-todos-zonas-0{
    float: left;
    display: block;
    width:auto !important;
    margin: 0px;
  }
  .page-subscription #block-system-main #bbva-subscription-form .form-item-terminos{
    /*width:220px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form .form-item.form-type-textfield.form-item-compania, .page-subscription #block-system-main #bbva-subscription-form .form-item.form-type-textfield.form-item-pass2{
    /*width: 185px !important;*/
    /*float: left;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form .bbva-edit-zonas{
    width: 170px;
    float: left;
    margin: 0 10px 0px 13px;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-document-number {
    /*width: 229px;*/
    /*margin: 0px 0 0 10px;*/
  }
  .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-document-number {
    /*width: 176px;*/
    /*margin: 21px 0 12px -182px;*/
  }
  .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-document-type {
    /*width: 229px !important;*/
    /*margin: 0px 0 0 13px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido{
    /*margin: 0px 0 0 10px;*/
  }
  .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-document-number {
    /*width: 176px;*/
    /*margin: 21px 0 12px -182px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-nombre, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-nombre, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass1, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido{
    /*margin: 0px 0 0 13px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-apellido, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-document-type {
    /*margin: 0px 0 0 13px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-year, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-year, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month {
    /*width: 59px;*/
    /*float: left;*/
    /*margin: 0px 0px 0px 5px;*/
    /*height: 36px;*/
  }
  .page-subscription #block-system-main fieldset.group-footer .form-submit {
    /*width: 289px;*/
    /*margin: 16px 0 0 -82px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-type select{
    /*width:46px !important;*/
  }
  .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-compania{
    /*margin-top: 0px !important;*/
  }
  .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .bbva-form-item-sexo {
    /*left: 1px;*/
  }
}
@media only screen and (min-width:360px){
  #menu-responsive #block-menu-menu-responsive {
    position:absolute;
    top: 50px;
    padding-bottom: 20px;
  }
  .mid-1336{
    margin-top:100px !important;
  }
  #menu-responsive #logo {
    display: block;
    float: left;
    width:67%;
  }
  .logged-in #menu-responsive #logo {
    display: block;
    float: left;
    width: 55%;
  }
  .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-year, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-year, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month {
    /*float: left;*/
    /*margin: 0px 0px 0px 10px;*/
  }

}
@media only screen and (min-width:480px) and (max-width: 960px){
  #menu-responsive #logo{
    display: block;
    float: left;
    width:77%;
  }
  .logged-in #menu-responsive #logo {
    display: block;
    float: left;
    width:60%;
  }
  .cabezal-ingresar{
    width: 121px;
  }
  .cabezal-ingresar-registro{
    width: 100px;
  }
  .cabezal-usuario {
    width: 150px;
  }
  .cabezal-notificaciones {
    width: 150px;
  }
  .mid-1336{
    margin-top:0px !important;
  }
}
@media only screen and (min-width:800px) and (max-width: 812px){
  #menu-responsive button {
    top: 15px;
  }
}
@media only screen and (min-width:640px){
  .logged-in #menu-responsive #logo {
    display: block;
    float: left;
    width:70%;
  }
  .mid-1336{
    margin-top:0px !important;
  }
}
@media only screen and (min-width: 913px){
  #menu-responsive button {
    top: 15px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 719px){
  #menu-responsive #block-menu-menu-responsive {
    /*background:#136eb5 !important;
    width:60%;
    top: 50px;*/
  }
  /*suscription*/
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day {
    /*position: relative;*/
    /*left: 0px;*/
    white-space: nowrap;
  }
  .page-subscription #edit-zonas {
    width: 200px !important;
    float: left;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre, .page-subscription #block-system-main #bbva-subscription-form .form-item.form-type-textfield.form-item-apellido, .page-subscription #block-system-main #bbva-subscription-form .form-item.form-type-textfield.form-item-email, .page-subscription #block-system-main #bbva-subscription-form .form-item.form-type-textfield.form-item-compania, .page-subscription #block-system-main #bbva-subscription-form .form-item.form-type-textfield.form-item-pass2{
    /*margin-right: 2%;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-emailn, .date-field-subscription {
    width: 100% !important;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania{
   width: 45%;
   margin-right: 2%;
 }
 .page-subscription #edit-zonas {
  width: 45% !important;
  float: left;
  margin: 0 0px 0px 13px !important;
}
.page-subscription #edit-todos-rubros {
  /*width: auto !important;*/
  /*float: left;*/
}
.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido {

}
.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2 , .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass1{
  /*width: 43%;*/
  /*float: left;*/
}
.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-type {
  /*float: left;*/
  /*width: 45px !important;*/
  /*margin: 0 0 0px 13px !important;*/
  /*height: 53px;*/
  /*white-space: nowrap;*/
}
.page-subscription #block-system-main #bbva-subscription-form .bbva-edit-zonas {
  width: 45%;
  float: left;
  margin: 0 0px 0px 10px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-email {
  /*margin-left: 0px !important;*/
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-celular {
  width: 95px;
  /*margin-left: 7px;*/
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-day, .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-month {
  /*width: 50px !important;*/
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .fecha_nacimiento, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email{
  /*width: 185px !important;*/
}
.fecha_nacimiento, .telefono_celular{
  /*height:auto !important;*/
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-pass1, .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-pass2 {
  /*width: 185px !important;*/
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-day, .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-month {
  width: 43px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .telefono_celular {
  width: 185px !important;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .fecha_nacimiento {
  /*margin: 1px 10px 0px 13px !important;*/
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-celular {
  width: 133px !important;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-right .form-item-zonas, .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-right .form-item-rubros {
  background: #f4f4f4;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-apellido{
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .bbva-form-item-sexo {
  /*left: 25px;*/
}
.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area{
  margin-right: 0px; 
}
.page-subscription .telefono_celular {
  /*margin: 0px 0px 0px 13px !important;*/
}
.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania, .page-subscription .form-item.form-type-select.form-item-compania{
  margin: 0px 0 0 10px;
  width: 185px;
}
.page-subscription .form-item.form-type-select.form-item-compania{
  margin: 0px 0 0 10px !important;
  width: 185px !important;
}
.form-item.form-type-textfield.form-item-apellido{
  margin:0 !important;
}
.form-item.form-type-textfield.form-item-nombre{
  /*margin-right:10px !important;*/
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-nombre, .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-apellido{
  /*height:53px;*/
}
.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido {
  /*margin: 0px 0 0 10px;*/
}
.page-subscription #main #block-system-main #bbva-subscription-form .form-item-terminos {
  width: 210px !important;
}
.page-subscription #main #block-system-main #bbva-subscription-form .captcha img {
  margin-right: 10px !important;
  width: 185px !important;
}
.page-subscription #main #block-system-main #bbva-subscription-form .captcha .form-item-captcha-response {
  width: 183px !important;
}
.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido{
  /*margin-left:10px !important;*/
}
.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2{
  /*margin-left:10px !important;*/
}
.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre{
  /*margin-left:13px !important;*/
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-year{
  /*width:65px !important;*/
}
}
@media only screen and (min-width: 961px){
  .front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos {
    /*float: left;*/
    /*display: block;*/
    /*width: 30px;*/
    /*right: 0px !important; */
  }
  .front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-type-select select, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-type-select select, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-type-select select, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-type-select select, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select {
    //height: 25px;
    background: transparent;
  }
  .page-subscription #edit-document-type{
    width:48px !important;
  }
  .page-subscription .form-item form-type-select.form-item-document-type{
    /*width:48px !important;*/
  }
  .front #block-system-main #bbva-subscription-page .form-item-terminos input, .front #block-system-main #bbva-subscription-form .form-item-terminos input, .front #block-bbva_subscription-subscription_block #bbva-subscription-page .form-item-terminos input, .front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item-terminos input, .page-subscription #block-system-main #bbva-subscription-page .form-item-terminos input, .page-subscription #block-system-main #bbva-subscription-form .form-item-terminos input, .page-subscription #block-system-main #bbva-subscription-page .form-item-terminos input, .page-subscription #block-system-main #bbva-subscription-form .form-item-terminos input {
    //float: left;
    //margin: 0;
    //padding: 0;
  }
}
@media only screen and (max-width: 961px) and (min-width: 720px){
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos {
    /*right: 10px !important;*/
  }
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select{
    //width: auto;
  }
  .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .bbva-form-item-sexo {
    /*left: 1px !important;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido{
    /*margin: 0px 0 0 10px !important;*/
  }
  .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .fecha_nacimiento {
    /*margin: 1px 0px 0px 10px !important;*/
  }
  .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-compania {
   width: 110px;
   margin-left: 0px;
 }
 .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-terminos{
  /*width: 214px !important;*/
  /*margin-left: 15px !important;*/
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a + a {
  /*width: 292px;*/
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email {
  width: 291px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-document-type, .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre, .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido{
  /*height: 57px;*/
}
.page-subscription .telefono_celular{
  /*margin: 0 10px 0px 10px;*/
}
.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2{
  /*margin: 1px 0px 0px 10px;*/
}
.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos{
  /*margin-right:26px;*/
}
#edit-captcha-response {
  margin-left: 0px;
}
.page-subscription #block-system-main #bbva-subscription-form .captcha .form-item-captcha-response{
  margin-left:3px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre{
  /*width:291px !important;*/
}
}
@media only screen and (max-width: 719px) and (min-width: 580px){
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos {
   /*right: 30px;*/
 }
 .front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item-terminos {
  //width: 255px;
}
}
@media only screen and (max-width: 1280px){
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item-terminos {
    //width: 210px;
  }
}
@media only screen and (max-width: 600px) and (min-width: 480px){
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form a.colorbox-node.colorbox-subscription-ver-terminos {
    /*right: -5px !important; */
  }
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular {
    //width: 140px !important;
  }
}
@media only screen and (max-width: 719px) and (min-width: 580px){
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos {
    /*right: 70px;*/
  }
}
/*suscription*/
@media only screen and (max-width: 479px) and (min-width: 321px){
  .page-subscription #block-system-main #bbva-subscription-form .form-item-terminos {
    /*width: 230px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a{
    width: 143px;
    font-size: 11px;
  }
  .fecha_nacimiento {
    /*width: 152px !important;*/
    /*margin-right: 3px !important;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email{
    /*margin:0px !important;*/
  }
  .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-year {
    /*width: 56px !important;*/
  }
  .page-node-84 #main #content-inner{
    max-width: 750px !important;
    margin: 0 auto;
    width: 90% !important;
  }
}
@media only screen and (max-width: 767px) and (min-width: 480px){
  .page-subscription #block-system-main #bbva-subscription-form .form-item-terminos {
    /*width: 160px;*/
  }
}
@media only screen and (min-width: 321px) and (max-width:479px){
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a {
    width: 143px;
    font-size: 11px;
  }
  .page-subscription #block-system-maink #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a + a {
    width: 190px;
    font-size: 11px;
  }

  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre,
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido,
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass1,
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2 {
    /*width: 143px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-number {
    /*width: 180px;*/
    /*margin: 21px 0 12px -200px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass1, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2 {
    /*width: 143px !important;*/
    /*height: 53px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form .bbva-edit-zonas, .page-subscription .form-item.form-type-checkbox.form-item-todos-rubros-0 label{
    font-size: 11px;
  }
  .page-subscription #block-system-main #bbva-subscription-form .form-item-terminos {
    /*width: 200px !important;*/
    /*float: left;*/
    /*display: block;*/
  }
  .page-subscription .form-item-apellido, .front .form-item-email, .front .form-item-compania, .page-subscription .form-item-pass2 {
    /*margin-left: 0px !important;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form .form-item.form-type-textfield.form-item-apellido{
    width: 143px !important;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year {
    /*  width: 24%;*/
    /*height: 26px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month {
    /*width: 26%;*/
    /*height: 26px;*/
    /*margin: 0px 0px 0px 1px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year{
    /*margin: 0px 0px 0px 1px !important;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year {
    /*height: 37px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year {
    /*  width: 24%;*/
    /*height: 26px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day select {
    /*width: 40px;*/
    /*height: 25px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year select {
    width: 55px;
    height: 25px;
    margin-left: 2px;

  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area {
    width: 38px;
    margin-left: 0px;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular {
    width: 95px !important;
    height: 25px;
  }
  .page-subscription #edit-zonas, .front #block-bbva_subscription-subscription_block #bbva-subscription-form .bbva-edit-zonas{
    width: 143px !important;
    float: left;
    /* height: 20px; */
  }
  .page-subscription #edit-zonas, .front #block-bbva_subscription-subscription_block #bbva-subscription-form .bbva-edit-zonas, .todos_rubros_div {
    width: 143px !important;
    float: left;
  }
  .page-subscription #block-system-main #bbva-subscription-form .bbva-edit-zonas, .page-subscription .form-item.form-type-checkbox.form-item-todos-rubros-0 label, .form-item.form-type-checkbox.form-item-terminos label {
    font-size: 11px;
    letter-spacing: 0em;
  }
  .page-subscription #edit-todos-rubros {
    /*width: auto !important;*/
    /*float: left;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select{
    //width: 44px;
    //height: 25px;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select{
    //width: 40px;
    //height: 25px;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select#edit-area, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select#edit-area--2{
    width: 45px;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania{
    margin:0px;
  }
  .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-compania {
    margin-top: 0px; 
    width: 132px;
  }
  .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-pass1{
    /*margin: 0 10px 0px 13px;*/
  }
  .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-compania{
    margin-right:0px;
  }
  .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-compania {
    margin-top: 1px;
    min-width: 143px !important;
  }
  .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .telefono_celular {
    margin-right: 10px !important;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select, #edit-area--2{
    /*  width: 43px;*/
    margin-left: 0px;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-apellido, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-document-type {
    /*margin: 0px 0 0 10px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido input{
    width: 143px !important;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre{
    /*margin: 0 10px 0px 13px !important;*/
  }
  .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-document-number {
    /*width: 180px;*/
    /*margin: 21px 0 12px -195px;*/
  }
  .page-subscription #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-number input, .page-subscription #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-document-number input {
    /*width: 174px !important;*/
  }
  .page-subscription #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-number input{
    /*margin-left: 2px;*/
  }
  .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .bbva-form-item-sexo {
    /*left: -6px !important;*/
    /*width: 60px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form .captcha .form-item-captcha-response{
    margin-left: 16px;
  }
  .page-subscription #block-system-main #bbva-subscription-form .captcha input{
    width:143px !important;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2 input{
    /*width:143px !important;*/
  }
  .page-subscription #edit-year{
    margin-left:5px;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular input, .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-celular{
    width: 90px !important;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select#edit-month, .page-subscription #edit-document-type, .page-subscription #edit-month--2{
    /*width:46px;*/
  }
  .page-subscription #edit-year, .page-subscription #edit-day{
    width:55px;
  }
  .page-subscription #edit-compania{
    width:143px !important;
  }
  .page-subscription #edit-compania--2{
    width: 145px !important;
  }
  #edit-month, .page-subscription #edit-month--2{
    font-size:10px !important;
  }
  .page-subscription .form-item.form-type-select.form-item-month{
    /*margin: 0px 0px 0px 1px !important;*/
  }
}
@media only screen and (min-width:600px) and (max-width: 718px){
  #edit-document-type--2{
    //width:48px !important;
  }
  #edit-month{
    /*width: 46px !important;*/
  }
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email input, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania select{
    /*margin:0px !important;*/
  }
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item-terminos {
    /*width: 185px !important;*/
  }
}
.page-voucher-voucher .main .title {
  font-size: 23px;
  background-color: #0079C1;
  color: #fff;
  padding: 11px;
  float: left;
  width: 100%;
  position: absolute;
}
.page-voucher-voucher .main .title a {
  font-size: 23px;
  color: #fff;
  font-family: 'bbva light';
}
/*mi cuponera*/
.view-mi-cuponera .views-row, .view-mi-cuponera .view-content .views-row{
	background:#f9f8f6;
	width: 31.40% !important;
	-webkit-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.45);
	box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.45);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align:center;
	font-family: 'bbva light';
}
.view-mi-cuponera .view-content .views-row{
  margin: 6px;
  float: left;
}
.view-mi-cuponera .views-field-nothing-1{
	display: block;
  float: left;
  width: 47%;
  margin: 1%

}
.info-cuponera-imagen{
  width: 100%;
}
.view-mi-cuponera .views-field-nothing-1 img{
 width: 100%;
}
.view-mi-cuponera .views-field-nothing{
	float: left;
  width: 51%;
}
.view-mi-cuponera p.nombre{
 font-size: 21px;
 color: #a7a9ac;
 margin: 10px 0px 0px 0px;
}
.descuento-porcentaje{
  width: 100%;
  float: left;
}
.descuento-porcentaje-group{
  width: 120px;
  margin: 0 auto;
}
.view-mi-cuponera p.descuento{
 font-size: 60px;
 float: left;
 color: #7082aa;
 line-height: 80px;
 margin: 0;

}
span.porcentaje{
  float: left;
  color: #7082aa;
  line-height: 58px;
  font-size: 28px;
}
.view-mi-cuponera p.tope{
	font-size:9px;
	color: #7082aa;
  margin-top: 14px;
  margin-bottom: 0;
  line-height: 10px;
}
.view-mi-cuponera p.titulo{
	font-size: 12px;
  color: #a7a9ac;
  letter-spacing: -0.025em;
  margin-bottom: 0;
}
.views-field.views-field-nothing-2{
	background:#fafafa;
 display: block;
 height:30px;
}
.info-cuponera-pie{
  float: left;
  margin-top:3px;
  width: 100%;
}
.view-mi-cuponera p.vencimiento{
	float:left;
	display:block;
	font-size:12px;
	color:  #a7a9ac;
	letter-spacing: 0em;
  margin: 0 10px;
}
.view-mi-cuponera p.medio-pagos{
	float:left;
	display:block;
	font-size:12px;
	color:  #a7a9ac;
	letter-spacing: 0em;
  margin: 0 5px;
}
.view-mi-cuponera p.ver-mas a{
	background: url(../../../images/icon_mas.png) no-repeat 0px -2px;
  height: 30px;
  width: 30px;
  display: block;	
  margin-right:5px;
}
.view-mi-cuponera p.ver-mas{
	float:right;
	display:block;
  margin: 0;

}
.mi-cuponera-tab .tab1, .mi-cuponera-tab .tab2{
	margin: 5px 20px 5px 5px;
  display: block;
  float: left;
  font-family: 'bbva light';
  color:#7f7f7f;
  padding: 8px 30px 8px 45px;
  font-size: 21px;
}
.mi-cuponera-tab{
	overflow:hidden;
}
.mi-cuponera-tab .tab1{
	background:url(../../../images/icon_cupones.png) no-repeat 15px -91px;
	color:#7f7f7f;
}
.mi-cuponera-tab .tab2{
	background:url(../../../images/icon_cupones.png) no-repeat 15px -27px;
	color:#7f7f7f;
}
.mi-cuponera-tab .tab1.active{
	background: url(../../../images/icon_cupones.png) no-repeat 15px -56px #1897d5;
  color: #fff;
}
.mi-cuponera-tab .tab1.active a, .mi-cuponera-tab .tab2.active a{
  color: #fff;
}
.mi-cuponera-tab .tab2.active{
	background: url(../../../images/icon_cupones.png) no-repeat 15px -30px #1897d5;
  color: #fff;
}
/*node/84*/
.page-node-84 #main #content-inner {
  max-width: 750px;
  margin: 0 auto;
  width: 80%;
}
.page-node-84 #main #content-inner .webform-client-form #webform-component-row-1, .page-node-84 #main #content-inner .webform-client-form fieldset {
  width: 100%;
}
.page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--nombre, .page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--apellido, .page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--compania, .page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--tipo-dni, #webform-component-row-1-row-3 {
  width: 32% !important;
  float: left;
  margin-right: 2% !important;
}
.page-node-84 #webform-component-row-1-row-3{
	margin-right: 0% !important;
}
.page-node-84 #main #content-inner .webform-client-form #webform-component-row-2 #webform-component-row-2--fecha-de-nacimiento, .page-node-84 #webform-component-row-2--sexo{
  /*width: 45% !important;*/
  /*float: left;*/
  /*margin-right: 2% !important;*/
}
.page-node-84 #main #content-inner .webform-client-form #webform-component-row-2 #webform-component-row-2--fecha-de-nacimiento select {
  width: 30% !important;
  margin-right: 1% !important;
}
.page-node-84 #main #content-inner .webform-client-form #webform-component-row-3 #webform-component-row-3--tipo, .page-node-84 #main #content-inner .webform-client-form #webform-component-row-3 #webform-component-row-3--email{
 width: 30% !important;
 float: left;
}
.page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--tipo-y-numero-de-documento {
  width: 170px;
  float: left;
  margin-left: 0px !important;
  margin-top: 40px;
  margin-right: 0 !important;
}
.page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--tipo-dni{
	margin-left:0px !important;
}
.page-node-84 button, .page-node-84 input, .page-node-84 select, .page-node-84 textarea {
  font-family: 'bbva light';
  color: #0079c1;
}
.page-node-84 .form-item.form-type-radio.form-item-submitted-row-2-sexo, .page-node-84 .form-item .form-type-radio .form-item-submitted-row-2-sexo, .page-node-84 .form-radios .form-item{
	/*width:42px;*/
  /*float:left;*/
  /*display:block;*/
}
.page-node-84 .form-radios .form-item{
	margin-top: 0 !important;
}
.page-node-84 #webform-component-row-1-row-3{
 display: block;
 -webkit-margin-start: 0px;
 -webkit-margin-end: 0px;
 -webkit-padding-before: 0em;
 -webkit-padding-start: 0em;
 -webkit-padding-end: 0em;
 -webkit-padding-after: 0em;
 border: none;
 border-image-source: none;
 border-image-slice: none;
 border-image-width: none;
 border-image-outset: none;
 border-image-repeat: none;
 min-width: auto;
}
.page-node-84 #webform-component-row-1--row-3--tipo-dni{
 width: 28%;
 display: block;
 float: left;
 margin-right: 2% !important;
}
.page-node-84 #webform-component-row-1--row-3--tipo-y-numero-de-documento{
  width: 70%;
  display: block;
  float: left;
  margin-top: 40px;
  margin-right: 0% !important;
}
.page-node-84 #edit-submitted-row-1-row-3-tipo-y-numero-de-documento{
	width:100%
}
#webform-component-row-group--row-3--pre-fijo,  #webform-component-row-group--row-4--codigo-area{
	width: 20% !important;
  float: left;
  margin-right: 2% !important;
}
#webform-component-row-group--row-3--carateristica, #webform-component-row-group--row-4--caracteristica-cel{
	width: 20% !important;
  float: left;
  margin-right: 2% !important;
}
#webform-component-row-group--row-3--numero, #webform-component-row-group--row-4--numero{
	width: 56% !important;
  float: left;
  margin-right: 0% !important;
}
#edit-submitted-row-group-row-3-pre-fijo, #edit-submitted-row-group-row-3-carateristica, #edit-submitted-row-group-row-3-numero, #edit-submitted-row-group-row-4-numero, #edit-submitted-row-group-row-4-caracteristica-cel, #edit-submitted-row-group-row-4-codigo-area, #edit-submitted-row-5-email, #edit-submitted-row-5-horario, #edit-submitted-row-5-email {
	width:100%;
}
#webform-component-row-5--email, #webform-component-row-5--horario, #webform-component-row-5--es-cliente{
	width: 32%;
  float: left;
  margin-right: 2% !important;
}
#webform-component-row-5--es-cliente{
	margin-right: 0% !important;
}
.page-node-84 .webform-client-form .form-item, .page-node-84 .webform-client-form .form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}
.page-node-84 #main #content-inner .webform-client-form #edit-actions #edit-submit{
	border-radius:0;
}
.page-node-84 #main #content-inner .webform-client-form #edit-actions {
  float: none;
  margin: 0 auto;
  width: 120px;
  display: block;
}
.page-node-84 #main #content-inner .webform-client-form #edit-actions #edit-submit{
	margin:0 auto;
}
#edit-submitted-row-1-row-3-tipo-dni {
  width: 100%;
}
/*thank you*/
.page-node-218 #main #content-inner {
  max-width: 878px;
  margin: 0 auto;
  width: 80%;
  padding:2% 0 !important;
}

.thankyou-header, .thankyou-footer{
	width:100%;
	height:auto;
	overflow:hidden;
}
.thankyou-contenido{
	width:100%;
	height:auto;
	overflow:visible !important;
	min-width:100%;
}
.thankyou-header h1{
 font-weight: bold;
 color: #28abdf;
 width: 50%;
 font-size: 47px;
 display: block;
 float: left;
 line-height: 50px;
 background:none;
}
.thankyou-header p{
	font-weight:bold;
	color:#28abdf;
	width:30%;
	font-size:42px;
	display:block;
	float:right;
	margin-bottom:0px;
}
.thankyou-header img{
	max-width:100%;
	height:auto;
	text-align:right;
	z-index:30;
	position:relative;
}
.thankyou-contenido{
}
.thankyou-contenido p:first-child { 
  margin-top:0px;
}
.thankyou-contenido p{
	float:left;
	display:block;
	width:50%;
	color: #8a8a8a;
  font-size: 24px;
  text-align: left;
  line-height: 32px;
  font-family: 'bbva light';
  margin-bottom:0px;
}
.thankyou-contenido img{
 position: relative;
 top: -50px;
}
.thankyou-footer{
 position: absolute;
 z-index: 30;
 bottom: 50px;
}
.thankyou-footer p{
	font-weight:bold;
	color:#8dc73d;
	font-size:16px;
	display:block;
	text-align:left;
	font-family: 'bbva light';
}

.page-node-218 .field-item.even {
  height: auto;
  overflow: hidden;
  border-bottom: 5px #28abdf solid;
  position: relative;
  max-height: 350px;
}
@media only screen and (max-width: 1280px){
  p img{
    float: inherit!important;
    margin: 0 auto!important;
  }
}

@media only screen and (max-width: 2040px) and (min-width: 1026px){
  .page-user-mi-cuponera #main{
    width: 97%;
    margin: 15px auto;
  }
  .page-user-mi-cuponera-usados #main{
    /* width: 1192px; */
    width: 97%;
    margin: 15px auto;
  }
}
@media only screen and (max-width: 1025px) and (min-width: 962px){
  .page-user-mi-cuponera #main{
    width: 950px;
    margin: 3px auto;
  }
  .thankyou-header h1{
    width: 60%;
  }
}
@media only screen and(max-width: 961px) and (min-width: 720px){
  .page-user-mi-cuponera #main{
    width: 696px;
    margin: 3px auto;
  }
  .page-node-212 .field-item.even , .page-node-220 .field-item.even , .page-node-218 .field-item.even{
    width: 150px;
    float: left;
    margin-left: -180px;
  }
}
@media only screen and(max-width: 719px) and (min-width: 480px){
  .page-benefit #main, .page-benefit-categories #main, .page-voucher-voucher #main {
    width: 100%;
    margin: 0px auto;
  }
  .page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--nombre, .page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--apellido, .page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--compania{
    width: 48% !important;
    float: left;
    margin-right: 1% !important;
  }
  .page-node-84 #main #content-inner{
    max-width: 750px !important;
    margin: 0 auto;
    width: 90% !important;
  }
}
@media only screen and (max-width: 479px) and (min-width: 321px){
  .page-benefit #main, .page-benefit-categories #main {
    width: 100%;
    margin: 0;
  }
  .view-mi-cuponera .views-row{
   width: 100% !important;
 }
}
@media only screen and (max-width: 1028px){
	.thankyou-contenido p {
		font-size:21px;
	}
	.thankyou-footer {
    position: absolute;
    z-index: 30;
    bottom: 30px;
  }
}
@media only screen and (max-width: 960px){
  .page-node-84 #main #content-inner {
    max-width: 750px;
    margin: 0 auto;
    width: 90%;
  }
  .page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--tipo-y-numero-de-documento {
    /*width: 159px;*/
    float: left;
    margin-left: -160px;
  }
  .thankyou-contenido p:first-child {
    margin-top: 0px;
  }
  .thankyou-header h1 {
    font-weight: bold;
    color: #28abdf;
    width: 60%;
    font-size: 42px;
    display: block;
    float: left;
    line-height: 44px;
  }
  .thankyou-contenido p {
    float: left;
    display: block;
    width: 50%;
    color: #8a8a8a;
    font-size: 20px;
    text-align: left;
    line-height: 22px;
    font-family: 'bbva light';
  }
  .thankyou-contenido img {
  }
  .thankyou-footer p {
    font-weight: bold;
    color: #8dc73d;
    font-size: 16px;
    display: block;
    text-align: left;
    font-family: 'bbva light';
    margin-top: 10%;
  }
  .thankyou-footer p{
    margin-top: 11%;
    font-size:14px;
  }
  .page-node-212 .field-item.even , .page-node-220 .field-item.even , .page-node-218 .field-item.even {
    max-height: 300px;
  }
}
@media only screen and (max-width: 900px){
  .thankyou-footer {
    position: absolute;
    z-index: 30;
    bottom: 20px;
  }
}
@media only screen and (max-width: 900px){
  .thankyou-footer p {
    margin-top: 11%;
    font-size: 13px;
  }
  .page-node-212 .field-item.even, .page-node-220 .field-item.even, .page-node-218 .field-item.even {
    max-height: 290px;
  }
}
@media only screen and (max-width: 800px){
	.page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--tipo-y-numero-de-documento {
    /*width: 20%;*/
    float: left;
    margin-left: -140px;
    padding-right: 0 !important; 
  }
  .thankyou-contenido p{
   float:left;
   display:block;
   width:50%;
   color: #8a8a8a;
   font-size: 21px;
   text-align: left;
   line-height: 22px;
   font-family: 'bbva light';
 }
 #edit-submitted-row-1-row-3-tipo-dni {
  width: 100%;
}
.thankyou-header h1 {
  font-weight: bold;
  color: #36abdf;
  width: 60%;
  font-size: 32px;
  display: block;
  float: left;
  line-height: 34px;
  z-index:30;
  position: relative;
}
.thankyou-footer p{
  margin-top: 11%;
  font-size:14px;
}
.page-node-212 .field-item.even, .page-node-220 .field-item.even, .page-node-218 .field-item.even  {
  max-height: 260px;
}
.thankyou-footer {
  position: absolute;
  z-index: 30;
  bottom: 0px;
}
}
@media only screen and (max-width: 790px){
	.page-node-212 .field-item.even, .page-node-220 .field-item.even, .page-node-218 .field-item.even {
    max-height: 250px;
  }
  .thankyou-footer {
    position: absolute;
    z-index: 30;
    bottom: 10px;
  }
}
@media only screen and (max-width: 748px){
	.thankyou-header h1 {
    font-weight: bold;
    color: #36abdf;
    width: 60%;
    font-size: 32px;
    display: block;
    float: left;
    line-height: 34px;
    z-index: 30;
    position: relative;
  }
  .thankyou-contenido p {
    font-size: 18px;
  }
  .page-node-212 .field-item.even, .page-node-220 .field-item.even, .page-node-218 .field-item.even {
    max-height: 240px;
  }
  .thankyou-footer p {
    margin-top: 11%;
    font-size: 11px;
  }
}
@media only screen and (max-width: 730px){
	.page-node-212 .field-item.even, .page-node-220 .field-item.even, .page-node-218 .field-item.even {
    max-height: 220px;
  }
}
@media only screen and (max-width: 720px){
	#edit-submitted-row-1-row-3-tipo-dni{
    width: 100%;
  }
  .page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--tipo-y-numero-de-documento {
    /*width: 25%;*/
    float: left;
    margin-left: -145px;
    padding-right: 0 !important; 
  }
  .thankyou-contenido p {
    float: left;
    display: block;
    width: 50%;
    color: #8a8a8a;
    font-size: 18px;
    text-align: left;
    line-height: 20px;
    font-family: 'bbva light';
  }
  .thankyou-footer p{
   font-size:11px;
 }
 .page-node-212 .field-item.even, .page-node-220 .field-item.even, .page-node-218 .field-item.even  {
  max-height: 230px;
}
.thankyou-footer {
  position: absolute;
  z-index: 30;
  bottom: 0px;
}
}
@media only screen and (max-width: 640px){
  .page-node-212 .field-item.even, .page-node-220 .field-item.even, .page-node-218 .field-item.even {
    max-height: 210px;
  }
  .thankyou-footer {
    bottom: 0px;
  }
}
@media only screen and (max-width: 600px){
	#edit-submitted-row-1-row-3-tipo-dni{
    width: 100%;
  }
  .page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--tipo-y-numero-de-documento {
    /*width: 24%;*/
    float: left;
    margin-left: -120px;
    padding-right: 0 !important;
  }
  .page-node-212 #main #content-inner, .page-node-220 #main #content-inner, .page-node-218 #main #content-inner {
    max-width: 750px !important;
    margin: 0 auto;
    width: 90% !important;
  }
  .thankyou-header h1 {
   font-weight: bold;
   color: #28abdf;
   width: 60%;
   font-size: 24px;
   display: block;
   float: left;
   line-height: 26px;
 }
 .thankyou-contenido p:first-child {
  margin-top: 0px;
}
.thankyou-contenido p {
  float: left;
  display: block;
  width: 50%;
  color: #8a8a8a;
  font-size: 18px;
  text-align: left;
  line-height: 20px;
  font-family: 'bbva light';
}
.thankyou-footer p {
  font-weight: bold;
  color: #8dc73d;
  font-size: 12px;
  width: 50%;
  display: block;
  text-align: left;
  font-family: 'bbva light';
  line-height:14px;
}
.page-node-84 #main #content-inner .webform-client-form select, #edit-submitted-row-1-row-3-tipo-dni{
  width: 100%;
  font-size: 10px;
}
.page-node-84 #webform-component-row-1--row-3--tipo-dni{
 width: 30%;
}
.page-node-84 #webform-component-row-1--row-3--tipo-y-numero-de-documento {
  width: 68%;
}
.page-node-84 #main #content-inner .webform-client-form fieldset label {
  font-size: 14px;
}
.thankyou-contenido img {
  position: relative;
  top: -30px;
}
.page-node-212 .field-item.even, .page-node-220 .field-item.even, .page-node-218 .field-item.even {
  max-height: 220px;
}
}
@media only screen and (min-width:580px) and (max-width: 600px){
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre {
    //width: 105px;
    //margin: 0 4px 0 0px;
  }
  select#edit-document-type--2{
    width: 46px !important;
  }
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-type {
    /*margin: 0px  !important;*/
  }
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-number {

  }
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-number {
    //width: 105px !important;
  }
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-type {
    //margin: 0 0px 0px 0px;
  }
  .form-item-nombre, .form-item-apellido, .fecha_nacimiento, .form-item-email, .telefono_celular, .form-item-compania, .form-item-pass1, .form-item-pass2{
    //height:53px !important;
  }
  .todos_rubros_div {
    width: 150px !important; 
  }
  .form-item-email{
    /*margin: 8px 9px;*/
  }
}
@media only screen and (max-width: 570px){
	.thankyou-contenido p {
    font-size: 16px;
    text-align: left;
  }
  .page-node-212 .field-item.even, .page-node-220 .field-item.even, .page-node-218 .field-item.even {
    max-height: 200px;
  }
}
@media only screen and (max-width: 570px){
	.thankyou-contenido p {
    font-size: 15px;
    text-align: left;
    line-height:17px;
  }
  .page-node-212 .field-item.even, .page-node-220 .field-item.even, .page-node-218 .field-item.even {
    max-height: 190px;
  }
}
@media only screen and (min-width:480px) and (max-width: 599px){
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre {
    //margin: 0 4px 0 10px !important;
  }
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular {
    //width: 148px;
  }
}
@media only screen and (max-width: 639px) and (min-width: 480px){
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email{
    width: 45%;
    margin-right: 2%;
    margin: 0 10px 0px 13px;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania {
    width: 30%;
    margin-right: 2%;
  }
  .page-subscription #edit-zonas {
    width: 45% !important;
    float: left;
    margin: 0 0px 0px 10px !important;
  }
}
@media only screen and (max-width: 480px){
	.page-node-84 #main #content-inner{
    max-width: 750px !important;
    margin: 0 auto;
    width: 100% !important;
  }
  #node-84.node.node-webform.node-promoted.node-odd{
   position: relative;
   top: -180px;
 }
 .page-node-84 #main #content-inner .webform-client-form{
   padding:15px;
 }
 .page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--tipo-y-numero-de-documento {
  /*width: 25% !important;*/
  float: left;
  /*margin-left: -115px !important;*/
  padding-right: 0 !important;

}
.page-node-84 #main #content-inner .webform-client-form select, #edit-submitted-row-1-row-3-tipo-dni {
  width: 100%;
  font-size: 9px;
}
.page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--nombre, .page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--apellido {
  width: 28%;
  float: left;
  margin-right: 2% !important;
}
.page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--tipo-dni{
	width: 38%;
}
.page-node-212 #main #content-inner, .page-node-220 #main #content-inner, .page-node-218 #main #content-inner {
  max-width: 750px !important;
  margin: 0 auto;
  width: 90% !important;
}
.thankyou-header h1 {
 font-weight: bold;
 color: #28abdf;
 width: 50%;
 font-size: 17px !important;
 display: block;
 float: left;
 line-height: 20px !important;
}
.thankyou-contenido p:first-child {
  margin-top: 0px;
}
.thankyou-contenido p {
  float: left;
  display: block;
  width: 50%;
  color: #8a8a8a;
  font-size: 13px !important;
  text-align: left;
  line-height: 15px !important;
  font-family: 'bbva light';
}
.thankyou-footer p {
  font-weight: bold;
  color: #8dc73d;
  font-size: 10px;
  width: 50%;
  display: block;
  text-align: left;
  font-family: 'bbva light';
  line-height:12px;
  margin: 0;
}
.page-node-84 #webform-component-row-1--row-3--tipo-dni{
 width: 30%;
}
.page-node-84 #webform-component-row-1--row-3--tipo-y-numero-de-documento {
  width: 68%;
}
.page-node-84 #main #content-inner .webform-client-form fieldset label {
  font-size: 10px !important;
}
.thankyou-contenido p:first-child {
  margin-top: 0px;
}
.thankyou-contenido img {
  position: relative;
  top: -10px;
}
.thankyou-footer {
  position: absolute;
  z-index: 30;
  bottom: 10px;
}
.page-node-212 .field-item.even, .page-node-220 .field-item.even, .page-node-218 .field-item.even {
  max-height: 190px;
}
.page-node-84 #main #content-inner .field-name-body {
  margin: 260px 0 15px 0 !important;
}
}
@media only screen and (max-width: 460px){
	.page-node-212 .field-item.even, .page-node-220 .field-item.even, .page-node-218 .field-item.even {
    max-height: 180px;
  }
}
@media only screen and (max-width: 440px){
	.page-node-212 .field-item.even, .page-node-220 .field-item.even, .page-node-218 .field-item.even {
    max-height: 170px;
  }
}
@media only screen and (max-width: 390px){
	.page-node-212 .field-item.even, .page-node-220 .field-item.even, .page-node-218 .field-item.even {
    max-height: 175px;
  }
}
@media only screen and (max-width: 360px){
	.page-node-212 .field-item.even, .page-node-220 .field-item.even, .page-node-218 .field-item.even {
    max-height: 157px;
  }
}
@media only screen and (max-width: 320px){
	.page-node-212 .field-item.even, .page-node-220 .field-item.even, .page-node-218 .field-item.even {
    max-height: 175px;
  }
}
@media only screen and (max-width: 375px){
  .page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--tipo-y-numero-de-documento {
    width: 84% !important;
    float: left;
    /*margin-left: -100px !important;*/
    padding-right: 0 !important;

  }
  .page-node-84 #main #content-inner .webform-client-form select, #edit-submitted-row-1-row-3-tipo-dni{
    width: 100%;
    font-size: 8px !important;
  }
  .thankyou-contenido img {
    position: relative;
    top: -10px !important;
  }
  .thankyou-footer {
    position: absolute;
    z-index: 30;
    bottom: -5px;
  }
}
@media only screen and (max-width: 360px){
  #webform-component-row-group--row-3--pre-fijo, #webform-component-row-group--celular--codigo-area{
   width: 20% !important;
   float: left;
   margin-right: 2% !important;
 }
 #webform-component-row-group--row-3--carateristica, #webform-component-row-group--celular--caracteristica-cel{
   width: 20% !important;
   float: left;
   margin-right: 2% !important;
 }
 #webform-component-row-group--row-3--numero, #webform-component-row-group--celular--numero{
   width: 50% !important;
   float: left;
   margin-right: 0% !important;
 }
 .page-node-84 #main #content-inner .webform-client-form #webform-component-row-2 #webform-component-row-2--fecha-de-nacimiento{
  width: 55% !important;
  float: left;
  margin-right: 2% !important;
}
.page-node-84 #webform-component-row-2--sexo {
  width: 40% !important;
  float: left;
  margin-right: 2% !important;
}
.page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--tipo-y-numero-de-documento {
  /*width: 26% !important;*/
  float: left;
  /*margin-left: -86px !important;*/
  padding-right: 0 !important;

}
.page-node-84 #main #content-inner .webform-client-form fieldset label {
  font-size: 9px;
}
.page-node-84 #webform-component-row-1--row-3--tipo-dni{
 width: 38%;
}
.page-node-84 #webform-component-row-1--row-3--tipo-y-numero-de-documento {
  width: 60%;
}
.page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--tipo-y-numero-de-documento {
  width: 83% !important;
  float: left;
  /*margin-left: -80px !important;*/
  padding-right: 0 !important;

}
.page-node-84 #webform-component-row-1--row-3--tipo-dni label{
 letter-spacing: -0.5px;
}
.thankyou-header h1 {
  font-weight: bold;
  color: #28abdf;
  width: 65%;
  font-size: 24px;
  display: block;
  float: left;
  line-height: 26px;
}
.thankyou-footer {
  position: absolute;
  z-index: 30;
  bottom: 0px;
}
.thankyou-contenido p {
  font-size: 12px;
  line-height: 14px;
}

}
@media only screen and (min-width:320px){
  #menu-responsive #block-menu-menu-responsive {
    position:absolute;
    top: 50px;
    padding-bottom: 10px;
  }
  .mid-1336{
    margin-top:40px !important;
  }
  .logged-in #menu-responsive #logo {
    display: block;
    float: left;
    width:49%;
  }
  #menu-responsive #logo {
    display: block;
    float: left;
    width:65%;
  }
  #config-menu-mobile {
    bottom: -75px;
    left:55px;
  }
  .front a.colorbox-node.colorbox-subscription-ver-terminos.init-colorbox-node-processed-processed {
    /*right: 0px !important;*/
  }
  a.colorbox-node.colorbox-subscription-ver-terminos.init-colorbox-node-processed-processed {
    /*margin-top: 0px !important;*/
  }
  .page-node-84 #main #content-inner .webform-client-form fieldset label {
    font-size: 8px;
  }
}
@media only screen and (max-width: 320px){
  .front a.colorbox-node.colorbox-subscription-ver-terminos.init-colorbox-node-processed-processed {
    /*right: 0px !important;*/
  }
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form .colorbox-subscription-ver-terminos {
    /*top: -11px;*/
  }
  /*suscription*/
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area, #edit-area {
    width: 38px;
    margin-left: 0px;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-type {
    /*width: 208px;*/
    /*margin: 0px 0 0 15px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-number {
    /*width: 136px;*/
    /*margin: 21px 0 12px -136px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day {
    width: 210px;
    /*height: 26px;*/
    /*margin-left: 0px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day select {
    /*width: 42px;*/
    /*height: 25px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month {
    /*width: 24%;*/
    /*height: 26px;*/
  }

  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month select {
    /*width: 42px;*/
    /*height: 25px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year {
    /*height: 37px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year select {
    width: 55px;
    height: 25px;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular {
    width: 105px;
    /*height: 25px;*/
  }
  .page-subscription #edit-zonas, .front #block-bbva_subscription-subscription_block #bbva-subscription-form .bbva-edit-zonas, .todos_rubros_div {
    width: 143px !important;
    float: left;
  }
  .page-subscription #edit-next, .front #edit-next2 {
    /*padding-top: 0px;*/
    /*letter-spacing: 0em;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form .form-item-terminos {
    /*width: 175px;*/
    /*left: 0px !important;*/
  }
  .page-subscription #edit-next, .front #edit-next2 {
    /*padding: 3px 0px 5px 5px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year {
    /*width: 24%;*/
    /*height: 26px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form .bbva-edit-zonas, .page-subscription .form-item.form-type-checkbox.form-item-todos-rubros-0 label, .form-item.form-type-checkbox.form-item-terminos label {
    font-size: 11px;
    letter-spacing: 0em;
  }
  .page-subscription #edit-todos-rubros {
    /*width: auto !important;*/
    /*float: left;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper #edit-year--2 .form-type-select select{
    width: 55px;
    height: 25px;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper #edit-area--2{
    width: 38px;
    margin-left: 0px;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-type-select select, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select{
    font-size: 10px !important;
    white-space: nowrap;
  }
  .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .bbva-form-item-sexo{
    margin-top: 1px;
    float: left;
    width: 64px !important;
    position: relative;
    left: -6px !important;
  }
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year {
    /*height: 37px;*/
    /*margin-left: 5px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-day{
    /*width: 24% !important;*/
    /*height: 26px;*/
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year select{
    height: 25px;
    white-space: nowrap;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-celular {
    width: 93px !important;
    margin-left: 5px;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania select{
    width: 100% !important;
    height: 25px;
    padding: 0;
    text-align: center;
  }
  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-year{
   /*width: 24% !important;*/
 }
 .page-subscription .form-item.form-type-select.
 form-item-year{
   /*width: 48px !important;*/
 }
 .page-subscription #block-system-main #bbva-subscription-form .form-item-terminos {
  /*width: 200px !important;*/
}
.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .fecha_nacimiento{
  /*margin: 0px 10px 0px 13px !important;*/
}
.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass1 {
  /*margin: 0px 0px 0px 13px !important;*/
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .telefono_celular {
  width: 143px;
  /*margin-right: 0px;*/
}
.page-subscription #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year {
  /*height: 37px;*/
  /*margin-left: 5px;*/
}
.page-subscription #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month {
  /*width: 42px !important;*/
  /*height: 26px;*/
  /*margin-left: 13px;*/
}
.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2{
  /*margin: 0px;*/
}
.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month {
  /*margin: 0px 0px 0px 11px;*/
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-nombre, .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-apellido{
  /*height: 53px;*/
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-pass2{
  /*margin-left:10px !important;*/
}
.page-subscription #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a {
  width: 143px;
  font-size: 12px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-compania {
  /*margin-top: 0px !important;*/
}
.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido{
  /*margin-left:10px !important;*/
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-document-number {
  /*width: 176px;*/
  /*margin: 21px 0 12px -190px;*/
}
.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year{
  /*margin: 0px 0px 0px 3px !important;*/
}
.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select#edit-area{
  width:47px;
}
.telefono_celular, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass1{
  /*margin-left:13px !important;*/
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-compania {
  width: 143px !important;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-email {
  /*margin-left: 5px;*/
  width: 100%;
  input{
    height: 30px;
  }
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-email {
  /*margin-left: 0px;*/
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-celular {
  margin-left: 2px;
}
.page-subscription #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania {
  margin-left: 0px !important;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-email {
  /*margin-left: 0px !important;*/
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .telefono_celular {
  /*margin-right: 2px !important;*/
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-celular {
  /*margin-left: 5px;*/
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-celular {
  /*margin-left: 2px !important;*/
}
.page-subscription #block-system-main #bbva-subscription-form .captcha .form-item-captcha-response {
  margin-left: 16px;
}
.page-subscription #block-system-main #bbva-subscription-form .captcha input{
  width: 143px !important;
}
.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select#edit-year--2{
  width:52px !important;
}
.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-apellido{
  margin: 0px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .pregunta-soy-cliente a, .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .pregunta-soy-cliente a + a {
  font-size:12px;
}

.thankyou-contenido p {
  font-size: 11px !important;
  line-height: 12px !important;
}
.thankyou-footer {
  position: absolute;
  z-index: 30;
  bottom: -5px;
}
.thankyou-footer p {
  font-size: 10px;
  line-height: 11px;
  width: 60%;
  margin-bottom: 7px;
}
.thankyou-contenido img {
  position: relative;
  top: -10px;
}
.page-node-212 .field-item.even, .page-node-220 .field-item.even, .page-node-218 .field-item.even {
  max-height: 165px;
}
.thankyou-header h1 {
  font-size: 14px;
  line-height: 16px;
  width: 50%;
}

}

/*Ajustes formulario de tarjeta */

.page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--nombre,
.page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--apellido,
.page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--compania,
.page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--tipo-dni,
#webform-component-row-1-row-3
{
  width: 48%!important;
}

.page-node-84 #main #content-inner .webform-client-form #webform-component-row-1 #webform-component-row-1--tipo-dni
{
  width: 11% !important;
  max-width: 72px !important;
  min-width: 40px !important;
}
.page-node-84 #main #content-inner .webform-client-form fieldset{
  width: 98%!important;
}
.page-node-84 #main #content-inner .webform-client-form{
  padding: 26px 0 26px 26px;
}
.page-node-84 #main #content-inner .field-name-body{
  margin: 200px 0 15px 0;
}


.views-widget-filter-field_card_group_tid .views-widget{
  /* margin-top: -20px; */
}


@media screen and (max-width: 480px){

  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .group-document{
    width: 100%;
  }

  .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nationality{
    width: 100%;
  }
}

.page-subscription #block-system-main #bbva-subscription-form .form-item-terminos {
  width: 210px;
}