/** Tribal Responsive **/
body .breadcrumb {
  margin-left: 10px;
}
body #content .views_slideshow_cycle_teaser_section {
  height: inherit !important;
}
body #page #header {
  overflow: hidden;
  min-height: 0px;
  height: 0px;
}
body #page #header .container #logo {
  height: 49px;
  float: left;
  margin-top: 14px;
}
body #page #header .container #slogan {
  padding: 26px 0 0 0;
  width: 115px;
}
body #page #header .container .region-header {
  width: 83%;
}
body #page #slideshow-wrapper {
  margin-bottom: inherit;
}
body #page #slideshow-wrapper .skin-default .views_slideshow_cycle_main .views-slideshow-cycle-main-frame .views-slideshow-cycle-main-frame-row img {
  min-width: inherit !important;
}
body #page #slideshow-wrapper .skin-default #views_slideshow_controls_text_slide-block #views_slideshow_controls_text_previous_slide-block,
body #page #slideshow-wrapper .skin-default #views_slideshow_controls_text_slide-block #views_slideshow_controls_text_next_slide-block,
body #page #slideshow-wrapper .skin-default #views_slideshow_controls_text_slide-block #views_slideshow_controls_text_previous_slide-block_1,
body #page #slideshow-wrapper .skin-default #views_slideshow_controls_text_slide-block #views_slideshow_controls_text_next_slide-block_1,
body #page #slideshow-wrapper .skin-default #views_slideshow_controls_text_slide-block_1 #views_slideshow_controls_text_previous_slide-block,
body #page #slideshow-wrapper .skin-default #views_slideshow_controls_text_slide-block_1 #views_slideshow_controls_text_next_slide-block,
body #page #slideshow-wrapper .skin-default #views_slideshow_controls_text_slide-block_1 #views_slideshow_controls_text_previous_slide-block_1,
body #page #slideshow-wrapper .skin-default #views_slideshow_controls_text_slide-block_1 #views_slideshow_controls_text_next_slide-block_1 {
  top: 22%;
  margin-top: 20%;
}
body #page #higlighted-area {
  position: relative;
  margin: 41% auto 0 auto;
  width: 100%;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block {
  width: 44%;
  margin: 0 1% 0 0;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block h2.block-title {
  width: 100%;
  text-align: center;
  margin: 0 0 0 0;
  font-size: 20px;
  line-height: 33px;
  height: 33px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .view-solo-por-hoy {
  float: inherit;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top {
  width: 100%;
  margin: 0 0 10px 0;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .group-fields {
  width: 85px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .group-fields .group-fields-promotion {
  font-size: 58px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .group-fields .group-fields-duration {
  font-size: 53px;
  width: 8px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .group-fields .field-quotes {
  font-size: 10px;
  margin-top: 5px;
  position: relative;
  left: 38px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .group-fields .sin-porcent {
  font-size: 20px !important;
  margin-top: 64px;
  margin-left: -9px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .even {
  width: 209px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .even .field-logo-empty {
  font-size: 14px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .even .field-title {
  width: 82px;
  margin: 0 11px 0 11px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content #views_slideshow_cycle_main_solo_por_hoy-block {
  display: none;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content #views_slideshow_cycle_main_solo_por_hoy-block img {
  height: auto;
  display: none;
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 {
  clear: left;
  width: 42.3%;
  margin: 10px;
}
body #page #higlighted-area .region-highlight #block-webform-client-block-63 .block-inner {
  width: 390px;
}
body #page #higlighted-area .region-highlight #block-imageblock-3 {
  clear: both;
  width: 53.4%;
  margin: 10px;
}
body #page #higlighted-area .region-highlight #block-imageblock-3 img {
  width: 100%;
  height: auto;
}
body #page #main-wrapper #breadcrumb-wrapper {
  display: none;
}
body #page #pre-footer .inner {
  clear: both;
}
body #page #pre-footer .inner #block-imageblock-1 .block-inner {
  width: 100%;
}
body #page #pre-footer .inner #block-imageblock-1 .block-inner img {
  width: 100%;
}
body #page #pre-footer .inner .block-quicktabs {
  display: none;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view--experiences {
  width: 100%;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view--experiences .views-row {
  width: 22%;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view--experiences .views-row .group-fields {
  width: 83%;
  min-height: 81px;
  padding: 11px;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view--experiences .views-row .group-fields .field-volanta {
  font-size: 15px;
  line-height: 16px;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view--experiences .views-row .group-fields .field-title {
  font-size: 9px;
  line-height: 12px;
}
body #page #pre-footer .inner #block-quicktabs-quicktabs .item-list ul {
  width: 100% !important;
}
body #page #pre-footer .inner #block-quicktabs-quicktabs #quicktabs-container-quicktabs .view-content .jcarousel-container-horizontal {
  width: 100% !important;
  padding: 20px 0;
}
body #page #pre-footer .inner #block-quicktabs-quicktabs #quicktabs-container-quicktabs .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li {
  width: 230px !important;
}
body #page #footer .region-footer {
  width: 93%;
}
body #page #footer .region-footer #block-bbva-footer_mobile {
  width: 34%;
  margin-right: 5px;
  height: 223px;
}
body #page #footer .region-footer #block-bbva-footer_mobile .block-inner .block-title {
  font-size: 22px;
  line-height: 20px;
  background: transparent !important;
  font-family: bbva light;
}
body #page #footer .region-footer #block-bbva-footer_mobile .block-inner .field-mobiles .link-android {
  background: url("../../../images/android-footer-tablet.png") no-repeat;
  width: 33px;
  margin-right: 8px;
}
body #page #footer .region-footer #block-bbva-footer_mobile .block-inner .field-mobiles .link-iphone {
  background: url("../../../images/iphone-footer-tablet.png") no-repeat;
  width: 30px;
  margin: 0 8px 0 0;
}
body #page #footer .region-footer #block-bbva-footer_mobile .block-inner .field-mobiles .link-wphone {
  background: url("../../../images/win8-footer-tablet.png") no-repeat;
  width: 67px;
}
body #page #footer .region-footer #block-bbva-footer_mobile .block-inner .field-subtitle {
  font-size: 18px;
}
body #page #footer .region-footer #block-bbva-footer_mobile .block-inner .field-description {
  font-size: 13.5px;
  width: 95%;
  line-height: 18px;
}
body #page #footer .region-footer #block-bbva-footer_socials {
  width: 29%;
  margin-left: 10px;
}
body #page #footer .region-footer #block-bbva-footer_socials .block-inner .block-title {
  white-space: nowrap;
  font-size: 22px;
  line-height: 20px;
  background: transparent !important;
  font-family: bbva light;
}
body #page #footer .region-footer #block-bbva-footer_socials .block-inner .field-subtitle {
  font-size: 18px;
}
body #page #footer .region-footer #block-bbva-footer_socials .block-inner .field-description {
  font-size: 13.5px;
  width: 100%;
  line-height: 18px;
}
body #page #footer .region-footer #block-bbva-footer_video {
  width: 33%;
  margin-right: 0;
  padding-left: 13px;
  height: 223px;
}
body #page #footer .region-footer #block-bbva-footer_video .block-inner .block-title {
  font-size: 22px;
  line-height: 20px;
  background: transparent !important;
  font-family: bbva light;
}
body #page #footer .region-footer #block-bbva-footer_video .block-inner .field-subtitle {
  font-size: 18px;
}
body #page #footer .region-footer #block-bbva-footer_video .block-inner .field-description {
  font-size: 13.5px;
  width: 96%;
  line-height: 18px;
}
body #page #footer .region-footer #block-bbva-footer_video .block-inner .field-videos {
  width: 91%;
  margin: 10px 10px 0 0;
  max-width: 169px;
  height: 64px;
}
body #page #footer .region-footer #block-block-1 {
  width: 59% !important;
  padding-left: 20px;
}
body #page #footer .region-footer #block-block-1 .tb-copyright {
  text-align: left;
}
body #page #footer .region-footer #block-menu-menu-footer {
  width: 20%;
}

/*FRONT*/
.front #block-bbva_subscription-subscription_block {
  width: 48%;
}
.front #block-bbva_subscription-subscription_block h2 {
  width: 100%;
  font-size: 20px;
  height: 33px;
  line-height: 33px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form {
  font-size: 11px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form #form-item-subtitle {
  width: inherit;
  text-align: center;
  font-size: 13px;
  height: 26px;
  line-height: 25px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left {
  font-size: 11px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper {
  width: 100%;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre {
  width: 45%;
  margin-left: 4%;
  margin-right: 2%;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido {
  width: 45%;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-type {
  float: left;
  width: 69px;
  margin: 0 0 0px 13px;
  height: 53px;
  white-space: nowrap;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-number {
  float: left;
  width: 46%;
  margin: 21px 0 0 0;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day {
  width: 88px;
  position: relative;
  left: -81px;
  white-space: nowrap;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .bbva-form-item-sexo {
  float: left;
  left: 13px;
  width: 66px;
  height: 52px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania {
  width: 92%;
  margin-left: 4%;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass1 {
  width: 45%;
  margin: 0 2% 0 4%;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2 {
  width: 45%;
  white-space: nowrap;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente {
  width: 100%;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a {
  width: 133px;
  margin-right: 8px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a + a {
  width: 45%;
}

.page-benefit #main,
.page-benefit-categories #main,
.page-voucher-voucher #main {
  width: 100%;
  margin: 0px auto;
}
.page-benefit #main #content,
.page-benefit-categories #main #content,
.page-voucher-voucher #main #content {
  width: 100%;
  padding: 0;
  margin: 5px 0 0 0;
}
.page-benefit #main #content #content-inner #content-area .region-content .block-system .block-inner .content .view-benefit-filters .view-content table,
.page-benefit #main #content #content-inner #content-area .region-content .block-system .block-inner .content .view-benefit-group-categories .view-content table,
.page-benefit-categories #main #content #content-inner #content-area .region-content .block-system .block-inner .content .view-benefit-filters .view-content table,
.page-benefit-categories #main #content #content-inner #content-area .region-content .block-system .block-inner .content .view-benefit-group-categories .view-content table,
.page-voucher-voucher #main #content #content-inner #content-area .region-content .block-system .block-inner .content .view-benefit-filters .view-content table,
.page-voucher-voucher #main #content #content-inner #content-area .region-content .block-system .block-inner .content .view-benefit-group-categories .view-content table {
  width: 480px;
  margin: 14px auto;
}
.page-benefit #main #content #content-inner #content-area .region-content .block-system .block-inner .content .view-benefit-filters .view-content table tbody tr td,
.page-benefit #main #content #content-inner #content-area .region-content .block-system .block-inner .content .view-benefit-group-categories .view-content table tbody tr td,
.page-benefit-categories #main #content #content-inner #content-area .region-content .block-system .block-inner .content .view-benefit-filters .view-content table tbody tr td,
.page-benefit-categories #main #content #content-inner #content-area .region-content .block-system .block-inner .content .view-benefit-group-categories .view-content table tbody tr td,
.page-voucher-voucher #main #content #content-inner #content-area .region-content .block-system .block-inner .content .view-benefit-filters .view-content table tbody tr td,
.page-voucher-voucher #main #content #content-inner #content-area .region-content .block-system .block-inner .content .view-benefit-group-categories .view-content table tbody tr td {
  float: left;
}
.page-benefit #main #content #content-inner .region-content #block-system-main .content .view-more,
.page-benefit-categories #main #content #content-inner .region-content #block-system-main .content .view-more,
.page-voucher-voucher #main #content #content-inner .region-content #block-system-main .content .view-more {
  width: 100%;
}
.page-benefit #main #content .field-header,
.page-benefit-categories #main #content .field-header,
.page-voucher-voucher #main #content .field-header {
  width: 100%;
}
.page-benefit #main #content .view-benefit-group-categories,
.page-benefit-categories #main #content .view-benefit-group-categories,
.page-voucher-voucher #main #content .view-benefit-group-categories {
  background: #f8f8f8;
}
.page-benefit #main #content .view-benefit-group-categories .jcarousel-container-horizontal,
.page-benefit-categories #main #content .view-benefit-group-categories .jcarousel-container-horizontal,
.page-voucher-voucher #main #content .view-benefit-group-categories .jcarousel-container-horizontal {
  min-height: 140px !important;
  min-width: 329px;
  width: inherit;
}
.page-benefit #main #content .view-benefit-group-categories .jcarousel-container-horizontal .jcarousel-next-horizontal,
.page-benefit #main #content .view-benefit-group-categories .jcarousel-container-horizontal .jcarousel-prev-horizontal,
.page-benefit-categories #main #content .view-benefit-group-categories .jcarousel-container-horizontal .jcarousel-next-horizontal,
.page-benefit-categories #main #content .view-benefit-group-categories .jcarousel-container-horizontal .jcarousel-prev-horizontal,
.page-voucher-voucher #main #content .view-benefit-group-categories .jcarousel-container-horizontal .jcarousel-next-horizontal,
.page-voucher-voucher #main #content .view-benefit-group-categories .jcarousel-container-horizontal .jcarousel-prev-horizontal {
  top: -29px;
}
.page-benefit #main #content .view-benefit-group-categories .jcarousel-container-horizontal .jcarousel-clip-horizontal,
.page-benefit-categories #main #content .view-benefit-group-categories .jcarousel-container-horizontal .jcarousel-clip-horizontal,
.page-voucher-voucher #main #content .view-benefit-group-categories .jcarousel-container-horizontal .jcarousel-clip-horizontal {
  width: 472px;
  margin: 0 auto 6px;
}
.page-benefit #main #content .view-benefit-group-categories .jcarousel-container-horizontal .jcarousel-clip-horizontal ul,
.page-benefit-categories #main #content .view-benefit-group-categories .jcarousel-container-horizontal .jcarousel-clip-horizontal ul,
.page-voucher-voucher #main #content .view-benefit-group-categories .jcarousel-container-horizontal .jcarousel-clip-horizontal ul {
  width: 2000px !important;
}
.page-benefit #main #sidebar-first,
.page-benefit-categories #main #sidebar-first,
.page-voucher-voucher #main #sidebar-first {
  width: 100%;
}
.page-benefit #main #sidebar-first #block-views--exp-benefit_filters-page,
.page-benefit-categories #main #sidebar-first #block-views--exp-benefit_filters-page,
.page-voucher-voucher #main #sidebar-first #block-views--exp-benefit_filters-page {
  width: 100%;
}
.page-benefit #main #sidebar-first #block-views--exp-benefit_filters-page .views-submit-button,
.page-benefit-categories #main #sidebar-first #block-views--exp-benefit_filters-page .views-submit-button,
.page-voucher-voucher #main #sidebar-first #block-views--exp-benefit_filters-page .views-submit-button {
  display: none;
}
.page-benefit #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget > .views-widget,
.page-benefit-categories #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget > .views-widget,
.page-voucher-voucher #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget > .views-widget {
  display: none;
}
.page-benefit #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget > .views-widget input.form-autocomplete,
.page-benefit-categories #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget > .views-widget input.form-autocomplete,
.page-voucher-voucher #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget > .views-widget input.form-autocomplete {
  width: 90%;
}
.page-benefit #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget,
.page-benefit-categories #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget,
.page-voucher-voucher #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget {
  height: 30px;
}
.page-benefit #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget > label,
.page-benefit-categories #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget > label,
.page-voucher-voucher #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget > label {
  font-size: 15px;
  line-height: 30px;
}
.page-benefit #main #sidebar-first #block-views--exp-benefit_filters-page .views-widget-filter-field_tags_tid,
.page-benefit-categories #main #sidebar-first #block-views--exp-benefit_filters-page .views-widget-filter-field_tags_tid,
.page-voucher-voucher #main #sidebar-first #block-views--exp-benefit_filters-page .views-widget-filter-field_tags_tid {
  display: none;
}
.page-benefit #main #sidebar-first .imageblock-link,
.page-benefit-categories #main #sidebar-first .imageblock-link,
.page-voucher-voucher #main #sidebar-first .imageblock-link {
  display: none;
}

/*BENEFICIO INDIVIDUAL*/
.page-benefit-benefit .field-item #section-benefit {
  width: 100%;
}
.page-benefit-benefit .field-item #section-benefit .row {
  width: 100%;
}
.page-benefit-benefit .field-item #section-benefit .row .field-legal-title {
  margin: 11px auto 0;
  width: 95%;
}
.page-benefit-benefit .field-item #section-benefit .row .field-legal-text {
  margin: 0 auto 20px;
  width: 95%;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .porcent-coupon .field-description-no-cliente-no-logged {
  font-family: bbva !important;
  font-size: 11px;
  margin-top: 51px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields {
  width: 140px;
  height: 117px;
  top: 175px;
  left: 25px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .field-quotes {
  font-size: 9px;
  top: 0;
  left: -1px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .group-fields-promotion {
  width: 78px;
  height: 49px;
  margin-left: 0;
  font-size: 50px;
  padding-top: 0;
  margin-top: 29px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .leyendago {
  font-size: 12px;
  line-height: 13px;
  margin: -6px 0 0 0;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .leyendago-2 {
  font-size: 12px;
  line-height: 15px;
  margin-top: -9px;
  width: 100%;
  padding-left: 9px;
  padding-right: 9px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .leyendanogo {
  font-size: 12px;
  margin-top: -35px;
  width: 85%;
  text-align: center;
  line-height: 15px;
  position: relative;
  top: 21px;
  left: 11px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .group-fields-duration {
  margin-top: 5px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .group-fields-duration span.porcent {
  font-size: 47px;
  margin-top: 0;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .group-field-beneficio-cliente {
  top: 17px;
  left: -9px;
  width: 158px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .group-field-beneficio-cliente .field-title-cliente {
  font-size: 14px;
  line-height: 16px;
  margin-top: 11px;
  font-family: bbva !important;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .group-field-beneficio-cliente .field-item-cliente {
  font-size: 12px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .group-field-beneficio-no-cliente-1 {
  top: 45px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .group-field-beneficio-no-cliente-1 a.adquiri-cupon {
  width: 140px;
  line-height: 20px;
  height: 15px;
  font-size: 14px;
  margin-bottom: 6px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .group-field-beneficio-no-cliente-2 {
  top: 24px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .group-field-beneficio-no-cliente-2 a.disfruta-mas {
  width: 140px;
  line-height: 20px;
  height: 21px;
  font-size: 14px;
  margin-bottom: 6px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .group-field-beneficio-no-cliente-2 p.field-description-no-cliente-logged {
  font-size: 11px;
  line-height: 12px;
  margin-top: 0;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .group-field-beneficio-no-cliente-2 .field-title-cliente {
  font-size: 11px !important;
  font-family: bbva !important;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .field-description-no-cliente-no-logged-2 {
  margin-top: 50px;
  font-size: 11px;
  line-height: 12px;
  font-family: bbva !important;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .group-field-beneficio-no-cliente-3 {
  top: 12px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .group-field-beneficio-no-cliente-3 a.inicia-sesion {
  width: 140px;
  line-height: 20px;
  height: 21px;
  font-size: 14px;
  margin-bottom: 6px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .group-field-beneficio-no-cliente-3 .field-description-no-cliente-no-logged {
  font-size: 11px;
  line-height: 12px;
  margin-top: 0;
  font-family: bbva !important;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .group-field-beneficio-no-cliente-4 {
  top: 45px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .group-field-beneficio-no-cliente-4 a.suscribite-no-cliente {
  width: 140px;
  line-height: 20px;
  height: 21px;
  font-size: 14px;
  margin-bottom: 6px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .group-field-beneficio-no-cliente-4 a.adquiri-cupon {
  width: 140px;
  height: 21px;
  font-size: 14px;
  line-height: 20px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .group-fields .group-field-beneficio-no-cliente-4 .field-description-no-cliente-no-logged {
  font-size: 11px !important;
  line-height: 12px !important;
  margin-top: 0 !important;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container {
  padding: 3px 0 8px 0;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-group {
  margin-bottom: 67px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-caja {
  margin: 0 4px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-1,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-3 {
  width: 145px;
  float: left;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-1 .sin-porcent,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2 .sin-porcent,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-3 .sin-porcent {
  font-size: 26px;
  line-height: 25px;
  margin-bottom: 15px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-promotion {
  float: left;
  font-size: 59px;
  line-height: 58px;
  margin-left: 4px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-duration {
  line-height: 57px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-duration span.porcent {
  font-size: 50px;
  padding: 0;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .field-quotes {
  float: right;
  font-family: bbva;
  font-size: 12px;
  padding-right: 7px;
  margin: -12px 0 5px 0;
  text-transform: uppercase;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .leyendanogo {
  font-size: 12px;
  line-height: 13px;
  margin: 0 0 1px -7px;
  width: 107%;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .leyendago,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .leyendago-2 {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 0;
  font-size: 12px;
  line-height: 16px;
  padding: 0 2px 0 2px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .leyendago-2 {
  margin: 4px 0;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .leyendago {
  margin-bottom: 7px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-1 a.inicia-sesion,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-1 a.adquiri-cupon,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-1 a.disfruta-mas,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-2 a.inicia-sesion,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-2 a.adquiri-cupon,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-2 a.disfruta-mas,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-3 a.inicia-sesion,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-3 a.adquiri-cupon,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-3 a.disfruta-mas,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4 a.inicia-sesion,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4 a.adquiri-cupon,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4 a.disfruta-mas {
  width: 100%;
  float: left;
  text-align: center;
  height: 30px;
  display: block;
  font-size: 21px;
  line-height: 30px;
  color: #fff;
  font-family: bbva;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-1 a.inicia-sesion,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-1 a.disfruta-mas,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-2 a.inicia-sesion,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-2 a.disfruta-mas,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-3 a.inicia-sesion,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-3 a.disfruta-mas,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4 a.inicia-sesion,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4 a.disfruta-mas {
  background: #f09700;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-1 a.adquiri-cupon,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-2 a.adquiri-cupon,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-3 a.adquiri-cupon,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4 a.adquiri-cupon {
  background: #c91e61;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-1,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-2,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-3,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4,
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-cliente {
  float: left;
  width: 100%;
  text-align: center;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-title-cliente {
  width: 100%;
  text-align: center;
  float: left;
  margin-top: 5px;
  line-height: 14px;
  font-size: 11px;
  color: #fff;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged {
  color: #c91e61;
  font-size: 12px;
  line-height: 16px;
  margin-top: 4px;
  font-family: bbva light !important;
  margin-bottom: 0;
  width: 106%;
  margin-left: -4px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged-2 {
  color: #c91e61;
  font-size: 12px;
  line-height: 14px;
  margin-top: 0;
  margin-bottom: 8px;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-3 .group-fields-promotion {
  margin-left: 10px !important;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4 .disfruta-mas {
  background: #52bdec !important;
}
.page-benefit-benefit .field-item #section-benefit .row-desc {
  width: 100%;
  text-align: justify;
}
.page-benefit-benefit .field-item #section-benefit .row-desc .title {
  width: 100%;
}
.page-benefit-benefit .field-item #section-benefit .row-desc .field-description {
  width: 100%;
  padding: 0 20px 0 20px;
}
.page-benefit-benefit .field-item #section-benefit .row-desc .field-description .field-logo {
  width: 125px !important;
  float: left;
  margin: -7px 30px 0 20px;
}
.page-benefit-benefit .field-item #section-benefit .row-map {
  width: 58%;
  margin-left: 1%;
}
.page-benefit-benefit .field-item #section-benefit .row-sucursales {
  width: 37%;
}
.page-benefit-benefit .field-item #section-benefit .row-sucursales .field-link a {
  font-size: 12px;
  text-align: center;
  height: 30px;
  line-height: 0;
}
.page-benefit-benefit .field-item #section-benefit .row-legal {
  width: 37%;
}
.page-benefit-benefit .field-item #section-benefit .row-legal .field-legal-title {
  font-size: 12px;
  height: 30px;
  line-height: 0;
}

/** Suscribite **/
.page-node-63 #webform-client-form-63 > div fieldset#webform-component-fields {
  padding: 23px 10px 30px 10px;
}
.page-node-63 #webform-client-form-63 > div fieldset#webform-component-rubros {
  width: 43%;
  padding: 23px 10px 30px 10px;
}
.page-node-63 #webform-client-form-63 > div fieldset#webform-component-rubros .webform-component-checkboxes .form-checkboxes .form-type-checkbox {
  width: 262px !important;
}
.page-node-63 #webform-client-form-63 > div #edit-actions .form-submit {
  margin-top: 15px !important;
}

/** Experiences **/
#parallax .intro-content {
  min-height: 290px;
  background-size: 130% !important;
}
#parallax .content-node-parallax .group-title {
  width: 100%;
  font-size: 37px;
  line-height: 42px;
  padding: 0 14px;
  margin-top: -146px !important;
}
#parallax .content-node-parallax .group-header .section {
  width: 100%;
}
#parallax .content-node-parallax .parallax-inner .group-left {
  width: 50%;
}
#parallax .content-node-parallax .parallax-inner .group-left .section {
  padding: 0;
  font-size: 26px;
  line-height: 29px;
}
#parallax .content-node-parallax .parallax-inner .group-right {
  width: 45%;
}
#parallax .content-node-parallax .parallax-inner .group-right .section {
  padding: 0 0 10px 20px;
  width: 100%;
}
#parallax .content-node-parallax .parallax-inner .group-right .section .field-name-field-experience-descripcion {
  line-height: 18px;
  font-size: 14px;
}

/** Solicitar Tarjeta **/
.node-webform .field-name-body {
  padding-right: 0;
  padding-left: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.page-node-84 .node-content .webform-client-form {
  margin: 0;
}

/*MUNDO RIVER BOCA*/
.page-taxonomy-term .vocabulary-experience #term-carousel ul li .row .col-rows {
  width: 484px;
}
.page-taxonomy-term .vocabulary-experience #term-carousel ul li .row .col-rows .field-logo {
  width: 232px;
}
.page-taxonomy-term .vocabulary-experience #term-carousel ul li .row .col-rows .field-logo img {
  height: 100%;
}

/*PRODUCTO RIVER*/
.node-type-product #page #main #content {
 /*
*/
}
.node-type-product #page #main #content .field-name-title h2 {
  position: absolute;
  right: 5%;
  top: 3%;
  color: #fff;
  font-size: 39px;
  font-family: bbva light;
  width: 280px;
  line-height: 37px;
  text-align: right;
  text-shadow: 3px 2px 2px #000;
}
.node-type-product #page #main #content .statistics_counter {
  display: none;
}
.node-type-product #page #main #content .group-footer {
  width: 100%;
  margin: 0;
}
.node-type-product #page #main #content .group-footer legend {
  display: none;
}
.node-type-product #page #main #content .group-footer .group-inner-footer {
  width: 100%;
  min-width: inherit;
  float: left;
  padding: 20px 0 0 20px;
}
.node-type-product #page #main #content .group-footer .group-inner-footer .field-name-field-product-description-short {
  width: 100%;
  float: left;
  font-size: 60px;
  font-family: bbva light;
  color: #00539B;
  line-height: 65px;
}
.node-type-product #page #main #content .group-footer .group-inner-footer .field-name-field-product-tyc {
  float: left;
  position: relative;
  font-size: 11px;
  color: #b4b4b4;
  margin-top: 7px;
  font-family: bbva light;
}
.node-type-product #page #main #content .group-footer .group-inner-footer-right {
  width: 100%;
  margin-left: 0;
  float: left;
  padding: 4px 20px 40px 20px;
}
.node-type-product #page #main #content .group-footer .group-inner-footer-right .field-name-field-product-titulo-descripcion {
  font-size: 16px;
  line-height: 23px;
  color: #00539B;
  font-family: 'bbva';
  float: left;
  width: inherit;
  text-align: justify;
  margin-top: 11px;
}
.node-type-product #page #main #content .group-footer .group-inner-footer-right ul {
  float: left;
  margin: 12px 0 0 6px;
  padding: 0 0 0 15px;
  font-size: 15px;
  line-height: 23px;
  color: #00539B;
  font-family: 'bbva light';
}
.node-type-product #page #main #content .group-footer .group-inner-footer-right ul li {
  margin-bottom: 7px;
  list-style-image: url("../../../images/list-dot.jpg") !important;
  float: none;
  letter-spacing: 2px;
}
.node-type-product #page #main #content .field-type-image {
  width: 100%;
}
.node-type-product #page #main #content .field-type-image img {
  width: 100%;
  height: 100%;
}
.node-type-product #page #main #content .field-name-field-product-image-button {
  width: 103px;
  float: left;
  position: absolute;
  right: 5%;
  top: 12.5%;
}
.node-type-product #page #main #content .field-name-field-product-image-button even {
  display: none;
}
.node-type-product #page #main #content .field-name-field-product-image-button img {
  width: 100%;
  height: 100%;
}
.node-type-product #page #main #content .field-name-field-product-link-button {
  position: absolute;
  right: 5.3%;
  top: 21%;
}
.node-type-product #page #main #content .field-name-field-product-link-button a {
  padding: 5px 20px 21px 20px;
  font-size: 12px;
  line-height: 16px;
  height: 23px;
  float: left;
}
.node-type-product #page #main #content .field-name-field-product-category {
  display: none;
}

/*EXPERIENCIAS RIVER*/
#list-experiences {
  width: 461px;
}
#list-experiences .row {
  width: 218px;
  min-height: inherit;
}
#list-experiences .row .group-fields {
  min-height: 115px;
}
#list-experiences .row .group-fields .field-volanta {
  font-size: 14px;
  line-height: 18px;
}
#list-experiences .row .group-fields .field-title {
  font-size: 18px;
  padding-bottom: 3px;
}

.node-type-experience #main #content .view-mode-full .group-header .field-name-experience #experience-content {
  height: 280px !important;
}
.node-type-experience #main #content .view-mode-full .group-header .field-name-experience #experience-content .group-fields {
  right: 2%;
}
.node-type-experience #main #content .view-mode-full .group-header .field-name-experience #experience-content .group-fields .field-title {
  font-size: 37px;
  line-height: 45px;
  padding-bottom: 1%;
}
.node-type-experience #main #content .view-mode-full .group-header .field-name-experience #experience-content .group-fields .field-volanta {
  font-size: 26px;
  line-height: 27px;
  margin-top: 12px;
  min-height: inherit;
}
.node-type-experience #main #content .view-mode-full .group-header .field-name-experience #experience-content .group-fields .field-link {
  width: 240px;
  font-size: 17px;
  margin-top: 12px;
}
.node-type-experience #main #content .view-mode-full .group-header .field-name-experience #experience-content .field-image {
  max-height: 280px;
}
.node-type-experience #main #content .view-mode-full .group-left .header-carousel .jcarousel-container-horizontal .jcarousel-next {
  background: url("../../../images/arrow_slide_benefit_responsive.png");
  width: 22px;
  height: 34px;
  top: 37%;
  right: 10.5%;
}
.node-type-experience #main #content .view-mode-full .group-left .header-carousel .jcarousel-container-horizontal .jcarousel-prev {
  background: url("../../../images/arrow_slide_left_benefit_responsive.png");
  width: 22px;
  height: 34px;
  top: 37%;
}
.node-type-experience #main #content .view-mode-full .group-left .header-carousel .jcarousel-container-horizontal ul {
  width: 100% !important;
}
.node-type-experience #main #content .view-mode-full .group-left .header-carousel .jcarousel-container-horizontal ul li {
  width: 42% !important;
  margin: 0 14px 0 0px;
}
.node-type-experience #main #content .view-mode-full .group-left .tabs-carrusel .tab-gallery,
.node-type-experience #main #content .view-mode-full .group-left .tabs-carrusel .tab-video {
  width: 44%;
}
.node-type-experience #main #content .view-mode-full .group-right {
  padding: 0;
  margin-top: 54px;
  margin-bottom: 54px;
}
.node-type-experience #main #content .view-mode-full .group-right .field-name-field-experience-bajada .field-item {
  font-size: 18px;
  line-height: 18px;
}
.node-type-experience #main #content .view-mode-full .group-right .field-name-field-experience-fija-titulo3 {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 2px;
}
.node-type-experience #main #content .view-mode-full .group-right .field-name-field-experience-descripcion {
  font-size: 14px;
  margin-bottom: 2px;
}
.node-type-experience #main #content .view-mode-full .group-right .field-name-field-experience-descripcion .field-item {
  line-height: 15px;
  margin: 7px 0 11px 0;
}
.node-type-experience #main #content .view-mode-full .group-right .field-name-field-experience-fija-texto3 {
  font-size: 14px;
}
.node-type-experience #main #content .view-mode-full .group-right .field-name-field-experience-fija-texto3 .field-item {
  line-height: 15px;
}
.node-type-experience #main #content .view-mode-full .group-footer .field-name-experiences-related .field-items {
  width: 100%;
}
.node-type-experience #main #content .view-mode-full .group-footer .field-name-experiences-related .field-items .view-experience-related {
  width: 473px;
}

/*BENEFICIOS DE EXPERIENCIA*/
.page-benefit-experience #main #content #content-area .view-benefit-filters {
  width: 465px;
}
.page-benefit-experience #main #content #content-area .view-benefit-filters .views-view-grid tbody td .field-items {
  width: 218px;
}
.page-benefit-experience #main #content #content-area .view-benefit-filters .views-view-grid tbody td .field-items .group-fields {
  width: 93%;
  height: 94px;
}
.page-benefit-experience #main #content #content-area .view-benefit-filters .views-view-grid tbody td .field-items .group-fields .group-fields-logo {
  width: 86px;
  margin-left: 0px;
}
.page-benefit-experience #main #content #content-area .view-benefit-filters .views-view-grid tbody td .field-items .group-fields .group-fields-logo img {
  margin-left: 4px;
}
.page-benefit-experience #main #content #content-area .view-benefit-filters .views-view-grid tbody td .field-items .group-fields .group-fields-promotion {
  font-size: 50px;
  width: 64px;
  margin-left: 0;
  white-space: nowrap;
  padding-top: 29px;
}
.page-benefit-experience #main #content #content-area .view-benefit-filters .views-view-grid tbody td .field-items .group-fields .group-fields-duration {
  margin: 5px 0 0 2px;
}
.page-benefit-experience #main #content #content-area .view-benefit-filters .views-view-grid tbody td .field-items .group-fields .group-fields-duration span.porcent {
  font-size: 47px;
}
.page-benefit-experience #main #content #content-area .view-benefit-filters .views-view-grid tbody td .field-items .group-fields .field-quotes {
  margin: 0 4px 0 0;
  font-size: 10px;
}
.page-benefit-experience #main #content #content-area .view-benefit-filters .views-view-grid tbody td .entity-benefit {
  min-width: inherit;
  margin: 0 5px 10px 5px;
}

/*SORTEOS*/
#node-156 .node-inner .content {
  width: 456px;
}
#node-156 .node-inner .content .field-items .ds-3col .group-middle {
  width: 93%;
  margin: -150px 0 0 8px;
  padding-bottom: 7px;
}
#node-156 .node-inner .content .field-items .ds-3col .group-middle a {
  width: 86%;
  height: 41px;
  line-height: 7px;
  font-size: 20px;
  left: 0;
}
#node-156 .node-inner .content .field-items .ds-3col .group-middle .field-name-field-draw-title {
  font-size: 18px;
  margin: 0 0 9px 0;
}
#node-156 .node-inner .content .field-items .ds-3col .group-middle .field-name-field-draw-sub-title {
  font-size: 14px;
  margin-left: 0;
}
#node-156 .node-inner .content .field-items .ds-3col .group-middle .field-name-field-draw-description {
  font-size: 14px;
  margin: 0 0 34px 0;
}
#node-156 .node-inner .content .field-items .ds-3col .group-middle .field-name-field-draw-description .field-items .field-item {
  margin: 0 !important;
}
#node-156 .node-inner .content .field-items .even {
  margin-bottom: 0 !important;
}
#node-156 .node-inner .content .field-items .field-item {
  width: 218px;
  height: 287px;
  margin-bottom: 10px;
}
#node-156 .node-inner .content .field-items .field-item img {
  width: 100% !important;
  height: 100% !important;
}

.page-subscription #main #block-system-main {
  width: 405px;
  margin: 70px auto;
}
.page-subscription #main #block-system-main #bbva-subscription-form {
  margin: inherit;
  width: inherit;
  float: inherit;
  padding: inherit;
}
.page-subscription #main #block-system-main #bbva-subscription-form .captcha img {
  margin-right: 10px !important;
  width: 202px !important;
}
.page-subscription #main #block-system-main #bbva-subscription-form .captcha .form-item-captcha-response {
  width: 165px !important;
}
.page-subscription #main #block-system-main #bbva-subscription-form .form-item-terminos {
  width: 220px;
}
.page-subscription #main #block-system-main #bbva-subscription-form .form-item-terminos label {
  font-size: inherit !important;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left {
  width: 405px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields {
  width: 405px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-nombre,
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-apellido {
  width: 185px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-document-number {
  width: 259px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .bbva-form-item-sexo {
  left: 12px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .fecha_nacimiento {
  margin: 1px 10px 0px 18px;
  width: 220px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-email {
  margin-left: 13px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-day,
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-month {
  width: 66px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-year {
  width: 62px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-compania {
  margin-top: 1px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-pass1,
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-pass2 {
  width: 185px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-terminos {
  width: 214px !important;
  margin-left: 35px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper #bbva_captcha_content {
  width: 290px;
  margin-left: 17px;
  float: left;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper #bbva_captcha_content .captcha {
  float: inherit;
  width: inherit;
  padding: inherit;
  top: inherit;
  margin-left: inherit;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper #bbva_captcha_content .captcha img {
  width: 124px;
  margin-right: 10px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .fecha_nacimiento {
  margin: 1px 10px 0px 13px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .telefono_celular {
  width: 176px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-celular {
  width: 116px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-email {
  margin-left: -7px;
  width: 157px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .pregunta-soy-cliente a {
  width: 185px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .pregunta-soy-cliente a + a {
  width: 185px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-right {
  float: left;
  width: 405px;
  margin-top: 10px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-right .form-item-zonas,
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-right .form-item-rubros {
  width: 405px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-right .form-item-zonas label,
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-right .form-item-rubros label {
  height: 64px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-right .form-item-zonas .form-checkboxes,
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-right .form-item-rubros .form-checkboxes {
  width: 405px !important;
  height: inherit;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-right .form-item-zonas .form-checkboxes .form-type-checkbox,
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-right .form-item-rubros .form-checkboxes .form-type-checkbox {
  width: 190px;
}
.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-footer .form-submit {
  margin: 30px 0 13px 13px;
  width: 378px !important;
}
.page-subscription #main #block-system-main #bbva-subscription-form #form-item-title {
  width: 405px;
}
.page-subscription #main #block-system-main #bbva-subscription-form #form-item-subtitle {
  width: 405px;
  text-align: center;
}

/*FORMULARIO RESPONSIVE*/
@media only screen and (max-width: 719px) and (min-width: 580px) {
  body #page #higlighted-area {
    width: 581px;
  }

  body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block {
    width: 275px;
  }

  .front #block-bbva_subscription-subscription_block {
    width: 300px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania {
    width: 131px !important;
    margin-right: inherit;
    margin-left: 0;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania select {
    width: 100%;
  }

  .fecha_nacimiento, .telefono_celular {
    width: 45%;
    margin: 0 0 0 2%;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form .captcha input, #edit-captcha-response--2 {
    width: 100% !important;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form .captcha {
    padding-bottom: 10px !important;
  }

  .form-item.form-type-textfield.form-item-captcha-response {
    width: 135px !important;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item-terminos {
    margin-left: 13px;
  }

  .form-item-terminos label {
    font-size: 11px !important;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form .captcha .form-item-captcha-response {
    top: 0;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-number {
    float: left;
    width: 143px;
    margin: 21px 0 12px 0;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day {
    position: relative;
    left: 0px;
    white-space: nowrap;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email {
    width: 108px !important;
    margin-left: 3px;
  }

  .front #edit-zonas {
    float: left;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre, .front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item.form-type-textfield.form-item-apellido, .front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item.form-type-textfield.form-item-email, .front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item.form-type-textfield.form-item-compania, .front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item.form-type-textfield.form-item-pass2 {
    width: 133px;
    margin-right: 8px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-emailn, .date-field-subscription {
    width: 100% !important;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania {
    width: 137px !important;
    margin-right: 2%;
  }

  .front #edit-zonas {
    float: left;
    margin: 0 0px 0px 13px !important;
  }

  .front #edit-todos-rubros {
    width: auto !important;
    float: left;
  }

  #edit-next, #edit-next2, .front #block-system-main #bbva-subscription-page .field-next, .front #block-system-main #bbva-subscription-page .field-next2, .front #block-system-main #bbva-subscription-form .field-next, .front #block-system-main #bbva-subscription-form .field-next2, .front #block-bbva_subscription-subscription_block #bbva-subscription-page .field-next, .front #block-bbva_subscription-subscription_block #bbva-subscription-page .field-next2, .front #block-bbva_subscription-subscription_block #bbva-subscription-form .field-next, .front #block-bbva_subscription-subscription_block #bbva-subscription-form .field-next2, .page-subscription #block-system-main #bbva-subscription-page .field-next, .page-subscription #block-system-main #bbva-subscription-page .field-next2, .page-subscription #block-system-main #bbva-subscription-form .field-next, .page-subscription #block-system-main #bbva-subscription-form .field-next2, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page .field-next, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page .field-next2, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form .field-next, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form .field-next2 {
    font-size: 9px !important;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido {
    width: 45% !important;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass1 {
    width: 132px;
    float: left;
    margin-right: 10px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos {
    right: 70px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form .captcha img {
    width: 130px;
    margin-right: 10px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-type {
    float: left;
    width: 45px !important;
    margin: 0 9px 0px 13px;
    height: 53px;
    white-space: nowrap;
  }

  .fecha_nacimiento {
    width: 163px;
    margin-left: 13px;
  }

  .telefono_celular {
    width: 135px;
    margin-left: 13px;
    margin-right: 3px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select,
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month select,
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year select {
    width: 100%;
  }

  .front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-day, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-day, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-day, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-day, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day {
    width: 43px;
    float: left;
    margin: 0px 0px 0px 0px;
    height: 36px;
  }

  .front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-month, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-month, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-month, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-month, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month {
    width: 44px;
    float: left;
    margin: 0px 0px 0px 8px;
    height: 36px;
  }

  .front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-year, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-year, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-year, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-year, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year {
    width: 59px;
    float: left;
    margin: 0px 0px 0px 8px;
    height: 36px;
  }

  .front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-area, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-area, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-area, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-area, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area {
    width: 45px;
    float: left;
    margin: 0px;
    display: block;
  }

  .front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-celular, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-celular, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-celular, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-celular, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular {
    float: left;
    width: 76px;
    margin: 0px;
    display: block;
    margin-left: 9px;
  }

  .todos_rubros_div {
    width: 144px;
    float: left;
    margin: 0;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form .bbva-edit-zonas {
    width: 141px;
    float: left;
    margin: 0 0px 0px 10px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-footer .form-submit {
    width: 270px;
    margin-top: 18px;
    margin-left: -62px;
  }

  body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item {
    height: 128px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form .field-next2 {
    left: 3px !important;
  }
}
@media only screen and (max-width: 600px) and (min-width: 480px) {
  #bbva-subscription-form #edit-fields {
    margin-bottom: 7px;
  }

  body #page #higlighted-area {
    width: 453px;
  }

  body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block {
    width: 215px;
    margin: 0 4px 0 0;
  }

  .front #block-bbva_subscription-subscription_block {
    width: 234px;
  }

  body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .even .field-title {
    margin: 0 6px 0 6px !important;
  }

  body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .group-fields .group-fields-promotion {
    font-size: 55px !important;
  }

  body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .group-fields .group-fields-duration {
    font-size: 50px !important;
    width: 8px !important;
    margin-left: -5px;
  }

  body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .group-fields .field-quotes {
    font-size: 8px;
    left: 25px;
  }

  body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .ver-mas-destacados {
    right: 10px;
    top: 5px;
  }

  body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .ver-mas-destacados a {
    font-size: 9px !important;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form #form-item-subtitle {
    padding: 0;
    font-size: 14px !important;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form, .page-subscription #block-system-main #bbva-subscription-page {
    padding-bottom: 12px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-footer .form-submit {
    margin-top: 9px !important;
    width: 214px !important;
  }

  .fecha_nacimiento {
    height: 48px;
    margin-left: 10px !important;
  }

  .telefono_celular {
    width: 213px !important;
    margin-left: 10px !important;
    height: 45px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente {
    width: 214px;
    margin: 10px auto 3px;
    font-size: 11px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a {
    width: 105px;
    margin-right: 0;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a + a {
    width: 105px;
    margin-left: 4px;
  }

  .front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-pass2 input, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2 input, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-pass2 input, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2 input, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-pass2 input, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2 input, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-pass2 input, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2 input, .front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-apellido input, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido input, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-apellido input, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-apellido input, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido input, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-apellido input, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido input, .form-item form-type-select.form-item-compania, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania select {
    width: 100% !important;
    height: 25px;
    padding: 0;
    text-align: center;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass1 {
    width: 98px;
    margin: 0 3px 0 10px;
    height: 45px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2 {
    width: 112px !important;
    height: 44px !important;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre {
    width: 105px;
    margin: 0 4px 0 10px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido {
    width: 105px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-type {
    width: 54px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-number {
    width: 96px;
    margin-left: 4px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .bbva-form-item-sexo {
    left: 6px;
    top: 1px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day {
    width: 63px;
    left: inherit;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month {
    width: 65px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month select {
    width: 100%;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year {
    width: 64px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year select {
    width: 100%;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day select {
    width: 100%;
  }

  .fecha_nacimiento, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email {
    width: 213px !important;
    margin: 0 10px 0px 10px;
    height: 45px !important;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania {
    width: 213px !important;
    margin-right: inherit;
    margin-left: 10px !important;
    height: 45px !important;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area {
    width: 54px;
    margin-right: 10px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area select {
    width: 100%;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-type {
    margin-left: 10px !important;
  }

  .front #edit-zonas {
    float: left;
    margin: 0 0px 0px 10px !important;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular {
    width: 148px;
  }

  .front #block-system-main #bbva-subscription-page fieldset.group-footer .form-submit, .front #block-system-main #bbva-subscription-form fieldset.group-footer .form-submit, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-footer .form-submit, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-footer .form-submit, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-footer .form-submit, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-footer .form-submit, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-footer .form-submit, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-footer .form-submit {
    background: #0079C1;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    border: 0;
    font-family: 'bbva light';
    color: #fff;
    width: 197px;
    height: 31px;
    margin-top: 20px !important;
    margin-left: 0px;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form .field-next,
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form .field-next2 {
    font-size: 9px !important;
  }

  .todos_rubros_div {
    margin-left: 10px;
  }

  .front #edit-todos-rubros {
    width: 109px !important;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item-terminos {
    font-size: 11px !important;
    margin-left: 10px;
    width: 180px !important;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form .captcha input {
    width: 99px !important;
  }

  #bbva_captcha_content .captcha img {
    width: 204px !important;
    margin-right: 0 !important;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form .captcha .form-item-captcha-response {
    margin-top: 21px;
    width: 203px;
  }
  .front #block-bbva_subscription-subscription_block #bbva-subscription-form .captcha .form-item-captcha-response input {
    width: 100% !important;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form .captcha .form-item-captcha-response label {
    position: relative;
    top: -4px;
    line-height: 10px;
  }

  #g-femenino {
    margin-left: 4px !important;
  }

  .front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item-todos-zonas-0 {
    left: 0px;
  }
}
/*OTRAS EXPERIENCIAS*/
.node-type-experience #main #content .view-mode-full .group-footer .field-name-experiences-related .field-items .block-title {
  width: 100%;
  background: #09519d;
  color: #fff;
  margin: 0;
}

/*LOGIN*/
#dropdown-login .dropdown {
  width: 100%;
  left: 0;
  top: 50px;
  z-index: 9999999999;
}

#user-login-form {
  display: none;
}

#login_form_full {
  padding: 20px 0 20px 0;
}

.triangulo {
  display: none;
}

#dropdown-login .pregunta-soy-cliente {
  height: inherit;
  padding: inherit;
}

body #page #header a {
  width: 100%;
  height: 50px;
}

#dropdown-login .dropdown #soy_login,
#dropdown-login .dropdown #nosoy_login {
  font-size: 20px;
  padding-top: 10px;
}

#footer-copyright {
  bottom: 0;
  width: 100%;
}

#login_form_full {
  width: 100%;
  max-width: inherit;
}

#tipo-number-content {
  width: 97.6%;
}

#dropdown-login .form-item-document-number {
  width: 70%;
  float: right;
}

#dropdown-login .form-item-document-number input {
  width: 100%;
}

#dropdown-login #bbva-clave-usuario {
  width: 98.3%;
}

#dropdown-login .form-item-user-name-digital {
  width: 47.1%;
}

#dropdown-login .form-item-user-name-digital input {
  width: 100%;
}

#dropdown-login .form-item-pass input {
  width: 48.3%;
  float: right;
}

#dropdown-login .form-item-pass-nocliente {
  width: 95.1%;
}

#dropdown-login .form-item-pass-nocliente input {
  width: 100%;
}

#dropdown-login .captcha {
  width: 324px;
  margin: 20px auto;
}

#dropdown-login .form-item.form-type-textfield.form-item-captcha-response {
  width: 324px !important;
}

#dropdown-login .form-item-remember-me {
  margin: inherit;
  width: 100%;
  text-align: center;
}

#dropdown-login .form-actions {
  width: 95%;
  margin: 20px auto;
}

#dropdown-login .form-wrapper .form-submit {
  width: 100%;
  font-size: 19px;
  font-family: bbva light;
  font-weight: normal;
  height: 42px;
}

/*IDENTIFICACION POSITIVA*/
#dropdown-login .identificacion-positiva-form {
  width: 320px;
  margin: 0 auto;
}

#dropdown-login #tipo-numero {
  width: 215px;
}

#dropdown-login #gender {
  right: 9px;
}

#dropdown-login #nrodoc {
  width: 131px;
}

#dropdown-login .dropdown .salir-recupero {
  width: 130px !important;
  height: 27px !important;
}

#dropdown-login .dropdown .salir-recupero #ident-submit-valid {
  border: 0 !important;
}

/*#ident-submit-valid{
    margin-right: 12px;
    width: 124px;
    border:inherit!important;
}*/
.footer-buton a:hover {
  color: white;
}

#bbva-profile-pass-recovery-form .group-footer {
  width: 260px;
  margin: 20px auto;
}

.identificacion-positiva-form h3 {
  font-family: bbva light;
}

#label-reseteo-nocliente {
  font-size: 15px;
  margin-top: 16px;
  margin-bottom: 10px;
}

#bbva-profile-pass-recovery-form .group-recup-body {
  width: 260px;
}

#bbva-profile-pass-recovery-form .form-item-number {
  width: 196px;
}

#bbva-profile-pass-recovery-form .form-item-number input {
  width: 100%;
}

#bbva-profile-pass-recovery-form .group-footer .recuperar-salir {
  width: 50% !important;
  height: 27px !important;
}

.group-recup-body .form-item label {
  text-align: left !important;
}

/*VIDEO RESPONSIVE*/
#colorbox {
  width: 100% !important;
  left: inherit !important;
}
#colorbox #cboxWrapper {
  width: 100% !important;
}
#colorbox #cboxWrapper #cboxLoadedContent {
  width: 100% !important;
}
#colorbox #cboxContent {
  width: 100% !important;
}
#colorbox #cboxContent iframe {
  margin: 50px 0 0 0 !important;
  width: 100%;
  padding: 0 40px;
}
