<div class="row">
	<div class="col-xs-12">
		<h1 class="titulo">Conversiones</h1>
	</div>
</div>
<div class="row">
	<div class="form-group col-md-5">
		<label for="tipoDoc" class="control-label">Documento</label>
		<div class="col-xs-3 col-md-3"
			style="padding-right: 0px; padding-left: 0px">
			<select id="tipoDoc" class="btn-select" ng-model="consulta.tipoDoc">
				<option value="0">DNI</option>
			</select>
		</div>
		<div class="col-xs-9 col-md-9"
			style="padding-right: 0px; margin-bottom: 15px;">
			<input type="text" id="nroDoc" class="form-control"
				placeholder="n&uacute;mero de documento" ng-model="consulta.nroDoc"
				ng-class="{errorEnInput: nroDocError}">
		</div>
	</div>
	<div class="form-group col-md-5">
		<label for="sucursal" class="control-label">Sucursal </label>
		<select
			id="sucursal" class="btn-select" ng-model="consulta.nroSucursal">
			<option ng-repeat="sucursal in sucursales"
				value="{{sucursal.idSucursal}}">
				{{sucursal.numeroSucursal}} - {{sucursal.descripcionSucursal}} -
				{{sucursal.direccionSucursal}}</option>
		</select>
	</div>
	<div class="form-group col-md-1">
		<button class="btn ok-buttom ok-buttom-margin" ng-click="buscarConParametros()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
	</div>
	<div class="form-group col-md-1 volver-margin">
		<a class="volver clickeable" ng-click="reset()">Resetear</a>
	</div>
</div>
<div class="row">
	<div class="col-md-11">
		<h2 class="subtitulo">Se encontraron: {{resultados.length}} resultados</h2>
	</div>
	<div class="col-md-1 div-img">
		<img class="btn-download-excel" ng-click="downloadExcel()"/>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<table class="table">
			<thead>
				<tr>
					<th>Nro Doc</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Tipo PH</th>
					<th>Sucursal</th>
					<th>Fecha de Conversion</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="resultado in resultados">
					<td>{{resultado.nroDoc}}</td>
					<td>{{resultado.nombre}}</td>
					<td>{{resultado.apellido}}</td>
					<td>{{resultado.tipoPHElegido}}</td>
					<td>{{resultado.nroSucursal}}</td>
					<td>{{resultado.fechaConversion}}</td>
					<td><span class="glyphicon glyphicon-plus clickeable" aria-hidden="true" ng-click="download($index)"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
