<div class="row plusPadLeft">
	<div class="col-xs-12">
		<h1 class="titulo tituloPaso">Completando tus datos recibirás una copia del simulador</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>

<div class="row plusPadLeft">
	<div class="col-xs-12">
		<form name="formEnvio">
			<div class="form-group col-md-6">
				<label for="nombre" class="control-label">Nombre</label>
				<input only-letter type="text" id="nombre" name="nombre" class="form-control" ng-model="envio.nombre" maxlength="50" set-error required>
			</div>

			<div class="form-group col-md-6">
				<label for="apellido" class="control-label">Apellido</label>
				<input only-letter type="text" id="apellido" name="apellido" class="form-control" ng-model="envio.apellido" maxlength="50" set-error required>
			</div>

			<div class="form-group col-md-6 clear-both">
				<label for="tipoDoc" class="control-label">Documento</label>
				<div class="col-xs-3 col-md-3" style="padding-right: 0px; padding-left: 0px">
					<select id="tipoDoc" class="btn-select" ng-model="envio.tipoDoc">
						<option value="0">DNI</option>
					</select>
				</div>
				<div class="col-xs-9 col-md-9" style="padding-right: 0px; margin-bottom: 15px;">
					<input type="text" x-only-num class="form-control" ng-model="envio.nroDoc" id="nroDoc" name="nroDoc" placeholder="número de documento" maxlength="8" set-error required>
				</div>
			</div>

			<div class="form-group col-md-6">
				<label for="telefono" class="control-label col-xs-12" style="padding-left: 0px; padding-right: 0px;">Teléfono</label>
				<div class="col-xs-3 col-md-3" style="padding-right: 0px; padding-left: 0px">
					<select id="tipoTel" class="btn-select" ng-model="envio.tipoTel">
						<option value="Celular">Celular</option>
						<option value="Fijo">Fijo</option>
					</select>
				</div>
				<div class="col-xs-9 col-md-9" style="padding-right: 0px; margin-bottom: 15px;">
					<input type="text" x-only-num class="form-control" ng-model="envio.nroTel" id="telefono" name="telefono" placeholder="ej. 0111561616655" maxlength="20" set-error required>
				</div>
			</div>

			<div class="form-group col-md-6 clear-fix">
				<label for="sexo" class="control-label">Sexo</label>
				<div radio-button radio-options="envio.sexoOptions"></div>
			</div>

			<div class="form-group col-md-6">
				<label for="nacionalidad" class="control-label">Nacionalidad</label>
				<select type="text" id="nacionalidad" ng-model="envio.nacionalidad" placeholder="Argentino/a" class="btn-select">
					<option ng-repeat="nacionalidad in nacionalidades" value="{{nacionalidad.c}}">{{nacionalidad.d}}</option>
				</select>
				<span ng-show="informarAclaracionDeNacionalidad" class="aclaracion">Válido únicamente para personas con residencia Argentina.</span>
			</div>

			<div class="form-group col-md-6">
				<label for="mail" class="control-label">Correo Electrónico</label>
				<div class="dynamic-fields-container" ng-repeat="email in envio.emails" ng-class="email.id !== 'email-1'? 'dynamicFieldMargin' : ''">
					<input id="mail" name="mail" ng-attr-id="{{email.id}}" ng-model="email.valor" type="text" class="form-control" placeholder="nombre@email.com" set-error validate-email required>

						<a class="removeIngreso" ng-if="email.id != 'email-1'" ng-click="removeEmail(email.id)"></a>
				</div>
				<div class="image-text">
					<span class="agregar" ng-if="envio.emails.length < 2" ng-click="addNewEmail()" />
					<p>Agregá a otra persona con la quieras compartir la información</p>
				</div>
				<span ng-show="emailError" id="errorEmailEnvio" class="error" style="margin-top: 12px;">Este campo es obligatorio.</span>
			</div>

			<div class="form-group col-md-6">
				<label for="sucursal" class="control-label">Sucursal <a class="masInfo hidden-xs hidden-sm" x-tool-tip data-placement="right" data-toggle="tooltip" title="Solicitamos este dato para enviar la información a tu Sucursal más cercana."></a>
				<a class="masInfo hidden-md hidden-lg" data-toggle="modal" data-target="#defaultModal" data-title="Sucursal Cercana" data-body="Solicitamos este dato para enviar la información a tu Sucursal más cercana."></a></label>
				<select id="sucursal" class="btn-select" ng-model="envio.nroSucursal" combo-required set-error>
					<option value="" disabled selected="selected">Seleccione la sucursal</option>
					<option ng-repeat="sucursal in sucursales" value="{{sucursal}}">
						{{sucursal.numeroSucursal}} - {{sucursal.descripcionSucursal}} - {{sucursal.direccionSucursal}}
					</option>
				</select>
			</div>

			<div class="form-group col-md-6">
				{{envio.sucursal}}
			</div>

			<div class="row">
				<div class="col-xs-12">
					&nbsp;
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 text-center">
					<input type="button" id="envioID" submit form="formEnvio" class="btn btn-enviar" callback="enviar" value="Enviar"/>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					&nbsp;
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 text-center">
					<a href="" ng-click="volver()" class="volver">Volver</a>
				</div>
			</div>

		</form>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>
<!-- telefono -->
<div class="row">
	<div class="col-xs-12 ">
		<p class="mesajeTelefono">¿Necesitás ayuda? Podés realizar tus consultas telefónicamente.</p>
	</div>
	<div class="col-xs-12 ">
		<a href="" class="hidden-xs hidden-sm" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
		<a ng-href="tel:+{{msg().telefono}}" class="hidden-md hidden-lg" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>