<div class="row plusPadLeft">
	<div class="col-xs-12">
		<h1 class="titulo">Según los datos proporcionados, estas son las opciones que tenemos para vos</h1>
	</div>
	<div class="col-xs-12">
		<h3 class="titulo">Regresando al paso anterior podrás verificar y editar tus datos</h3>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>

<div class="row plusPadLeft">
	<div class="col-xs-12">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<span id="buttonOne" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed" ng-click="accordion(true)"> HIPOTECARIO UVAs <span class="flechita"></span></span>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
						<div class="row hidden-sm hidden-xs">
							<div class="col-md-3 col-md-offset-6">
								<p class="resultado-header">En Pesos</p>
							</div>
							<div class="col-md-3">
								<p class="resultado-header">En UVAs</p>
							</div>
						</div>
						<div class="row">
							<div class="resultado-container-maximo">
								<div class="row">
									<div class="col-md-6">
										<p class="montoMaximo">Monto Máximo Disponible</p>
									</div>
									<div class="col-md-3 col-xs-12">
										<p class="font-gray">$ {{resultados.tasaUVA.montoMaximo}}</p>
									</div>
									<div class="col-md-3 col-xs-12">
										<p class="font-gray-bold">{{resultados.tasaUVA.montoMaximoUVA}} UVAs</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="resultado-container">
								<div class="row">
									<div class="col-md-6">
										<p class="bold-blue">Monto Solicitado</p>
									</div>
									<div class="col-md-3 col-xs-6">
										<span class="money bold-blue">$</span>
										<input type="text" id="montoSolicitudUVA" ui-number-mask="0" ng-model="resultados.tasaUVA.montoSolicitud" class="form-control-blue resultado money" ng-blur="recalculo(resultados.tasaUVA.montoMaximo, resultados.tasaUVA.montoSolicitud)" ng-change="recalcularDelayPorCambioDeMonto(resultados.tasaUVA.montoMaximo, resultados.tasaUVA.montoSolicitud)" ng-class="{errorEnInput: (valMontoSolicitadoTV || recalculoError)}">
									</div>
									<div class="col-md-3 col-xs-12">
										<p class="font-gray-bold">{{resultados.tasaUVA.montoAprobadoUVA}} UVAs</p>
									</div>
								</div>
								</br>
								<div class="row">
									<div class="col-md-6">
										<p class="bold-blue">Plazo</p>
									</div>
									<div class="col-md-6">
										<select class="bold-blue" ng-model="plazoSeleccionadoUVA" ng-options="option.meses as option.descripcion for option in plazosUVA" ng-change="plazoOnChange(resultados.tasaUVA.montoMaximo, resultados.tasaUVA.montoSolicitud)" ng-class="{errorEnInput: recalculoError}">
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="div-light-blue">
								<div class="row">
									<div class="col-md-6">
										<p class="bold-white">Cuota Mensual</p>
									</div>
									<div class="col-md-3 col-xs-6">
										<span class="white">$ {{resultados.tasaUVA.montoCuota}} <span class="layer-white">(1)</span></span>
									</div>
									<div class="col-md-3 col-xs-6">
										<p class="bold-white">{{resultados.tasaUVA.montoCuotaUVA}} UVAs</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="descripcion-container">
								<div class="row">
									<div class="col-md-6">
										<p class="font-cobalt-gray">Cotización UVAs a la fecha: ${{resultados.tasaUVA.cotizacion}}.</p>
									</div>
									<div class="col-md-6">
										<p class="font-cobalt-gray">Tasa Nominal Anual (T.N.A) {{resultados.tasaUVA.tnaUVA}}%.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="div-cuota-mensual-inicial">
						<span class="layer-blue"> (1) </span>
						<span class="bold-blue-cuota-mensual-inicial">Cuota Mensual inicial: </span>
						<span class="light-blue-cuota-mensual-inicial">Este es un valor de referencia teniendo en cuenta la cotización de las UVAs al día de la fecha.</span>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingTwo">
					<h4 class="panel-title">
						<span id="buttonTwo" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" ng-click="accordion(false)">
							HIPOTECARIO TASA FIJA  <span class="flechita"></span></span>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					<div class="panel-body" ng-show="resultados.tasaFija.tasaFijaAprobada">
						<div class="row hidden-sm hidden-xs">
							<div class="col-md-3 col-md-offset-6">
								<p class="resultado-header">En Pesos</p>
							</div>
						</div>
						<div class="row">
							<div class="resultado-container">
								<div class="row">
									<div class="col-md-6">
										<p class="montoMaximo">Monto Máximo Disponible</p>
									</div>
									<div class="col-md-3 col-xs-12">
										<p class="font-gray-bold">$ {{resultados.tasaFija.montoMaximo}}</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="resultado-container">
								<div class="row">
									<div class="col-md-6">
										<p class="bold-blue">Monto Solicitado</p>
									</div>
									<div class="col-md-3 col-xs-6">
										<span class="money bold-blue">$</span>
										<input type="text" id="montoSolicitudFIJA" ui-number-mask="0" ng-model="resultados.tasaFija.montoSolicitud" class="form-control-blue resultado money" ng-blur="recalculo(resultados.tasaFija.montoMaximo, resultados.tasaFija.montoSolicitud)" ng-change="recalcularDelayPorCambioDeMonto(resultados.tasaFija.montoMaximo, resultados.tasaFija.montoSolicitud)" ng-class="{errorEnInput: valMontoSolicitadoTF}">
									</div>
								</div>
								</br>
								<div class="row">
									<div class="col-md-6">
										<p class="bold-blue">Plazo</p>
									</div>
									<div class="col-md-6">
										<select class="bold-blue" ng-class="{errorEnInput: recalculoError}" ng-model="plazoSeleccionadoFija" ng-options="option.meses as option.descripcion for option in plazosFija" ng-change="plazoOnChange(resultados.tasaUVA.montoMaximo, resultados.tasaUVA.montoSolicitud)">
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="div-light-blue">
								<div class="row">
									<div class="col-md-6">
										<p class="bold-white">Cuota Mensual</p>
									</div>
									<div class="col-md-6">
										<span class="bold-white">$ {{resultados.tasaFija.montoCuota}}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="descripcion-container">
								<div class="row">
									<div class="col-xs-12">
										<p class="font-cobalt-gray">Tasa Nominal Anual (T.N.A) {{resultados.tasaFija.tna}}%.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body" ng-show="!resultados.tasaFija.tasaFijaAprobada">
						<p class="panel-body" ng-bind="mensajeErrorTasaFija" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">&nbsp;</div>
				</div>
				<div class="row">
					<div class="centrar">
						<span ng-show="(valMontoSolicitadoTV && valAccordionOne)" class="error" ng-bind-html="mensajeErrorMonto"></span>
						<span ng-show="(valMontoSolicitadoTV && valAccordionOne)" class="error" ng-bind-html="mensajeErrorMontoMinimo"></span>
						<span ng-show="(valMontoSolicitadoTF && !valAccordionOne)" class="error" ng-bind-html="mensajeErrorMonto"></span>
						<span ng-show="recalculoError" class="error" ng-bind-html="paso.mensajeErrorRecalculo"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="mostrarModal" role="dialog">
	<div class="modal-dialog" role="document">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modalTitle">Advertencia</h4>
			</div>
			<div class="modal-body">
				<p id="modalBody" style="text-align: center">Por favor despliegue la opción UVAs antes de continuar.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>

<div class="row">
	<div class="col-xs-12 text-center">
		<button id="continuarID" class="btn btn-quiero" ng-click="quiero()">Continuar</button>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>

<div class="row">
	<div class="col-xs-12 text-center">
		<a href="" ng-click="volver()" class="volver">Volver</a>
	</div>
</div>


<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>

<!-- telefono -->
<div class="row">
	<div class="col-xs-12 ">
		<p class="mesajeTelefono">¿Necesitás ayuda? Podés realizar tus consultas telefónicamente.</p>
	</div>
	<div class="col-xs-12 ">
		<a href="" class="hidden-xs hidden-sm" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
		<a ng-href="tel:+{{msg().telefono}}" class="hidden-md hidden-lg" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>


<div class="row" id="legalesUVA">
	<div class="col-xs-12">
		<h3 class="tituloLegal titulo">Términos y Condiciones para Préstamo Hipotecario en UVAs</h3>
	</div>
	<div class="col-xs-12">
		<p class="legales" ng-bind-html="legalesUva"></p>
	</div>
</div>
<div class="row" id="legalesTF" ng-if="resultados.tasaFija.tasaFijaAprobada">
	<div class="col-xs-12">
		<h3 class="tituloLegal titulo">Términos y Condiciones para Préstamo Hipotecario con Tasa Fija</h3>
	</div>
	<div class="col-xs-12">
		<p class="legales" ng-bind-html="legalesFija"></p>
	</div>
</div>