<div class="row">
	<div class="col-xs-12">
		<h1 class="titulo centered">Resultados de tu simulación</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<p class="mensaje">Los datos que nos proporcionaste no nos son suficientes para realizar un cálculo para la oferta de préstamo hipotecario.</p>  
	</div>
	<div class="col-xs-12">
		<p class="mensaje">Te invitamos acercarte a cualquiera de nuestras sucursales para más información.</p>  
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>

<!-- telefono -->
<div class="row">
	<div class="col-xs-12 ">
		<p class="mesajeTelefono">¿Necesitás ayuda? Podés realizar tus consultas telefónicamente.</p>
	</div>
	<div class="col-xs-12 ">
		<a href="" class="hidden-xs hidden-sm" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
		<a ng-href="tel:+{{msg().telefono}}" class="hidden-md hidden-lg" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
		<br>
		<br>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
		<br>
		<br>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
		<br>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
		<br>
	</div>
</div>

<div class="row">
	<div class="volverContainer">
		<input type="button" class="btn btn-consulta" ng-click="volver()" value="Volver">
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		&nbsp;
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
</div>
