<section class="referidos--home">

    <h1 class="page-title">Solicitar tu cuenta sueldo online es muy simple:</h1>
    <ul class="icons-consulta">
        <li>
            <span class="icon-g-ico_people"></span>
            <div>
                <p>Paso 1</p>
                <p class="last-of-type">Datos personales</p>
            </div>
        </li>
        <li>
            <span class="icon-g-herramienta"></span>
            <div>
                <p>Paso 2</p>
                <p class="is-desktop last-of-type">Abrimos tu <br> Cuenta Sueldo</p>
                <p class="is-mobile last-of-type">Abrimos tu Cuenta Sueldo</p>
            </div>
        </li>
        <li>
            <span class="icon-g-Paper"></span>
            <div>
                <p>Paso 3</p>
                <p class="is-desktop last-of-type">Informas tu nueva <br> cuenta a tu Empresa</p>
                <p class="is-mobile last-of-type">Informas tu nueva cuenta a tu Empresa</p>
            </div>
        </li>
    </ul>
    <div class="error-msg-block" ng-if="service.showMsg">
        <p ng-bind="service.msgError"></p>
    </div>
    <div class="row spacing-button">
        <div class="col-xs-12 text-center">
            <button elemento="a_bt_Empezar_ID" id="a_bt_Empezar_ID" class="btn btn-enviar" ng-click="empezar()">Empezar</button>
        </div>
    </div>
</section>