<div class="row plusPadLeft step4 form-width">
	<h1 class="text-center main-title has-subtitle">Ya casi terminamos</h1>
	<h2 class="text-center sub-title-two">Elegí como preferis registrar tu firma:</h2>
	<div class="col-xs-12 p-0">
		<p class="m-0 font-14">Para finalizar, podés acercarte a cualquiera de nuestras sucursales para registrar tu firma y activar tu cuenta o bien
			podés elegir que te visitemos a tu trabajo. Una vez que tengas tu firma registrada, la cuenta sueldo quedará habilitada
			para que puedas usarla con normalidad.</p>
		<div class="important-block important-step4 font-14">
			Junto con el registro de firma te pidimos la siguiente Documentación para acreditar la relación laboral: Certificado de trabajo,
			Recibo de Sueldo o Infomación de la Administración Federal de Ingresos Públicos ( AFIP ) y, D.N.I .
		</div>
		<div class="error-msg-block" ng-if="service.showMsg">
			<p ng-bind="service.msgError"></p>
		</div>
		<form name="dataRegister" class="text-center mt-30">
			<div class="center-wrapper">
				<div radio-button radio-options="data.radio"></div>
			</div>
			<!--<div class="row margin-input block-anim" ng-class="{'show-block': data.radio.selected == 'theyGo', 'visible-overflow': overflow }">
				<div class="form-group">
					<label for="street" class="control-label">Calle</label>
					<input type="text" name="street" id="street" ng-model="data.inputStreet" class="form-control" maxlength="25" set-error required>
				</div>
				<div class="clear-fix">
					<div class="form-group input-inline-4">
						<label for="number" class="control-label">Número</label>
						<input type="text" id="number" name="street" ng-model="data.inputNumber" class="form-control" maxlength="7" set-error required
						 validation-only-number>
					</div>
					<div class="form-group input-inline-4">
						<label for="floor" class="control-label">Piso</label>
						<input type="text" id="floor" name="floor" ng-model="data.inputFloor" class="form-control" maxlength="8" set-error>
					</div>
					<div class="form-group input-inline-4">
						<label for="depto" class="control-label">Depto.</label>
						<input type="text" id="depto" name="depto" ng-model="data.inputDepto" class="form-control" maxlength="7" set-error>
					</div>
					<div class="form-group input-inline-4">
						<label for="postal" class="control-label">Código Postal</label>
						<input type="text" id="postal" name="postal" ng-model="data.inputPostal" class="form-control" maxlength="5" set-error required
						 validation-only-number>
					</div>
				</div>
				<div class="clear-fix">
					<div localidades location-selected="data.locationSelected"></div>
				</div>
			</div>-->
			<div class="important-block important-step4 font-14" ng-class="{'no-visible': data.radio.selected == 'goToOffice'}">
				Nos contactaremos con vos al teléfono que nos indicaste para coordinar fecha y hora de la visita.
			</div>
			<div class="row spacing-button">
				<div class="col-xs-12 text-center">
					<button id="a_bt_Final_ID" submit form="dataRegister" callback="continue" no-validate="data.radio.selected == 'goToOffice'" class="btn btn-enviar">Continuar</button>
				</div>
			</div>
		</form>
	</div>
</div>