<div class="row plusPadLeft">
	<h1 class="text-center main-title">Contanos sobre vos.</h1>
	<div class="col-xs-12" ng-if="!errorService">
		<form name="step1.form">
			<div class="info-block">
				<div class="info-block-first">
					<div ng-repeat="dataInfo in data.dataBlockOne track by $index">
						<label ng-bind="dataInfo.label"></label><span ng-bind="dataInfo.value"></span>
					</div>
				</div>
				<div class="info-block-second">
					<div ng-repeat="dataInfo in data.dataBlockTwo track by $index">
						<label ng-bind="dataInfo.label"></label><span ng-bind="dataInfo.value"></span>
					</div>
				</div>
			</div>
			<div class="row spacing-button">
				<div class="col-xs-12 text-center bt-step-one">
					<button submit class="btn btn-enviar">Continuar</button>
				</div>
			</div>
		</form>
	</div>
</div>