<div class="row plusPadLeft">
	<h1 class="text-center main-title">Ayúdanos a contactarte de la mejor manera.</h1>
	<div class="col-xs-12 clear-content">
		<form name="form.step2" class="clear-content form-width">
			<div class="form-group col-md-6">
				<label for="emailId" class="control-label">Email</label>
				<input id="emailId" ng-model="inputEmail" type="text" name="email" class="form-control" placeholder="mariagonzalez@gmail.com"
				 set-error validate-email required>
			</div>

			<div class="form-group col-md-6">
				<label for="CelId" class="control-label">Celular</label>
				<input type="text" id="CelId" ng-model="inputCel" name="celular" class="form-control" placeholder="Ej: 1169167656" 
				 set-error validation-only-number validate-min-max-length minLenght="10" maxLength="10"  required>
			</div>
			<div class="col-xs-12 text-center bt-step-two">
				<button submit form="form.step2" callback="saveData" class="btn btn-enviar">Continuar</button>
			</div>
		</form>
	</div>
</div>