<div class="content-thy-page">
	<h1 class="text-center main-title has-subtitle thy-page">¿Cómo seguimos?</h1>
	<section class="section-content-thy">
		<h2>1. Registro de firma</h2>
		<p ng-bind="textSignature"></p>
		<div class="important-block">
			Es importante que envíes la nota que te proporcionamos firmada a RRHH de tu empresa para empezar a cobrar tu sueldo en BBVA
Francés.
		</div>
	</section>
	<section class="section-content-thy">
		<h2>2. Regalo de bienvenida</h2>
		<p>Con la acreditación de tu primer sueldo, te estaremos acreditando los Kilómetros LATAM Pass para que los canjees por viajes
o productos del catálogo.</p>
	</section>
	<section class="section-content-thy">
		<h2>3. Envío de productos</h2>
		<p>Tu tarjeta de débito llegará a la sucursal que elegiste. Recibirás un mensaje SMS cuando este lista para pasar a retirarla, recordá ir con tu D.N.I el día que vayas a la sucursal. Si ya tenés una Tarjeta de débito en BBVA Francés tu nueva cuenta estará asociada a tu débito actual.</p>
	</section>
	<form>
		<div class="row spacing-button">
			<div class="col-xs-12 text-center bt-step-one">
				<a class="btn btn-enviar" href="https://www.bbvafrances.com.ar/" ng-click="continue()">Finalizar</a>
			</div>
		</div>
	</form>
</div>