<div class="row plusPadLeft">
	<h1 class="text-center main-title has-subtitle individual-wrapper">Vamos a configurar tu cuenta</h1>
	<h2 class="text-center sub-title individual-wrapper">Para abrir la caja de ahorros en pesos seleccioná:</h2>
	<div class="col-xs-12 form-width-div">
		<form name="sucursales" class="clearfix">
			<div class="form-group col-md-6">
				<label for="emailId" class="control-label">Sucursal de radicación</label>
				<div sucursales options="officeOptions"></div>
			</div>
			<div class="form-group col-md-6 link-branch">
				<a id="a_lnk_encontrarSucursal_ID" href="http://w3.grupobbva.com/TLGO/tlgo/oficinas?op=svInicio&pais=ARG" target="_blank">Encontrar Sucursales BBVA.</a>
			</div>
		</form>
		<p class="add-padding line-height-20">Generamos una Tarjeta de Débito sin costo para que puedas operar desde tu caja de ahorro con mayor comodidad. Te la vamos
			a estar enviando a la sucursal que nos indicaste dentro de los próximos 10 días.</p>
		<form name="condiciones" class="text-center condition-form">
			<div checkbox checked="checked">
				<label>Acepto <a href="" data-toggle="modal" data-target="#terminosStep3">Términos y Condiciones</a></label>
			</div>
			<div class="error-msg-block m-b-0" ng-if="service.account.showMsg">
				<p ng-bind="service.account.msgError"></p>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<button id="a_btn_confirmarStep3_ID" submit form="sucursales" callback="continue" class="btn btn-enviar confirm" ng-disabled="!checked">Confirmar</button>
					<div>
						<a href="" class="back" ng-click="goBack()">Volver</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div ng-include="'modules/referidos/views/modal/terminosStep3.html'"></div>
<div ng-include="'modules/referidos/views/modal/pdf.html'"></div> 