<div class="modal fade" id="infoConsultaModal" tabindex="-1" role="dialog" aria-labelledby="navegadoresModalTitle" ng-controller="ModalStepOneController">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header referidos">
                <h1>Kilómetros de bienvenida LATAM Pass</h1>
            </div>
            <div class="modal-body referidos step-one">
                <p>Con tu <strong>primer sueldo</strong> en BBVA Francés te acreditamos kilómetros de bienvenida para que puedas
                    canjear por el viaje que quieras o por cualquiera de los productos del catálogo LATAM Pass. La cantidad
                    de kilómetros varía según el tipo de producto que tengas activado / actives:</p>
                <div card-modal-block card-data="dataFull"></div>
                <div card-modal-block card-data="dataPremium"></div>
                <div card-modal-block card-data="dataWorld"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-enviar thin" data-dismiss="modal">Volver</button>
                </div>
                <p class="legales">Cartera de Consumo. Oferta válida para altas efectuadas a partir de la aceptación de la oferta. Sujeto a
                    aprobación crediticia. (*) La bonificación corresponde a la comisión mensual del paquete siempre y cuando
                    acredite haberes en BBVA Francés. La comisión informada es al 01/03/2016. (**) Las tasas de interés a
                    aplicar son las vigentes al momento de su utilización publicadas en pizarra en nuestras sucursales. (***)
                    Sujeto a disponibilidad. (****) La bonificación se mantendrá mientras se mantenga el paquete activo.
                    (*****) Comisión anual del programa BBVA Francés Lanpass bonificada exclusivo para tarjetas de crédito
                    que se den de alta en conjunto con el paquete Premium y mantengan el paquete abierto. Por cada u$s1 o
                    su equivalente en pesos argentinos la acumulación es de 1.61 kms. Lanpass. Se utiliza el tipo de cambio
                    vendedor informado por el banco de la nación argentina el día anterior al cierre de cada liquidación
                    de tarjeta. No acumulable con otros programas de suma y acumulación de puntos. Lan administra el programa
                    Lanpass, y los términos y condiciones del mismo - disponibles en www.lan.com - son de su exclusiva propiedad,
                    por lo que puede modificarlos. (*****) UN SEGURO CONTRA ROBO EN CAJEROS AUTOMÁTICOS QUE OTORGA COBERTURA
                    EN CASO DE ASALTO DURANTE Y HASTA 10 MINUTOS DESPUÉS DE REALIZADA LA EXTRACCIÓN. COBERTURA EXCLUSIVA
                    PARA EL PRIMER TITULAR DEL PAQUETE. LOS ACCIONISTAS DE BBVA BANCO FRANCÉS S.A. LIMITAN SU RESPONSABILIDAD
                    A LA INTEGRACIÓN DE LAS ACCIONES SUSCRIPTAS LEY 19.550 Y LEY 25.738 CUIT 30-500000319-3. RECONQUISTA
                    199 CABA - CP 1003.</p>
                <p class="legales">Cartera de Consumo. Oferta válida para altas efectuadas a partir de la aceptación de la oferta. Sujeto a
                    aprobación crediticia. (*) La bonificación corresponde a la comisión mensual del paquete siempre y cuando
                    acredite haberes en BBVA Francés. La comisión informada es al 01/03/2016. (**) Las tasas de interés a
                    aplicar son las vigentes al momento de su utilización publicadas en pizarra en nuestras sucursales. (***)
                    Sujeto a disponibilidad. (****) La bonificación se mantendrá mientras se mantenga el paquete activo.
                    (*****) Comisión anual del programa BBVA Francés Lanpass bonificada exclusivo para tarjetas de crédito
                    que se den de alta en conjunto con el paquete Premium y mantengan el paquete abierto. Por cada u$s1 o
                    su equivalente en pesos argentinos la acumulación es de 1.61 kms. Lanpass. Se utiliza el tipo de cambio
                    vendedor informado por el banco de la nación argentina el día anterior al cierre de cada liquidación
                    de tarjeta. No acumulable con otros programas de suma y acumulación de puntos. Lan administra el programa
                    Lanpass, y los términos y condiciones del mismo - disponibles en www.lan.com - son de su exclusiva propiedad,
                    por lo que puede modificarlos. (*****) UN SEGURO CONTRA ROBO EN CAJEROS AUTOMÁTICOS QUE OTORGA COBERTURA
                    EN CASO DE ASALTO DURANTE Y HASTA 10 MINUTOS DESPUÉS DE REALIZADA LA EXTRACCIÓN. COBERTURA EXCLUSIVA
                    PARA EL PRIMER TITULAR DEL PAQUETE. LOS ACCIONISTAS DE BBVA BANCO FRANCÉS S.A. LIMITAN SU RESPONSABILIDAD
                    A LA INTEGRACIÓN DE LAS ACCIONES SUSCRIPTAS LEY 19.550 Y LEY 25.738 CUIT 30-500000319-3. RECONQUISTA
                    199 CABA - CP 1003.</p>
            </div>
        </div>
    </div>