<div class="modal fade" id="modalStep5" tabindex="-1" role="dialog" aria-labelledby="navegadoresModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header referidos">
                <h1>¿ Qué es esto ?</h1>
            </div>
            <div class="modal-body referidos step5">
                <div class="block-info-account">
                    <p><strong>Pendiente de activación</strong> significa que si bien ya tenés una Caja de Ahorro abierta, es necesario que registres
                        tu firma para que quede activada. Una vez que esto sucede, vas a poder usarla con normalidad. </p>
                    <p>Si elegiste que te visiten en tu trabajo, podrás registrar tu firma junto con el ejecutivo. En el caso
                        que hayas elegido ir a una Sucursal, podrás acercarte a registrar tu firma en cualquiera de nuestras
                        sucursales (te recomendamos ir a aquella que seleccionaste como sucursal de radicación).</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-enviar thin" data-dismiss="modal">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>