<div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="navegadoresModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header referidos">
                <h1>Aviso a tu Empresa</h1>
            </div>
            <div class="modal-body referidos pdf-modal">
                <p class="info-text">Para informale a tu empleador la solicitud de cambio de tu cuenta sueldo sólo necesitas descargar este PDF
                    con los datos de tu cuenta, firmarlo y enviarlo a RRHH de tu empresa.</p>
                <div class="block-info-account">
                    <h2>DATOS DE TU CUENTA</h2>
                    <div class="info-account">
                        <h3>Caja de Ahorro $</h3>
                        <span>N° </span><span ng-bind="accountData.descripcionCuenta"></p>
                    </div>
                    <div class="info-account">
                        <h3>CBU</h3>
                        <p ng-bind="accountData.cbu"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="a_btn_desacargarPDF_ID" type="button" class="btn btn-enviar confirm thin" ng-click="downloadPDF()"
                        download-pdf-file callback-download="dataDownloadPdf" 
                    >Descargar Nota</button>
                </div>
            </div>
        </div>
    </div>
</div>