<div class="modal fade" id="terminosStep3" tabindex="-1" role="dialog" aria-labelledby="navegadoresModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header referidos">
                <h1>Términos y Condiciones</h1>
            </div>
            <div class="modal-body referidos terms">
                <p>CONDICIONES GENERALES QUE RIGEN LA OPERATORIA DE LOS PRODUCTOS Y SERVICIOS DE BBVA BANCO FRANCES S.A.</p>
                <p>El Cliente firma esta solicitud en la que se detallan los términos y condiciones de los productos y/o servicios
                    contratados. La solicitud se integra con la información y documentos agregados por el Cliente, firmados
                    o no, en los que se suministra datos. En caso de diferencias entre las condiciones generales que a continuación
                    se detallan y las condiciones específicas de cada producto y/o servicio, se aplicarán estas últimas.
                </p>
                <p><strong>Por favor, lea atentamente las mismas y consulte ante cualquier duda antes de firmarlas.</strong></p>
                <h3>Partes</h3>
                <p class="mgb-0"><strong>Cliente:</strong>Es cada una de las personas físicas o jurídicas a cuyo nombre está la cuenta, productos
                    y servicios. Las personas físicas y/o jurídicas definidas como titular son responsables ilimitada y solidariamente,
                    ya sea que actúen por sí, por terceros, por representantes y/o apoderados.</p>
                <p><strong>Banco</strong>Es la Entidad Financiera, BBVA Banco Francés S.A.</p>
                <h3>1.- Aceptación</h3>
                <p class="mgb-0">Esta solicitud se entenderá como aceptada mediante alguno y/o algunos de los siguientes hechos:</p>
                <p class="mgb-0">En el caso de préstamos, mediante la acreditación de la suma solicitada en la cuenta indicada, en el caso
                    de cuentas, mediante su efectiva apertura, en el caso de cajas de seguridad, mediante la entrega de las
                    llaves, en el caso de tarjetas de crédito, mediante la entrega del plástico.</p>
                <p class="mgb-0">Una vez aprobada, el Banco remitirá la correspondiente confirmación a través del correo electrónico informado
                    en esta solicitud.</p>
                <p>Queda entendido que la mera presentación de esta solicitud no implica su aceptación.</p>
                <h3>2. Revocación</h3>
                <p>El cliente puede revocar la aceptación de los productos o servicios solicitados dentro del plazo de diez
                    días hábiles contados desde la fecha de recibido el contrato o de la disponibilidad efectiva del producto
                    o servicio, o lo que suceda último, sin costo ni responsabilidad alguna de su parte , siempre que no
                    los haya utilizado. Si hubiere sido utilizado, solo se le cobrarán los costos y comisiones previstos
                    proporcionalmente al tiempo que los usó. La revocación deberá notificarse de manera fehaciente o por
                    el mismo medio en que el servicio o producto fue contratado.
                </p>
                <h3>3- Titularidad</h3>
                <p class="mgb-0">
                    Cualquier cambio en la titularidad de las cuentas debe ser autorizado por todos sus titulares. Las cuentas pueden abrirse
                    bajo las siguientes modalidades: a) Cuentas a orden recíproca o indistinta; b) Cuentas a orden conjunta
                    o colectiva; c) Cuentas a nombre de una o más personas y a la orden de otra.
                </p>
                <p>
                    Las modificaciones realizadas por el Banco a solicitud del Cliente se aplicarán inmediatamente. El cierre de la cuenta, los
                    otorgamientos, modificaciones, renuncias o revocaciones de facultades y el cambio de domicilio, deberán
                    ser notificados previa y fehacientemente al Banco y requerirán el consentimiento de todos los titulares
                    solo cuando se trate de cuentas de titularidad conjunta.
                </p>
                <h3>4. Responsabilidad Solidaria</h3>
                <p><strong>Los titulares de productos y/o servicios asumen el carácter de codeudores solidarios y principales pagadores de todas las obligaciones contraídas y a contraer, por sí o por terceros autorizados, emergentes de todos los productos y/o servicios, renunciando expresamente a los beneficios de excusión y de división.</strong></p>
                <h3>5. Medios - Identificación</h3>
                <p>
                    El Cliente podrá operar con la Banca Electrónica / Telefónica y para ello se le solicitará su identificación y claves personales.
                    Por norma del B.C.R.A, el único documento de identificación válido para los argentinos, es el documento
                    nacional de identidad (D.N.I.) que deberá ser presentado, en cada oportunidad ante el Banco, en beneficio
                    de la propia seguridad y por exigencia de las normas vigentes.
                </p>
                <h3>6. Modificaciones - Entrada en vigencia</h3>
                <p>
                    El Banco puede modificar las condiciones generales y particulares de los productos y/o servicios, y/o las comisiones, y tiene
                    el deber de informarlo con 60 días de anticipación. Si el cliente no llegara a estar de acuerdo con las
                    modificaciones informadas, podrá poner término anticipado al contrato sin cargo siempre que lo haga antes
                    de que dichas modificaciones entren en vigencia y que lo comunique al Banco por medio fehaciente. En
                    este caso deberá cumplir con las obligaciones pendientes a su cargo.
                </p>
                <h3>7. Notificaciones</h3>
                <p class="mgb-0">
                    Las comunicaciones podrán efectuarse por cualquier medio disponible, en particular, mediante la inclusión de la información
                    en el resumen de cuenta; o a través de comunicaciones cursadas entre el Banco y el Cliente, salvo que
                    las normas impongan una formalidad especial. Asimismo, el Banco podrá incluir las comunicaciones en su
                    portal de internet www.bbvafrances.com.ar y/o en las carteleras de las sucursales y/o en cualquier publicación
                    -incluyendo folletos o boletines de información- que se remiten a los Clientes, hoy denominado "News".
                </p>
                <p class="mgb-0">
                    Por este medio, el cliente informa la dirección de correo electrónico en la que desea recibir los mensajes, avisos, alertas
                    y/o notificaciones. El cliente se compromete a tomar las precauciones necesarias para que la información
                    que se envíe a su correo electrónico solo sea vista por él. El cliente declara conocer y aceptar que
                    la información que se envíe a su correo electrónico incorpora la fecha y hora en que fue generada.
                </p>
                <p class="mgb-0">
                    El cliente declara conocer que, por razones de seguridad, el Banco podrá incorporar en los mensajes que le envíe sus datos
                    personales en forma parcial. Asimismo, declara conocer que la presente importa el consentimiento que
                    prevé la Ley Nº 25.326 de Protección de Datos Personales y sus normas reglamentarias. A su vez, acepta
                    considerar como prueba las constancias que surjan del sistema informático del Banco.
                </p>
                <p>
                    El cliente se compromete a actualizar su dirección de correo electrónico, y quedan bajo su exclusiva responsabilidad las
                    consecuencias que dicha acción u omisión impliquen, sin que pueda alegar falta de notificación por parte
                    del Banco.
                </p>
                <h3>8. Registro de firma</h3>
                <p>
                    El Cliente debe, en el primer contacto, registrar su firma en el Banco, <strong>y se obliga a notificar cualquier cambio en la misma
                        y a concurrir a actualizar su registro ante cada solicitud del Banco.</strong>
                </p>
                <h3>9. Resumen de Cuenta</h3>
                <p>
                    Los movimientos, débitos, créditos, saldos, transferencias, intereses, comisiones, impuestos, aranceles, retenciones, ajustes
                    de toda operación o cargo relacionado con los productos y/o servicios, se informarán en el resumen de
                    cuenta, que se emitirá conforme a la periodicidad determinada por el Banco para cada producto o la que
                    el Cliente solicite abonando un cargo adicional. No obstante el envío del resumen, el mismo puede ser
                    consultado por los medios electrónicos donde se encuentren disponibles: Francés Net y/o a través de consultas
                    en cajeros automáticos u otro medio adicional que pudiese existir. En cualquier momento el Cliente podrá
                    solicitar copias de los resúmenes de cuenta los que tendrán un cargo.
                </p>
                <h3>10-Débito Automático</h3>
                <p>
                    En caso de solicitar el alta del Débito Automático de un servicio, se deberán informar los códigos de referencia de las facturas
                    correspondientes según el requerimiento de cada empresa a vincular.
                </p>
                <p class="mgb-0">
                    <strong><em>Débito Automático en Cuenta: </em></strong> El Cliente podrá solicitar al Banco mediante
                    orden expresa y escrita la suspensión de un débito hasta el día hábil anterior inclusive a la fecha de
                    vencimiento. La orden de suspensión deberá indicar la obligación de que se trata, y la cantidad de débitos
                    futuros a suspender a partir del próximo.
                </p>
                <p>
                    Asimismo podrá, dentro de los 30 (treinta) días corridos desde la fecha del débito, revertir débitos por el importe total
                    de cada operación. La solicitud deberá indicar la obligación de que se trata, la fecha de débito, el
                    importe correspondiente y todo otro dato adicional que permita al Banco identificar la operación. La
                    devolución de los fondos será efectuada dentro de las 72 (setenta y dos) horas hábiles siguientes a la
                    fecha en que el Banco reciba la instrucción del Cliente. En caso de superar el importe de Pesos setecientos
                    cincuenta ($750), el Banco procederá a la devolución, siempre y cuando la empresa originante del débito
                    no se oponga por haber hecho efectiva la diferencia de facturación en forma directa. El Cliente presta
                    conformidad y libera de toda responsabilidad al Banco que debitará a la empresa pública o privada prestataria
                    del servicio el importe revertido. Cuando el Cliente se haya solicitado el servicio de pago directo de
                    servicios y/o impuestos ante la empresa pública o privada prestataria deberá gestionar ante la misma
                    la suspensión y/o interrupción de los débitos del pago directo.
                </p>
                <p class="mgb-0">
                    <strong><em>Débito Automático en Tarjeta de Crédito: </em></strong>Para solicitar el alta de débitos
                    automáticos de impuestos y/o servicios sobre una TC BBVA Francés es requisito que el comercio este adherido
                    al momento del requerimiento en la tarjetera que opte para el servicio, Visa y/o Mastercard. Para ello
                    podrán consultarle en forma online en "www.visa.com.ar" o "www.masterconsultas.com.ar" o en los teléfonos
                    disponibles informados por la tarjetera.
                </p>
                <p>
                    El Cliente podrá ordenar al Banco mediante orden expresa y escrita la suspensión de un débito hasta el día hábil anterior
                    inclusive a la fecha de vencimiento. La orden de suspensión deberá indicar la obligación de que se trata,
                    y la cantidad de débitos futuros a suspender a partir del próximo vencimiento. El cliente podrá establecer
                    montos máximos a debitar de su cuenta por cada servicio y/o impuesto que desee, informando en orden expresa
                    la obligación de que se trata brindando los datos necesarios que se requiera para confirmar la operación
                    que requiere. Si las distintas obligaciones contratadas no pudieran debitarse en la fecha pactadas porque
                    las cuentas que tienen esta orden de débito no están en situación normal, el banco no será responsable
                    de este pago ni de los perjuicios que pudiera ocasionarle al cliente. Cuando el Cliente se haya adherido
                    al servicio de débito automático de servicios y/o impuestos ante la empresa pública o privada prestataria
                    deberá gestionar ante la misma la suspensión y/o interrupción de los débitos.
                </p>
                <h3>11.- Operaciones por ventanilla</h3>
                <p>
                    El cliente tiene derecho a efectuar operaciones por ventanilla sin restricciones de tipo de operación ni de monto mínimo,
                    salvo las que pudieran existir por cuestiones operativas. No se aplican comisiones a las operaciones
                    efectuadas por personas físicas, salvo en los casos de transferencias, en los que se aplicarán las comisiones
                    máximas fijadas por el BCRA y detalladas en la tabla de comisiones y gastos.
                </p>
                <h3>12 Banca Electrónica / Telefónica</h3>
                <p>
                    <strong><em>Descripción del servicio: </em></strong>El banco dispone de una plataforma transaccional,
                    en la que, previa identificación, el cliente puede realizar consultas generales de producto, incluyendo
                    saldos de cuentas, movimientos, cotizaciones, tenencias, recepción de mensajes e inversiones, en forma
                    no excluyente; y realizar transacciones con movimientos de fondos tanto sea entre sus propias cuentas
                    como hacia terceros en esta u otras entidades; o realizar modificaciones al domicilio legal del cliente,
                    quedando el banco autorizado a dar curso a esas solicitudes de información u operación.
                </p>
                <p class="mgb-0">
                    <strong><em>Acceso a dicha plataforma: </em></strong>El Cliente podrá operar a través de los dispositivos
                    disponibles en el mercado, ya sea en terminales habilitadas a tal efecto dentro del Banco, en forma telefónica
                    o a través del sitio "www.bbvafrances.com.ar" u otro acceso que se habilite con posterioridad.
                </p>
                <p>
                    El Cliente debe identificarse ingresando su tipo y número de documento y una clave personal, secreta, confidencial e intransferible
                    de su exclusivo conocimiento que será suficiente elemento para dar curso a las transacciones que solicita.
                    Está prohibido divulgar esta clave a terceros, quedando bajo responsabilidad del cliente las consecuencias
                    de esta divulgación. El Cliente se identificará con los datos mencionados a través del sistema automático,
                    o los que se le requieran. El Cliente declara conocer que la clave (password) utilizada resulta inaccesible
                    para conocimiento del Banco y/o terceros.
                </p>
                <p>
                    <strong><em>Contenido: </em></strong>Las operaciones cursadas a través de estos medios serán tomadas
                    "en firme", salvo aquellas que se contrapongan con otras pactadas en el mismo día o simultáneamente,
                    o que deban ser necesariamente confirmadas por el Banco. La información de las operaciones realizadas
                    tendrá el carácter de provisoria y queda sujeta a la posterior verificación del Banco. En caso de error
                    u omisión, la operación se comprobará a través de los registros del Banco.
                </p>
                <p>
                    <strong><em>Validez: </em></strong>No tienen validez las instrucciones formuladas a través del e-mail
                    (correo electrónico) y/o fax u otro mecanismo que no sea los descriptos, salvo que así se convenga en
                    forma específica.
                </p>
                <p>
                    <strong><em>Responsabilidades: </em>Los medios que el Banco ponga a disposición del cliente deben ser utilizados de acuerdo a las instrucciones
                        brindadas por el Banco. El cliente será responsable por cualquier circunstancia que pueda surgir
                        por el incumplimiento de la presente obligación. El Banco puede modificar, suspender y/o interrumpir
                        el servicio.</strong> Ocurrida una interrupción por cualquier causa, el Cliente
                    siempre tendrá la alternativa de solicitar la información u ordenar las transacciones requeridas mediante
                    los medios tradicionales en las sucursales del Banco. El Banco no asume ninguna responsabilidad por los
                    inconvenientes que el Cliente tuviera con el equipo y/o hardware y/o proveedor utilizado para conectarse
                    a este servicio.
                </p>
                <p>
                    <strong><em>Prueba de las transacciones: </em></strong> El Cliente acepta que las órdenes y mensajes
                    que envíe por los medios especialmente habilitados serán tenidos como prueba de haber realizado las transacciones.
                    El Cliente autoriza expresamente al Banco a que las conversaciones telefónicas que se efectúen por cualquiera
                    de los servicios que utilice, puedan ser grabadas y presentadas eventualmente como medio de prueba en
                    juicio.
                </p>
                <p><strong><em>Rescisión del servicio: </em></strong> El Banco y/o el cliente podrán solicitar la baja de este
                    servicio. De esta forma al Cliente no podrá operar con los canales de Línea Francés, Autoservicio, Banca
                    móvil, Francés net y los que en el futuro de determinen.
                </p>
                <h3>13. Condiciones para la utilización de Cajeros Automáticos</h3>
                <p class="mgb-0">
                    El cliente puede usar este servicio a través de una tarjeta magnetizada, personal e intransferible que emite el banco, y
                    una clave personal que será de su exclusivo conocimiento. Está prohibido revelar la clave a terceros,
                    por ende quedan bajo la exclusiva responsabilidad del cliente las consecuencias de no respetar esa prohibición.
                </p>
                <p>
                    El cliente puede utilizar todos los cajeros habilitados para la prestación de este servicio. Las operaciones realizadas después
                    de la hora de cierre, según lo determinado en cada plaza, de cada día hábil, o en día no hábil, se considerarán
                    a todos sus efectos como realizadas el día hábil siguiente. El cliente puede abonar bienes y servicios
                    con su tarjeta de débito en los comercios habilitados, respetando los límites de compra que haya pactado
                    con el banco, y con débito en la cuenta de caja de ahorro y/o cuenta corriente asociada para su uso.
                    En caso de utilizar el servicio de cajeros automáticos, serán obligaciones del cliente: a) Hacer las
                    operaciones únicamente de acuerdo con las instrucciones que se le proporcione y/o conforme a las demostraciones
                    prácticas que el mismo le brinde. b) En caso de pérdida, robo o hurto de la tarjeta magnetizada dar aviso
                    de inmediato a alguno de los centros habilitados a tal fin y por escrito al banco, acompañando la constancia
                    de denuncia policial. c) Devolver al banco las tarjetas en caso de cierre de cuenta. El banco no será
                    responsable por hechos o actos de terceros, daños, o cualquier otra contingencia que impidieran la normal
                    utilización de las tarjetas en los cajeros. Las operaciones realizadas por este servicio de cajeros automáticos
                    quedan sujetas a la posterior verificación por parte del banco. En caso de error u omisión del cliente,
                    la operación se comprobará a través de los registros del banco.
                </p>
                <h3>14. Recomendaciones para el uso de cajeros automáticos</h3>
                <p class="mgb-0">14.1. Cambiar el código de identificación o de acceso o clave o contraseña personal ("password", "PIN") asignada
                    por el banco, por uno que el cliente seleccione, el que no deberá ser su dirección personal, ni su fecha
                    de nacimiento u otro número que sea de fácil deducción o pueda obtenerse fácilmente de documentos que
                    se guarden en el mismo lugar que su tarjeta.</p>
                <p class="mgb-0">14.2. No divulgar el número de clave personal ni escribirlo en la tarjeta magnética provista o en un papel
                    que se guarde con ella, ya que dicho código es la llave de ingreso al sistema y por ende a sus cuentas.
                    </p>
                <p class="mgb-0">14.3. No digitar la clave personal en presencia de personas ajenas, aun cuando pretendan ayudarlo, ni facilitar
                    la tarjeta magnética a terceros, ya que ella es de uso personal.</p>
                <p class="mgb-0">14.4. Guardar la tarjeta magnética en un lugar seguro y verificar periódicamente su existencia.</p>
                <p class="mgb-0">14.5. No utilizar los cajeros automáticos cuando se encuentren mensajes o situaciones de operación anormales.</p>
                <p class="mgb-0">14.6. Al realizar una operación de depósito, asegurarse de introducir el sobre que contenga el efectivo o
                    cheques conjuntamente con el primer comprobante emitido por el cajero durante el proceso de esa transacción,
                    en la ranura específica para esa función, y retirar el comprobante que la máquina entregue al finalizar
                    la operación, el que le servirá para un eventual reclamo posterior.</p>
                <p class="mgb-0">14.7. No olvidar retirar la tarjeta magnética al finalizar las operaciones.</p>
                <p class="mgb-0">14.8. Si el cajero le retiene la tarjeta o no emite el comprobante correspondiente, comunicar de inmediato
                    esa situación al banco que la otorgó y dar aviso de inmediato a alguno de los centros habilitados a tal
                    fin.</p>
                <p class="mgb-0">14.9. En caso de pérdida o robo de su tarjeta, denunciar de inmediato esta situación al banco que la otorgó.
                </p>
                <p class="mgb-0">14.10. En caso de extracciones cuando existieren diferencias entre el comprobante emitido por el cajero y
                    el importe efectivamente retirado, comunicar esa circunstancia al banco en el que efectuó la operación
                    y al administrador del sistema, a efectos de solucionar el problema.</p>
                <h3>15. Seguros de vida sobre saldos de deuda</h3>
                <p class="mgb-0">
                    <strong><em>A) Productos: </em></strong>Cuentas Corrientes, Tarjetas de Crédito y Préstamos Personales.
                </p>
                <p>
                    El Banco contratará por cuenta y orden del Cliente en la compañía que este seleccione dentro de las ofrecidas por el Banco
                    un Seguro de Vida sobre Saldo de Deuda asociado al producto elegido.<strong> Se deja constancia que según
                        los montos, edades, y la suma asegurada por participante se le/s requerirá completar un formulario
                        particular y/o la realización de exámenes médicos y análisis clínicos".</strong>
                </p>
                <p class="mgb-0">
                    <strong><em>B) Coberturas del Seguro sobre Saldo de Deuda para Cuentas, Tarjetas y Préstamos Personales.</em></strong>
                </p>
                <p class="mgb-0">B. 1) el Seguro cubre los riesgos de muerte e invalidez total y permanente. El beneficio por invalidez reemplaza
                    al Capital Asegurado que se debería liquidar en caso de muerte.
                </p>
                <p class="mgb-0">B.2) en caso de muerte o Invalidez total y permanente, i) para el caso de Préstamos Personales la Compañía
                    abonará al Banco la indemnización por el siniestro que será igual al saldo de deuda del préstamo y de
                    acuerdo al porcentaje de participación del mismo. ii) Para el caso de Cuenta Corriente y/o Tarjetas de
                    Crédito la Compañía abonará al Banco la indemnización por el siniestro que será igual al saldo de deuda.
                </p>
                <p>
                    <strong><em>Declaración de salud: </em></strong>Con expreso conocimiento de la siguiente disposición
                    de la Ley 17.418: Art. 5, "Toda declaración falsa o toda reticencia de circunstancias conocidas por el
                    asegurado aun hechas de buena fe, que a juicio de peritos hubiese impedido el contrato o modificado sus
                    condiciones, si el asegurador hubiese sido cerciorado del verdadero estado del riesgo, hace nulo el contrato",
                    declaro asimismo, en mi nombre y en el de cualquier otra persona que tenga interés en cualquier póliza
                    que a consecuencia de esta propuesta se emita, que todas las respuestas dadas a su cuestionario son completas
                    y verídicas, y constituyen la condición de validez de este seguro con la Compañía.
                </p>
                <p><strong><em>Y convengo en que: </em></strong></p>
                <p class="mgb-0">1.- Solamente el Directorio de la Compañía, o sus representantes especialmente autorizados, tengan la facultad
                    de resolver sobre la aceptación del seguro que propongo y la emisión del respectivo certificado.
                </p>
                <p class="mgb-0">2.- La Compañía sólo se responsabilice por las promesas que estén de acuerdo con las tarifas, planes de seguro
                    y formularios que tengan aprobados por la Superintendencia de Seguros de la Nación.</p>
                3.- La Compañía no asuma responsabilidad alguna hasta que acepte el seguro y emita el certificado de cobertura.</p>
                <h3>16. Impuestos</h3>
                <p>Todos los impuestos presentes o futuros que graven la documentación, transacciones, productos, servicios
                    y/o al Cliente, estarán a cargo de este último salvo que por disposiciones legales corresponda su devolución.
                </p>
                <h3>17. Mora</h3>
                <p class="mgb-0">La mora del cliente se producirá en forma automática por el mero vencimiento del plazo de pago, sin necesidad
                    de interpelación alguna. En este caso el Banco puede dar por vencidos todos los plazos pendientes; cerrar
                    la/s cuenta/s y/o producto/s y/o servicio/s; exigir el pago total de la deuda, sus intereses compensatorios
                    y cobrar intereses punitorios equivalentes al 50 % (cincuenta por ciento) del interés compensatorio pactado,
                    y demás accesorios y gastos. En su caso, podrá iniciar las acciones judiciales correspondientes. El Cliente
                    también incurrirá en mora en los siguientes supuestos que se enuncian a continuación a título de ejemplo:
                    a) si no pagare al vencimiento; b) si da a los fondos un destino distinto al declarado; c) si se niega
                    a proporcionar información y/o documentación requerida por el Banco; d) si incumple cualquier disposición
                    legal o reglamentaria cuya violación sea sancionada con la cancelación de los créditos bancarios; e)
                    si el Cliente y/o el codeudor solicitara su propia quiebra o ésta les fuera pedida por terceros y no
                    fuera levantada en la primera oportunidad procesal; f) si no informase fehacientemente al Banco acerca
                    del fallecimiento, inhabilitación, concurso o quiebra del codeudor o no propusiera otros dentro de las
                    72 (setenta y dos) horas de ocurrido el hecho; g) En caso de que el Banco no aceptare el codeudor propuesto
                    en virtud del inciso anterior; h) si dejara de cumplir cualquier otro crédito u obligación hacia el Banco.
                </p>
                <p class="mgb-0">
                    La omisión o demora por parte del Banco en el ejercicio de cualquier derecho no puede considerarse como una renuncia al mismo,
                    así como su ejercicio parcial no impedirá implementarlo posteriormente.
                </p>
                <p>
                    Los gastos y honorarios que se originen en la eventual cobranza judicial o extra judicial de las sumas adeudadas o de las
                    garantías de las mismas están a cargo del cliente.
                </p>
                <h3>18. Embargos</h3>
                <p>
                    Ante la notificación de embargos u otras medidas emanadas de una autoridad judicial y/o administrativa, los fondos presentes
                    y/o futuros, depositados serán destinados al cumplimiento de las mismas, con independencia del destino
                    que les hubiera dado el Cliente. Dicha transferencia estará sujeta a comisión. Las medidas serán notificadas
                    al Cliente luego de su cumplimiento.
                </p>
                <h3>19. Compensación</h3>
                <p class="mgb-0">En caso que el Cliente no pague las sumas adeudadas, el Banco tiene derecho a debitarlas sin previa notificación
                    de cualquier otra cuenta o créditos de cualquier naturaleza que existiesen a nombre del Cliente y/u orden
                    indistinta, aun cuando dichos saldos se encuentren expresados en otra moneda o valor El Banco tiene derecho
                    a efectuar, por cuenta del Cliente las operaciones de cambio que sean necesarias.
                </p>
                <p class="mgb-0">En caso de cuentas a la orden conjunta de uno o más titulares, la compensación se efectuará en la proporción
                    que corresponda a él o los obligados al pago.
                </p>
                <p>
                    Las compensaciones efectuadas en ningún caso importan novación quedando subsistentes y con plena vigencia los avales, fianzas,
                    obligaciones solidarias, privilegios y/o garantías reales que existan constituidas a favor del Banco.
                </p>
                <h3>21. Identificación de Clientes y disposiciones vinculadas con la Ley 25.246 (y modificatorias), normas de
                    la U.I.F. (Unidad de Información Financiera) y del BCRA.
                </h3>
                <p class="mgb-0">El Cliente se compromete a informar al Banco los datos de carácter personal y a entregar aquellos documentos
                    que los acrediten para su correcta identificación y, en particular, aquellos que el Banco le pida, a
                    través de los documentos y formularios indicados, y deban obrar en su poder, en cumplimiento de las políticas
                    de la entidad, la normativa vigente en materia de identificación de clientes, prevención de lavado de
                    dinero o de índole fiscal. Asimismo será responsable de comunicar y acreditar cualquier modificación
                    de sus datos y circunstancias personales.
                </p>
                <p class="mgb-0">Todos y cada uno de los Titulares declaran que la suscripción de la presente Solicitud de Productos y Servicios
                    se realiza en nombre propio. En caso contrario, la obligación contemplada en esta estipulación se entenderá
                    extendida a facilitar la correspondiente información de la persona o personas por cuenta de las que se
                    actúe.
                </p>
                <p class="mgb-0"><strong>El Cliente se compromete a no realizar ningún tipo de transacción bajo las presentes condiciones de contratación, que carezca de justificación económica o jurídica, o que sea de inusitada o injustificada complejidad realizada en forma aislada o reiterada. El Cliente declara que los fondos que va a ingresar a su/s cuenta/s tendrán un origen lícito. El Cliente se compromete a colaborar con el Banco aportando toda información y/o documentación adicional que pruebe fehacientemente su identidad, personería jurídica, domicilio y demás datos, a los efectos de su conocimiento como Cliente. </strong>El
                    Banco puede rehusarse a la realización de depósitos, transferencias y todo otro tipo de operación requerida
                    por el Cliente, cuando según las disposiciones vigentes, dichas transacciones pudieren relacionarse en
                    cualquier grado con las operaciones identificadas en el primer punto de la presente cláusula.
                </p>
                <p class="mgb-0">El Banco puede solicitar al Cliente documentación complementaria de las operaciones cuestionadas y, en caso
                    de que la misma no fuera presentada o fuera insuficiente para justificarlas económica o jurídicamente,
                    el Banco se reserva el derecho de no hacer las mencionadas transacciones; proceder al cierre de las cuentas,
                    productos y/o servicios y de informar a la Unidad de Información Financiera (UIF), en los términos del
                    artículo 21 de la ley 25.246 y sus modificatorias y al Banco Central de la República Argentina (B.C.R.A.)
                </p>
                <p class="mgb-0"><strong>El cliente declara que en caso de ser sujeto obligado de acuerdo a la ley 25.246 (y modificatorias), cumple con las obligaciones propias de un sujeto obligado de acuerdo a lo establecido en la mencionada ley y normativas correspondientes de la Unidad de Información Financiera.</strong></p>
                <p class="mgb-0"><strong>En virtud de las Resoluciones 121-2011 y 03-2014 de la UIF, el cliente declara bajo juramento que los datos consignados debajo de la firma de la presente, en relación a su situación como Sujeto Obligado son correctos, completos y fiel expresión de la verdad y que ha leído y recibido la "Nómina de los Sujetos Obligados" (LS-1395).</strong></p>
                <p class="mgb-0">
                    <strong>Asimismo, se compromete a informar cualquier modificación que se produzca en este aspecto, dentro de los treinta (30) días corridos ocurrida la misma, mediante la presentación de una declaración jurada que actualice la presente. En caso de ser Sujeto Obligado y de acuerdo a lo exigido por la Resolución U.I.F. 03/2014 deberá acompañar a la presente la constancia de inscripción ante la Unidad de Información Financiera.
                        </strong>
                </p>
                <p>Los datos consignados en el presente revisten el carácter de declaración jurada en los términos de las Presentes
                    Resoluciones y modificatorias.
                </p>
                <h3>22. Condiciones de tratamiento de datos</h3>
                <p class="mgb-0">
                    <strong>
                            El cliente acepta que la información que otorga  ("la información") puede ser utilizada por personas autorizadas por el Banco sean dependientes o no, las que estarán sometidas a las políticas de confidencialidad de información del Banco. La información puede ser utilizada para administrar el negocio y para brindar asesoramiento sobre productos y servicios, ya sea en forma directa o a través de terceros. En particular el Banco utilizará dichos datos para: a) La gestión de la relación contractual; b) La prestación de servicios financieros derivados de la relación contractual; c) El control y valoración automatizada o no de riesgos, impagos e incidencias derivadas de relaciones contractuales; d) realizar de segmentaciones o perfiles de Cliente, con fines comerciales a efectos de adaptar los productos o servicios a necesidades o características específicas, así como con fines de análisis de riesgos para evaluar nuevas operaciones, en ambos supuestos conservando dichas segmentaciones o perfiles en tanto y en cuanto el interviniente mantenga relación contractual con el Banco, pudiendo oponerse en cualquier momento a dicho tratamiento; e) El envío, a través de cualquier medio, por parte del Banco o de otros terceros por cuenta del Banco, de distintos tipos de informaciones o publicidades, personalizadas o no, sobre productos o servicios bancarios o de terceros; Cuando así lo disponga el Cliente tendrá el derecho de acceder a la información y solicitar su rectificación o supresión de la base de archivo.
                        </strong>
                </p>
                <p>
                    <strong>
                            El Cliente autoriza al Banco a comunicar sus datos de identificación a las entidades estén o no vinculadas con el mismo, con la finalidad de remitirle por correo electrónico u otro medio de comunicación, información sobre productos o servicios bancarios o de terceros
                        </strong>
                </p>
                <p class="mgb-0">Asimismo, el Banco informa al Cliente de que sus datos podrán ser cedidos a las autoridades competentes cuando
                    las leyes o regulaciones de aplicación así lo establezcan.
                </p>
                <p class="mgb-0">En función del Estándar de la Organización para la Cooperación y Desarrollo Económicos (OCDE) para el Intercambio
                    Automático de Información en Asuntos Fiscales y de las disposiciones de la Ley de cumplimiento fiscal
                    de cuentas extranjeras (“Foreign Account Tax Compliance Act” - FATCA) de los Estados Unidos de América,
                    el cliente autoriza al Banco a ceder información a autoridades de terceros paises por operatorias desarrolladas
                    en los mercados internacionales tales como Estados Unidos. Lo expuesto, ya sea de forma agregada o individual,
                    según el caso.
                </p>
                <p>
                    <strong>El titular de los datos personales tiene el derecho de acceso a los mismos en forma gratuita en intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley 25326.</strong>
                </p>
                <p>
                    La DIRECCION NACIONAL DE PROTECCION DE DATOS PERSONALES, Órgano de Control de la Ley Nº 25.326, tiene la atribución de atender
                    las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección
                    de datos personales.
                </p>
                <p class="mgb-0"><strong>Sistemas de información:</strong></p>
                <p class="mgb-0">Ante la solicitud de cualquier producto, el Banco puede solicitar información a las agencias de informes
                    comerciales a fin de evaluar la situación crediticia del Cliente
                </p>
                <p class="mgb-0">El Cliente acepta que estará sujeto a la clasificación e inclusión en la "Central de deudores del sistema
                    financiero", de conformidad a la normativa vigente del B.C.R.A., dado que es obligación del Banco informar,
                    solamente, al Banco Central de la República Argentina todos los datos que éste le requiera o que pudiera
                    requerirle en el futuro, relacionados con sus Clientes. No será responsabilidad del Banco el manejo de
                    la información por parte de terceros distintos al B.C.R.A., dado que la misma no ha sido proporcionada
                    por este.
                </p>
                <h3>23. Publicidad</h3>
                <p>
                    El Banco cumple con todas las disposiciones del B.C.R.A. y demás organismos de contralor. El Cliente puede solicitar información
                    adicional, encontrándose a su disposición, el texto completo de las normas reglamentarias las que, también,
                    podrán ser consultadas a través de "internet" en la dirección "www.bcra.gov.ar".
                </p>
                <h3>24. Garantía de los depósitos</h3>
                <p>
                    En cada uno de los documentos representativos de las operaciones pasivas (boletas de depósito, comprobantes emitidos por
                    cajeros automáticos, resúmenes de cuenta, plazo fijos, etc.) se especificará la situación del producto
                    y/o servicio frente al sistema de seguro de garantía (ley 24.485). El Banco no será responsable por los
                    hechos del príncipe, esto es el acto del Poder Público que sin tener en cuenta las cláusulas contractuales,
                    rompe unilateralmente lo pactado entre la Administración y un particular y agrava las cargas en que éste
                    había convenido.
                </p>
                <h3>25. Atención de reclamos</h3>
                <p>
                    El Cliente puede efectuar los reclamos, quejas, sugerencias y/o agradecimientos que estime corresponder mediante alguno de
                    los medios disponibles: por vía telefónica a través de Línea Francés al nro. 0-800-333-0303, y/o por
                    vía electrónica a través de la opción "Contáctenos" ubicada en la página web del Banco (www.bbvafrances.com.ar)
                    y en Francés Net, por correo postal y/o ante cualquiera de las sucursales del Banco, en los cuales se
                    le informará al Cliente el número correspondiente de identificación del trámite, para su seguimiento.
                    El Banco se ha adherido al Código de Prácticas Bancarias elaborado por las distintas Asociaciones de
                    Bancos y Entidades Financieras de la República Argentina. Los textos pueden ser consultados por el Cliente
                    en las sucursales del Banco y en el portal www.bbvafrances.com.ar.
                </p>
                <h3>26. Documentación </h3>
                <p class="mgb-0">
                    En virtud de la obligación del Cliente de proporcionar al Banco cierta información y documentación respaldatoria (Puntos
                    21y.22), el Banco puede solicitar al Cliente la entrega de documentación adicional y/o complementaria.
                    En caso de que la misma no fuera presentada en el plazo de diez días o fuera insuficiente, el Banco se
                    reserva el derecho de proceder al cierre de las cuentas, productos y/o servicios. Esta facultad del banco
                    es genérica y está directamente relacionada al deber general de colaboración del cliente, rigiendo en
                    forma concurrente a las previsiones referidas al cierre de cada producto o servicio en particular.
                </p>
                <p class="mgb-0">
                    El Banco informará al Cliente la suspensión de sus productos y los motivos que la generaron. Esta comunicación se hará con
                    carácter previo a la suspensión. Excepcionalmente se notificará inmediatamente después cuando existan
                    razones de seguridad objetivamente justificadas o la notificación previa fuese contraria a cualquier
                    otra disposición normativa. El Banco dejará sin efecto la suspensión una vez hayan dejado de existir
                    los motivos que la originaron. En este caso el Cliente puede solicitar el cese de la suspensión.
                </p>
                <p>
                    El Banco puede cancelar los productos del Cliente que se encontrasen suspendidos cuando no se haya registrado ningún motivo
                    que lo habilite a dejar sin efecto la suspensión. El Cliente debe mantener actualizada la documentación
                    que acredite la personería y facultades de los firmantes. El Banco no asume responsabilidad alguna por
                    la falta de información de caducidad de mandatos o sustitución de representantes legales hasta tanto
                    se le notifique fehacientemente, a través de la entrega de copia certificada de la documentación que
                    respalde las modificaciones. El cierre de la cuenta, los otorgamientos, modificaciones, renuncias o revocaciones
                    de facultades, el cambio de domicilio, el alta o baja en los productos y/o servicios o cotitulares requieren
                    el consentimiento de todos los titulares y su notificación fehaciente previa al Banco. La documentación
                    deberá ser presentada en la sucursal donde se encuentra radicada la cuenta y/o producto.
                </p>
                <h3>27. Términos y condiciones de E-Resumen</h3>
                <p>
                    27.1. El cliente solicita el envío/puesta a disposición de los resúmenes y/o pólizas de BBVA Seguros a través de su correo
                    electrónico y mediante el sistema de visualización de Francés net con la posibilidad de recibir un recordatorio
                    vía Mail, dejando sin efecto el envío por correo postal. 27.2. El cliente declara conocer y aceptar que
                    el alta del servicio "E-Resumen" no lo exime de responsabilidad alguna respecto al cumplimiento en tiempo
                    y forma de todas y cada una de las obligaciones que asumiera con el Banco y BBVA Seguros conforme las
                    condiciones generales de contratación oportunamente suscriptas para cada uno de los productos que posee
                    activos con la entidad. Lo expuesto incluye los casos en los que por cualquier causa no recibiera el/los
                    resumen/es y/o pólizas en la dirección de correo electrónico denunciada ante el Banco al momento de contratar/aceptar
                    este servicio. 27.3. El cliente manifiesta conocer que el alta del servicio E-Resumen no es obligatoria.
                    27.4. El cliente se compromete a actualizar la dirección de correo electrónico en la que el Banco informará
                    la disponibilidad del resumen de sus productos. Podrá visualizar el resumen a través de Francés Net.
                    La modificación debe efectuarla ingresando a través de la opción Mis Datos. 27.5. El cliente conoce y
                    acepta que en caso que la dirección de correo electrónico proporcionada sea incorrecta, inválida, incompleta,
                    en caso de que sufriere modificaciones, o no fuere actualizada; no recibirá el aviso de disponibilidad
                    de su resumen/ póliza en Francés Net, conforme lo establece el punto 4. Quedan bajo su exclusiva responsabilidad
                    las consecuencias que dicha acción u omisión impliquen. 27.6. La información que el cliente recibe en
                    virtud del Servicio contratado es de uso personal y confidencial, por lo cual se compromete a no denunciar
                    direcciones de e-mail que no fueren de su uso personal. Del mismo modo, adopta todas las precauciones
                    necesarias para que la información que se envíe a su correo electrónico sea visualizada y conocida por
                    él y mantiene indemne al Banco y a BBVA Seguros de toda responsabilidad si no adoptase tales recaudos.
                    27.7. El cliente elige las empresas de correo electrónico y los proveedores de las tecnologías y equipos
                    requeridos que le resulten confiables. Las condiciones de contratación con estas empresas o proveedores
                    son ajenas al Banco. Por ello el Banco y BBVA Seguros no son responsables de los inconvenientes que el
                    servicio contratado con dichas compañías pudiere generarle respecto a la recepción del mail de aviso
                    contratado. 27.8. El Banco y BBVA Seguros son responsables por el funcionamiento adecuado de los sistemas
                    tecnológicos necesarios para generar el aviso sobre la disponibilidad de la documentación. 27.9. Al aceptar
                    los presentes términos y condiciones el cliente presta el consentimiento que prevé la ley 25.326 de Protección
                    de Datos Personales y sus normas reglamentarias, y se hace responsable de cualquier consecuencia, en
                    relación a la Ley mencionada. 27.10. El cliente acepta considerar como prueba las constancias que surjan
                    del sistema informático del Banco. 27.11. El Cliente conoce que el Banco y BBVA Seguros quedan autorizados
                    a poner término, total o parcialmente a este servicio y/o modificarlo cuando lo consideren conveniente
                    sin expresión de causa mediante comunicación por escrito con un plazo mínimo de 60 días.
                </p>
                <h3>28. Domicilio y Jurisdicción</h3>
                <p>
                    El Cliente constituye domicilio especial en el indicado en la solicitud de vinculación. En ese domicilio serán válidas todas
                    las notificaciones hasta que informe al Banco lo contrario. Todo cambio de domicilio regirá a partir
                    de que el Cliente notifique fehacientemente la modificación al Banco. En caso de titularidad conjunta
                    la comunicación realizada a cualquiera de los Clientes servirá respecto de todos.
                </p>
                <p>
                    A todos los efectos legales queda expresamente establecida la aplicación irrevocable de la Ley Argentina para cualquier divergencia
                    que se suscite, sometiéndose las partes a la jurisdicción de los Tribunales Ordinarios de la República
                    Argentina, con competencia en materia comercial, correspondientes al domicilio especial fijado por el
                    Cliente. Asimismo, ambas partes renuncian, expresamente, a cualquier otro fuero o jurisdicción que les
                    pudiera corresponder.
                </p>
                <p>CONDICIONES PARTICULARES DE LOS PRODUCTOS Y SERVICIOS</p>
                <h3>Cajas de Ahorro</h3>
                <p class="mgb-0">El Cliente puede solicitar la apertura de una caja de ahorro en Pesos; Dólares estadounidenses u otras monedas
                    que el Banco determine. Los depósitos deben realizarse en la misma moneda de la cuenta.
                </p>
                <p>La apertura de una caja de ahorro en pesos será gratuita y no estará condicionada a la adquisición de ningún
                    otro producto y/o servicio financiero.
                </p>
                <p>
                    <strong>Depósitos:</strong> El importe mínimo correspondiente al depósito inicial será aquél que indique
                    el Banco en la tabla de comisiones. El Cliente no podrá depositar cheques antes de los 180 (ciento ochenta)
                    días de abierta la cuenta.
                </p>
                <p>
                    <strong>Intereses:</strong> El Banco paga intereses por períodos vencidos no inferiores a 30 (treinta)
                    días salvo que el cálculo del interés diario arroje una suma menor a 0,01. Los saldos acreedores devengarán
                    a favor del Cliente el tipo de interés nominal que se informe, en cada momento, en las condiciones particulares
                    de la cuenta.
                </p>
                <p>
                    <strong>Resumen:</strong> El resumen de cuenta se emite en forma cuatrimestral. El Cliente puede solicitar
                    su emisión mensual, bimestral o trimestral pagando un costo adicional.
                </p>
                <p>
                    <strong>Saldos:</strong> El cliente podrá disponer de los saldos de su cuenta a través de los medios
                    que el Banco ponga a su disposición. Los depósitos que no sean en efectivo, estarán disponibles una vez
                    acreditados en la cuenta. Los movimientos no podrán generar saldo deudor en la cuenta. Cualquier suma
                    adeudada por el cliente deberá cancelarse en un plazo de 48 (cuarenta y ocho) horas de originada la misma,
                    bajo apercibimiento de informar la situación morosa a la central de deudores del sistema financiero.

                </p>
                <p>
                    <strong>Depósitos:</strong> El importe mínimo correspondiente al depósito inicial será aquél que indique
                    el Banco en la tabla de comisiones. El Cliente no podrá depositar cheques antes de los 180 (ciento ochenta)
                    días de abierta la cuenta.
                </p>
                <p class="mgb-0">
                    <strong>Cierre de cuenta:</strong> Las cuentas podrán ser cerradas:
                </p>
                <p class="mgb-0">
                    a) Por decisión del cliente mediante la presentación en el Banco y el retiro total del saldo.
                </p>
                <p class="mgb-0">
                    b) Por decisión del Banco: Se comunicará a los clientes por correo mediante pieza certificada por lo menos 30 días antes
                    del cierre de la misma y trasladar los fondos a saldos inmovilizados, cuando el cliente no cumpla las
                    condiciones operativas que surgen del manual de procedimientos y/o cuando ocurra alguno de los casos
                    que a continuación se detallan:
                </p>
                <p class="mgb-0">
                    b.1- Por inhabilitación judicial o legal.
                </p>
                <p class="mgb-0">
                    b.2- Por depositar en su cuenta 1 o más cheques presuntamente adulterados.
                </p>
                <p class="mgb-0">
                    b.3- Si el cliente cae en quiebra o insolvencia.
                </p>
                <p class="mgb-0">
                    b.4- Si el cliente no cumple con todas o cada una de las condiciones previstas en el presente.
                </p>
                <p class="mgb-0">
                    b.5- Si el cliente incurre en omisiones, errores o da información falsa al Banco.
                </p>
                <p class="mgb-0">
                    b.6- Si el cliente presenta al Banco documentación falsa, apócrifa o adulterada.
                </p>
                <p class="mgb-0">
                    b.7- Si el cliente se niega a presentar cualquier tipo de documentación requerida por el Banco.
                </p>
                <p class="mgb-0">
                    b.8- Si la cuenta estuviere siendo utilizada para fines distintos de los informados al momento de su apertura.
                </p>
                <p class="mgb-0">
                    b.9- Si el cliente registra en sus cuentas movimientos sospechosos, inusuales, sin justificación económica o jurídica, o
                    de complejidad inusitada o injustificada; ya sean los mismos esporádicos o reiterados.
                </p>
                <p class="mgb-0">
                    b.10- Si el único titular fallece.
                </p>
                <p class="mgb-0">
                    b.11- Si la cuenta no registra movimientos (deposito o extracciones) realizados por él o/los titulares por 730 días corridos.
                </p>
                <p class="mgb-0">
                    b.12- No registre saldo por 730 días corridos.
                </p>
                <p>
                    Las cláusulas de estas condiciones generales y particulares cumplen lo previsto en las Resoluciones 26/03, 53/03 y 9/04 de
                    la SECRETARIA DE COORDINACIÓN TÉCNICA del MINISTERIO DE ECONOMÍA Y PRODUCCIÓN, cuyos textos se encuentran
                    a disposición de los Clientes en las sucursales y en la página web del Banco "www.bbvafrances.com.ar"
                </p>
                <p>
                    Usted puede consultar el “Régimen de Transparencia” elaborado por el Banco Central de la República Argentina sobre la base
                    de la información proporcionada por los sujetos obligados a fin de comparar los costos, características
                    y requisitos de los productos y servicios financieros, ingresando 
                    <a href="http://www.bcra.gob.ar/Informacion_usuario/iaureg010000.asp" target="_blank">aquí</a>
                </p>
                <p class="mgb-0">
                    El cliente tiene derecho de solicitar la apertura de la Caja de ahorros” en pesos con las prestaciones previstas en el punto
                    1.X. de las normas sobre “Depósitos de ahorro, cuenta sueldo y especiales”, las cuales serán gratuitas.
                </p>
                <p class="mgb-0">
                    En función de la Resolución 52/2012 emitida por la U.I.F. (Unidad de Información Financiera). El cliente declara bajo juramento
                    que los datos consignados debajo de la firma de la presente, en relación a su situación como Persona
                    Políticamente Expuesta son correctos, completos y fiel expresión de la verdad y que ha leído y recibido
                    la "Nómina de Funciones de Personas Expuestas Políticamente" (LS-982).
                </p>
                <p>
                    Asimismo, se compromete a informar dentro de los 30 (treinta) días de ocurrida la misma cualquier modificación que se produzca
                    en este aspecto mediante la presentación de una declaración jurada que actualice la presente. Los datos
                    consignados en el presente revisten el carácter de declaración jurada en los términos de las Presentes
                    Resoluciones y modificatorias.
                </p>
                <p>
                    El cliente deja constancia que ha recibido del Banco copia de la OPASI operaciones pasivas 2 - I - 1 Cajas de ahorro y de
                    las condiciones y términos que rigen esta Solicitud las cuales manifiesto conocer y aceptar de conformidad.
                </p>
                <p>
                    El cliente declara conocer y aceptar que podrá solicitar al Banco copia de la presente, la que se encontrará a su disposición
                    en la sucursal de radicación de sus productos.
                </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-enviar thin" data-dismiss="modal">Volver</button>
                </div>
            </div>
        </div>
    </div>