<style type="text/css">


.outline {
  outline: 1px dashed rgba(0, 128, 0, 0.5);
}

.radius, .cupon, .cupon-content .data, .cupon-content .data .footer .detalle a {
  border-radius: 4px;
}

.shadow, .cupon {
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.cupon {
  width: 24%;
  min-width: 310px;
  max-width: 475px;
  overflow: hidden;
  position: relative;
  float: left;
  margin: 5px;
  color: #333;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  background-color: #f9f8f6;
}
@media screen and (max-width: 1024px) {
  .cupon {
    width: 32%;
  }
}
@media screen and (max-width: 768px) {
  .cupon {
    width: 48%;
  }
}
@media screen and (max-width: 640px) {
  .cupon {
    width: 90%;
    min-width: auto;
    margin: 7px auto;
    float: none;
  }
}
.cupon-content .image-bg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.cupon-content .image-bg img {
  display: block;
  width: 110%;
  height: auto;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}
@media screen and (max-width: 480px) {
  .cupon-content .image-bg img {
    width: auto;
    height: 110%;
  }
}
.cupon-content .data {
  clear: both;
  position: relative;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 5px;
  padding: 5px;
  overflow: hidden;
}
.cupon-content .data .wrapper-detalle {
  display: table;
}
.cupon-content .data .wrapper-detalle > div {
  width: 45%;
}
@media screen and (max-width: 480px) {
  .cupon-content .data .wrapper-detalle > div {
    width: 100%;
    display: block !important;
  }
}
.cupon-content .data .wrapper-detalle .logo {
  display: table-cell;
  vertical-align: middle;
}
.cupon-content .data .wrapper-detalle .logo img {
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
}
@media screen and (max-width: 480px) {
  .cupon-content .data .wrapper-detalle .logo img {
    width: 75%;
  }
}
.cupon-content .data .wrapper-detalle .info-cupon {
  display: table-cell;
  vertical-align: middle;
}
.cupon-content .data .wrapper-detalle .info-cupon .descuento {
  font-size: 2.8rem;
}
.cupon-content .data .wrapper-detalle .info-cupon .codigo {
  font-size: 1.1rem;
}
.cupon-content .data .footer {
  clear: both;
  display: table;
  margin-top: 15px;
  color: #333;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
}
.cupon-content .data .footer > div {
  display: table-cell;
  vertical-align: middle;
  margin: 5px;
  padding: 7px 5px;
}
.cupon-content .data .footer .detalle {
  text-align: right;
  font-size: 2rem;
  line-height: 1;
}
.cupon-content .data .footer .detalle a {
  text-decoration: none;
  color: #333;
  font-weight: normal;
  vertical-align: middle;
  line-height: .7;
  display: block;
  padding: 3px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}
.cupon-content .data .footer .detalle a:hover {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}


</style>

<div class="cupon">
    <div class="cupon-content">
        <div class="image-bg">
            <img alt="" ng-src="{{$ctrl.cupon.coupon.image}}"/>
        </div>
        <div class="data">
            <div class="wrapper-detalle">
                <div class="logo">
                    <img alt="" ng-src="{{$ctrl.cupon.coupon.imageSmall}}"/>
                </div>
                <div class="info-cupon">
                    <div class="descuento">
                        -{{$ctrl.cupon.coupon.discount}}%
                    </div>
                    <div class="codigo">
                        {{$ctrl.cupon.codigo}}
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="tope">
                    {{$ctrl.cupon.coupon.top}}
                </div>
                <div class="metodos">
                    {{$ctrl.cupon.coupon.descMediosPago}}
                </div>
                <div class="vencimiento">
                    {{$ctrl.cupon.coupon.dateEnd}}
                </div>
                <div class="detalle">
                    <a href="voucher?voucher_id={{$ctrl.cupon.id}}">
                        +
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
