/* LISTA */
.subrubro-nombre {
    padding-left: 30px;
}
.rubro-nombre {
    font-weight: 800;
}

/* BACKEND */
#edit-grupo-imagen-rubro-idimagen-0-remove-button,
#edit-grupo-imagen-rubro-idimagen-1-remove-button,
#edit-grupo-imagen-rubro-idimagen-2-remove-button,
#edit-grupo-imagen-rubro-idimagen-3-remove-button,
#edit-grupo-imagen-rubro-idimagen-4-remove-button,
#edit-grupo-imagen-rubro-idimagen-5-remove-button,
#edit-grupo-imagen-rubro-idimagen-6-remove-button,
#edit-grupo-imagen-rubro-idimagen-7-remove-button,
#edit-grupo-imagen-rubro-idimagen-8-remove-button,
#edit-grupo-imagen-rubro-idimagen-9-remove-button,
#edit-grupo-imagen-rubro-idimagen-10-remove-button,
#edit-grupo-imagen-rubro-idimagen-11-remove-button,
#edit-grupo-imagen-rubro-idimagen-12-remove-button,
#edit-grupo-imagen-rubro-idimagen-13-remove-button,
#edit-grupo-imagen-rubro-idimagen-14-remove-button,
#edit-grupo-imagen-rubro-idimagen-15-remove-button,
#edit-grupo-imagen-rubro-idimagen-16-remove-button,
#edit-grupo-imagen-rubro-idimagen-17-remove-button,
#edit-grupo-imagen-rubro-idimagen-18-remove-button,
#edit-grupo-imagen-rubro-idimagen-19-remove-button,
#edit-grupo-imagen-rubro-idimagen-20-remove-button{
    background-color: #de2929!important;
    border-color: #de2929!important;
}
form#fgo-backend-rubro-editar-form .form-item{
    width: 100%;
}
form#fgo-backend-rubro-editar-form .fieldset-wrapper > div {
  display: none;
}
/*
* MEDIA SCREEN
*/
@media only screen and (min-width:530px){
    fieldset#edit-grupo-imagen-rubro div[id$="ajax-wrapper"]{
        width: 50%;
        float: left;
    }
}
