<section class="additional-section">
    <h3> Además accedes a los mejores beneficios por cobrar tu sueldo en BBVA: </h3>
    <div class="has-icon">
        <span class="icon-g-_ico_regalo"></span>
        <div class="block--info-aside">
            <p>Te recibimos con kilómetros LATAM Pass de bienvenida.</p>
            <a id="a_lnk_MasInfo_ID" href="" data-toggle="modal" data-target="#infoConsultaModal">+ INFO</a>
        </div>
    </div>
    <div class="has-icon">
        <span class="icon-g-ico_check"></span>
        <div class="block--info-aside">
            <p>Tarjetas de crédito 100% bonificadas con tu cuenta sueldo:</p>
            <img alt="visa" src="./modules/referidos/img/ofertasDigitales/-g-card_visa.png" class="card-img">
            <img alt="master" src="./modules/referidos/img/ofertasDigitales/-g-_card_master.png" class="card-img">
        </div>
    </div>
    <div class="has-icon">
        <span class="icon-g-_ico_avion plane"></span>
        <div class="block--info-aside">
            <p>Programa LATAM Pass bonificado.</p>
        </div>
    </div>
    <div class="has-icon">
        <span class="icon-g-_ico_discount"></span>
        <div class="block--info-aside">
            <p>Descuentos en tus compras de Kilómetros LATAM Pass.</p>
        </div>
    </div>
</section>
<div ng-include="'modules/referidos/views/modal/infoAsideConsulta.html'"></div>
