<section class="additional-section strong-text" ng-controller="Paso5Controller">
    <h3>Caja de Ahorro $ <br> <span>N° </span><span ng-bind="data.step3.accountData.descripcionCuenta"></span></h3>
    <h3>CBU <p ng-bind="data.step3.accountData.cbu"></p></h3>
    <h3>Estado <br> Pendiente de Activación <a href="" data-toggle="modal" data-target="#modalStep5">QUÉ ES ESTO?</a></h3>
</section>

<div ng-include="'modules/referidos/views/modal/modalStep5.html'"></div>