<div class="referidos--thy-page" ng-controller="Paso5Controller">
    <div class="content-text">
        <h1>¡Felicitaciones, <span ng-bind="data.step1.nombre"></span> <br> Bienvenida a BBVA Francés</h1>
        <h3>Te enviamos el detalle de la cuenta a <span ng-bind="data.step2.mail"></span></h3>
    </div>
</div>