<div class="modal fade" id="avisoLegalModal" tabindex="-1" role="dialog"
	aria-labelledby="avisoLegalModalTitle">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h2>Aviso Legal</h2>

				<p>BBVA Banco Francés S.A. es una sociedad anónima constituida
					bajo las leyes de la República Argentina cuyos accionistas limitan
					su responsabilidad a la integración de las acciones suscritas de
					acuerdo a la Ley 19.550. Por consiguiente, y en cumplimiento de la
					Ley 25.738, se informa que ni los accionistas mayoritarios de
					capital extranjero ni los accionistas locales o extranjeros
					responden, en exceso de la citada integración accionaria, por las
					obligaciones emergentes de las operaciones concertadas por la
					entidad financiera.</p>
				<p>El hecho de acceder al presente sitio de BBVA Banco Francés
					S.A. implica la aceptación de los términos y condiciones que se
					detallan a continuación.&nbsp;</p>
				<p>El BBVA Banco Francés S.A. publica en sus páginas Web
					información relacionada con el tipo de actividad, productos y
					servicios que ofrece. BBVA Banco Francés S.A. se reserva el derecho
					de modificar la información y los productos y servicios ofrecidos y
					sus condiciones sin necesidad de comunicación previa. &nbsp;</p>
				<p>El usuario que ingresa a la página de Banco Francés se
					compromete a utilizar la misma en forma licita y de acuerdo a los
					presentes términos y condiciones.&nbsp;</p>
				<p>El BBVA Banco Francés S.A. no se responsabiliza de daños o
					perjuicios derivados del acceso, uso o mala utilización de los
					contenidos de la Web y de esta página en particular.&nbsp;</p>
				<p>El BBVA Banco Francés S.A. no se responsabiliza de las
					posibles discrepancias que puedan surgir entre la versión de sus
					documentos impresos y la versión electrónica de los mismos
					publicados en sus páginas Web, como así tampoco de la información
					publicada en los sitios sobre los cuales posee vínculos o de la
					imposibilidad de acceder a los mismos.&nbsp;</p>
				<p>El BBVA Banco Francés S.A. no se responsabiliza por las
					interrupciones de este servicio, por cualquier causa que impida el
					acceso a esta página.&nbsp;</p>
				<p>El BBVA Banco Francés S.A. prohibe la copia, duplicación,
					redistribución, comercialización o cualquier otra actividad que se
					pueda realizar con los contenidos de sus páginas Web ni aún citando
					las fuentes, salvo consentimiento por escrito del BBVA Banco
					Francés S.A.&nbsp;</p>
				<p>
					<br>
				</p>
				<p>
					<strong>USO DE COOKIES&nbsp;</strong>
				</p>
				<p>El presente website recoge información estadística del
					usuario mediante el almacenamiento de una “cookie” en el disco duro
					del visitante. La citada información en modo alguno identifica ni
					es susceptible de identificar personalmente al usuario, es decir,
					es totalmente anónima.&nbsp;</p>
				<p>La información recogida se utilizará por el Banco para
					adquirir mayor conocimiento sobre la actividad de los visitantes
					del sitio de BBVA, en aras de mejorar el mismo y aumentar la
					efectividad de su presencia on-line.&nbsp;</p>
				<p>Para recabar dicha información y someterla a un tratamiento
					estadístico para BBVA, se utilizan los servicios de WebSideStory's
					HBX; ello implica &nbsp;que la recogida y almacenamiento de la
					indicada información (en adelante, los procedimientos) se realiza
					mediante “cookies” directamente entre el navegador del usuario y el
					servidor de WebSideStory's HBX . Cuando el usuario se conecte
					nuevamente con el presente website, el citado servidor reconocerá
					el número almacenado en “cookie”, según se ha indicado,
					suministrando la información anónima referida. &nbsp;</p>
				<p>Los procedimientos están gestionados y controlados
					exclusivamente por WebSideStory's HBX . Si desea conocer la
					declaración de privacidad y políticas de privacidad y cookies de
					WebSideStory’s HBX puede hacerlo en esta dirección:
					http://www.websidestory.com/privacy.&nbsp;</p>
				<p>El usuario puede en cualquier momento desactivar el uso de
					las cookies mediante la modificación de los parámetros de
					configuración de su navegador (consulte las instrucciones de su
					navegador para realizar esto). La desactivación no impide la
					visualización de las páginas de este website ni interfiere en la
					navegación.</p>

			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-enviar thin" data-dismiss="modal">Cerrar</button>
			</div>
		</div>


	</div>
	
</div>
