<div class="modal fade" id="navegadoresModal" tabindex="-1" role="dialog"
	aria-labelledby="navegadoresModalTitle">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<!-- 				<h4 class="modal-title" id="modalTitle">Modal title</h4> -->
			</div>
			<div class="modal-body">
				<h2>Aviso sobre navegadores</h2>
				<p>Para brindar la mejor calidad y velocidad de navegación
					nuestro sitio está desarrollado en función de las últimas
					versiones de los navegadores, y requiere tener instalado el
					reproductor de Macromedia Flash versión 5 o superior. Le
					recomendamos instalar alguna de las últimas versiones de MS
					Internet Explorer para tener una mejor navegación en nuestro
					sitio.&nbsp;</p>
				<p>
					<br>
				</p>
				<p>
					Asimismo, si desea instalar o actualizar el reproductor de
					Macromedia Flash, &nbsp;puede hacerlo haciendo <a
						href="http://www.macromedia.com/shockwave/download/download.cgi?P1_Prod_Version=Sh"
						target="_blank">click aquí</a>.&nbsp;
				</p>
				<p>
					<br>
				</p>
				<p>Internet Explorer 8</p>
				<p>Firefox 17</p>
				<p>Chrome</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-enviar thin" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
