body {
    max-width: 1024px!important;
    overflow-x:hidden; 
    .breadcrumb{
        margin-left: 28px;
    }
    #configuracion {
        padding-left: 0px;
        width: 90px;
        font-size: 11px;
        font-family: 'bbva light';
    }
    #content {

        #views_slideshow_cycle_teaser_section_slide-block {
            height: 541px !important;
        }
        .inner{
            .region-slideshow{
                .block-views{
                    .content{
                        .view-slide{
                            .skin-default{
                                .views_slideshow_cycle_main{
                                    .views-slideshow-cycle-main-frame{
                                        .views-slideshow-cycle-main-frame-row {
                                            .views-slideshow-cycle-main-frame-row-item{
                                                .field-content{
                                                    img{
                                                        height: 100%!important;
                                                        width: 100%!important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #page {
        #slideshow-wrapper {
            .skin-default {
                #views_slideshow_cycle_main_slide-block {
                    #views_slideshow_cycle_teaser_section_slide-block,
                    #views_slideshow_cycle_main_slide-block_1 {
                        .views-slideshow-cycle-main-frame-row {
                            img {
                                width: 100% !important;
                                max-width: 1024px!important;
                                min-width: 962px !important;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
        #footer {
            .region-footer {
                #block-bbva-footer_socials {
                    width: 310px;
                    height: 190px;
                    margin-right: 0;
                    margin-left: 20px;
                    .block-inner{
                        .field-description{
                            width: 85%;
                            font-size: 14px;
                            line-height: 17px;

                        }
                        .block-title{
                            font-size: 21px;
                            height: 30px;
                        }
                        .field-subtitle{
                            font-size: 17px;
                        }
                    }
                    
                }
                #block-bbva-footer_mobile {
                    width: 311px;
                    height: 190px;
                    margin-right: 0;
                    .block-inner {
                        width: 90%;
                        margin: 0 auto;
                        .field-description{
                            font-size: 14px;
                            line-height: 17px;
                        }
                        .field-mobiles {
                            .link-android {
                                width: 85px;
                            }
                            .link-iphone {
                                width: 79px;
                            }
                        }
                        .block-title{
                            font-size: 21px;
                            height: 30px;
                        }
                        .field-subtitle{
                            font-size: 17px;
                        }
                    }
                }
                #block-bbva-footer_video {
                    width: 31%;
                    height: 190px;
                    margin-right: 0;
                    padding-left: 15px;
                    .block-inner {
                        width: 90%;
                        margin: 0 auto;
                        .field-description {
                            width: 45%;
                            margin-right: 18px;
                            font-size: 14px;
                            line-height: 17px;
                        }
                        .field-videos {
                            margin: 18px 0 0 0;
                        }
                        .block-title{
                            font-size: 21px;
                            height: 30px;
                        }
                        .field-subtitle{
                            font-size: 17px;
                        }
                    }
                }
            }
        }
        #pre-footer {
            .inner {
                #block-imageblock-1 {
                    .block-inner {
                        width: 100%;
                        max-width: 1024px;
                    }
                }
                .region-pre-footer
                #block-quicktabs-quicktabs {
                    .block-inner {
                        #quicktabs-quicktabs {
                            #quicktabs-tabpage-quicktabs-1 {
                                .jcarousel-list-horizontal {
                                    .field-items {
                                        .group-fields-title {
                                            margin-left: 13px;
                                            margin-right: -13px;
                                            margin-top: 35px;
                                        }
                                        .field-quotes{
                                            margin-right: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    #quicktabs-container-quicktabs {
                        width: 950px;
                        margin: 0 auto;
                        .view-content {
                            .jcarousel-container-horizontal {
                                min-height: 327px;
                                width: 101%;
                                max-width: 950px;
                                .jcarousel-next {
                                    right: 15px;
                                    top: 125px;
                                }
                                .jcarousel-clip-horizontal {
                                    ul {
                                        li {
                                            .field-item {
                                                .group-fields {
                                                    width: 91%;
                                                    .group-fields-promotion {
                                                        padding: 33px 0 10px;
                                                        font-size: 392%;
                                                        font-weight: normal;
                                                        font-family: 'bbva light';
                                                        line-height: 16px;
                                                        width: 34%;
                                                        height: 45px;
                                                        float: left;
                                                        letter-spacing: -2px;
                                                        margin-left: 10px;
                                                    }
                                                    .group-fields-duration {
                                                        font-size: 294%;
                                                        span.porcent {
                                                            font-size: 119%;
                                                        }
                                                    }
                                                    .group-fields-logo {
                                                        margin-right: 0;
                                                        margin-top: -4px;
                                                        img {
                                                            margin-top: 44%;
                                                            margin-left: 20%;
                                                            width: 88%;
                                                        }
                                                    }
                                                }
                                            }   
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #header {
            min-height: 96px;
            padding: 0;
            border: 0;
            .container {
                padding: 0;
                margin: 0 0 0 30px;
                #logo {
                    padding: 26px 5px 0 0;
                    width: 160px;
                    height: 49px;
                    float: left;
                    margin-top: 13px;
                    margin-right: 7px;
                }
                .region-header {
                    width: 80%;
                    float: left;
                    #block-dropdown_login-login_dropdown{
                        /*width: 199px;*/
                        margin-top: inherit;
                        #dropdown-login {
                            a.login.button{
                                        margin-top: 25px;
                                        font-size: 11px;
                                    
                                
                            }
                        }
                    }
                    #block-bbva-search_content {
                        width: 134px;
                        margin-top: 15px;
                        .content {
                            #bbva-search-form {
                                input#edit-keyword {
                                    width: 70%;
                                    font-size: 8px;
                                }
                            }
                        }
                    }
                    #block-menu-menu-experience {
                        width: 400px;
                        ul {
                            li {
                                font-size: 12px;
                                margin-top: -4px;
                                a.menu-download{
                                    width: 84px;
                                    font-size: 11px;
                                    background: #0079C1 url("../../../images/ico_descargar.png") no-repeat 22px 11px;
                                }

                                a.menu-beneficios{
                                    background-position: 18px 0;
                                }
                                a.menu-futbol{
                                    background-position: 5px 0;
                                }
                                a.menu-espectaculos{
                                    background-position: 30px 0;
                                }
                                a.menu-viajes{
                                    background-position: 11px 0;
                                }
                                a.menu-autos{
                                    background-position: 3px 4px;
                                }
                            }    
                        }
                    }
                    #block-menu-menu-menu-principal {
                        float: right;
                        width: 70px;
                        margin-top: 25px;
                        margin-right: 7px;
                        ul {
                            li {
                                font-size: 11px;
                                text-align: center;
                                left: -7px;
                                a {
                                    width: 61px;
                                    background-position-x: 20px;
                                    padding-right: 7px;
                                }
                            }
                        }
                    }
                    #block-views--exp-benefit_filters-block_1 {
                        float: right;
                        width: 190px;
                        margin-left: 15px;
                        .views-exposed-widgets {}
                        form {
                            margin: 30px 0 0 0;
                            #edit-field-tags-tid-wrapper {
                                .form-item {
                                    input.form-autocomplete {
                                        width: 150px;
                                        height: 40px;
                                        padding: 6px 6px 6px 6px;
                                        font-size: 13px;
                                    }
                                }
                            }
                            .views-exposed-widget {
                                input.form-submit {
                                    height: 40px;
                                    width: 40px;
                                    margin: 0;
                                    border-radius: 0 8px 8px 0;
                                }
                            }
                        }
                        input.form-text {
                            width: 276px;
                        }
                    }

                    /*region header*/
                }
                /*container*/
            }
        }
        /*header*/
        #higlighted-area {
            width: 931px!important;
            .todos_zonas_elegir, .todos_rubros_elegir {
                margin-bottom: 15px;
                margin-top: 8px;
                height: 20px;
            }
            .todos-rubros, .todos-zonas {
                float: left;
            }
            position: relative;
            z-index: 998;
            width: 980px;
            transition: 0.5s margin-top;
            .region-highlight {
                #block-webform-client-block-63 {
                    h2 {
                        font-size: 19px;
                        width: 194px;
                        line-height: 35px;
                        height: 34px;
                    }
                    .content {
                        input, select {
                            height: 24px !important;
                        }
                        .webform-client-form {
                            label {
                                font-size: 11px !important;
                                font-weight: normal;
                                font-family: 'bbva light';
                            }
                            .gender {
                                width: 30px;
                                height: 25px;
                                padding: 3px;
                            }
                            #edit-actions--2 {
                                input {
                                    width: 130px;
                                    margin: -39px 15px 15px 0;
                                    line-height: 25px;
                                }
                            }
                            .form-item-nombre, .form-item-apellido {
                                margin-bottom: 0px;
                                height: 48px;
                            }
                            .form-item-document-type {
                                margin-bottom: 0px;
                            }
                            .form-item-document-number {
                                margin-bottom: 7px;
                            }
                            .form-item-day, .form-item-month, .form-item-year {
                                height: 30px;
                            }
                            .form-item-email {
                                height: 50px;
                            }
                            .form-item-celular {
                                margin-bottom: 0px;
                            }
                            .form-item-compania {
                                height: 50px;
                            }
                            .form-item-pass1, .form-item-pass2 {
                                height: 50px;
                            }
                            .bbva-form-item-sexo {
                                height: 46px;
                            }
                            #webform-component-fields {
                                #webform-component-fields--subtitle {
                                    line-height: 28px;
                                    height: 29px;
                                    font-size: 16px;
                                }
                            }
                            .pregunta-soy-cliente {
                                margin: 8px 0 5px 13px;
                                height: 29px;
                                a{
                                    width: 160px;
                                }
                                a + a{
                                    width: 160px;
                                }
                                #soy, #nosoy {
                                    line-height: 30px;
                                }
                            }
                        }
                    }
                }
                #block-views-solo_por_hoy-block {
                    width: 567px;
                    h2.block-title {
                        font-size: 20px;
                        line-height: 33px;
                        height: 33px;
                        .view-content {
                            .skin-default {
                                #views_slideshow_cycle_teaser_section_solo_por_hoy-block {}
                            }
                        }
                    }
                    .content {
                        .view-solo-por-hoy{
                            float: left;
                        }
                        #jcarousel-skin-default {
                            img {
                                width: 228px !important;
                            }
                        }
                        #views_slideshow_cycle_main_solo_por_hoy-block {
                            width: 335px !important;
                            max-width: 335px !important;
                            max-height: 430px;
                            margin-top: -32px;
                            #views_slideshow_cycle_teaser_section_solo_por_hoy-block {
                                width: 335px !important;
                                height: 430px !important;
                                max-height: 430px !important;
                                img {
                                    width: 335px !important;
                                    max-width: 335px !important;
                                    margin-top: -1px;
                                }
                            }
                        }
                        .views-slideshow-controls-top {
                            width: 232px;
                            .views-slideshow-pager-field-item {
                                padding-bottom: 1.8px;
                                max-height: 97.3px;

                                .field-cucarda.featured {
                                    height: 21px;
                                    width: 21px;
                                    background: url("../../../images/destacados_sm.png") no-repeat;
                                }
                                .group-fields {
                                    width: 119px;
                                    .group-fields-promotion {
                                        padding-top: 39px;
                                        font-size: 45px;
                                        letter-spacing: -3px;
                                        width: 66px;
                                        margin-left: 13px;
                                    }
                                    .group-fields-duration {
                                        font-size: 45px;
                                        margin-top: -19px;
                                        margin-left: -13px;
                                    }
                                    .field-quotes{
                                    font-size: 8px;
                                    font-weight: normal;
                                    position: absolute;
                                    right: 4px;
                                    bottom: 16px;
                                    }
                                    .sin-porcent{
                                        font-size: 15px!important;
                                        margin-left: 24px;
                                        position: relative;
                                        top: -20px;
                                    }
                                }
                                .field-logo {
                                    width: 71px;
                                    height: 95.1px;
                                    top: 0px;
                                    min-height: 92px;
                                    img {
                                        margin-top: 34px;
                                    }
                                }

                                .even{
                                    height: 95.3px;
                                    .field-title{
                                        min-height: inherit;
                                        top: -8px;
                                        margin-right: 0;
                                    }
                                }
                                .ver-mas-destacados{
                                    right: 3px;
                                    top: -1px;
                                    a{
                                    font-size: 8px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /*page*/
}

/*body*/

#dropdown-login {
    .dropdown {
        position: absolute;
        z-index: 999;
        display: none;
        width: 357px;
        height: 100px;
        background: #fff;
        border: 0;
        right: 84px;
        top: 94px;
    }
}

.front {
    #block-bbva_subscription-subscription_block {
        width: 357px;
        h2{
            height: 33px;
            line-height: 33px;
            font-size: 20px;
        }
        #bbva-subscription-form {
            padding-bottom: 14px;
            #form-item-subtitle{
                width: 100%;
                font-size: 18px;
                line-height: 27px;
                height: 27px;
            }
            .captcha{
                margin-bottom: 14px!important;
                img{
                    margin-right: 16px;
                    width: 160px;
                }
            }
            .colorbox-subscription-ver-terminos{
                right: 98px;
            }
            .field-next{
                top: 7px!important;
                left: -1px !important;
                margin: 0;
                padding: 0;
            }
            .field-next2{
                left: -11px!important;
                top: 7px!important;
                margin: 0;
                padding: 0;
            }
            .bbva-edit-zonas{
                width: 162px;
            }
            fieldset.group-left {
                .fieldset-wrapper {
                    .group-left-fields{
                        width: 100%;
                    }
                    .pregunta-soy-cliente{
                        height: 28px;
                        max-height: 28px;
                        margin: 10px 0 6px 13px;
                        a{
                            width: 160px;
                            line-height: 27px;
                        }
                        a + a{
                            width: 160px;
                        }
                    }
                    .form-item-nombre {
                        height: 41px;
                        width: 160px;
                    }
                    .form-item-apellido{
                        width: 160px;
                    }
                    .form-item-document-type{
                        height: 41px;
                        width: 45px;
                    }
                    .form-item-document-number{
                        width: 201px;
                        margin-right:24px; 
                        margin-bottom: 6px;
                    }
                    .form-item-area{
                        margin-top: -11px;
                        width: 45px;
                        margin-right: 8px;
                        select{
                            width: 100%;
                        }
                    }
                    .form-item-celular{
                        margin-top: 4px;
                        width: 107px;
                    }
                    .form-item-compania{
                        margin-top: -16px;
                        height: 57px;
                        width: 160px;
                    }
                    .form-item-day{
                        height: 57px;
                    }
                    .form-item-year{
                        width: 54px;
                        select{
                            width: 100%;
                            white-space: nowrap;
                        }
                    }
                    .form-item-email{
                        height: 50px;
                        width: 160px;
                        position: relative;
                        top: -1px;
                    }
                    .form-item-month{
                        width: 43px;
                        margin-left: 7px;
                        select{
                            width: 100%;
                            white-space: nowrap;
                        }
                    }
                    .form-item-pass1,
                    .form-item-pass2{
                        width: 160px;
                        height: 50px;
                    }
                    .bbva-form-item-sexo{
                        left: -12px;
                    }
                    .date-field-subscription{
                        width: 160px;
                    }
                    .telefono_celular,
                    .fecha_nacimiento{
                        width: 160px;
                        height: 50px;
                    }
                    .todos_rubros_div{
                        width: 171px;
                    }
                }
            }
            fieldset.group-footer {
                .form-submit{
                    width: 330px;
                    margin-left: -120px;
                    margin-top: 11px;
                }
            }
        }
    }
}

/*FUTBOL RIVER*/

#parallax{
    .intro-content{
        background-size: 132%!important;
    }
    .content-node-parallax{
        .group-title{
            font-size: 65px;
        }
        .parallax-inner {
            .group-left{
                .section{
                    padding: 0 0 0 0;
                    text-align: right;
                }
            }
            .group-right{
                .section{
                    width: 320px;
                }
            }
        }
    }
}

/*PRODUCTO RIVER*/
.node-type-product{
    #page{
        #main{
            #content{
                .field-name-title{
                    h2{
                    position: absolute;
                    right: 5%;
                    top: 5%;
                    color: #fff;
                    font-size: 71px;
                    font-family: bbva light;
                    width: 500px;
                    line-height: 68px;
                        text-align: right;
                        text-shadow: 3px 2px 2px #000;
                    }
                }
                .statistics_counter{
                    display: none;
                }
                .group-footer{
                    width: 946px;
                    margin: 20px auto;
                    legend{
                        display: none;
                    }
                    .group-inner-footer{
                        width: 485px;
                        min-width: inherit;
                        float: left;
                        .field-name-field-product-description-short{
                            width: 570px;
                            float: left;
                            font-size: 60px;
                            font-family: bbva light;
                            color: #00539B;
                            line-height: 65px;
                        }
                        .field-name-field-product-tyc{
                            float: left;
                            position: relative;
                            font-size: 14px;
                            color: #b4b4b4;
                            font-family: bbva light;
                            text-decoration: underline;
                        }
                    }
                    .group-inner-footer-right{
                        width: 435px;
                        margin-left: 20px;
                        float: left;
                        .field-name-field-product-titulo-descripcion{
                            font-size: 16px;
                            line-height: 23px;
                            color: #00539B;
                            font-family: 'bbva';
                            float: left;
                            width: inherit;
                            text-align: justify;
                            margin-top: 11px;
                        }
                        ul{
                        float: left;
                        margin: 12px 0 0 6px;
                        padding: 0 0 0 15px;
                        font-size: 15px;
                        line-height: 23px;
                        color: #00539B;
                        font-family: 'bbva light';
                            li{
                                margin-bottom: 7px;
                                list-style-image: url('../../../images/list-dot.jpg')!important;
                                float: none;
                                letter-spacing: 2px;
                            }
                        }
                    }
                }
                .field-type-image{
                    width: 100%;
                    img{
                        width:100%;
                        height: 100%;
                    }
                }
                .field-name-field-product-image-button{
                    width: 194px;
                    height: 127px;
                    float: left;
                    position: absolute;
                    right: 5%;
                    top: 23%;
                    even{
                        display: none;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .field-name-field-product-link-button{
                    position: absolute;
                    right: 6.3%;
                    top: 37%;
                    a{
                        padding: 14px 20px 40px 20px;
                        font-size: 24px;
                        line-height: 24px;
                        color: #ffffff;
                        text-transform: uppercase;
                        text-align: center;
                        height: 55px;
                        font-family: 'bbva light';
                        background-color: #09519d;
                        float: left;
                    }
                }
                
                .field-name-field-product-category{
                    display: none;
                }/*
                */
            }
        }
    }
}

#block-dropdown_login-login_dropdown{
    #configuracion{
        ul{
            width: 87px!important;
            white-space: nowrap;
        }
        p{
            font-size: 12px;
        }
    }
}

/*BENEFIT FULL*/


body{
    #page{
        #pre-footer{
               .inner{
                .block-quicktabs{
                    .quicktabs_main{
                        .view--experiences{
                            .views-row{
                                width: 185px;
                            }
                        }
                    }
                    .item-list{
                        ul.quicktabs-tabs{
                            width: 950px;
                        }
                    }
                }
            }
        }
    }
}
.page-benefit,
.page-benefit-categories{
    #main{
        width: 950px;
        margin: 3px auto;
        #content{
            max-width: 713px;
            width: 76%;
            .field-header{
                width: 703px;
            }
            .view-benefit-group-categories {
                .jcarousel-container-horizontal{
                    min-width: 703px;
                    .jcarousel-clip-horizontal {
                        width: 703px;
                        ul{
                            width: 2000px!important;
                            
                        }
                    }
                }
            }
            #content-inner{
                #content-area{
                    .region-content{
                        .block-system {
                            .block-inner{
                                .content{
                                    .view-benefit-filters{
                                        .view-content{
                                            table{
                                                width: 106%;
                                                tbody{
                                                    tr{
                                                        td{
                                                            float: left;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .region-content{
                    #block-system-main{
                        .content{
                            .view-more{
                                width: 703px;
                            }
                        }
                    }
                }
            }
        }
    }
    .field-item{
        .group-fields-duration{
            margin-top: 12px!important;
            span.porcent{
                top: 23px;
            }
        }
    }
}

.page-benefit-benefit{
    #main{
        width: 950px;
    }
    .field-item{
        #section-benefit{
            width: 700px;
            .row{
                width: inherit;
                .col-left{
                    position: relative;
                    .field-title {
                        background: #0079C1;
                        font-size: 29px;
                        color: #fff;
                        height: 44px;
                        line-height: 44px;
                        font-family: 'bbva light';
                        span {
                            margin-left: 20px;
                        }
                    }
                    .field-title span {
                        float: left;
                    }
                    .group-shares ul {
                        list-style-type: disc;
                        float: right;
                        margin: 0px;
                    }
                    .group-shares {
                        li {
                            height: 35px;
                            width: 39px;
                            margin-right: 5px;
                            margin-top: 4px;
                            a {
                                text-indent: -500em;
                                display: block;
                            }
                        }
                        .list-face {
                            background: url(../../images/face.jpg);
                            background-position: -1px;
                            cursor: pointer;
                        }
                        .list-twitter {
                            background: url(../../images/twitter.jpg);
                            background-position: -2px;
                            cursor: pointer;
                        }
                        .list-email {
                            background: url(../../images/mail.jpg);
                            cursor: pointer;
                        }
                    }
                    .field-image {
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    

                    /*CAJITAS*/
                    .field-logo {
                        width: 205px;
                        position: absolute;
                        top: 140px;
                        left: 50px;
                          img {
                              width: 100%;
                          }
                      }
                    .benefit-group-container{
                        .group-fields-full{
                            .group-field-group{
                            width: 156px;
                            }
                          .group-fields-1,
                          .group-fields-2,
                          .group-fields-3{
                            width: 210px;
                            float: left;
                          }
                          .group-fields-1{
                          }
                          .group-fields-2{
                          }
                          .group-fields-3{
                          }
                          .group-fields-promotion{
                            float: left;
                            font-size: 75px;
                            line-height: 75px;                   
                          }
                          
                          .group-fields-duration{
                            margin-top: 7px!important;
                            span.porcent{
                              font-size: 65px;
                              padding: 0;
                            }
                          }
                          .field-quotes{
                            float: left;
                            font-family: bbva;
                            font-size: 14px;
                            text-transform: uppercase;
                            position: absolute;
                            right: 15px;
                            top:70px;
                            padding: 0;
                          }
                          .leyendago,
                          .leyendanogo,
                          .leyendago-2{
                            float: left;
                            width: 100%;
                            text-align: center;
                            font-size: 15px;
                          }
                          .leyendago-2{
                            margin: 27px 0 21px 0;        
                          }
                          .leyendago,
                          .leyendanogo{
                            margin-top: 22px;
                          }
                          .group-fields-3 .leyendanogo{
                            width: 220px;
                          }
                          .group-field-beneficio-no-cliente-1,
                          .group-field-beneficio-no-cliente-2,
                          .group-field-beneficio-no-cliente-3,
                          .group-field-beneficio-no-cliente-4{
                            a.inicia-sesion,
                            a.adquiri-cupon,
                            a.disfruta-mas{
                              width: 100%;
                              float: left;
                              text-align: center;
                              height: 40px;
                              display: block;
                              font-size: 24px;
                              line-height: 38px;
                              color: #fff;
                              font-family: bbva;
                            }
                            a.inicia-sesion,
                            a.disfruta-mas{
                              background: #f09700;
                            }
                            a.adquiri-cupon{
                              background: #c91e61;
                              margin-top: 7px;
                            }
                          }
                          .group-field-beneficio-no-cliente-4{
                            .disfruta-mas{
                                background: #52bdec!important;
                            }
                          }
                          .group-field-beneficio-no-cliente-1,
                          .group-field-beneficio-no-cliente-2,
                          .group-field-beneficio-no-cliente-3,
                          .group-field-beneficio-no-cliente-4,
                          .group-field-beneficio-cliente{
                            float: left;
                            width: 100%;
                            text-align:  center;
                          }
                          p.field-description-no-cliente-no-logged,
                          p.field-description-no-cliente-no-logged-2{
                            width: 100%;
                            text-align: center;
                            float: left;
                          }
                        }
                    }
                }
            }
            .row-desc {
                width: 100%;
                font-family: 'bbva';
                margin-top: 0;
                .title {
                    font-size: 23px;
                }
                .field-description {
                    font-size: 17px;
                    line-height: 21px;
                    letter-spacing: 1px;
                }

            }
            .row-map{
            }
            .row-sucursales{
                .field-link a{
                    font-size: 16px;
                    height: 40px;
                    line-height: 0;
                }
            }
            .row-legal{
                .field-legal-title{
                    font-size: 16px;
                    height: 40px;
                    line-height: 0;
                    margin-top: 5px;
                }
            }
        }
    }
}


/*EXPERIENCIAS FUTBOL LANDING*/

.page-taxonomy-term{
    .vocabulary-experience{
        #term-carousel{
            ul{
                li{
                    .row{
                        .col-rows{
                            width: 790px;
                            padding-top:23%;
                        }
                    }
                }
            }
        }
    }
}

/*EXPERIENCIAS RIVER*/
#list-experiences{
    width: 940px;
    .row{
        width: 300px;
        min-height: 460px;
        .group-fields{
            min-width: 120px;
            .field-title{
                font-size: 21px;
                padding-bottom: 10px;
            }
            .field-volanta{
                font-size: 15px;
                line-height: 18px;
            }
        }
    }
}

.node-type-experience{
    #main{
        #content{
            .view-mode-full{
                .group-right{
                    padding: 0;
                    margin-top: 51px;
                    margin-bottom: 50px;
                    .section{
                        width: 372px;
                    }
                    .field-name-field-experience-bajada{
                        .field-item{
                            font-size: 20px;
                        }
                    }
                    .field-name-field-experience-fija-titulo3{
                        font-size: 20px;
                    }
                    .field-name-field-experience-descripcion{
                        font-size: 16px;
                        .field-item{
                            line-height: 19px;
                        }
                    }
                    .field-name-field-experience-fija-texto3{
                        font-size: 16px;
                        .field-item{
                            line-height: 19px;
                        }
                    }
                }
                .group-left{
                    .header-carousel{
                        .jcarousel-container-horizontal{
                            .jcarousel-next,
                            .jcarousel-prev{
                                top: 31%;
                            }
                        }
                    }
                }
                .group-footer{
                    
                    .field-name-experiences-related{
                        .field-items{
                            width: 100%;
                            .view-experience-related{
                                width: 100%;
                                .views-row{
                                    width: 23.8%;
                                    left: 4px;
                                    .group-fields{
                                        width: 92%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*BENEFICIOS DE EXPERIENCIA*/

.page-benefit-experience{
    #main{
        #content{
            #content-area{
                .view-benefit-filters{
                    width: 946px;
                    .views-view-grid{
                        tbody{
                            td{
                                .field-items{
                                    width: 300px;
                                    .group-fields{
                                        .group-fields-logo{
                                            width: 115px;
                                            margin-left: 0px;
                                        }
                                        .group-fields-promotion{
                                            font-size: 68px;
                                            width: 85px;
                                            margin-left: 18px;
                                            white-space: nowrap;
                                        }
                                        .group-fields-duration{
                                            margin-left: 2px;
                                            span.porcent{
                                                font-size: 68px;
                                            }
                                        }
                                        .field-quotes{
                                            margin-right: 8px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*SORTEOS*/

#node-156{
    .node-inner{
        .content{
            width: 930px;
            .field-items{
                .ds-3col{
                    .group-middle {
                        margin-top: -181px;
                        width: 90%;
                        .field-name-field-draw-title{
                            font-size: 21px;
                            margin-bottom: 15px;
                        }
                        .field-name-field-draw-description{
                            font-size: 15px;  
                        }
                        .field-name-field-draw-sub-title{
                            font-size: 15px;
                        }
                        a{
                            width: 79%;
                            font-size: 25px;
                        }
                    }
                }
                .field-item{    
                    width: 300px;
                    height: 395px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

/*SUSCRIPCION FULL*/

.page-subscription {
    #main{ 
        #block-system-main{ 
            width: 838px;
            margin: 70px auto;
            #bbva-subscription-form{
                margin: inherit;
                width: inherit;
                float: inherit;
                padding: inherit;
                  fieldset.group-left{
                    
                  }
                  fieldset.group-right{
                    float: left;
                    width: 415px;
                    .form-item-zonas,
                    .form-item-rubros{
                        width: 415px;
                        label{
                            height: 65px;
                        }
                        .form-checkboxes{
                            width: 415px!important;
                        }
                    }
                  }
            }
        }    
    }
}

/*Cambio de Dani*/
body #page #higlighted-area .todos-rubros, body #page #higlighted-area .todos-zonas {
  float: left;
    margin-right: 5px;
    position: relative;
    top: 3px;
    margin-bottom: 7px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area {
  margin-top: 0px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular {
  margin-top: 0px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania {
  margin-top: 0px;
  height: 50px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre input,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido input,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-number input,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email input,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular input,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass1 input,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2 input{
    height: 21px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .bbva-form-item-sexo .gender{
    height: 20px;
    width: 20px;
    line-height: 13px;
    font-weight: normal!important;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .fecha_nacimiento,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass1,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .telefono_celular,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania{
height: 44px;
}