body{
    .breadcrumb{
        margin-left: 10px;
    }
}
.front {
    #block-bbva_subscription-subscription_block {
        width: 320px;
        h2 {
            width: 320px;
        }
        #bbva-subscription-form {
            .captcha {
                width: 294px;
                margin: 0 auto;
                float: inherit;
                img{
                    width: 128px;
                    margin-right: 10px;
                }
                input {
                    width: 179px;
                }
                .form-item-captcha-response{
                    margin: 7px 0 17px 0;
                }
            }
            #form-item-subtitle {
                width: 320px;
                font-size: 15px;
                text-align: center;
            }
            .bbva-form-item-sex {
                margin-top: 1px;
                float: left;
                width: 64px;
                position: relative;
                left: 0px;
                #gender_suscripcion {
                    height: 25px;
                    top: 20px;
                    margin-left: 7px;
                }
            }
            fieldset#edit-group-left {
                .fieldset-wrapper {
                    #edit-next3 {
                        left: 247px;
                        top: 18px;
                    }
                    #edit-group-footer {
                        height: 0px;
                    }
                    #edit-submit--3 {
                        top: 147px;
                        left: -2px;
                        width: 288px;
                    }
                    .error {
                        font-size: 9px;
                    }
                    .pregunta-soy-cliente {
                        margin: 10px 0 0 10px;
                        height: 43px;
                        a {
                            width: 143px;
                            font-size: 12px;
                        }
                    }
                    .form-item-nombre,
                    .form-item-apellido,
                    .form-item-email,
                    .form-item-compania,
                    .form-item-pass1,
                    .form-item-pass2 {
                        width: 90%;
                        margin: 0 5% 0 5%;
                    }
                    .form-item-area {
                        width: 181px;
                        margin-left: 16px;
                    }
                    .form-item-document-type {
                        width: 229px;
                        margin: 0px 0 0 10px;
                    }
                    .form-item-document-number {
                        width: 136px;
                        margin: 21px 0 12px -182px;
                    }
                    .form-item-day {
                        width: 210px;
                        height: 26px;
                        margin-left: 10px;
                        select {
                            width: 80px;
                            height: 25px;
                        }
                    }
                    .form-item-month {
                        width: 145px;
                        height: 26px;
                        select {
                            width: 80px;
                            height: 25px;
                        }
                    }
                    .form-item-year {
                        height: 37px;
                        select {
                            width: 66px;
                            height: 25px;
                        }
                    }
                    .form-item-celular {
                        width: 217px;
                        height: 25px;
                    }
                    .form-item-terminos {
                        left: 43px;
                        top: -11px;
                    }
                    .form-item-email {
                        height: 53px;
                    }
                    .form-item-compania {
                        height: 58px;
                        margin-left: 2px!important;
                    }
                    .form-item-pass1 {
                        height: 56px;
                    }
                }
            }
        }
    }
}

body {
    .breadcrumb {
        margin-left: 8px;
    }
    #page {
        #higlighted-area {
            width: 320px;
            margin: 16% auto 15px auto;
            .region-highlight {
                #block-views-solo_por_hoy-block {
                    width: 320px;
                    h2.block-title {
                        width: 100%;
                        text-align: center;
                        margin-top: -7px;
                    }
                    .content {
                        width: 320px;
                        #views_slideshow_cycle_main_solo_por_hoy-block {
                            display: none;
                            .views-slideshow-cycle-main-frame views_slideshow_cycle_teaser_section {
                                width: 320px !important;
                            }
                            img {
                                max-width: 320px;
                                max-height: 420px;
                            }
                        }
                        .views-slideshow-controls-top {
                            width: 320px;
                        }
                    }
                }
            }
            #edit-todos-zonas {
                width: 97px;
                text-align: right;
            }
            #edit-todos-rubros {
                width: 75px;
                text-align: right;
            }
        }
        #header {

            overflow: hidden;
            min-height: 0px;
            height: 0px;
        }
        #slideshow-wrapper {
            .skin-default {
                .views_slideshow_cycle_main  {
                     .views-slideshow-cycle-main-frame {
                        .views-slideshow-cycle-main-frame-row {
                            img {
                                min-width: 320px !important;
                            }
                        }
                    }
                }
                #views_slideshow_controls_text_slide-block,
                #views_slideshow_controls_text_slide-block_1 {
                    #views_slideshow_controls_text_previous_slide-block,
                    #views_slideshow_controls_text_next_slide-block,
                    #views_slideshow_controls_text_previous_slide-block_1,
                    #views_slideshow_controls_text_next_slide-block_1 {
                        top: 15%;
                    }
                }
            }
        }
        #content {
            .views_slideshow_cycle_teaser_section {
                height: 423px !important;
            }
        }
        #footer {
            width: 100%;
            position: relative;
            top: -3px;  
            .region-footer {
                width: 320px;
                #block-bbva-footer_socials {
                    padding-top: 10px;
                    .block-inner {
                        .field-url {
                            width: 96px;
                            height: inherit;
                            margin: 14px auto;
                        }
                    }
                }
                #block-bbva-footer_video{
                    padding-left: 0;
                }
                #block-bbva-footer_mobile,
                #block-bbva-footer_socials,
                #block-bbva-footer_video {
                    border: none;
                    width: 100%;
                    height: inherit;
                    padding-left: 0;
                    margin-right: 0;
                    .block-inner {
                        text-align: center;
                        .block-title {
                            background: transparent;
                            font-family: bbva light;
                        }
                        .field-subtitle {}
                        .field-description {
                            width: 100%;
                            font-size: 12px;
                            line-height: 16px;
                            padding: 0 20px;
                            text-align: center;
                        }
                        .field-videos {
                            margin: 70px auto 0;
                            float: inherit;
                        }
                        .field-mobiles {
                            width: 295px;
                            margin: 0 auto;
                            li {
                                margin-right: 8px;
                            }
                            .link-android {
                                width: 84px;
                            }
                            .link-iphone {
                                width: 72px;
                            }
                        }
                    }
                }
            }
        }
        #pre-footer {
            display: none;
            width: 320px;
            .inner {
                #block-imageblock-1 {
                    .block-inner {
                        width: 320px;
                    }
                }
                .region-pre-footer {
                    #block-quicktabs-quicktabs {
                        #quicktabs-container-quicktabs {
                            .view--experiences {
                                width: 228px;
                            }
                        }
                        .item-list {
                            width: 320px;
                            ul.quicktabs-tabs {
                                width: 320px;
                                li {
                                    width: 50%;
                                    text-align: center;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
                #block-quicktabs-quicktabs {
                    #quicktabs-container-quicktabs {
                        .view-content {
                            .jcarousel-container-horizontal {
                                width: 229px;
                            }
                        }
                    }
                }
            }
        }
    }
    #block-bbva-footer_copyright {
        width: 100%;
        .block-inner {
            height: 53px;
        }
        .field-group-left {
            width: 164px;
            font-size: 10px;
            line-height: 13px;
        }
        .field-group-right {
            width: 108px;
            margin-right: 10px;
            font-size: 10px;
            line-height: 13px;
            text-align: right;
        }
    }
}

/*MUNDO EXPERIENCIAS*/
.content-area {
    min-height: 257px;
}

.page-taxonomy-term {
    .vocabulary-experience {
        #term-carousel {
            min-height: 133px;
            ul {
                li {
                    .row {
                        .col-rows {
                            width: 290px;
                            padding-top: 33%;
                            .field-logo {
                                width: 135px;
                                min-height: 23px;
                                margin: 0 5px 0 5px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /*EXPERIENCIAS RIVER*/
    #parallax {
        .intro-content {
            min-height: 137px;
            background-size: 110%!important;
            background-attachment: inherit!important;
        }
        .content-node-parallax {
            .group-title {
                margin-top: -50px !important;
                font-size: 19px;
                line-height: 21px;
                width: 100%;
            }
        }
        .content-node-parallax {
            .parallax-inner {
                padding: 3px 0 3px 0;
                .group-left {
                    width: 100%;
                    .section {
                        width: 100%;
                        text-align: left;
                        font-size: 19px;
                        line-height: 25px;
                        padding: 5px 0 5px 7px;
                    }
                }
                .group-right {
                    width: 100%;
                    margin-bottom: 15px;
                    .section {
                        width: 99%;
                        padding-left: 8px;
                        font-size: 12px;
                        line-height: 15px;
                        margin: 0 auto;
                        .field-name-field-experience-descripcion{
                            margin-bottom: 14px;
                        }
                        .field-name-field-experience-link {
                            a {
                                font-size: 12px;
                                float: left;
                                width: 37%;
                            }
                        }
                    }
                }
            }
            .group-header {
                .section {
                    width: 100%;
                    padding-top: 20px;
                    .icon-tarjeta {
                        height: 26px;
                        width: 26px;
                    }
                    .field-name-field-experience-volanta {
                        line-height: 27px;
                        font-size: 14px;
                        height: 26px;
                        width: 190px;
                    }
                }
            }
        }
    }
}

/*PRODUCTO RIVER*/
.node-type-product{
    #page{
        #main{
            #content{
                .field-name-title{
                    h2{
                    right: 2%;
                    top: 18%;
                    font-size: 30px;
                    width: 220px;
                    line-height: 37px;
                    background: transparent!important;
                    }
                }
                .statistics_counter{
                    display: none;
                }
                .group-footer{
                    width: 100%;
                    margin:0;
                    legend{
                        display: none;
                    }
                    .group-inner-footer{
                        width:100%;
                        min-width: inherit;
                        float: left;
                        padding: 20px 0 0 20px;
                        .field-name-field-product-description-short{
                            width: 100%;
                            float: left;
                            font-size: 40px;
                            line-height: 41px;
                        }
                        .field-name-field-product-tyc{
                            float: left;
                            position: relative;
                            font-size: 8px;
                            margin-top: 7px;
                        }
                    }
                    .group-inner-footer-right{
                        width: 100%;
                        margin-left:0;
                        float: left;
                        padding: 4px 20px 20px 20px;
                        .field-name-field-product-titulo-descripcion{
                            font-size: 16px;
                            line-height: 23px;;
                            float: left;
                            width: inherit;
                            text-align: justify;
                            margin-top: 11px;
                        }
                        ul{
                        float: left;
                        margin: 12px 0 0 6px;
                        padding: 0 0 0 15px;
                        font-size: 15px;
                        line-height: 23px;
                            li{
                                margin-bottom: 7px;
                                float: none;
                                letter-spacing: 2px;
                            }
                        }
                    }
                }
                .field-type-image{
                    width: 100%;
                    img{
                        width:100%;
                        height: 100%;
                    }
                }
                .field-name-field-product-image-button{
                    width: 73px;
                    float: left;
                    position: absolute;
                    right: 2%;
                    top: 28.2%;
                    even{
                        display: none;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .field-name-field-product-link-button{
                    position: absolute;
                    right: 2%;
                    top: 35%;
                    a{
                        padding: 5px 20px 21px 20px;
                        font-size: 10px;
                        line-height: 16px;
                        height: 23px;
                        float: left;
                    }
                }
                
                .field-name-field-product-category{
                    display: none;
                }/*
                */
            }
        }
    }
}


/*BENEFICIOS*/
.page-benefit,
.page-benefit-categories {
    #main {
        width: 100%;
        margin: 0;
        #content {
            width: 100%;
            padding: 0;
            margin: 0;
            .field-header {
                background: #0079C1;
                width: 100%;
                margin-top: 0px;
                overflow: hidden;
                h3 {
                    color: white;
                    text-align: center;
                    text-transform: uppercase;
                    background: #0079C1;
                    font-family: bbva light;
                    font-size: 14px;
                }
            }
            .view-benefit-group-categories {
                background: #f8f8f8;
                .jcarousel-container-horizontal {
                    .jcarousel-clip-horizontal {
                        width: 228px;
                        margin: 0 auto;
                        max-width: 320px;
                        ul {
                            li {
                                /*                                    width: 150px!important;*/
                                .view-mode-teaser {
                                    .field-items {
                                        /*                                            width: 150px!important;*/
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .view-benefit-group-categories {
                .jcarousel-container-horizontal {
                    min-width: inherit;
                    width: 100% !important;
                }
            }
            #content-inner {
                #content-area{
                    .region-content{
                        .block-system {
                            .block-inner{
                                .content{
                                    .view-benefit-filters{
                                        .view-content{
                                            table{
                                                width: 228px;
                                                margin: 14px auto 0;
                                                .entity-benefit{
                                                    margin: 0 0 10px 0;
                                                }
                                                tbody{
                                                    tr{
                                                        td{ 
                                                            margin: 0;
                                                            float: left;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .region-content {
                    #block-system-main {
                        .content {
                            .view-more {
                                  top: 0!important;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        #sidebar-first {
            width: 100%;
            padding-bottom: 10px;
            background: #f4f4f4;
            #block-views--exp-benefit_filters-page {
                width: 100%;
                .views-submit-button {
                    display: none;
                }
                .views-exposed-widget > .views-widget {
                    display: none;
                    input.form-autocomplete {
                        width: 90%;
                    }
                }
                .views-exposed-widget {
                    height: 30px;
                }
                .views-exposed-widget > label {
                    line-height: 30px;
                }
                .views-widget-filter-field_tags_tid {
                    display: none;
                }
            }
            .imageblock-link {
                display: none;
            }
        }
    }
    .field-legal-title {
        margin: 9px auto 0;
        width: 95%;
        line-height: 25px;
    }
    .field-legal-text {
        width: 95%;
        margin: 0 auto 20px;
    }
}

.page-benefit-benefit {
    .field-item {
        #section-benefit{
            width: 100%;
            .row {
                width: 100%;
                .col-left {
                    .field-title{
                        span{
                            font-size: 16px;
                        }
                    }
                    .group-shares{
                        ul{
                        padding: 0;
                        }
                    }
                    .benefit-group-container{
                      float: left;
                      top: inherit;
                        bottom: 7px;
                        padding: 0px 0 6px 0;
                        .group-fields-full{
                            padding-top: 0;
                            .group-field-caja{
                                padding-top: inherit;
                                margin: 0 2px;
                            }
                            /*CLASES JQUERY*/
                            .group-field-caja-mb-2{
                                margin: 0 18px!important;
                            }
                            .group-field-caja-mb-1{
                               position: relative;
                               .leyendanogo{
                                    margin:0 0 3px -11px;
                                    width: 120px;
                               }
                            }
                            /*/////////////*/
                          .group-fields-1,
                          .group-fields-2,
                          .group-fields-3{
                            width: 94px;
                            float: left;
                            padding-top: 0;
                            .sin-porcent{
                                font-size: 12px;
                                line-height: 13px;
                                position: relative !important;
                                top: -3px !important;
                                text-align: inherit;
                                right: inherit;
                                top: -16px!important;  
                                padding-top: 22px;
                                left: 7px;

                            }
                          }
                          .group-fields-promotion{
                            float: left;
                            font-size: 43px;
                            line-height: 41px; 
                            margin-left: 4px;  
                            letter-spacing: -3px;                 
                          }
                          .group-fields-duration{
                            padding-top: 0;
                            height: 25px;
                            margin-left: 3px;
                            line-height: 41px;
                            span.porcent{
                              font-size: 36px;
                              padding: 0;
                            }
                          }
                          .field-quotes{
                            float: right;
                            font-family: bbva;
                            font-size: 10px;
                            text-transform: uppercase;
                            position: relative;
                            right: 5px;
                            top: -5px;
                            padding-right: 0;
                            letter-spacing: 4px;
                            height: 11px;
                          }
                          .leyendago{
                              width: 108px;
                            margin: 0 0 15px -7px;
                            font-size: 10px;
                            line-height: 13px;
                            float: left;
                            text-align: center;
                            padding: 0 2px 0 2px;
                          }
                          .leyendanogo,
                          .leyendago-2{
                            float: left;
                            width: 100%;
                            text-align: center;
                            font-size: 10px;
                            line-height: 13px;
                            padding: 0 2px 0 2px;
                            margin: 11px 0 11px 0;
                          }
                          .leyendago-2{
                            margin: 2px 0 22px -8px;
                            width: 116%;
                           }
                          .group-field-beneficio-no-cliente-1,
                          .group-field-beneficio-no-cliente-2,
                          .group-field-beneficio-no-cliente-3,
                          .group-field-beneficio-no-cliente-4{
                                a.inicia-sesion,
                                a.adquiri-cupon,
                                a.disfruta-mas,
                                .suscribite-no-cliente{
                                  width: 100%;
                                  float: left!important;
                                  text-align: center;
                                  height: 23px!important;
                                  display: block;
                                  font-size: 13px!important;
                                  line-height: 22px!important;
                                  color: #fff!important;
                                  font-family: bbva;
                                }
                                a.inicia-sesion,
                                a.disfruta-mas{
                                  background: #f09700;
                                }
                                a.adquiri-cupon{
                                  background: #c91e61;
                                }
                            }

                            .group-field-beneficio-no-cliente-3{
                            margin-top: -11px!important;
                            }
                          .group-field-beneficio-no-cliente-1,
                          .group-field-beneficio-no-cliente-2,
                          .group-field-beneficio-no-cliente-3,
                          .group-field-beneficio-no-cliente-4,
                          .group-field-beneficio-cliente{
                            float: left;
                            width: 100%;
                            text-align:  center;
                            margin-top: 1px;
                          }
                          p.field-description-no-cliente-no-logged,
                          p.field-description-no-cliente-no-logged-2{
                            width: 100%;
                            text-align: center;
                            float: left;
                            margin-top: 3px;
                            line-height: 14px;
                            font-size: 11px;
                          }
                          p.field-description-no-cliente-no-logged{
                            margin: 10px 0 0px -16px !important;
                            color: #c91e61 !important;
                            width: 136%;
                            font-size: 10px;
                          }
                          p.field-title-cliente{
                            display: none;
                          }
                          .group-fields-3{
                            .group-fields-promotion{
                              margin-left: 5px!important;
                            }
                          }

                          .group-field-beneficio-no-cliente-4{
                            .disfruta-mas{
                                background: #52bdec!important;
                            }

                          }
                          .group-field-beneficio-no-cliente-2{
                            .disfruta-mas{
                                margin-top: -19px!important;
                            }
                          }
                        }
                    }
                    .porcent-coupon{
                        .field-description-no-cliente-no-logged-2{
                            display: none;
                        }
                    }
                }
            }
            .row-desc {
                width: 100%;
                text-align: justify;
                .title {
                    width: 100%;
                }
                .field-description {
                    width: 100%;
                    padding: 0 10px 0 10px;
                    font-size: 13px;
                    margin: 10px 0;
                    line-height: 16px;
                    .field-logo {
                            width:75px!important;
                            top: inherit!important;
                            left: inherit!important;
                            margin: -11px 17px 0 0;
                          img {
                              width: 100%;
                              height: 100%;
                          }
                      }
                    ul{
                        padding: 0;
                    }
                }
            }
            .row-map{
                width: 98%;
                margin-left: 1%;
            }
            .row-sucursales {
                width: 96%;
                margin-top: 8px;
                .field-link {
                    a {  
                        font-size: 14px;
                        text-align: center;
                        height: 33px;
                        line-height: 22px;
                        padding: 5px 0 0 0;
                    }
                }
            }
            .row-legal{
                width: 96%;
                .field-legal-title{
                    font-size: 14px;
                    text-align: center;
                    height: 33px;
                    line-height: 22px;
                    padding: 4px 0 0 0;
                    width: 100%;
                }
                .field-legal-text{
                    line-height: 10px;
                    font-size: 8px;
                }
            }
        }
    }
}
.node-type-experience {
    #main {
        #content {
            .view-mode-full {
                .group-left{
                    display: none;
                }
                .group-right {
                    padding: 0;
                    width: 92%;
                    float: inherit;
                    margin: 0 auto;
                    .field-name-field-experience-bajada {
                        font-size: 20px;
                        float: left;
                        margin-bottom: 2px;
                        .field-item {
                            line-height: 23px;
                            width: 100%;
                            text-align: left;
                            float: left;
                        }
                    }
                    .field-name-field-experience-fija-titulo3 {
                        font-size: 20px;
                        float: left;
                        margin-bottom: 13px;
                    }
                    .field-name-field-experience-descripcion {
                        font-size: 13px;
                        margin-bottom: 0px;
                        text-align: justify;
                        float: left;
                        .field-item {
                            line-height: 15px;
                            margin: 7px 0 11px 0;
                        }
                    }

                    .field-name-field-experience-fija-texto3 {
                        font-size: 13px;
                        float: left;
                        margin-bottom: 30px;
                        .field-item {
                            line-height: 15px;
                        }
                    }
                }
                .group-header {
                    .field-name-experience {
                        #experience-content {
                            height: inherit;
                            position: inherit;
                            .field-image {
                                background-size: 200% !important;
                                background-repeat: no-repeat !important;
                                height: 270px;
                            }
                            .group-fields {
                                left: inherit;
                                width: 92%;
                                position: relative;
                                margin: 0 auto;
                                .field-title {
                                    padding: 5% 0 0 0;
                                    font-size: 30px;
                                    line-height: 34px;
                                    width: 250px;
                                    color: #00539B;
                                    text-shadow: inherit;
                                }
                                .field-volanta {
                                    padding: 0 0 3% 0;
                                    font-size: 19px;
                                    line-height: 27px;
                                    min-height: 34px;
                                    color: #00539B;
                                    text-shadow: inherit;
                                }
                                .field-link {
                                    width: 100%;
                                    font-size: 20!important;
                                    line-height: 21px;
                                }
                            }
                        }
                    }
                }
                .group-left {
                    width: 100%;
                    .tabs-carrusel {
                        margin-bottom: 6px;
                    }
                    ul {
                        width: 100% !important;
                        .jcarousel-item-2 {
                            float: right !important;
                        }
                        li {
                            margin: 0 !important;
                            width: 48% !important;
                        }
                    }
                    .header-carousel {
                        .jcarousel-container-horizontal {
                            .jcarousel-next {
                                background: url("../../../images/arrow_slide_benefit_responsive.png");
                                width: 22px;
                                height: 34px;
                                top: 37%;
                                right: 0;
                            }
                            .jcarousel-prev {
                                background: url("../../../images/arrow_slide_left_benefit_responsive.png");
                                width: 22px;
                                height: 34px;
                                top: 37%;
                            }
                        }
                    }
                }
                .group-footer {
                    .field-name-experiences-related {
                        .field-items {
                            width: 100%;
                            .view-experience-related {
                                width: 226px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*EXPERIENCIAS RIVER*/
#list-experiences {
    width: 233px;
    .row {
        width: 218px;
        min-height: inherit;
        .group-fields {
            .field-volanta {
                font-size: 14px;
                line-height: 18px;            }
            .field-title {
                font-size: 18px;
                padding-bottom: 3px;
            }
        }
    }
}

/*BENEFICIOS DE EXPERIENCIA*/

.page-benefit-experience {
    #main {
        #content {
            #content-area {
                .view-benefit-filters {
                    width: 225px;
                    .views-view-grid {
                        tbody {
                            td {
                                .field-items {
                                    width: 218px;
                                    .group-fields {
                                        width: 93%;
                                        height: 94px;
                                        .group-fields-logo {
                                            width: 86px;
                                            margin-left: 0px;
                                            img {
                                                margin-left: 4px;
                                            }
                                        }
                                        .group-fields-promotion {
                                            font-size: 50px;
                                            width: 64px;
                                            margin-left: 0;
                                            white-space: nowrap;
                                            padding-top: 29px;
                                        }
                                        .group-fields-duration {
                                            margin: 5px 0 0 2px;
                                            span.porcent {
                                                font-size: 47px;
                                            }
                                        }
                                        .field-quotes {
                                            margin: 0 4px 0 0;
                                            font-size: 10px;
                                        }
                                    }
                                }
                                .entity-benefit {
                                    min-width: inherit;
                                    margin: 0 5px 10px 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*SORTEOS*/

#node-156 {
    .node-inner {
        .content {
            width: 218px;
            .field-items {
                .ds-3col {
                    .group-middle {
                        width: 93%;
                        margin: -150px 0 0 8px;
                        padding-bottom: 7px;
                        a {
                            width: 86%;
                            height: 41px;
                            line-height: 7px;
                            font-size: 20px;
                            left: 0;
                        }
                        .field-name-field-draw-title {
                            font-size: 18px;
                            margin: 0 0 9px 0;
                        }
                        .field-name-field-draw-sub-title {
                            font-size: 14px;
                            margin-left: 0;
                        }
                        .field-name-field-draw-description {
                            font-size: 14px;
                            margin: 0 0 34px 0;
                            .field-items {
                                .field-item {
                                    margin: 0 !important;
                                }
                            }
                        }
                    }
                }
                .even {
                    margin-bottom: 0 !important;
                }
                .field-item {
                    width: 218px;
                    height: 287px;
                    margin-bottom: 10px;
                    img {
                        width: 100% !important;
                        height: 100% !important;
                    }
                }
            }
        }
    }
}


.page-subscription {
    #main{ 
        #block-system-main{ 
            width: 100%!important;
            margin: 70px auto;
            #bbva-subscription-form{
                margin: inherit;
                width: inherit;
                float: inherit;
                padding: inherit;
                .captcha{
                    img{
                        margin-right: 10px!important;
                        width: 122px!important;
                    }
                    .form-item-captcha-response{
                        width: 157px!important;
                    }
                }
                .form-item-terminos{
                    width: 220px!important;
                    label{
                        font-size: inherit!important;
                    }
                  }
                  fieldset.group-left{
                    width: 100%;
                    .group-left-fields{
                        width: 100%;
                        .fieldset-wrapper{
                          .form-item-nombre,
                          .form-item-apellido{
                            width: 143px;
                          }
                          .form-item-document-number{
                            width: 236px;
                          }
                          .bbva-form-item-sexo{
                            left: 12px;
                            width: 60px;
                          }
                          .fecha_nacimiento{
                            margin: 1px 10px 0px 18px;
                            width: 220px;
                          }
                          .form-item-email{
                            margin-left: 3px;
                            width: 133px;
                          }
                          .form-item-day,
                          .form-item-month{
                            width: 43px;
                          }
                          .form-item-year{
                            width: 43px;
                          }
                          .form-item-compania{
                            margin-top: 1px;
                            width: 132px;
                          }
                          .form-item-pass1,
                          .form-item-pass2{
                            width: 143px;
                          }
                          .form-item-document-type{
                            width: 50px;
                            margin:0 11px 0px 13px;
                          }
                          .form-item-document-number{
                            width: 164px;
                          }
                          .form-item-terminos{
                            width: 214px!important;
                            margin-left: 35px;
                          }
                          #bbva_captcha_content{
                            width: 290px;
                            margin-left: 17px;
                            float: left;
                            .captcha{
                              float: inherit;
                              width: inherit;
                              padding: inherit;
                              top: inherit;
                              margin-left: inherit;
                              img{
                                width: 129px!important;
                                margin-right:10px;
                              }
                            }
                          }
                          .fecha_nacimiento{
                            margin:1px 10px 0px 13px;
                          }
                          .telefono_celular{
                            width: 159px;
                            margin-right: 7px;
                          }
                          .form-item-celular{
                              width: 116px!important;
                              margin-left: 5px;
                          }

                          .pregunta-soy-cliente{
                            a{
                              width: 143px;
                            }
                            a + a{
                              width: 143px;
                            }
                          }
                        }
                      }
                  }
                  fieldset.group-right{
                    float: left;
                    width: 100%;
                    margin-top: 10px;
                    .form-item-zonas,
                    .form-item-rubros{
                        width: 320px;
                        label{
                            height: 64px;
                        }
                        .form-checkboxes{
                            width: 320px!important;
                            height: inherit;
                            .form-type-checkbox{
                              width: 190px;
                            }
                        }
                    }
                  }
                  fieldset.group-footer {
                    .form-submit{
                      margin:30px 0 13px 13px;
                      width: 292px;
                    }
                  }
                  #form-item-title{
                    width: 100%;
                  }
                  #form-item-subtitle{
                    width: 100%;
                    text-align: center;
                  }
            }
        }    
    }
}


/* CSS Document */
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-nombre, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-apellido, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-email, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-compania, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-pass1, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-pass2 {
  width: 143px !important;
  height: 53px;
  margin: 0px 0px 0px 10px;
}
.fecha_nacimiento{
  color: #00539B;
  display: block;
  float: left;
  width: 143px !important;
  height: 53px;
   margin: 0px 0px 0px 10px;
   position: relative;
    top: 1px;
}
.telefono_celular {
  color: #00539B;
  display: block;
  float: left;
  width: 151px !important;
  height: 53px;
   margin: 0px 0px 0px 10px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .bbva-edit-zonas, .front .form-item.form-type-checkbox.form-item-todos-rubros-0 label, .form-item.form-type-checkbox.form-item-terminos label {
  font-size: 11px;
  letter-spacing: 0em;
  height: 35px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .bbva-form-item-sexo{
      margin-top: 1px;
  float: left;
  width: 64px;
  position: relative;
  left: 7px;
}

.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-nombre,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-apellido,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-email,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-compania,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-pass1,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-pass2 {
  width: 90%;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-area, #edit-area {
  width: 51px;
  margin-left: 0px;
  font-size: 8px;
  margin-right: 5px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-document-type {
  width: 229px;
  margin: 0px 0 0 10px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-document-type select,
.front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset#edit-group-left .fieldset-wrapper .form-item-document-type select {
    width: 42px;
  font-size: 10px!important;
  white-space: nowrap;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-document-number {
  width: 176px;
  margin: 21px 0 12px -182px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-day {
  width: 210px;
  height: 26px;
  margin-left: 0px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-day select {
  width: 42px;
  height: 25px;
  font-size: 10px!important;
  white-space: nowrap;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-month {
  width: 42px!important;
  height: 26px;
  margin-left: 13px;
}

.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-month select {
  width: 42px;
  height: 25px;
  font-size: 10px!important;
  white-space: nowrap;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-year {
  height: 37px;
  margin-left: 5px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-year select {
  width: 56px;
  height: 25px;
  white-space: nowrap;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-celular {
  width: 87px;
  height: 25px;
}
.front #edit-zonas, .front #block-bbva_subscription-subscription_block #bbva-subscription-form .bbva-edit-zonas, .todos_rubros_div {
  width: 143px !important;
  float: left;
}
.front #edit-next, .front #edit-next2 {
  padding-top: 0px;
  letter-spacing: 0em;
  
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item-terminos {
  width: 175px!important;
  left: 0px !important;
}
a.colorbox-node.colorbox-subscription-ver-terminos {
  float: left;
  display: block;
  width: 30px;
  font-size:11px;
  right:0;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .colorbox-subscription-ver-terminos{
    top: -10px;
}
.front #edit-next, .front #edit-next2 {
    padding: 3px 0px 5px 5px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-day, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year {
  width: 24%;
  height: 26px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .bbva-edit-zonas, .front .form-item.form-type-checkbox.form-item-todos-rubros-0 label, .form-item.form-type-checkbox.form-item-terminos label {
  font-size: 11px;
    letter-spacing: 0em;
}
.front #edit-todos-rubros {
  width: auto !important;
  float: left;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-nombre, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-apellido, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-email, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-compania, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-pass1, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset#edit-group-left .fieldset-wrapper .form-item-pass2 {
  width: 143px !important;
  height: 53px;
}

.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a {
  background: #b4b4b4;
  width: 143px;
  height: 35px;
  line-height: 35px;
  float: left;
  text-align: center;
  margin-right: 10px;
  display: block;
  color: #fff;
}
.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a + a, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a + a, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a + a, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a + a, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a + a, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a + a, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a + a, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a + a {
 background: #0079C1;
  width: 143px;
}
.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-nombre, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-nombre, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-nombre, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-nombre, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre {
  width: 143px;
  float: left;
  margin: 0 10px 0px 13px;
  height: 46px;
}
.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-apellido, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-apellido, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-apellido, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-apellido, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido {
  width: 143px;
  float: left;
  margin: 0;
  height: 46px;
}
.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-document-type, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-type, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-document-type, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-type, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-document-type, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-type, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-document-type, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-type {
  float: left;
  width: 229px;
  margin: 0 0 0px 10px;
  height: 53px;
}
.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-document-number, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-number, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-document-number, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-number, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-document-number, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-number, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-document-number, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-number {
  float: left;
  width: 136px;
  margin: 21px 0 12px -136px;
}
.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-day, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-day, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-day, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-day, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day {
    width: 24%;
  height: 25px;
}
.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-month, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-month, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-month, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-month, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month {
  width: 24%;
}
.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-email, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-email, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-email, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-email, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email {
  width: 143px;
  float: left;
  margin: 0;
  height: 53px;
}
.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-area, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-area, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-area, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-area, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area {
    width: 38px;
  margin-left: 0px;
}
.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-celular, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-celular, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-celular, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-celular, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular {
    width: 105px;
}
.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-type-select select, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-type-select select, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-type-select select, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-type-select select, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select {
  width: 42px;
  margin-left: 0px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper #edit-year--2 .form-type-select select{
 width: 55px;
  height: 25px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper #edit-area--2{
 width: 38px;
  margin-left: 0px;
}
.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-compania, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-compania, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-compania, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-compania, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania {
  width: 143px;
  float: left;
  margin: 0;
  height: 53px;
}
.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-pass1, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass1, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-pass1, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass1, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-pass1, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass1, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-pass1, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass1 {
  width: 143px;
  float: left;
  margin: 0 10px 0 13px;
  height: 52px;
}
.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-pass2, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-pass2, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-pass2, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-pass2, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2 {
  width: 143px;
  float: left;
  margin: 0;
  height: 52px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-footer .form-submit{
    width: 289px;
    margin:16px 0 0 -82px;
}
/*fin ajustes*/

/*OTRAS EXPERIENCIAS*/
.node-type-experience #main #content .view-mode-full .group-footer .field-name-experiences-related .field-items .block-title{
    width: 100%;
    background: #09519d;
    color: #fff;
    margin: 0;
}


/*LOGIN*/

#dropdown-login .dropdown{  
  width: 100%;
  left: 0;
  top: 0px; 
  z-index: 9999999999;
}
#user-login-form{
  display: none;
}
.triangulo{
  display: none;
}
#dropdown-login .pregunta-soy-cliente{
  height: inherit;
  padding: inherit;
}

body #page #header a{
  width: 100%;
  height: 50px;
}
#dropdown-login .dropdown #soy_login,
#dropdown-login .dropdown #nosoy_login{
  font-size: 20px;
  padding-top: 10px;
}
body #page #footer{
}
#footer-copyright{
  bottom: 0;
  width: 100%;

}
#dropdown-login .ajax-progress{
    position: absolute;
    left: 80px;
}
#login_form_full{
  width: 100%;
  max-width: inherit;
}
#tipo-number-content{
  width: 271px;
  margin: 0 auto;
  float: inherit;
}

#dropdown-login .form-item-document-number{
  width: 177px;
  margin-left: 10px;
}
#dropdown-login .form-item-document-number input{
  width: 100%;
}
#dropdown-login #bbva-clave-usuario{
  width: 271px;
}
#dropdown-login .form-item-user-name-digital{
  width: 110px;
}
#dropdown-login .form-item-pass{
    margin:0 1px 5px 13px;
}
#dropdown-login .form-item-user-name-digital input{
  width: 100%;
}
#dropdown-login .form-item-type-doc{
    margin:0 2px 12px 13px;
}
#dropdown-login .form-item-pass input{
  width: 135px;
  float: left;
}
#dropdown-login .form-item-pass-nocliente{
  width:  255px;
} 
#dropdown-login .form-item-pass-nocliente input{
  width: 100%;
}
#dropdown-login .captcha{
  width: 255px;
  margin: 14px auto;
}
#dropdown-login .form-item.form-type-textfield.form-item-captcha-response{
    width: 255px!important;
}

#dropdown-login .form-item-remember-me{
  margin: inherit;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
#dropdown-login .form-actions{
  width: 95%;
  margin: 20px auto;
}
#dropdown-login .form-wrapper .form-submit{
  width: 100%;
  font-size: 19px;
  font-family: bbva light;
  font-weight: normal;
  height: 42px;
}
#dropdown-login #recover_pass_1{
    margin: -11px 0px 0 13px;
}
.captcha img{
    width: 100px;
}

/*IDENTIFICACION POSITIVA*/
#dropdown-login .identificacion-positiva-form{
    width: 100%;
}
#dropdown-login #tipo-numero{
    width: 200px;
}
#dropdown-login #gender{
    right: 9px;
}
#dropdown-login #nrodoc{
    width: 115px;
}
#dropdown-login .dropdown .salir-recupero{
    width: 130px!important;
    height: 27px!important;
}
#dropdown-login .dropdown .salir-recupero #ident-submit-valid{
    border:0!important;
}
/*#ident-submit-valid{
    margin-right: 12px;
    width: 124px;
    border:inherit!important;
}*/
#bbva-profile-pass-recovery-form .group-footer{
    width: 260px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 22px;
}
.identificacion-positiva-form h3{
    font-family: bbva light;
}
#label-reseteo-nocliente{
    font-size: 15px;
    margin-top: 16px;
    margin-bottom: 10px;
}
#bbva-profile-pass-recovery-form .group-recup-body{
    width: 260px;
}
#bbva-profile-pass-recovery-form .form-item-number{
    width: 196px;
}
#bbva-profile-pass-recovery-form .form-item-number input{
    width: 100%;
}

#bbva-profile-pass-recovery-form .group-footer .recuperar-salir{
    width: 50%!important;
    height: 27px!important;
}
.group-recup-body .form-item label{
    text-align: left!important;
} 

/*VIDEO RESPONSIVE*/

#colorbox{
    width: 100%!important;
    left: inherit!important;
    #cboxWrapper{
        width: 100%!important;
        #cboxLoadedContent{
            width: 100%!important;
        }
    }
    #cboxContent{
        width: 100%!important;
        iframe{
            margin: 50px 0 0 0!important;
            width: 100%;
            padding: 0 40px;
        }
    }
}
