
body{
.breadcrumb{
    margin-left: 10px;
}
  #page {
    #header {
      overflow: hidden;
      min-height: 0px;
      height: 0px;
      .container {
        #logo{
          min-width: 140px;
        }
        #slogan {
          padding: 26px 0 0 20px;
          width: 130px;
        }

        .region-header {
        }
      }
    }
    #slideshow-wrapper{
      .skin-default{
        .views_slideshow_cycle_main{
          .views-slideshow-cycle-main-frame{
            .views-slideshow-cycle-main-frame-row{
              img{
                min-width: inherit!important;
              }
            }
          }
        }
        #views_slideshow_controls_text_slide-block,
                #views_slideshow_controls_text_slide-block_1 {
                    #views_slideshow_controls_text_previous_slide-block,
                    #views_slideshow_controls_text_next_slide-block,
                    #views_slideshow_controls_text_previous_slide-block_1,
                    #views_slideshow_controls_text_next_slide-block_1 {
            top: 30%;
          }
        }
      }
    }
    #higlighted-area {
      position: relative;
      margin: -24% auto 0 auto;
      width: 723px;

      .region-highlight {
        #block-views-solo_por_hoy-block {
          margin:inherit;
          width: 309px;
          h2.block-title {
            margin: 0 0 0 0;
            font-size: 20px;
            line-height: 33px;
            height: 33px;
          }
          .content {
            .views-slideshow-controls-top {
              width: 100%;
              margin: 0 0 0 0;
              .views-slideshow-pager-field-item{
                height: 129px;
                .group-fields{
                  .sin-porcent{
                    margin: 57px 0 0 44px;
                  }
                }
                .even{
                  .field-title{
                    margin-right: 7px;
                  }
                }
              }
            }

            #views_slideshow_cycle_main_solo_por_hoy-block {
              display: none!important;

              img {
                height: auto;
              }
            }
          }
        }

        #block-webform-client-block-63 {
          clear: left;
          width: 98.4%;
          margin: 10px 5px;

          .block-inner {
            width: 390px;
            margin: 0 auto;
          }
        }

        #block-imageblock-3 {
          display: none;
        }
      }
    }

    #main-wrapper #breadcrumb-wrapper {
      display: none;
    }

    #pre-footer {
      clear: both;
      .inner {
        .block-quicktabs {
          .quicktabs_main{
            .view--experiences{
              width: 100%;
              .view-content{
                margin-left: 10px;
                .views-row{
                  width: 18.5%;
                  .group-fields{
                    width: 91.5%;
                    left: 4%;
                    bottom: 5px;
                    min-height: 81px;
                    .field-title{
                      font-size: 15px;
                      line-height: 15px;
                    }
                    .field-volanta{
                      font-size: 12px;
                      line-height: 13px;
                    }
                  }
                }
              }
            }
          }
        }
        #block-imageblock-1 {
          .block-inner {
            width:100%;
            img { width: 100%;}
          }
        }

        #block-quicktabs-quicktabs {
          #quicktabs-container-quicktabs {

            .content {
              .jcarousel-container-horizontal {
                min-height: 367px;
                width: 710px;
                padding: 20px 0;

                .jcarousel-clip-horizontal {
                  ul {
                    li {
                      width: 230px!important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    #footer {
      .region-footer {
        width: 95%;
        #block-bbva-footer_mobile,
        block-bbva-footer_video,
        block-bbva-footer_socials{
          height: 196px;
        }
        #block-bbva-footer_mobile{
          width: 28%;
          .block-inner{
            .block-title{
              font-size: 30px;
            }
            .field-mobiles{
              margin-top: 11px!important;
              .link-android{
                background: url("../../../images/android-footer-tablet.png") no-repeat;
                width: 33px; 
                margin-right: 20px;
              }
              .link-iphone{
                background: url("../../../images/iphone-footer-tablet.png") no-repeat;
                width: 30px; 
                margin-top: 0;
                margin-right: 20px;
              }
              .link-wphone{
                background: url("../../../images/win8-footer-tablet.png") no-repeat;
                width: 70px; 
              }
            }
            .field-subtitle{
              font-size: 22px;
            }
            .field-description{
              font-size: 13px;
              width: 100%;
              line-height: 16px;
            }
          }
        }
        #block-bbva-footer_socials{
          width: 28%;
          .block-inner{
            .block-title{
              font-size: 30px;
            }
            .field-subtitle{
              font-size: 22px;
            }
            .field-description{
              font-size: 13px;
              width: 100%;
              line-height: 16px;
            }
            .field-url{
              margin-top: 12px!important;
            }
          }
        }
        #block-bbva-footer_video{
          width: 39%;
          .block-inner{
            .block-title{
              font-size: 30px;
            }
            .field-subtitle{
              font-size: 22px;
            }
            .field-description{
              font-size: 13px;
              width: 44%;
              line-height: 16px;
            }
            .field-videos{
              width: 128px;
              float: right;
              margin: 18px 10px 0 0;
            }
          }
        }
        #block-block-1 {
          width: 59%!important;
          padding-left: 20px;

          .tb-copyright {
            text-align: left;
          }
        }

        #block-menu-menu-footer {
          width: 20%;
        }
      }
    }
  }
}
/*FRONT*/
.front{
  #block-bbva_subscription-subscription_block{
   width: 406px;
   margin-left: 8px;
   #bbva-subscription-form {
    #form-item-subtitle{
      font-size: 18px;
      height: 27px;
      line-height: 27px;
    }
   }
   h2{
    font-size: 20px;
    height: 33px;
    line-height: 33px;
   }
    #bbva-subscription-form{
      fieldset.group-left {
        .fieldset-wrapper{
          .pregunta-soy-cliente {
            a{
            }
            a + a {
            }
          }
        }
      }
    }
  }
}

/** Responsive Beneficios **/

/*.page-beneficios {

  #main {
    width: 100%;

    #content {
      width: 100%;

      .groups {
        padding: 0;

        .jcarousel-container-horizontal {
          width: 680px!important;

          .jcarousel-clip-horizontal {
            width: 680px;
          }

          .jcarousel-prev-horizontal {
            left: 200px;
          }

          .jcarousel-next-horizontal {
            right: 200px;
          }
        }
      }
    }

    #sidebar-first {
      width: 100%;

      #block-views--exp-beneficios-page {
        width: 100%;

        .views-exposed-widget > label {
          clear: both;
        }

        .form-type-bef-checkbox {
          float: left;
          margin-right: 10px;
        }
      }

      #block-imageblock-2 {
        display: none;
      }
    }
  }
} 
*/

/** Suscribite **/
.page-node-63 {
  #webform-client-form-63 > div {
    fieldset#webform-component-fields {
      padding: 23px 10px 30px 10px;
    }
    fieldset#webform-component-rubros {
      width: 41%;
      padding: 23px 10px 30px 10px;

      .webform-component-checkboxes {
        .form-checkboxes {
          .form-type-checkbox {
            width: 262px!important;
          }
        }
      }
    }

    #edit-actions {
      .form-submit {
        margin-top: 15px!important;
      }
    }
  }
}


/** Experiences **/

#parallax {
  .intro-content{
    min-height: 275px;
  }
  .content-node-parallax {
    .group-title {
      width: 100%;
      font-size: 52px;
      line-height: 60px;
      margin-top: -150px!important;
    }
    .group-header{
      .section{
        width: 783px;
      }
    }
    .parallax-inner {
      .group-left {
        width: 45%;

        .section {
          padding: 0;
          float: right;
          font-size: 26px;
          line-height: 29px;
        }
      }

      .group-right {
        width: 45%;

        .section {
          padding: 0 0 10px 20px;
          width: 100%;
        }
      }
    }
  }
}

/** Solicitar Tarjeta **/
.node-webform .field-name-body {
  padding-right: 0;
  padding-left: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.page-node-84 {
  .node-content {
    .webform-client-form {
      margin:0;

      fieldset {
        #webform-component-row-1--tipo-dni {
          clear: left;
        }
      }
    }
  }
}

/*MUNDO RIVER BOCA*/

.page-taxonomy-term {
  .vocabulary-experience {
    #term-carousel {
      ul{
        li{
          .row{
            .col-rows{
              width: 688px;
              .field-logo{
                width: 334px;
                img{
                  height: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*BENEFIT FULL*/
body{
    #page{
        #pre-footer{
            .inner{
                .block-quicktabs{
                    .item-list{
                        ul.quicktabs-tabs{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

/*BENEFICIO INDIVIDUAL*/

.page-benefit-benefit{
  #main{
    width: 97%!important;
    #content{
      width: 75%!important;
    }
    #sidebar-first{
      width: 25%!important;
      min-width: 182px;
      #block-views--exp-benefit_filters-page{
        width: 100%;
      }
    }
  }
  .field-item{
    #section-benefit{
      width: 100%;
      .row{
        width: 100%;
        .col-left{
          position: relative;
                  .field-title {
                      background: #0079C1;
                      font-size: 29px;
                      color: #fff;
                      height: 44px;
                      line-height: 44px;
                      font-family: 'bbva light';
                      span {
                          margin-left: 20px;
                      }
                  }
                  .field-title span {
                      float: left;
                  }
                  .group-shares ul {
                      list-style-type: disc;
                      float: right;
                      margin: 0px;
                  }
                  .group-shares {
                      li {
                          height: 35px;
                          width: 39px;
                          margin-right: 5px;
                          margin-top: 4px;
                          a {
                              text-indent: -500em;
                              display: block;
                          }
                      }
                      .list-face {
                          background: url(../../images/face.jpg);
                          background-position: -1px;
                          cursor: pointer;
                      }
                      .list-twitter {
                          background: url(../../images/twitter.jpg);
                          background-position: -2px;
                          cursor: pointer;
                      }
                      .list-email {
                          background: url(../../images/mail.jpg);
                          cursor: pointer;
                      }
                  }
                  .field-image {
                      img {
                          width: 100%;
                          height: 100%;
                      }
                  }
                  

                  /*CAJITAS*/
                  .benefit-group-container{
                    .group-fields-full{
                      padding-top: inherit;
                      .group-fields-1,
                      .group-fields-2,
                      .group-fields-3{
                        width: 150px;
                        float: left;
                        padding-top: 4px;
                        margin:0 4px;
                        .sin-porcent{
                          font-size: 32px;
                          line-height: 25px;
                        }
                      }
                      .group-fields-promotion{
                        float: left;
                        font-size: 50px;
                        line-height: 46px; 
                        margin-left: 7px;                   
                      }
/*////////////////////*//*CLASES PARA EL JQUERY*//*///////////////////////////////////*/
                      
                      .group-fields-promotion-tb-2{
                        font-size: 63px!important;
                        line-height: 48px!important;                   
                      }
                      .group-fields-promotion-tb-1{
                        font-size: 73px!important;
                        line-height:65px!important;
                      }

                      .group-fields-duration-tb-1{
                        line-height: 65px!important;
                      }
                      .group-field-caja-tb-2{
                        margin:0 24px!important;
                      }
                      .group-field-caja-tb-1{
                        width: 170px!important;
                      }
/*//////////////////////////////////////////////////////////////////////////////////*/
                      .group-fields-duration{
                        line-height: 46px;
                        span.porcent{
                          font-size: 48px;
                          padding: 0;
                        }
                      }
                      .field-quotes{
                        float: inherit;
                        font-family: bbva;
                        font-size: 12px;
                        text-transform: uppercase;
                        position: absolute;
                        top: 46px;
                        right: -6px;
                      }
                      .leyendago,
                      .leyendanogo{
                        float: left;
                        width: 100%;
                        text-align: center;
                        font-size: 10px;
                        line-height: 16px;
                      }
                      .leyendago{
                        margin:18px 0 8px 0;
                      }
                      .leyendanogo{
                        margin-top: 18px;
                      }
                      .group-fields-3 .leyendanogo{
                        width: 154px;
                      }
                      .leyendago-2{
                        margin:18px 0 4px 0;
                        float: left;
                        width: 100%;
                        text-align: center;
                        font-size: 11px;
                        line-height: 16px;
                      }
                      .group-field-beneficio-no-cliente-1,
                      .group-field-beneficio-no-cliente-2,
                      .group-field-beneficio-no-cliente-3,
                      .group-field-beneficio-no-cliente-4{
                        a.inicia-sesion,
                        a.adquiri-cupon,
                        a.disfruta-mas{
                          width: 100%;
                          float: left;
                          text-align: center;
                          height: 30px;
                          display: block;
                          font-size: 21px;
                          line-height: 30px;
                          color: #fff;
                          font-family: bbva;
                        }
                        a.inicia-sesion,
                        a.disfruta-mas{
                          background: #f09700;
                        }
                        a.adquiri-cupon{
                          background: #c91e61;
                          margin-top: 2px;
                        }
                      }
                      .group-field-beneficio-no-cliente-1,
                      .group-field-beneficio-no-cliente-2,
                      .group-field-beneficio-no-cliente-3,
                      .group-field-beneficio-no-cliente-4,
                      .group-field-beneficio-cliente{
                        float: left;
                        width: 100%;
                        text-align:  center;
                      }
                      p.field-description-no-cliente-no-logged,
                      p.field-description-no-cliente-no-logged-2,
                      p.field-title-cliente{
                        width: 100%;
                        text-align: center;
                        float: left;
                        margin-top: 0px;
                        line-height: 14px;
                        font-size: 11px;
                      }
                      p.field-description-no-cliente-no-logged{
                        margin: 17px 0 6px 0;
                      }
                      .group-fields-3{
                        .group-fields-promotion{
                          margin-left: 10px!important;
                        }
                      }
                      .group-field-beneficio-no-cliente-4{
                        .disfruta-mas{
                            background: #52bdec!important;
                        }
                      }
                    }
                  }
              }
          }
          .row-desc {
              width: 100%;
              font-family: 'bbva';
              margin-top: 0;
              float: left;
              position: inherit;
              .title {
                  font-size: 20px;
              }
              .field-description {
                  font-size: 15px;
                  line-height: 21px;
                  letter-spacing: 1px;
                  font-family: 'bbva light';

                  .field-logo {
                      width: 135px;
                      top: inherit;
                      left: inherit;
                      margin: -9px 20px 0 20px;
                      img {
                          width: 100%;
                          height: 100%;
                      }
                  }
              }

          }
      .row-map{
          float: left; 
          width: 58%;
          margin-left: 1%;
      }
      .row-sucursales{
        position: relative;
        top: 0;
        right: 0;
          .field-link a{
              text-align: center;
              float: right;
              font-size: 13px;
              width: 100%;
          }
      }
      .row-legal{
        .field-legal-title{
          font-size: 13px;
          width: 100%;
        }
        .field-legal-text{
          font-size: 8px;
        }
      }
    }
  }
}
.page-benefit,
.page-benefit-categories,
.page-voucher-voucher{
    #main{
        width: 696px;
        margin: 3px auto;
        #content{
          width: 69%;
          .field-header{
            width: 466px;
          }
          .view-benefit-filters,
          .view-benefit-group-categories{
            .jcarousel-container-horizontal {
              width: 471px!important;
              min-width: inherit;
              .jcarousel-clip-horizontal{
                width: 473px;
                ul{
                  width: 1200px!important;
                }
              }
            }
          }
          #content-inner{
            #content-area{
                    .region-content{
                        .block-system {
                            .block-inner{
                                .content{
                                    .view-benefit-filters{
                                        .view-content{
                                            table{
                                                width: 106%;
                                                tbody{
                                                    tr{
                                                        td{
                                                            float: left;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            .region-content{
              #block-system-main{
                .content{
                  .view-more{
                    width: 466px;
                  }
                }
              }
            }
          }
        }

       /* #content{
            max-width: 521px;
            padding-left:9px; 
            h3{
              font-size: 14px!important;
              line-height: 30px!important;
            }
            .field-header{
                width: 505px;
                height: 30px;
            }
            .view-benefit-group-categories {
                .jcarousel-container-horizontal{
                    min-width: 514px;
                    min-height: inherit;
                    margin: 0;
                    float: left;
                    .jcarousel-clip-horizontal {
                        width: 505px;
                        max-height: 225px!important;
                        ul{
                            li{
                              width: 161px!important;  width: 161px !important;
                              .view-mode-teaser{
                                .field-items{
                                  width: 163px;
                                }
                                .field-item{
                                  .group-fields{
                                    width: 147px;
                                    height: 70px;
                                    .group-fields-logo{
                                      margin-right: 6px;
                                      width: 74px;
                                      img{
                                        margin: 9px 0 0 5px;
                                      }
                                    }
                                    .group-fields-title{
                                        font-size: 13px !important;
                                        margin: 23px 0 0 2px;
                                        white-space: nowrap;
                                    }
                                    .group-fields-promotion{
                                      font-size: 31px;
                                      padding-top: 25px;
                                      width: 39px;
                                      white-space: nowrap;
                                    }
                                    .group-fields-duration{
                                      margin-top: 2px;
                                      width: 24px;
                                      span.porcent{
                                        font-size: 27px;
                                      }
                                    }
                                    .field-quotes{
                                      margin: -4px 1px 0 0;
                                      letter-spacing: 3px;
                                      font-size: 7px;
                                    }
                                  }
                                }
                              }
                            }
                        }
                    }
                }
            }
            .view-benefit-filters{
              .jcarousel-container-horizontal{
                min-height: inherit!important;
                .jcarousel-next-horizontal{
                  top: -24px;
                }
                .jcarousel-prev-horizontal{
                  top: -24px;
                }
              }
            }
            #content-inner{
                .region-content{
                    #block-system-main{
                        .content{
                            .view-more{
                                width: 505px;
                                height: 30px;
                                background-image: url('../../../images/vermas_tablet.jpg');
                            }
                        }
                        .field-name-benefit-teaser{
                            .field-logo{
                                width: 116px;
                                left: 129px;
                                top: 201px;
                            }
                        }
                    }
                }
            }
        }*/
        /*#sidebar-first{
          width: 185px;
          #block-views--exp-benefit_filters-page{
            width: inherit;
            .views-exposed-widget > label{
              font-size: 14px;
              height: 30px;
              line-height: 30px;
            }
            .views-exposed-widget > .views-widget{
              font-size: 12px;
            }
          }         
        }*/
    }
}

/*PRODUCTO RIVER*/
.node-type-product{
    #page{
        #main{
            #content{
                .field-name-title{
                    h2{
                    position: absolute;
                    right: 5%;
                    top: 5%;
                    color: #fff;
                    font-size: 57px;
                    font-family: bbva light;
                    width: 280px;
                    line-height: 50px;
                        text-align: right;
                        text-shadow: 3px 2px 2px #000;
                    }
                }
                .statistics_counter{
                    display: none;
                }
                .group-footer{
                    width: 100%;
                    margin:0;
                    legend{
                        display: none;
                    }
                    .group-inner-footer{
                        width:100%;
                        min-width: inherit;
                        float: left;
                        padding: 20px 0 0 20px;
                        .field-name-field-product-description-short{
                            width: 100%;
                            float: left;
                            font-size: 60px;
                            font-family: bbva light;
                            color: #00539B;
                            line-height: 65px;
                        }
                        .field-name-field-product-tyc{
                            float: left;
                            position: relative;
                            font-size: 11px;
                            color: #b4b4b4;
                            margin-top: 7px;
                            font-family: bbva light;
                        }
                    }
                    .group-inner-footer-right{
                        width: 500px;
                        margin-left:0;
                        float: left;
                        padding: 4px 0 40px 20px;
                        .field-name-field-product-titulo-descripcion{
                            font-size: 16px;
                            line-height: 23px;
                            color: #00539B;
                            font-family: 'bbva';
                            float: left;
                            width: inherit;
                            text-align: justify;
                            margin-top: 11px;
                        }
                        ul{
                        float: left;
                        margin: 12px 0 0 6px;
                        padding: 0 0 0 15px;
                        font-size: 15px;
                        line-height: 23px;
                        color: #00539B;
                        font-family: 'bbva light';
                            li{
                                margin-bottom: 7px;
                                list-style-image: url('../../../images/list-dot.jpg')!important;
                                float: none;
                                letter-spacing: 2px;
                            }
                        }
                    }
                }
                .field-type-image{
                    width: 100%;
                    img{
                        width:100%;
                        height: 100%;
                    }
                }
                .field-name-field-product-image-button{
                    width: 144px;
                    float: left;
                    position: absolute;
                    right: 5%;
                    top: 17.5%;
                    even{
                        display: none;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .field-name-field-product-link-button{
                    position: absolute;
                    right: 6.3%;
                    top: 29%;
                    a{
                        padding: 5px 20px 21px 20px;
                        font-size: 18px;
                        line-height: 26px;
                        height: 33px;
                        float: left;
                    }
                }
                
                .field-name-field-product-category{
                    display: none;
                }/*
                */
            }
        }
    }
}

/*EXPERIENCIAS RIVER*/
#list-experiences{
    width: 624px;
    .row{
      width: 300px;
      min-height: inherit;
        .group-fields{
         /* height: 130px;*/
            .field-title{
              font-size: 20px;
            }
            .field-volanta{
                font-size: 17px;
                line-height: 18px;
            }
        }
    }
}


.node-type-experience{
    #main{
        #content{
            .view-mode-full{
                .group-header{
                  .field-name-experience{
                    #experience-content{
                      height: 415px!important;
                      .field-image{
                        max-height: 415px;
                      }
                      .group-fields{
                        .field-link{
                          font-size: 23px;
                        }
                      }
                    }
                  }
                }
                .group-left{
                  .header-carousel{
                    .jcarousel-container-horizontal{
                      .jcarousel-next{
                        background: url("../../../images/arrow_slide_benefit_responsive.png");
                        width: 22px;
                        height: 34px;
                        top: 36%;
                        right: 6.5%;
                      }
                      .jcarousel-prev{
                        background: url("../../../images/arrow_slide_left_benefit_responsive.png");
                        width: 22px;
                        height: 34px;
                        top: 36%;
                      }
                    }
                    ul{
                      width:100%!important; 
                      li{
                        width: 45%!important;
                          margin: 0 13px 0 0px;
                      }
                    }
                  }
                  .tabs-carrusel{
                    .tab-gallery{
                      width: 46%;
                    }
                  }
                }
                .group-right{
                    padding: 0;
                    margin: 50px 0 50px 0;
                    .field-name-field-experience-bajada{
                        font-size: 21px;
                    }
                    .field-name-field-experience-fija-titulo3{
                        font-size: 21px;
                    }
                    .field-name-field-experience-descripcion{
                        font-size: 15px;
                        margin-bottom: 20px;
                        .field-item{
                            line-height: 19px;
                        }
                    }
                    .field-name-field-experience-fija-texto3{
                        font-size: 15px;
                        .field-item{
                            line-height: 19px;
                        }
                    }
                }
                .group-footer{
                    .field-name-experiences-related{
                        .field-items{
                            width: 100%;
                            .view-experience-related{
                              width: 473px;
                            }
                        }
                    }
                }
            }
        }
    }
}


/*BENEFICIOS DE EXPERIENCIA*/

.page-benefit-experience{
    #main{
        #content{
            #content-area{
                .view-benefit-filters{
                    width: 631px;
                    .views-view-grid{
                        tbody{
                            td{
                                .field-items{
                                    width: 300px;
                                    .group-fields{
                                        .group-fields-logo{
                                            width: 115px;
                                            margin-left: 0px;
                                        }
                                        .group-fields-promotion{
                                            font-size: 68px;
                                            width: 85px;
                                            margin-left: 18px;
                                            white-space: nowrap;
                                        }
                                        .group-fields-duration{
                                            margin-left: 2px;
                                            span.porcent{
                                                font-size: 68px;
                                            }
                                        }
                                        .field-quotes{
                                            margin-right: 8px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/*SORTEOS*/

#node-156{
    .node-inner{
        .content{
            width: 630px;
            .field-items{
              .ds-3col{
                    .group-middle {
                      width: 90%;
                      padding-bottom: 0;
                      margin-top: -195px;
                      top: 5px;
                      padding-left: 8px;
                      a{
                        width: 80%;
                        font-size: 23px;
                      }
                      .field-name-field-draw-title{
                        font-size: 20px;
                      }
                      .field-name-field-draw-description,
                      .field-name-field-draw-sub-title{
                          font-size: 17px;
                          line-height: 18px;
                      }
                    }
                }
                .field-item{    
                    width: 300px;
                    height: 395px;
                    margin-bottom: 10px;
                    img{
                        width: 100%!important;
                        height: 100%!important;
                    }
                }
            }
        }
    }
}


/*SUSCRIPCION FULL*/

.page-subscription {
    #main{ 
        #block-system-main{ 
            width: 620px;
            margin: 50px auto;
            #bbva-subscription-form{
                margin: inherit;
                width: inherit;
                float: inherit;
                padding: inherit;
                  fieldset.group-left{
                    width: 620px;
                    .fieldset-wrapper{
                      .form-item-nombre,
                      .form-item-apellido{
                        width: 292px;
                      }
                      .form-item-document-number{
                        width: 236px;
                      }
                      .bbva-form-item-sexo{
                        left: 12px;
                      }
                      .fecha_nacimiento{
                        margin: 1px 10px 0px 18px;
                        width: 220px;
                      }
                      .form-item-email{
                        margin-left: 13px;
                      }
                      .form-item-day,
                      .form-item-month{
                        width: 66px;
                      }
                      .form-item-year{
                        width: 68px;
                      }
                      .form-item-compania{
                        margin-top: 1px;
                      }
                      .form-item-pass1,
                      .form-item-pass2{
                        width: 291px;
                      }
                      .form-item-terminos{
                        width: 214px!important;
                        margin-left: 35px;
                      }
                      #bbva_captcha_content{
                        width: 290px;
                        margin-left: 17px;
                        float: left;
                        .captcha{
                          float: inherit;
                          width: inherit;
                          padding: inherit;
                          top: inherit;
                          margin-left: inherit;
                          img{
                            width: 124px;
                            margin-right:10px;
                          }
                        }
                      }

                      .pregunta-soy-cliente{
                        a{
                          width: 48%;
                        }
                        a + a{
                          width: 48%;
                        }
                      }
                    }
                  }
                  fieldset.group-right{
                    float: left;
                    width: 620px;
                    margin-top: 10px;
                    .form-item-zonas,
                    .form-item-rubros{
                        width: 620px;
                        .form-checkboxes{
                            width: 620px!important;
                            .form-type-checkbox{
                              width: 198px;
                            }
                        }
                    }
                  }
                  fieldset.group-footer {
                    .form-submit{
                      margin:15px 0 13px 13px;
                      width: 590px!important;
                      border-radius: inherit!important;
                    }
                  }
                  #form-item-title{
                    width: 100%;
                  }
                  #form-item-subtitle{
                    width: 100%;
                    text-align: center;
                  }
            }
        }    
    }
}

/*VOUCHER*/
/*
.page-voucher-voucher{
    .main{
        width: 690px;
        height: 360px;
        .group-right{
            width: 306px;
            .discount-area {
              .logo{
                margin-top: 39px;
              }
            }
        }
        #footer-voucher{
          margin-top: 38px;
        }
    }
}*/




/*OTRAS EXPERIENCIAS*/
.node-type-experience #main #content .view-mode-full .group-footer .field-name-experiences-related .field-items .block-title{
    width: 100%;
    background: #09519d;
    color: #fff;
    margin: 0;
}

/*LOGIN*/

#dropdown-login .dropdown{  
  width: 100%;
  left: 0;
  top: 50px; 
  z-index: 9999999999;
}
#user-login-form{
  display: none;
}
#login_form_full{
  padding: 20px 0 20px 0;
}
.triangulo{
  display: none;
}
#dropdown-login .pregunta-soy-cliente{
  height: inherit;
  padding: inherit;
}

body #page #header a{
  width: 100%;
  height: 50px;
}
#dropdown-login .dropdown #soy_login,
#dropdown-login .dropdown #nosoy_login{
  font-size: 20px;
  padding-top: 10px;
}
body #page #footer{
}
#footer-copyright{
  bottom: 0;
  width: 100%;

}
#login_form_full{
  width: 66%;
  max-width: inherit;
  float: inherit;
  margin: 0 auto;
  padding-bottom: 86px;
}
#tipo-number-content{
  width: 100%;
}
#dropdown-login .form-item-document-number{
  width: 70%;
}
#dropdown-login .form-item-document-number input{
  width: 100%;
}
#dropdown-login #bbva-clave-usuario{
  width: 100%;
}
#dropdown-login .form-item-user-name-digital{
  width: 47%;
}
#dropdown-login .form-item-user-name-digital input{
  width: 100%;
}
#dropdown-login .form-item-pass input{
  width: 48.3%;
}
#dropdown-login .form-item-pass-nocliente{
  width:  95.1%;
} 
#dropdown-login .form-item-pass-nocliente input{
  width: 100%;
}
#dropdown-login .captcha{
  width: 320px;
  margin: 20px auto;
}
#dropdown-login .form-item.form-type-textfield.form-item-captcha-response{
    width: 324px!important;
}
#dropdown-login .form-item-remember-me{
  margin: inherit;
  width: 100%;
  text-align: center;
}
#dropdown-login .form-actions{
  width: 95%;
  margin: 20px auto;
}
#dropdown-login .form-wrapper .form-submit{
  width: 100%;
  font-size: 19px;
  font-family: bbva light;
  height: 42px;
}


/*IDENTIFICACION POSITIVA*/
#dropdown-login .identificacion-positiva-form{
    width: 320px;
    margin: 0 auto;
}
#dropdown-login #tipo-numero{
    width: 215px;
}
#dropdown-login #gender{
    right: 9px;
}
#dropdown-login #nrodoc{
    width: 131px;
}
#dropdown-login .dropdown .salir-recupero{
    width: 130px!important;
    height: 27px!important;
}
#dropdown-login .dropdown .salir-recupero #ident-submit-valid{
    border:0!important;
}
/*#ident-submit-valid{
    margin-right: 12px;
    width: 124px;
    border:inherit!important;
}*/
#bbva-profile-pass-recovery-form .group-footer{
    width: 260px;
  margin: 20px auto;
}
.identificacion-positiva-form h3{
    font-family: bbva light;
}
#label-reseteo-nocliente{
    font-size: 15px;
    margin-top: 16px;
    margin-bottom: 10px;
}
#bbva-profile-pass-recovery-form .group-recup-body{
    width: 260px;
}
#bbva-profile-pass-recovery-form .form-item-number{
    width: 196px;
}
#bbva-profile-pass-recovery-form .form-item-number input{
    width: 100%;
}

#bbva-profile-pass-recovery-form .group-footer .recuperar-salir{
    width: 50%!important;
    height: 27px!important;
}
.group-recup-body .form-item label{
    text-align: left!important;
} 

/*FORMULARIO*/

.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos{
  right: 165px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item-terminos label{
  font-size: 12px!important;
}

/*VIDEO RESPONSIVE*/

#colorbox{
    width: 100%!important;
    left: inherit!important;
    #cboxWrapper{
        width: 100%!important;
        #cboxLoadedContent{
            width: 100%!important;
        }
    }
    #cboxContent{
        width: 100%!important;
        iframe{
            margin: 50px 0 0 0!important;
            width: 100%;
            padding: 0 40px;
        }
    }
}