/** Tribal Responsive **/

body {
    .breadcrumb{
        margin-left: 10px;
    }
    #content {
        .views_slideshow_cycle_teaser_section {
            height: inherit !important;
        }
    }
    #page {
        #header {
            overflow: hidden;
            min-height: 0px;
            height: 0px;
            .container {
                #logo {
                    height: 49px;
                    float: left;
                    margin-top: 14px;
                }
                #slogan {
                    padding: 26px 0 0 0;
                    width: 115px;
                }
                .region-header {
                    width: 83%;
                }
            }
        }
        #slideshow-wrapper {
            margin-bottom: inherit;
            .skin-default {
                .views_slideshow_cycle_main {
                    .views-slideshow-cycle-main-frame {
                        .views-slideshow-cycle-main-frame-row {
                            img {
                                min-width: inherit !important;
                            }
                        }
                    }
                }
                #views_slideshow_controls_text_slide-block,
                #views_slideshow_controls_text_slide-block_1 {
                    #views_slideshow_controls_text_previous_slide-block,
                    #views_slideshow_controls_text_next_slide-block,
                    #views_slideshow_controls_text_previous_slide-block_1,
                    #views_slideshow_controls_text_next_slide-block_1 {
                        top: 22%;
                        margin-top: 20%;
                    }
                }
            }
        }
        #higlighted-area {
            position: relative;
            margin: 41% auto 0 auto;
            width: 100%;
            .region-highlight {
                #block-views-solo_por_hoy-block {
                    width: 44%;
                    margin: 0 1% 0 0;
                    h2.block-title {
                        width: 100%;
                        text-align: center;
                        margin: 0 0 0 0;
                        font-size: 20px;
                        line-height: 33px;
                        height: 33px;
                    }
                    .content {
                        .view-solo-por-hoy {
                            float: inherit;
                        }
                        .views-slideshow-controls-top {
                            width: 100%;
                            margin: 0 0 10px 0;
                            .views-slideshow-pager-field-item {
                                .group-fields {
                                    width: 85px;
                                    .group-fields-promotion {
                                        font-size: 58px;
                                    }
                                    .group-fields-duration {
                                        font-size: 53px;
                                        width: 8px;
                                    }
                                    .field-quotes {
                                        font-size: 10px;
                                        margin-top: 5px;
                                        position: relative;
                                        left: 38px;
                                    }
                                    .sin-porcent{
                                        font-size: 20px!important;
                                        margin-top: 64px;
                                        margin-left: -9px;
                                    }
                                }
                                .even {
                                    width: 209px;
                                    .field-logo-empty {
                                        font-size: 14px;
                                    }
                                    .field-title {
                                        width: 82px;
                                        margin: 0 11px 0 11px;
                                    }
                                }
                            }
                        }
                        #views_slideshow_cycle_main_solo_por_hoy-block {
                            display: none;
                            img {
                                height: auto;
                                display: none;
                            }
                        }
                    }
                }
                #block-webform-client-block-63 {
                    clear: left;
                    width: 42.3%;
                    margin: 10px;
                    .block-inner {
                        width: 390px;
                    }
                }
                #block-imageblock-3 {
                    clear: both;
                    width: 53.4%;
                    margin: 10px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        #main-wrapper {
            #breadcrumb-wrapper {
                display: none;
            }
        }
        #pre-footer {
            .inner {
                clear: both;
                #block-imageblock-1 {
                    .block-inner {
                        width: 100%;
                        img {
                            width: 100%;
                        }
                    }
                }
                .block-quicktabs {
                  display: none;
                    .quicktabs_main {
                        .view--experiences {
                            width: 100%;
                            .views-row {
                                width: 22%;
                                .group-fields {
                                    width: 83%;
                                    min-height: 81px;
                                    padding: 11px;
                                    .field-volanta {
                                        font-size: 15px;
                                        line-height: 16px;
                                    }
                                    .field-title {
                                        font-size: 9px;
                                        line-height: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
                #block-quicktabs-quicktabs {
                    .item-list {
                        ul {
                            width: 100% !important;
                        }
                    }
                    #quicktabs-container-quicktabs {
                        .view-content {
                            .jcarousel-container-horizontal {
                                width: 100% !important;
                                padding: 20px 0;
                                .jcarousel-clip-horizontal {
                                    ul {
                                        li {
                                            width: 230px !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #footer {
            .region-footer {
                width: 93%;
                #block-bbva-footer_mobile {
                    width: 34%;
                    margin-right: 5px;
                    height: 223px;
                    .block-inner {
                        .block-title {
                            font-size: 22px;
                            line-height: 20px;
                            background: transparent!important;
                            font-family: bbva light;
                        }
                        .field-mobiles {
                            .link-android {
                                background: url("../../../images/android-footer-tablet.png") no-repeat;
                                width: 33px;
                                margin-right: 8px;
                            }
                            .link-iphone {
                                background: url("../../../images/iphone-footer-tablet.png") no-repeat;
                                width: 30px;
                                margin: 0 8px 0 0;
                            }
                            .link-wphone {
                                background: url("../../../images/win8-footer-tablet.png") no-repeat;
                                width: 67px;
                            }
                        }
                        .field-subtitle {
                            font-size: 18px;
                        }
                        .field-description {
                            font-size: 13.5px;
                            width: 95%;
                            line-height: 18px;
                        }
                    }
                }
                #block-bbva-footer_socials {
                    width: 29%;
                    margin-left: 10px;
                    .block-inner {
                        .block-title {
                            white-space: nowrap;
                            font-size: 22px;
                            line-height: 20px;
                            background: transparent!important;
                            font-family: bbva light;
                        }
                        .field-subtitle {
                            font-size: 18px;
                        }
                        .field-description {
                            font-size: 13.5px;
                            width: 100%;
                            line-height: 18px;
                        }
                    }
                }
                #block-bbva-footer_video {
                    width: 33%;
                    margin-right: 0;
                    padding-left: 13px;
                    height: 223px;
                    .block-inner {
                        .block-title {
                            font-size: 22px;
                            line-height: 20px;
                            background: transparent!important;
                            font-family: bbva light;
                        }
                        .field-subtitle {
                            font-size: 18px;
                        }
                        .field-description {
                            font-size: 13.5px;
                            width: 96%;
                            line-height: 18px;
                        }
                        .field-videos {
                            width: 91%;
                            margin: 10px 10px 0 0;
                            max-width: 169px;
                            height: 64px;
                        }
                    }
                }
                #block-block-1 {
                    width: 59% !important;
                    padding-left: 20px;
                    .tb-copyright {
                        text-align: left;
                    }
                }
                #block-menu-menu-footer {
                    width: 20%;
                }
            }
        }
    }
}

/*FRONT*/
.front {
    #block-bbva_subscription-subscription_block {
        width: 48%;
        h2 {
            width: 100%;
            font-size: 20px;
            height: 33px;
            line-height: 33px;
        }
        #bbva-subscription-form {
            font-size: 11px;
            #form-item-subtitle {
                width: inherit;
                text-align: center;
                font-size: 13px;
                height: 26px;
                line-height: 25px;
            }
            fieldset.group-left {
                font-size: 11px;
                .fieldset-wrapper {
                    width: 100%;
                    .form-item-nombre {
                        width: 45%;
                        margin-left: 4%;
                        margin-right: 2%;
                    }
                    .form-item-apellido {
                        width: 45%;
                    }
                    .form-item-document-type {
                        float: left;
                        width: 69px;
                        margin: 0 0 0px 13px;
                        height: 53px;
                        white-space: nowrap;
                    }
                    .form-item-document-number {
                        float: left;
                        width: 46%;
                        margin: 21px 0 0 0;
                    }
                    .form-item-day {
                        width: 88px;
                        position: relative;
                        left: -81px;
                        white-space: nowrap;
                    }
                    .bbva-form-item-sexo {
                        float: left;
                        left: 13px;
                        width: 66px;
                        height: 52px;
                    }
                    .form-item-email,
                    .form-item-compania {
                        width: 92%;
                        margin-left: 4%;
                    }
                    .form-item-pass1 {
                        width: 45%;
                        margin: 0 2% 0 4%;
                    }
                    .form-item-pass2 {
                        width: 45%;
                        white-space: nowrap;
                    }
                    .pregunta-soy-cliente {
                        width: 100%;
                        a {
                            width: 133px;
                            margin-right: 8px;
                        }
                        a + a {
                            width: 45%;
                        }
                    }
                }
            }
        }
    }
}

.page-benefit,
.page-benefit-categories,
.page-voucher-voucher {
    #main {
        width: 100%;
        margin:0px auto;
        #content {
            width: 100%;
            padding: 0;
            margin: 5px 0 0 0;
            #content-inner {
                #content-area {
                    .region-content {
                        .block-system {
                            .block-inner {
                                .content {
                                    .view-benefit-filters,
                                    .view-benefit-group-categories {
                                        .view-content {
                                            table {
                                                width: 480px;
                                                margin: 14px auto;
                                                tbody {
                                                    tr {
                                                        td {
                                                            float: left;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .region-content {
                    #block-system-main {
                        .content {
                            .view-more {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .field-header {
                width: 100%;
            }
            .view-benefit-group-categories {
              background: #f8f8f8;
                .jcarousel-container-horizontal {
                    min-height: 140px !important;
                    min-width: 329px;
                    width: inherit;
                    .jcarousel-next-horizontal,
                    .jcarousel-prev-horizontal {
                        top: -29px;
                    }
                    .jcarousel-clip-horizontal {
                        width: 472px;
                        margin: 0 auto 6px;
                        ul {
                            width: 2000px!important;
                        }
                    }
                }
            }
        }
        #sidebar-first {
            width: 100%;
            #block-views--exp-benefit_filters-page {
                width: 100%;
                .views-submit-button {
                    display: none;
                }
                .views-exposed-widget > .views-widget {
                    display: none;
                    input.form-autocomplete {
                        width: 90%;
                    }
                }
                .views-exposed-widget {
                    height: 30px;
                }
                .views-exposed-widget > label {
                    font-size: 15px;
                    line-height: 30px;
                }
                .views-widget-filter-field_tags_tid {
                    display: none;
                }
            }
            .imageblock-link {
                display: none;
            }
        }
    }
}

/*BENEFICIO INDIVIDUAL*/

.page-benefit-benefit {
    .field-item {
        #section-benefit{
            width: 100%;
            .row {
                width: 100%;
                .field-legal-title {
                    margin: 11px auto 0;
                    width: 95%;
                }
                .field-legal-text {
                    margin: 0 auto 20px;
                    width: 95%;
                }
                .col-left {
                    .porcent-coupon{
                        .field-description-no-cliente-no-logged{
                        font-family: bbva!important;
                        font-size: 11px;
                        margin-top: 51px;
                        }
                    }
                    .group-fields {
                        width: 140px;
                        height: 117px;
                        top: 175px;
                        left: 25px;
                        .field-quotes {
                            font-size: 9px;
                            top: 0;
                            left: -1px;
                        }
                        .group-fields-promotion {
                            width: 78px;
                            height: 49px;
                            margin-left: 0;
                            font-size: 50px;
                            padding-top: 0;
                            margin-top: 29px;
                        }
                        .leyendago {
                            font-size: 12px;
                            line-height: 13px;
                            margin: -6px 0 0 0;
                        }
                        .leyendago-2{
                          font-size: 12px;
                          line-height: 15px;
                          margin-top: -9px;
                          width: 100%;
                          padding-left: 9px;
                          padding-right: 9px;
                        }
                        .leyendanogo {
                          font-size: 12px;
                          margin-top: -35px;
                          width: 85%;
                          text-align: center;
                          line-height: 15px;
                          position: relative;
                          top: 21px;
                          left: 11px;
                        }
                        .group-fields-duration {
                            margin-top: 5px;
                            span.porcent {
                                font-size: 47px;
                                margin-top: 0;
                            }
                        }
                        .group-field-beneficio-cliente {
                            top: 17px;
                            left: -9px;
                            width: 158px;
                            .field-title-cliente {
                                font-size: 14px;
                                line-height: 16px;
                                margin-top: 11px;
                                font-family: bbva!important;
                            }
                            .field-item-cliente {
                                font-size: 12px;
                            }
                        }
                        .group-field-beneficio-no-cliente-1 {
                            top: 45px;
                            a.adquiri-cupon {
                                width: 140px;
                                line-height: 20px;
                                height: 15px;
                                font-size: 14px;
                                margin-bottom: 6px;
                            }
                        }
                        .group-field-beneficio-no-cliente-2 {
                          top: 24px;
                            a.disfruta-mas {
                                width: 140px;
                                line-height: 20px;
                                height: 21px;
                                font-size: 14px;
                                margin-bottom: 6px;
                            }
                            p.field-description-no-cliente-logged {
                                font-size: 11px;
                                line-height: 12px;
                                margin-top: 0;
                            }
                            .field-title-cliente{
                              font-size: 11px!important;
                                font-family: bbva!important;
                            }
                        }
                        .field-description-no-cliente-no-logged-2{
                            margin-top: 50px;
                            font-size: 11px;
                            line-height: 12px;
                            font-family: bbva!important;
                        }
                        .group-field-beneficio-no-cliente-3 {
                          top: 12px;
                            a.inicia-sesion {
                                width: 140px;
                                line-height: 20px;
                                height: 21px;
                                font-size: 14px;
                                margin-bottom: 6px;
                            }
                            .field-description-no-cliente-no-logged {
                                font-size: 11px;
                                line-height: 12px;
                                margin-top: 0;
                                font-family: bbva!important;
                            }

                        }
                        .group-field-beneficio-no-cliente-4 {
                          top: 45px;
                            a.suscribite-no-cliente {
                                width: 140px;
                                line-height: 20px;
                                height: 21px;
                                font-size: 14px;
                                margin-bottom: 6px;
                            }
                            a.adquiri-cupon{
                              width: 140px;
                              height: 21px;
                              font-size: 14px;
                              line-height: 20px;
                            }
                            .field-description-no-cliente-no-logged {
                                font-size: 11px !important;
                                line-height: 12px !important;
                                margin-top: 0 !important;
                            }
                        }
                    }
                    .porcent-menor {
                    }

                    
                    .benefit-group-container{
                        padding: 3px 0 8px 0;
                        .group-fields-full{
                            .group-field-group{
                                margin-bottom: 67px;   
                            }
                            .group-field-caja{
                            margin: 0 4px;
                            }
                          .group-fields-1,
                          .group-fields-2,
                          .group-fields-3{
                            width: 145px;
                            float: left;
                            .sin-porcent{
                            font-size: 26px;
                            line-height: 25px;
                            margin-bottom: 15px;
                            }
                          }
                          .group-fields-promotion{
                            float: left;
                            font-size: 59px;
                            line-height: 58px; 
                            margin-left: 4px;                   
                          }
                          .group-fields-duration{
                            line-height: 57px;
                            span.porcent{
                              font-size: 50px;
                              padding: 0;
                            }
                          }
                          .field-quotes{
                            float: right;
                            font-family: bbva;
                            font-size: 12px;
                            padding-right: 7px;
                            margin:-12px 0 5px 0;
                            text-transform: uppercase;
                          }
                          .leyendanogo{
                            font-size: 12px;
                            line-height: 13px;
                            margin: 0 0 1px -7px;
                            width: 107%;
                          }
                          .leyendago,
                          .leyendago-2{
                            float: left;
                            width: 100%;
                            text-align: center;
                            margin-top: 0;
                            font-size: 12px;
                            line-height: 16px;
                            padding: 0 2px 0 2px;
                          }
                          .leyendago-2{
                            margin: 4px 0;
                          }
                          .leyendago{
                            margin-bottom: 7px;
                          }
                          .group-field-beneficio-no-cliente-1,
                          .group-field-beneficio-no-cliente-2,
                          .group-field-beneficio-no-cliente-3,
                          .group-field-beneficio-no-cliente-4{
                            a.inicia-sesion,
                            a.adquiri-cupon,
                            a.disfruta-mas{
                              width: 100%;
                              float: left;
                              text-align: center;
                              height: 30px;
                              display: block;
                              font-size: 21px;
                              line-height: 30px;
                              color: #fff;
                              font-family: bbva;
                            }
                            a.inicia-sesion,
                            a.disfruta-mas{
                              background: #f09700;
                            }
                            a.adquiri-cupon{
                              background: #c91e61;
                            }
                          }
                          .group-field-beneficio-no-cliente-1,
                          .group-field-beneficio-no-cliente-2,
                          .group-field-beneficio-no-cliente-3,
                          .group-field-beneficio-no-cliente-4,
                          .group-field-beneficio-cliente{
                            float: left;
                            width: 100%;
                            text-align:  center;
                          }
                          p.field-title-cliente{
                            width: 100%;
                            text-align: center;
                            float: left;
                            margin-top: 5px;
                            line-height: 14px;
                            font-size: 11px;
                            color: #fff;
                          }

                          p.field-description-no-cliente-no-logged{
                            color: #c91e61;
                            font-size: 12px;
                            line-height: 16px;
                            margin-top: 4px;
                            font-family: bbva light!important;
                            margin-bottom: 0;
                            width: 106%;
                            margin-left: -4px;
                          }
                          p.field-description-no-cliente-no-logged-2{
                            color: #c91e61;
                            font-size: 12px;
                            line-height: 14px;
                            margin-top: 0;
                            margin-bottom: 8px
                          }
                          .group-fields-3{
                            .group-fields-promotion{
                              margin-left: 10px!important;
                            }
                          }
                          .group-field-beneficio-no-cliente-4{
                            .disfruta-mas{
                                background: #52bdec!important;
                            }
                          }
                        }
                    }
                }
            }
            .row-desc {
                width: 100%;
                text-align: justify;
                .title {
                    width: 100%;
                }
                .field-description {
                    width: 100%;
                    padding: 0 20px 0 20px;
                    .field-logo {
                        width: 125px!important;
                        float: left;
                        margin: -7px 30px 0 20px;
                    }
                }
            }
            .row-map{
                width: 58%;
                margin-left: 1%;
            }
            .row-sucursales {
                width: 37%;
                .field-link {
                    a {
                        font-size: 12px;
                        text-align: center;
                        height: 30px;
                        line-height: 0;
                    }
                }
            }
            .row-legal{
                width: 37%;
                .field-legal-title{
                    font-size: 12px;
                    height: 30px;
                    line-height: 0;
                }
            }
        }
    }
}

/** Suscribite **/
.page-node-63 {
    #webform-client-form-63 > div {
        fieldset#webform-component-fields {
            padding: 23px 10px 30px 10px;
        }
        fieldset#webform-component-rubros {
            width: 43%;
            padding: 23px 10px 30px 10px;
            .webform-component-checkboxes {
                .form-checkboxes {
                    .form-type-checkbox {
                        width: 262px !important;
                    }
                }
            }
        }
        #edit-actions {
            .form-submit {
                margin-top: 15px !important;
            }
        }
    }
}

/** Experiences **/

#parallax {
    .intro-content {
        min-height: 290px;
        background-size: 130% !important;
    }
    .content-node-parallax {
        .group-title {
            width: 100%;
            font-size: 37px;
            line-height: 42px;
            padding: 0 14px;
            margin-top: -146px !important;
        }
        .group-header {
            .section {
                width: 100%;
            }
        }
        .parallax-inner {
            .group-left {
                width: 50%;
                .section {
                    padding: 0;
                    font-size: 26px;
                    line-height: 29px;
                }
            }
            .group-right {
                width: 45%;
                .section {
                    padding: 0 0 10px 20px;
                    width: 100%;
                    .field-name-field-experience-descripcion {
                        line-height: 18px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

/** Solicitar Tarjeta **/
.node-webform .field-name-body {
    padding-right: 0;
    padding-left: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.page-node-84 {
    .node-content {
        .webform-client-form {
            margin: 0;
        }
    }
}

/*MUNDO RIVER BOCA*/

.page-taxonomy-term {
    .vocabulary-experience {
        #term-carousel {
            ul {
                li {
                    .row {
                        .col-rows {
                            width: 484px;
                            .field-logo {
                                width: 232px;
                                img {
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



/*PRODUCTO RIVER*/
.node-type-product{
    #page{
        #main{
            #content{
                .field-name-title{
                    h2{
                    position: absolute;
                    right: 5%;
                    top: 3%;
                    color: #fff;
                    font-size: 39px;
                    font-family: bbva light;
                    width: 280px;
                    line-height: 37px;
                        text-align: right;
                        text-shadow: 3px 2px 2px #000;
                    }
                }
                .statistics_counter{
                    display: none;
                }
                .group-footer{
                    width: 100%;
                    margin:0;
                    legend{
                        display: none;
                    }
                    .group-inner-footer{
                        width:100%;
                        min-width: inherit;
                        float: left;
                        padding: 20px 0 0 20px;
                        .field-name-field-product-description-short{
                            width: 100%;
                            float: left;
                            font-size: 60px;
                            font-family: bbva light;
                            color: #00539B;
                            line-height: 65px;
                        }
                        .field-name-field-product-tyc{
                            float: left;
                            position: relative;
                            font-size: 11px;
                            color: #b4b4b4;
                            margin-top: 7px;
                            font-family: bbva light;
                        }
                    }
                    .group-inner-footer-right{
                        width: 100%;
                        margin-left:0;
                        float: left;
                        padding: 4px 20px 40px 20px;
                        .field-name-field-product-titulo-descripcion{
                            font-size: 16px;
                            line-height: 23px;
                            color: #00539B;
                            font-family: 'bbva';
                            float: left;
                            width: inherit;
                            text-align: justify;
                            margin-top: 11px;
                        }
                        ul{
                        float: left;
                        margin: 12px 0 0 6px;
                        padding: 0 0 0 15px;
                        font-size: 15px;
                        line-height: 23px;
                        color: #00539B;
                        font-family: 'bbva light';
                            li{
                                margin-bottom: 7px;
                                list-style-image: url('../../../images/list-dot.jpg')!important;
                                float: none;
                                letter-spacing: 2px;
                            }
                        }
                    }
                }
                .field-type-image{
                    width: 100%;
                    img{
                        width:100%;
                        height: 100%;
                    }
                }
                .field-name-field-product-image-button{
                    width: 103px;
                    float: left;
                    position: absolute;
                    right: 5%;
                    top: 12.5%;
                    even{
                        display: none;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .field-name-field-product-link-button{
                    position: absolute;
                    right: 5.3%;
                    top: 21%;
                    a{
                        padding: 5px 20px 21px 20px;
                        font-size: 12px;
                        line-height: 16px;
                        height: 23px;
                        float: left;
                    }
                }
                
                .field-name-field-product-category{
                    display: none;
                }/*
                */
            }
        }
    }
}


/*EXPERIENCIAS RIVER*/
#list-experiences {
    width: 461px;
    .row {
        width: 218px;
        min-height: inherit;
        .group-fields {
            min-height: 115px;
            .field-volanta {
                font-size: 14px;
                line-height: 18px;
            }
            .field-title {
                font-size: 18px;
                padding-bottom: 3px;
            }
        }
    }
}

.node-type-experience {
    #main {
        #content {
            .view-mode-full {
                .group-header {
                    .field-name-experience {
                        #experience-content {
                            height: 280px !important;
                            .group-fields {
                                right: 2%;
                                .field-title {
                                    font-size: 37px;
                                    line-height: 45px;
                                    padding-bottom: 1%;
                                }
                                .field-volanta {
                                    font-size: 26px;
                                    line-height: 27px;
                                    margin-top: 12px;
                                    min-height: inherit;
                                }
                                .field-link {
                                    width: 240px;
                                    font-size: 17px;
                                    margin-top: 12px;
                                }
                            }
                            .field-image {
                                max-height: 280px;
                            }
                        }
                    }
                }
                .group-left {
                    .header-carousel {
                        .jcarousel-container-horizontal {
                            .jcarousel-next {
                                background: url("../../../images/arrow_slide_benefit_responsive.png");
                                width: 22px;
                                height: 34px;
                                top: 37%;
                                right: 10.5%;
                            }
                            .jcarousel-prev {
                                background: url("../../../images/arrow_slide_left_benefit_responsive.png");
                                width: 22px;
                                height: 34px;
                                top: 37%;
                            }
                            ul {
                                width: 100% !important;
                                li {
                                    width: 42% !important;
                                    margin: 0 14px 0 0px;
                                }
                            }
                        }
                    }
                    .tabs-carrusel {
                        .tab-gallery,
                        .tab-video {
                            width: 44%;
                        }
                    }
                }
                .group-right {
                    padding: 0;
                    margin-top: 54px;
                    margin-bottom: 54px;
                    .field-name-field-experience-bajada {
                        .field-item {
                            font-size: 18px;
                            line-height: 18px;
                        }
                    }
                    .field-name-field-experience-fija-titulo3 {
                        font-size: 18px;
                        line-height: 18px;
                        margin-bottom: 2px;
                    }
                    .field-name-field-experience-descripcion {
                        font-size: 14px;
                        margin-bottom: 2px;
                        .field-item {
                            line-height: 15px;
                            margin: 7px 0 11px 0;
                        }
                    }
                    .field-name-field-experience-fija-texto3 {
                        font-size: 14px;
                        .field-item {
                            line-height: 15px;
                        }
                    }
                }
                .group-footer {
                    .field-name-experiences-related {
                        .field-items {
                            width: 100%;
                            .view-experience-related {
                                width: 473px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*BENEFICIOS DE EXPERIENCIA*/

.page-benefit-experience {
    #main {
        #content {
            #content-area {
                .view-benefit-filters {
                    width: 465px;
                    .views-view-grid {
                        tbody {
                            td {
                                .field-items {
                                    width: 218px;
                                    .group-fields {
                                        width: 93%;
                                        height: 94px;
                                        .group-fields-logo {
                                            width: 86px;
                                            margin-left: 0px;
                                            img {
                                                margin-left: 4px;
                                            }
                                        }
                                        .group-fields-promotion {
                                            font-size: 50px;
                                            width: 64px;
                                            margin-left: 0;
                                            white-space: nowrap;
                                            padding-top: 29px;
                                        }
                                        .group-fields-duration {
                                            margin: 5px 0 0 2px;
                                            span.porcent {
                                                font-size: 47px;
                                            }
                                        }
                                        .field-quotes {
                                            margin: 0 4px 0 0;
                                            font-size: 10px;
                                        }
                                    }
                                }
                                .entity-benefit {
                                    min-width: inherit;
                                    margin: 0 5px 10px 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*SORTEOS*/

#node-156 {
    .node-inner {
        .content {
            width: 456px;
            .field-items {
                .ds-3col {
                    .group-middle {
                        width: 93%;
                        margin: -150px 0 0 8px;
                        padding-bottom: 7px;
                        a {
                            width: 86%;
                            height: 41px;
                            line-height: 7px;
                            font-size: 20px;
                            left: 0;
                        }
                        .field-name-field-draw-title {
                            font-size: 18px;
                            margin: 0 0 9px 0;
                        }
                        .field-name-field-draw-sub-title {
                            font-size: 14px;
                            margin-left: 0;
                        }
                        .field-name-field-draw-description {
                            font-size: 14px;
                            margin: 0 0 34px 0;
                            .field-items {
                                .field-item {
                                    margin: 0 !important;
                                }
                            }
                        }
                    }
                }
                .even {
                    margin-bottom: 0 !important;
                }
                .field-item {
                    width: 218px;
                    height: 287px;
                    margin-bottom: 10px;
                    img {
                        width: 100% !important;
                        height: 100% !important;
                    }
                }
            }
        }
    }
}

.page-subscription {
    #main{ 
        #block-system-main{ 
            width: 405px;
            margin: 70px auto;
            #bbva-subscription-form{
                margin: inherit;
                width: inherit;
                float: inherit;
                padding: inherit;
                .captcha{
                    img{
                        margin-right: 10px!important;
                        width: 202px!important;
                    }
                    .form-item-captcha-response{
                        width: 165px!important;
                    }
                }
                .form-item-terminos{
                    width: 220px;
                    label{
                        font-size: inherit!important;
                    }
                  }
                  fieldset.group-left{
                    width: 405px;
                    .group-left-fields{
                        width: 405px;
                        .fieldset-wrapper{
                          .form-item-nombre,
                          .form-item-apellido{
                            width: 185px;
                          }
                          .form-item-document-number{
                            width: 259px;
                          }
                          .bbva-form-item-sexo{
                            left: 12px;
                          }
                          .fecha_nacimiento{
                            margin: 1px 10px 0px 18px;
                            width: 220px;
                          }
                          .form-item-email{
                            margin-left: 13px;
                          }
                          .form-item-day,
                          .form-item-month{
                            width: 66px;
                          }
                          .form-item-year{
                            width: 62px;
                          }
                          .form-item-compania{
                            margin-top: 1px;
                          }
                          .form-item-pass1,
                          .form-item-pass2{
                            width: 185px;
                          }
                          .form-item-terminos{
                            width: 214px!important;
                            margin-left: 35px;
                          }
                          #bbva_captcha_content{
                            width: 290px;
                            margin-left: 17px;
                            float: left;
                            .captcha{
                              float: inherit;
                              width: inherit;
                              padding: inherit;
                              top: inherit;
                              margin-left: inherit;
                              img{
                                width: 124px;
                                margin-right:10px;
                              }
                            }
                          }
                          .fecha_nacimiento{
                            margin:1px 10px 0px 13px;
                          }
                          .telefono_celular{
                            width: 176px;
                          }
                          .form-item-celular{
                              width: 116px;
                          }
                          .form-item-email{
                            margin-left: -7px;
                            width: 157px;
                          }

                          .pregunta-soy-cliente{
                            a{
                              width: 185px;
                            }
                            a + a{
                              width: 185px;
                            }
                          }
                        }
                      }
                  }
                  fieldset.group-right{
                    float: left;
                    width: 405px;
                    margin-top: 10px;
                    .form-item-zonas,
                    .form-item-rubros{
                        width: 405px;
                        label{
                            height: 64px;
                        }
                        .form-checkboxes{
                            width: 405px!important;
                            height: inherit;
                            .form-type-checkbox{
                              width: 190px;
                            }
                        }
                    }
                  }
                  fieldset.group-footer {
                    .form-submit{
                      margin:30px 0 13px 13px;
                      width: 378px!important;
                    }
                  }
                  #form-item-title{
                    width: 405px;
                  }
                  #form-item-subtitle{
                    width: 405px;
                    text-align: center;
                  }
            }
        }    
    }
}
/*FORMULARIO RESPONSIVE*/

@media only screen and (max-width: 719px) and (min-width: 580px){
body #page #higlighted-area{
    width: 581px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block{
    width: 275px;
}
.front #block-bbva_subscription-subscription_block{
    width: 300px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania {
  width: 131px !important;
  margin-right: inherit;
  margin-left: 0;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania select{
    width: 100%;
}
.fecha_nacimiento, .telefono_celular {
  width: 45%;
  margin: 0 0 0 2%;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .captcha input,#edit-captcha-response--2 {
  width: 100% !important;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .captcha{
    padding-bottom: 10px!important;
}
.form-item.form-type-textfield.form-item-captcha-response {
  width: 135px!important;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item-terminos{
    margin-left: 13px;
}
.form-item-terminos label{
    font-size: 11px!important;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .captcha .form-item-captcha-response{
    top: 0;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-number {
  float: left;
  width: 143px;
    margin: 21px 0 12px 0;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day {
  position: relative;
  left: 0px;
  white-space: nowrap;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email{
    width: 108px!important;
    margin-left: 3px;
}
.front #edit-zonas {
  float: left;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre, .front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item.form-type-textfield.form-item-apellido, .front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item.form-type-textfield.form-item-email, .front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item.form-type-textfield.form-item-compania, .front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item.form-type-textfield.form-item-pass2{
  width: 133px;
  margin-right: 8px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-emailn, .date-field-subscription {
  width: 100% !important;
}

.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania{
 width: 137px !important;
  margin-right: 2%;
}
.front #edit-zonas {
  float: left;
  margin: 0 0px 0px 13px !important;
}
.front #edit-todos-rubros {
  width: auto !important;
  float: left;
}
#edit-next, #edit-next2, .front #block-system-main #bbva-subscription-page .field-next, .front #block-system-main #bbva-subscription-page .field-next2, .front #block-system-main #bbva-subscription-form .field-next, .front #block-system-main #bbva-subscription-form .field-next2, .front #block-bbva_subscription-subscription_block #bbva-subscription-page .field-next, .front #block-bbva_subscription-subscription_block #bbva-subscription-page .field-next2, .front #block-bbva_subscription-subscription_block #bbva-subscription-form .field-next, .front #block-bbva_subscription-subscription_block #bbva-subscription-form .field-next2, .page-subscription #block-system-main #bbva-subscription-page .field-next, .page-subscription #block-system-main #bbva-subscription-page .field-next2, .page-subscription #block-system-main #bbva-subscription-form .field-next, .page-subscription #block-system-main #bbva-subscription-form .field-next2, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page .field-next, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page .field-next2, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form .field-next, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form .field-next2 {
 font-size:9px !important;

}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido {
  width: 45% !important;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2 , .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass1{
 width: 132px;
  float: left;
  margin-right: 10px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper a.colorbox-node.colorbox-subscription-ver-terminos{
    right: 70px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .captcha img{
    width: 130px;
    margin-right: 10px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-type {
  float: left;
  width: 45px !important;
  margin: 0 9px 0px 13px;
  height: 53px;
  white-space: nowrap;
}
.fecha_nacimiento{
    width: 163px;
    margin-left: 13px;
}
.telefono_celular {
  width: 135px;
  margin-left: 13px;
  margin-right: 3px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month select,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year select{
    width: 100%;
}
.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-day, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-day, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-day, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-day, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day {
  width: 43px;
  float: left;
  margin: 0px 0px 0px 0px;
  height: 36px;
}
.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-month, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-month, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-month, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-month, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month {
  width: 44px;
  float: left;
  margin: 0px 0px 0px 8px;
  height: 36px;
}
.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-year, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-year, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-year, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-year, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year {
  width: 59px;
  float: left;
  margin: 0px 0px 0px 8px;
  height: 36px;
}
.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-area, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-area, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-area, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-area, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area {
  width: 45px;
  float: left;
  margin: 0px;
  display: block;
}
.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-celular, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-celular, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-celular, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-celular, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular {
  float: left;
  width: 76px;
  margin: 0px;
  display: block;
  margin-left: 9px;
}
.todos_rubros_div {
  width: 144px;
  float: left;
  margin: 0;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .bbva-edit-zonas {
  width: 141px;
  float: left;
  margin: 0 0px 0px 10px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-footer .form-submit{
    width: 270px;
    margin-top: 18px;
    margin-left: -62px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item{
    height: 128px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .field-next2{
    left: 3px!important;
}
}
@media only screen and (max-width: 600px) and (min-width: 480px){
#bbva-subscription-form #edit-fields{
    margin-bottom: 7px;
}
body #page #higlighted-area{
    width: 453px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block{
    width: 215px;
    margin: 0 4px 0 0;
}
.front #block-bbva_subscription-subscription_block{
    width: 234px;
}

body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .even .field-title{
    margin: 0 6px 0 6px!important;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .group-fields .group-fields-promotion{
    font-size: 55px!important;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .group-fields .group-fields-duration{
    font-size: 50px!important;
    width: 8px!important;
    margin-left: -5px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .group-fields .field-quotes{
    font-size: 8px;
    left: 25px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .ver-mas-destacados{
    right: 10px;
    top: 5px;
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .ver-mas-destacados a{
    font-size: 9px!important;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form #form-item-subtitle{
    padding: 0;
    font-size: 14px!important;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form, .page-subscription #block-system-main #bbva-subscription-page{
    padding-bottom: 12px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-footer .form-submit{
    margin-top: 9px!important;
    width: 214px!important;
}
.fecha_nacimiento{
    height: 48px;
    margin-left: 10px!important;
}
.telefono_celular{
    width: 213px!important;
    margin-left: 10px!important;
    height: 45px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente{
    width: 214px;
    margin: 10px auto 3px;
    font-size: 11px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a{
    width: 105px;
    margin-right: 0;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .pregunta-soy-cliente a + a{
    width: 105px;
    margin-left: 4px;
}
.front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-pass2 input, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2 input, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-pass2 input, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2 input, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-pass2 input, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2 input, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-pass2 input, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2 input, .front #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-apellido input, .front #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido input, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-apellido input, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-apellido input, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido input, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-left .fieldset-wrapper .form-item-apellido input, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido input, .form-item form-type-select.form-item-compania, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania select {
  width: 100% !important;
  height: 25px;
  padding: 0;
  text-align: center;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass1{
    width: 98px;
    margin: 0 3px 0 10px;
    height: 45px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-pass2{
    width: 112px!important;
    height: 44px!important;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-nombre{
    width: 105px;
    margin: 0 4px 0 10px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-apellido{
    width: 105px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-type{
    width: 54px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-number{
    width: 96px;
    margin-left: 4px;
}

.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .bbva-form-item-sexo{
    left: 6px;
    top: 1px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day{
    width: 63px;
    left: inherit;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month{
    width: 65px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-month select{
    width: 100%;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year{
    width: 64px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-year select{
    width: 100%;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-day select{
    width: 100%;
}
.fecha_nacimiento, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-email{
  width: 213px!important;
    margin: 0 10px 0px 10px;
    height: 45px!important;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-compania {
  width: 213px !important;
  margin-right: inherit;
  margin-left: 10px!important;
  height: 45px!important;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area{
    width: 54px;
    margin-right: 10px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area select{
    width: 100%;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-document-type{
    margin-left: 10px!important;
}
.front #edit-zonas {
  float: left;
  margin: 0 0px 0px 10px !important;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular{
    width: 148px;
}
.front #block-system-main #bbva-subscription-page fieldset.group-footer .form-submit, .front #block-system-main #bbva-subscription-form fieldset.group-footer .form-submit, .front #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-footer .form-submit, .front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-footer .form-submit, .page-subscription #block-system-main #bbva-subscription-page fieldset.group-footer .form-submit, .page-subscription #block-system-main #bbva-subscription-form fieldset.group-footer .form-submit, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-page fieldset.group-footer .form-submit, .page-subscription #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-footer .form-submit {
  background: #0079C1;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  border: 0;
  font-family: 'bbva light';
  color: #fff;
  width: 197px;
  height: 31px;
  margin-top: 20px!important;
  margin-left: 0px;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .field-next,
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .field-next2{
    font-size: 9px!important;
}


.todos_rubros_div{
    margin-left: 10px;
}
.front #edit-todos-rubros{
    width: 109px!important;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item-terminos{
    font-size: 11px!important;
    margin-left: 10px;
    width: 180px!important;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .captcha input{
    width: 99px!important;
}
#bbva_captcha_content .captcha img{
  width: 204px!important;
  margin-right: 0!important;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .captcha .form-item-captcha-response{
    margin-top: 21px;
    width: 203px;
    input{
        width: 100%!important;
    }
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .captcha .form-item-captcha-response label{
    position: relative;
    top: -4px;
    line-height: 10px;
}
#g-femenino{
    margin-left: 4px!important;
}
.front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item-todos-zonas-0{
    left: 0px;
}
}

/*OTRAS EXPERIENCIAS*/
.node-type-experience #main #content .view-mode-full .group-footer .field-name-experiences-related .field-items .block-title{
    width: 100%;
    background: #09519d;
    color: #fff;
    margin: 0;
}


/*LOGIN*/

#dropdown-login .dropdown{  
  width: 100%;
  left: 0;
  top:50px; 
  z-index: 9999999999;
}
#user-login-form{
  display: none;
}
#login_form_full{
  padding: 20px 0 20px 0;
}
.triangulo{
  display: none;
}
#dropdown-login .pregunta-soy-cliente{
  height: inherit;
  padding: inherit;
}

body #page #header a{
  width: 100%;
  height: 50px;
}
#dropdown-login .dropdown #soy_login,
#dropdown-login .dropdown #nosoy_login{
  font-size: 20px;
  padding-top: 10px;
}
body #page #footer{
}
#footer-copyright{
  bottom: 0;
  width: 100%;

}
#login_form_full{
  width: 100%;
  max-width: inherit;
}
#tipo-number-content{
  width: 97.6%;
}
#dropdown-login .form-item-document-number{
  width: 70%;
  float: right;
}
#dropdown-login .form-item-document-number input{
  width: 100%;
}
#dropdown-login #bbva-clave-usuario{
  width: 98.3%;
}
#dropdown-login .form-item-user-name-digital{
  width: 47.1%;
}
#dropdown-login .form-item-user-name-digital input{
  width: 100%;
}
#dropdown-login .form-item-pass input{
  width: 48.3%;
  float: right;
}
#dropdown-login .form-item-pass-nocliente{
  width:  95.1%;
} 
#dropdown-login .form-item-pass-nocliente input{
  width: 100%;
}
#dropdown-login .captcha{
  width: 324px;
  margin: 20px auto;
}
#dropdown-login .form-item.form-type-textfield.form-item-captcha-response{
    width: 324px!important;
}

#dropdown-login .form-item-remember-me{
  margin: inherit;
  width: 100%;
  text-align: center;
}
#dropdown-login .form-actions{
  width: 95%;
  margin: 20px auto;
}
#dropdown-login .form-wrapper .form-submit{
  width: 100%;
  font-size: 19px;
  font-family: bbva light;
  font-weight: normal;
  height: 42px;
}

/*IDENTIFICACION POSITIVA*/
#dropdown-login .identificacion-positiva-form{
    width: 320px;
    margin: 0 auto;
}
#dropdown-login #tipo-numero{
    width: 215px;
}
#dropdown-login #gender{
    right: 9px;
}
#dropdown-login #nrodoc{
    width: 131px;
}
#dropdown-login .dropdown .salir-recupero{
    width: 130px!important;
    height: 27px!important;
}
#dropdown-login .dropdown .salir-recupero #ident-submit-valid{
    border:0!important;
}
/*#ident-submit-valid{
    margin-right: 12px;
    width: 124px;
    border:inherit!important;
}*/
.footer-buton a:hover{
    color: white;
}
#bbva-profile-pass-recovery-form .group-footer{
    width: 260px;
  margin: 20px auto;
}
.identificacion-positiva-form h3{
    font-family: bbva light;
}
#label-reseteo-nocliente{
    font-size: 15px;
    margin-top: 16px;
    margin-bottom: 10px;
}
#bbva-profile-pass-recovery-form .group-recup-body{
    width: 260px;
}
#bbva-profile-pass-recovery-form .form-item-number{
    width: 196px;
}
#bbva-profile-pass-recovery-form .form-item-number input{
    width: 100%;
}

#bbva-profile-pass-recovery-form .group-footer .recuperar-salir{
    width: 50%!important;
    height: 27px!important;
}
.group-recup-body .form-item label{
    text-align: left!important;
} 


/*VIDEO RESPONSIVE*/

#colorbox{
    width: 100%!important;
    left: inherit!important;
    #cboxWrapper{
        width: 100%!important;
        #cboxLoadedContent{
            width: 100%!important;
        }
    }
    #cboxContent{
        width: 100%!important;
        iframe{
            margin: 50px 0 0 0!important;
            width: 100%;
            padding: 0 40px;
        }
    }
}