<div class="row plusPadLeft">
    <div class="col-xs-12">
        <h1 class="titulo centered">Queremos brindarte la mejor opción de financiación</h1>
    </div>
</div>
<form name="form.consultaContable" class="clear-content form-width">
    <div class="form-group col-xs-12 col-md-6 col-sm-6">
        <label class="control-label">Facturación último balance</label>
        <span class="money bold-gray">$</span>
        <input type="text" ui-number-mask="0" id="idFacturacionUltimoBalance" name="facturacionUltimoBalance" class="form-control consulta money" ng-model="consultaContable.facturacionUltimoBalance" set-error required ></input>
        <a class="masInfo hidden-xs hidden-sm masInfoMargen" x-tool-tip data-placement="left" data-toggle="tooltip" title="Ingresá la facturación de la Empresa en el último balance anual. Lo encontrarás en &#34Estado de Resultados&#34, en la descripción de las &#34Ventas&#34."></a>
        <a class="masInfo hidden-md hidden-lg" data-toggle="modal" data-target="#defaultModal" data-title="Facturación último balance" data-body="Ingresá la facturación de la Empresa en el último balance anual. Lo encontrarás en &#34Estado de Resultados&#34, en la descripción de las &#34Ventas&#34."></a>
    </div>
    <div class="form-group col-xs-12 col-md-6 col-sm-6">
        <label class="control-label">Facturación balance anterior</label>
        <span class="money bold-gray">$</span>
        <input type="text" id="idFacturacionAnteriorBalance" name="facturacionAnteriorBalance" class="form-control consulta money" ng-model="consultaContable.facturacionAnteriorBalance" ui-number-mask="0" required set-error></input>
        <a class="masInfo hidden-xs hidden-sm masInfoMargen" x-tool-tip data-placement="left" data-toggle="tooltip" title="Ingresá la facturación de la Empresa en el balance anterior. Lo encontrarás en el &#34Estado de Resultados&#34, en la descripción de las &#34Ventas&#34 del año anterior."></a>
        <a class="masInfo hidden-md hidden-lg" data-toggle="modal" data-target="#defaultModal" data-title="Facturación balance anterior" data-body="Ingresá la facturación de la Empresa en el balance anterior. Lo encontrarás en el &#34Estado de Resultados&#34, en la descripción de las &#34Ventas&#34 del año anterior."></a>
    </div>
    <div class="form-group col-xs-12 col-md-6 col-sm-6  clear-both">
        <label class="control-label">Resultado Operativo</label>
        <span class="money bold-gray">$</span>
        <input id="idResultadoOperativo" name="resultadoOperativo" type="text" class="form-control consulta money" ng-model="consultaContable.resultadoOperativo" ui-number-mask="0" required set-error></input>
        <a class="masInfo hidden-xs hidden-sm masInfoMargen" x-tool-tip data-placement="left" data-toggle="tooltip" title="Lo encontrarás en el &#34Estado de Resultados&#34 de tu Balance. Es el resultado de las Ventas menos los Gastos directos en los que incurrieron para llegar a las mismas."></a>
        <a class="masInfo hidden-md hidden-lg" data-toggle="modal" data-target="#defaultModal" data-title="Resultado Operativo" data-body="Lo encontrarás en el &#34Estado de Resultados&#34 de tu Balance. Es el resultado de las Ventas menos los Gastos directos en los que incurrieron para llegar a las mismas."></a>
    </div>
    <div class="form-group col-xs-12 col-md-6 col-sm-6">
        <label class="control-label">Resultado Final</label>
        <span class="money bold-gray">$</span>
        <input id="idResultadoFinal" name="resultadoFinal" type="text" class="form-control consulta money" ng-model="consultaContable.resultadoFinal" ui-number-mask="0" required set-error></input>
        <a class="masInfo hidden-xs hidden-sm masInfoMargen" x-tool-tip data-placement="left" data-toggle="tooltip" title="Lo encontrarás en el &#34Estado de Resultados&#34 de tu Balance. Es el resultado final de tu año, donde se muestra cuanto dinero gano la Empresa."></a>
        <a class="masInfo hidden-md hidden-lg" data-toggle="modal" data-target="#defaultModal" data-title="Resultado Final" data-body="Lo encontrarás en el &#34Estado de Resultados&#34 de tu Balance. Es el resultado final de tu año, donde se muestra cuanto dinero gano la Empresa."></a>
    </div>
    <div class="form-group col-xs-12 col-md-6 col-sm-6  clear-both">
        <label class="control-label">Patrimonio Neto</label>
        <span class="money bold-gray">$</span>
        <input id="idPatrimonioNeto" name="patrimonioNeto" type="text" class="form-control consulta money" ng-model="consultaContable.patrimonioNeto" ui-number-mask="0" required set-error></input>
        <a class="masInfo hidden-xs hidden-sm masInfoMargen" x-tool-tip data-placement="left" data-toggle="tooltip" title="Lo encontrarás en el &#34Estado de Situación Patrimonial&#34. En el Rubro &#34Patrimonio Neto&#34."></a>
        <a class="masInfo hidden-md hidden-lg" data-toggle="modal" data-target="#defaultModal" data-title="Patrimonio Neto" data-body="Lo encontrarás en el &#34Estado de Situación Patrimonial&#34. En el Rubro &#34Patrimonio Neto&#34."></a>
    </div>
    <div class="form-group col-xs-12 col-md-6 col-sm-6">
        <label class="control-label">¿Las ventas de este año son mayores comparadas con las ventas realizadas durante el mismo período del año anterior?</label>
        <div class="center-wrapper">
            <div radio-button radio-options="consultaContable.ventasMayores"></div>
        </div>
        <a class="masInfo hidden-xs hidden-sm masInfoMargen" x-tool-tip data-placement="left" data-toggle="tooltip" title="Si la facturación de todos los meses del año actual es mayor al mismo período del año pasado, por favor marcá Si. De lo contrario, marcá No."></a>
        <a class="masInfo hidden-md hidden-lg" data-toggle="modal" data-target="#defaultModal" data-title="¿Las ventas de este año son mayores comparadas con las ventas realizadas durante el mismo período del año anterior?" data-body="Si la facturación de todos los meses del año actual es mayor al mismo período del año pasado, por favor marcá Si. De lo contrario, marcá No."></a>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button submit id="consultaContableID" form="form.consultaContable" class="btn btn-continuar contable" callback="confirmar">Continuar</button>
        </div>
    </div>
</form>
<!-- telefono -->
<div class="row">
	<div class="col-xs-12">
		<p class="mesajeTelefono">¿Necesitás ayuda? Podés realizar tus consultas telefónicamente.</p>
	</div>
	<div class="col-xs-12">
		<a href="" class="hidden-xs hidden-sm" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
		<a ng-href="tel:+{{msg().telefono}}" class="hidden-md hidden-lg" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
	</div>
</div>