<div class="row">
	<div class="col-xs-12">
		<h1 class="titulo">Conversiones</h1>
	</div>
</div>
<div class="row">
	<div class="form-group col-md-5">
		<label for="cuit" class="control-label">CUIT</label>
		<input type="text" id="cuit" class="form-control"
				placeholder="CUIT" ng-model="consulta.cuit"
				ng-class="{errorEnInput: cuitError}">
		</div>
	<div class="form-group col-md-5">
		<label for="sucursal" class="control-label">Sucursal </label>
		<select
			id="sucursal" class="btn-select" ng-model="consulta.nroSucursal">
			<option ng-repeat="sucursal in sucursales"
				value="{{sucursal.idSucursal}}">
				{{sucursal.numeroSucursal}} - {{sucursal.descripcionSucursal}} -
				{{sucursal.direccionSucursal}}</option>
		</select>
	</div>
	<div class="form-group col-md-1 buscarBoton">
		<button class="btn ok-buttom ok-buttom-margin" ng-click="buscarConParametros()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
	</div>
	<div class="form-group col-md-1 volver-margin">
		<a class="volver clickeable" ng-click="reset()">Reset</a>
	</div>
</div>
<div class="row">
	<div class="col-md-11">
		<h2 class="subtitle">Se encontraron: {{resultados.length}} resultados</h2>
	</div>
	<div class="col-md-1 div-img">
		<img class="btn-download-excel" ng-click="downloadExcel()"/>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<table class="table">
			<thead>
				<tr>	
					<th>CUIT</th>
					<th>Razon Social</th>
					<th>Sucursal</th>
					<th>Fecha Conversi&oacute;n</th>
					<th>Facturaci&oacute;n Actual</th>
					<th>Oferta Global</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="resultado in resultados" ng-class="{estadoExcedido: resultado.ofertaRecibida.estado.value == 'EXCEDIDO'}">
					<td>{{resultado.cuit}}</td>
					<td>{{resultado.razonSocial}}</td>
					<td>{{resultado.sucursal}}</td>
					<td>{{resultado.fechaDeConversion}}</td>
					<td>{{resultado.facUltBalance}}</td>
					<td>{{resultado.ofertaRecibida.montoMaximo}}</td>
					<td><span class="glyphicon glyphicon-plus clickeable" aria-hidden="true" ng-click="download($index)"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>
<!-- telefono -->
<div class="row">
	<div class="col-xs-12 ">
		<p class="mesajeTelefono">¿Necesitás ayuda? Podés realizar tus consultas telefónicamente.</p>
	</div>
	<div class="col-xs-12 ">
		<a href="" class="hidden-xs hidden-sm" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
		<a ng-href="tel:+{{msg().telefono}}" class="hidden-md hidden-lg" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>
