
<div class="row plusPadLeft">
    <div class="col-xs-12">
        <h1 class="titulo centered">Ingresando los datos podremos avanzar en el cálculo</h1>
    </div>
</div>
<form name="form.consultaEmpresa" class="clear-content form-width">
    <div class="form-group col-xs-12 col-md-6 col-sm-6">
        <label class="control-label">Número de CUIT</label>
        <input elemento="numero cuit" id="idCuit" type="text" name="cuit" ng-model="consulta.cuit" maxlength="11" class="form-control consulta" x-only-num validate-cuit set-error required></input>
    </div>
    <div class="form-group col-xs-12 col-md-6 col-sm-6">
        <label class="control-label">Razón Social</label>
        <input elemento = "razon social" id="idRazonSocial" type="text" name="razonSocial" class="form-control consulta" ng-model="consulta.razonSocial" required set-error></input>
    </div>
    <div class="form-group col-xs-12 col-md-6 col-sm-6 clear-both">
        <label class="control-label">Tipo Sociedad</label>
        <div elemento="tipo razon" class="center-wrapper" radio-button radio-options="consulta.tipoDeSociedad"></div>
    </div>
    <div class="form-group col-xs-12 col-md-6 col-sm-6">
        <label class="control-label">Nombre y apellido</label>
        <input elemento = "nombre y apellido" only-letter id="idNombreApellido" name="nombreApellido" type="text" class="form-control consulta" ng-model="consulta.nombreYApellido" placeholder="responsable de la empresa a contactar" maxlength="60" required set-error></input>
    </div>
    <div class="form-group col-xs-12 col-md-6 col-sm-6 clear-both">
        <label class="control-label">Teléfono</label>
        <input elemento = "telefono" type="text" id="idTelefono" name="telefono" class="form-control consulta" x-only-num ng-model="consulta.telefono" placeholder="código de área + número" maxlength="20" required set-error></input>
    </div>
    <div class="form-group col-xs-12 col-md-6 col-sm-6">
        <label class="control-label">Correo Electrónico</label>
        <input elemento = "email" type="text" id="idEmail" name="email" class="form-control consulta" ng-model="consulta.email" placeholder="mariagonzalez@gmail.com" set-error validate-email required></input>
    </div>
    <div class="form-group actionButtonContainer clear-fix">
        <div elemento = "check terminos y condiciones" checkbox checked="checked">
            <label>Acepto&nbsp;<a class="masInfo terminos" data-toggle="modal" data-target="#defaultModal" data-title="Términos y Condiciones" data-body="{{legales}}">Términos y Condiciones</a></label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 text-center">
            <button elemento = "continuar" submit id="consultaEmpresaID" form="form.consultaEmpresa" class="btn btn-continuar empresa" callback="continuar" ng-disabled="!checked">Continuar</button>
        </div>
    </div>
</form>
<!-- telefono -->
<div class="row">
	<div class="col-xs-12">
		<p class="mesajeTelefono">¿Necesitás ayuda? Podés realizar tus consultas telefónicamente.</p>
	</div>
	<div class="col-xs-12">
		<a href="" class="hidden-xs hidden-sm" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
		<a ng-href="tel:+{{msg().telefono}}" class="hidden-md hidden-lg" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
	</div>
</div>