<div class="row plusPadLeft">
	<div class="col-xs-12">
		<h1 class="envio-title centered">Por favor confirmá tus datos y elegí una sucursal para ser contactado.</h1>
	</div>
</div>
<div class="row plusPadLeft">
	<div class="col-xs-12">
		<form name="formEnvio">
			<div class="form-group col-md-6">
				<label class="control-label">Teléfono</label> <input id="telefono" type="text" class="form-control consulta" ng-model="telefono"
				 placeholder="código de área + número" maxlength="20" required x-only-num set-error></input>
			</div>
			<div class="form-group col-md-6">
				<label class="control-label">Correo Electrónico</label> <input id="email" type="text" class="form-control consulta" ng-model="email"
				 placeholder="nombre@email.com" required set-error validate-email></input>
			</div>
			<div class="form-group col-md-6 clear-both">
				<label for="sucursal" class="control-label">Sucursal</label>
				<select id="sucursal" name="sucursal" class="btn-select" ng-model="sucursal" combo-required set-error>
					<option value="" disabled selected="selected">Seleccione la sucursal</option>
					<option ng-repeat="sucursal in sucursales" value="{{sucursal}}">
						{{sucursal.numeroSucursal}} - {{sucursal.descripcionSucursal}} -
						{{sucursal.direccionSucursal}}</option>
				</select>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<input type="button" id="envioID" submit form="formEnvio" class="btn btn-simular envio" callback="enviar" value="Enviar" />
				</div>
				<div class="row">
					<div class="col-xs-12 text-center">
						<a href="" ng-click="volver()" class="volver">Volver</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- telefono -->
<div class="row">
	<div class="col-xs-12">
		<p class="mesajeTelefono">¿Necesitás ayuda? Podés realizar tus consultas telefónicamente.</p>
	</div>
	<div class="col-xs-12 ">
		<a href="" class="hidden-xs hidden-sm" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
		<a ng-href="tel:+{{msg().telefono}}" class="hidden-md hidden-lg" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
	</div>
</div>