<div class="row col-xs-12">
    <h2 class="text-left main-title">En este momento no podemos procesar la solicitud por inconvenientes técnicos. Por favor volvé a intentar en unos minutos.
		<br>Muchas gracias.
	</h2>
</div>
<!-- telefono -->
<div class="row">
	<div class="col-xs-12">
		<p class="mesajeTelefono">¿Necesitás ayuda? Podés realizar tus consultas telefónicamente.</p>
	</div>
	<div class="col-xs-12 ">
		<a href="" class="hidden-xs hidden-sm" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
		<a ng-href="tel:+{{msg().telefono}}" class="hidden-md hidden-lg" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
	</div>
</div>