<div class="row centered graciasHeader">
	<h1>{{msg().razonSocial}} queremos contarte sobre nuestras líneas de financiación de forma personalizada</h1>
</div>
<div class="row titulo">
	<div class="col-xs-12">
		<h3 class="centered font-light">Un representante de BBVA se comunicará para asesorarte con una propuesta a medida.</h3>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>
<div class="row plusPadLeft">
	<div class="col-xs-2 col-md-1">
		<img alt="" class="img-responsive center-block" src="img/shared/ico_phone_black.png">
	</div>
	
	<div class="col-xs-10 col-md-11">
		<p class="mensaje">Un representante se comunicará a la brevedad para brindarte una atención personalizada</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		&nbsp;
	</div>
</div>