<div class="row plusPadLeft">
	<h1 class="titulo-gracias">Verificá la bandeja de entrada de tu correo electrónico</h1>
</div>

<div class="row plusPadLeft">
	<div class="col-xs-2 col-md-1">
		<img alt="" class="img-responsive center-block" src="img/shared/ico-pdf-blue.png">
	</div>
	
	<div class="col-xs-10 col-md-11">
		<p class="mensaje">En el correo encontrarás la copia con los resultados y la documentación necesaria para poder formalizarlo.</p>
	</div>
	
</div>

<div class="row plusPadLeft">
	<div class="col-xs-2 col-md-1">
		<img alt="" class="img-responsive center-block" src="img/shared/ico_phone_black.png">
	</div>
	
	<div class="col-xs-10 col-md-11">
		<p class="mensaje">Un representante se comunicará a la brevedad para brindarte una atención personalizada </p>
	</div>
	
</div>
<!-- telefono -->
<div class="row">
	<div class="col-xs-12">
		<p class="mesajeTelefono">¿Necesitás ayuda? Podés realizar tus consultas telefónicamente.</p>
	</div>
	<div class="col-xs-12 ">
		<a href="" class="hidden-xs hidden-sm" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
		<a ng-href="tel:+{{msg().telefono}}" class="hidden-md hidden-lg" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
	</div>
</div>
