<div class="row col-xs-12 ">
	<h1 class="text-center main-title">Resultados de tu simulación</h1>
</div>
<div class="row col-xs-12 ">
    <p class="mensaje-error mensaje-error-negativo">Hemos registrado que ya han realizado una simulación para esta empresa. A la brevedad, se estará comunicando un representante de BBVA para asesorarte respecto a las líneas de financiación para tu empresa.</p>
</div>
<!-- telefono -->

<div class="row">
	<div class="col-xs-12 col-sm-12">
		<p class="mensaje-telefono-negativo">¿Necesitás ayuda? Podés realizar tus consultas telefónicamente.</p>
	</div>
	<div class="col-xs-12 col-sm-12">
		<a href="" class="hidden-xs hidden-sm" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
		<a ng-href="tel:+{{msg().telefono}}" class="hidden-md hidden-lg" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
	</div>
</div>