<div class="row plusPadLeft">
    <div class="col-xs-12">
        <h1 class="titulo centered">Te ayudamos a encontrar la mejor financiación</h1>
    </div>
    <div class="col-xs-12">
        <h2 class="subtitulo">Es por eso que te vamos a pedir estos breves datos y así, poder realizar el cálculo</h2>
    </div>
</div>
<div class="row container col-xs-12 col-md-6 col-sm-6">
    <div class="col-md-3 col-sm-3">
        <img class="img-responsive center-block" src="/sales/modules/empresas/img/paso-1.svg">
        <div class="text-pasos">
            <p class="bold">Paso 1</p>
            <p>Datos de la empresa.</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-3">
        <img class="img-responsive center-block" src="/sales/modules/empresas/img/paso-2.svg">
        <div class="text-pasos">
            <p class="bold">Paso 2</p>
            <p>Datos Contables.</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-3">
        <img class="img-responsive center-block" src="/sales/modules/empresas/img/paso-3.svg">
        <div class="text-pasos">
            <p class="bold">Paso 3</p>
            <p>Resutados de la pre calificación crediticia.</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-3">
        <img class="img-responsive center-block" src="/sales/modules/empresas/img/paso-4.svg">
        <div class="text-pasos">
            <p class="bold">Paso 4</p>
            <p>Enviamos una copia con los resultados a tu casilla de correo.</p>
        </div>
    </div>
</div>
<div class="row spacing-button clear-fix">
    <div class="col-xs-12 text-center">
        <button elemento = "empezar" id="inicioFinanciacionID" class="btn btn-enviar inicio" ng-click="empezar()">Empezar</button>
    </div>
</div>
