<div class="row col-xs-12">
    <h2 class="text-left main-title">Por favor verificá los datos ingresados. Desde el botón Volver podrás regresar a la pantalla anterior para editarlos.</h2>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12 col-sm-12 text-center">
        <input type="button" id="nosRechazoID" class="btn btn-continuar empresa" ng-click="volver()" value="Volver">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p class="mesajeTelefono">¿Necesitás ayuda? Podés realizar tus consultas telefónicamente.</p>
    </div>
    <div class="col-xs-12">
        <a href="" class="hidden-xs hidden-sm" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
        <a ng-href="tel:+{{msg().telefono}}" class="hidden-md hidden-lg" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
    </div>
</div>