<div class="row plusPadLeft">
	<div>
		<h1 class="text-center main-title">
			Esta es la propuesta de financiación <br>que tenemos para tu
			empresa
		</h1>
	</div>
	<div class="container-important-block">
		<h2 class="sub-titulo-precalif">
			El monto de $<span class="sub-titulo-precalif"
				ng-bind="datosResultado.montoMaximo"></span> podrá ser utilizado en:
		</h2>
		<div class="grey-tr font-tr">
			<img class="check-container" src="img/shared/check.svg"> Cuenta
			Corriente bonificada por 12 meses.
		</div>
		<div class="dark-grey-tr font-tr">
			<img class="check-container" src="img/shared/check.svg">
			Tarjeta Visa Business LATAM Pass bonificada por 12 meses + 30.000 KMS
			de bienvenida.
		</div>
		<div class="grey-tr font-tr">
			<img class="check-container" src="img/shared/check.svg">
			Acuerdo de cuenta corriente.
		</div>
		<div class="dark-grey-tr font-tr">
			<img class="check-container" src="img/shared/check.svg">
			Préstamo financiero.
		</div>
		<div class="grey-tr font-tr">
			<img class="check-container" src="img/shared/check.svg">
			Ofertas exclusivas para el Descuento de Cheques.
		</div>
		<div class="container-monto-largo-plazo"
			ng-if="datosResultado.montoLargoPlazo">
			<h2 class="sub-titulo-precalif">
				Dentro de los $ </span> <span class="sub-titulo-precalif"
					ng-bind="datosResultado.montoMaximo"></span> <span
					class="sub-titulo-precalif"> podrás destinar hasta $</span> <span
					class="sub-titulo-precalif"
					ng-bind="datosResultado.montoLargoPlazo"></span> <span
					class="sub-titulo-precalif"> en:</span>
			</h2>
			<div class="grey-tr font-tr">
				<img class="check-container" src="img/shared/check.svg">
				Leasing rodados.
			</div>
			<div class="dark-grey-tr font-tr">
				<img class="check-container" src="img/shared/check.svg">
				Préstamos prendario para rodados.
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 text-center">
			<button id="precalificacionID" class="btn btn-enviar precalificacion"
				ng-click="continuar()">Continuar</button>
		</div>
		<div class="col-xs-12 col-sm-12 text-center">
			<a href="" ng-click="volver()" class="volver">Volver</a>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12">
		<p class="legales-precalificacion" ng-bind-html="legales"></p>
	</div>
</div>

<!-- telefono -->
<div class="row">
	<div class="col-xs-12 col-sm-12">
		<p class="mesajeTelefono">¿Necesitás ayuda? Podés realizar tus
			consultas telefónicamente.</p>
	</div>
	<div class="col-xs-12 col-sm-12">
		<a href="" class="hidden-xs hidden-sm" style="cursor: default;"><img
			src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
		<a ng-href="tel:+{{msg().telefono}}" class="hidden-md hidden-lg"
			style="cursor: default;"><img src="img/shared/ico_tel.png"><span
			class="telefono">{{msg().telefono}}</span></a>
	</div>
</div>