<div class="row col-xs-12">
    <h2 class="text-left main-title">Según los datos que nos proporcionaste no es posible hacer un cálculo para la Empresa.
        <br> Te invitamos a acercarte a cualquiera de nuestras sucursales para recibir información detallada.</h2>
</div>
<div class="row spacing-button">
    <div class="col-xs-12 text-center">
        <input type="button" id="rechazoOtrosID" class="btn btn-continuar empresa" ng-click="volver()" value="Volver">
    </div>
</div>