////////////////////////////////////////////////////////////////////////////////
// Layout Styling
// --------------------
// This partial defines CSS classes to create a table-free layout, with 
// 1-3 columns, depending on whether blocks are enabled in the left or right
// columns.
//
// We use a negative margin technique, adapted from the Zen Columns layout 
// method (http://drupal.org/node/201428). The page is loaded in this order:
//   1. Header
//   2. Content
//   3. Navigation menus
//   4. Sidebar Left
//   5. Sideabr Right
//
// Only CSS that affects the layout (positioning) of major elements should be
// listed here. Most visual styling should go in _custom.scss.
////////////////////////////////////////////////////////////////////////////////

#page { // Remove 'auto' and the width to switch to a fluid width.
  width: $page_width;
  margin: 0 auto;
  // @media screen and (max-width : $tablet) {
  @include breakpoint($tablet) {
    width: 100%;
  }
  @include breakpoint($mobile) {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
}

body, #page {
  height:100%; // Page height fills the screen and footer at the bottom.
}
body {
  @include breakpoint($tablet) {
    background: #fff;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }
}
html, body {
  @include breakpoint($tablet) {
    margin: 0;
    padding: 0;
    border: 0;
  }
  @include breakpoint($mobile) {
    margin: 0;
    padding: 0;
    border: 0;
  }
}

#main {
  position: relative;
  clear: both;
  @include breakpoint($tablet) {
    padding-bottom: 0px;
  }
  @include breakpoint($mobile) {
    padding-bottom: 0px;
    position: static;
  }
}

#content {
  float: left;
  width: 100%;
  margin-right: -100%;
  margin-bottom: $footer_height;
}

.sidebar {
  float: left;
}

#sidebar-second {
  float: right;
  @include breakpoint($tablet) {
    float: none;
    clear: both;
    width: auto;
    margin: 0px;
  }
}

#footer {
  height: $footer_height;
  width: $page_width;
  @include breakpoint($tablet) {
    position: relative;
    width: 100%;
  }
  @include breakpoint($mobile) {
    position: relative;
    width: 100%;
  }
}

.sidebar, #sidebar-first, #sidebar-second {
  @include breakpoint($mobile) {
    float: none;
    clear: both;
    width: auto;
    margin: 0px;
  }
}
#content #content-inner.center {
  @include breakpoint($mobile) {
    margin: 0px;
  }
}

//
// Layout Helpers
//
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

//
// Column widths
//
.two-sidebars,
.sidebar-first {
  .center {
    margin-left: percentage($first_sidebar_width / $page_width);
  }
}

#sidebar-first {
  width: percentage($first_sidebar_width / $page_width);
  margin-right: -$first_sidebar_width;
  @include breakpoint($mobile) {
    margin-right:0;
    width:100%;
  }
}

.two-sidebars,
.sidebar-second {
  .center {
    margin-right: $second_sidebar_width;
  }
}

#sidebar-second {
  width: $second_sidebar_width;
  @include breakpoint($mobile) {
    margin-right:0;
    width:100%;
  }
}

//
// Columns Inner
// -------------
// You can change the padding inside the columns without changing the
// width of them by just usinbg the INNER div of each column
//
.inner {
  @include pad-size($section_padding);
}

//
// Navigation styles 
// -----------------
//
#navigation {
  margin-left: 0;
  @include pad-size($section_padding);
  width: 100%;
  @extend .clearfix;
  @include breakpoint($mobile) {
    clear: both;
    @include pad-size($mobile_padding);
  }
}

