body {
    #page {
        #header {
            padding: 0;
            border: 0;
            a{
                outline: none!important;
            }
            .breadcrumb {
                font-family: 'bbva light';
            }
            .container {
                padding: 0;
                margin: 0 0 0 30px;
                #logo {
                    float: left;
                    margin-top: 14px;
                    img {
                        width: 72px;
                    }
                }
                .region-header {
                    width: 80.5%;
                    margin: 0;
                    float: right;
                    .descargar-francesgo {
                        width: 79px;
                    }
                    #block-menu-menu-experience {
                        width: 412px;
                        float: left;
                        ul {
                            margin: 0;
                            padding: 0;
                            clear: both;
                            .menu {
                                position: absolute;
                                z-index: 99999;
                                width: 79px;
                            }
                            li {
                                padding: 0 0;
                                margin: 0 7px 0 0;
                                font-size: 14px;
                                z-index: 100000;
                                cursor: pointer;
                                font-family: 'bbva light';
                                .first, .leaf, .last {
                                    text-indent: -500em;
                                    display: none;
                                }
                                .android {
                                    background: url("../../images/android.png") #0093e2 no-repeat;
                                    background-position: 22px;
                                    height: 89px;
                                    width: 84px;
                                }
                                .android:hover {
                                    background: url("../../images/android.png") $blue no-repeat;
                                    background-position: 22px;
                                }
                                .iphone {
                                    background: url("../../images/iphone.png") #00aeeb no-repeat;
                                    height: 89px;
                                    width: 84px;
                                    background-position: 22px;
                                }
                                .iphone:hover {
                                    background: url("../../images/iphone.png") $blue no-repeat;
                                    background-position: 22px;
                                }
                                .windows-phone {
                                    background: url("../../images/win8.png") #41cef8 no-repeat;
                                    background-position: 12px;
                                    height: 89px;
                                    width: 84px;
                                }
                                .windows-phone:hover {
                                    background: url("../../images/win8.png") $blue no-repeat;
                                    background-position: 12px;
                                }
                                a {
                                    background-repeat: no-repeat;
                                    padding-top: 28px;
                                    color: #898989;
                                    display: block;
                                }
                                a:hover {
                                    color: #11529a;
                                    text-decoration: none;
                                }
                                a.menu-beneficios {
                                    margin-top: 30px;
                                    background-position: 25px 0;
                                    background-image: url("../../images/ico_beneficios.png");
                                }
                                a.menu-beneficios.active-trail,
                                a.menu-beneficios:hover {
                                    background-image: url("../../images/ico_beneficios_h.png");
                                }
                                a.menu-futbol {
                                    margin-top: 30px;
                                    background-position: 9px 0;
                                    background-image: url("../../images/ico_futbol.png");
                                }
                                a.menu-futbol.active-trail,
                                a.menu-futbol:hover {
                                    background-image: url("../../images/ico_futbol_h.png");
                                }
                                a.menu-espectaculos {
                                    margin-top: 30px;
                                    background-position: 43px 0;
                                    background-image: url("../../images/ico_espectaculos.png");
                                }
                                a.menu-espectaculos.active-trail,
                                a.menu-espectaculos:hover {
                                    background-image: url("../../images/ico_espectaculos_h.png");
                                }
                                a.menu-viajes {
                                    margin-top:30px;
                                    background-position: 13px 0;
                                    background-image: url("../../images/ico_viajes.png");
                                }
                                a.menu-viajes.active-trail,
                                a.menu-viajes:hover {
                                    background-image: url("../../images/ico_viajes_h.png");
                                }
                                a.menu-autos {
                                    margin-top: 30px;
                                    background-position: 6px 4px;
                                    background-image: url("../../images/ico_auto.png");
                                }
                                a.menu-autos.active-trail,
                                a.menu-autos:hover {
                                    background-image: url("../../images/ico_auto_h.png");
                                }
                                a.menu-download {
                                    margin-left: 0px;
                                    width: 84px;
                                    height: 100px;
                                    padding-top: 58.4px;
                                    text-align: center;
                                    font-size: 13px;
                                    line-height: 16px;
                                    color: $white;
                                    background: $blue_light url("../../images/ico_descargar.png") no-repeat 22px 11px;
                                    letter-spacing: 1px;
                                }
                            }
                            li.last {
                                margin-right: 0;
                            }
                        }
                    }
                    #block-dropdown_login-login_dropdown {
                        margin-top: 5px;
                        float: right;
                        #dropdown-login {
                            width: 49px;
                            position: inherit;
                            a.login.button {
                                background: url("../../images/login.png") no-repeat 17px 0;
                                color: #11529a;
                                text-decoration: none;
                                margin-top: 25px;
                                padding: 30px 2px 0 2px;
                                min-height: 45px;
                                color: #898989;
                                display: block;
                                font-size: 14px;
                                span {
                                    span {
                                        padding: 0;
                                        background: none;
                                        text-align: center;
                                        text-transform: capitalize;
                                    }
                                }
                            }
                            a.login.button.active-trail,
                            a.login.button:hover {
                                background-image: url("../../images/login_h.png");
                            }
                        }
                    }
                    #block-menu-menu-menu-principal {
                        float: right;
                        width: 90px;
                        margin-top: 29px;
                        margin-right: 6px;
                        font-family: 'bbva light';
                        ul {
                            margin: 0;
                            padding: 0;
                            clear: both;
                            li {
                                border-right: 2px solid #ccc;
                                border-left: 2px solid #ccc;
                                padding: 0 0px 0 6px;
                                font-size: 14px;
                                position: relative;
                                left: -4px;
                                a {
                                    width: 74px;
                                    background: url("../../images/ico_suscribir.png") no-repeat 28px 0;
                                    color: #11529a;
                                    text-decoration: none;
                                    padding: 28px 5px 0 5px;
                                    color: #898989;
                                    display: block;
                                }
                                a.active-trail,
                                a:hover {
                                    background-image: url("../../images/ico_suscribir_h.png");
                                }
                            }
                        }
                        .views-exposed-widgets {
                            margin: 0;
                        }
                        form {
                            margin: 0;
                            label {
                                display: none;
                            }
                            #edit-title--2-wrapper,
                            #edit-title-wrapper {
                                padding: 0;
                                .form-item {
                                    margin: 0;
                                    input.form-text {
                                        background-image: none;
                                        width: 182px;
                                        height: 40px;
                                        color: #666;
                                        border: 1px solid #e5e5e5;
                                        border-radius: 8px 0 0 8px;
                                        float: left;
                                        padding: 6px 6px 6px 7px;
                                        font-size: 16px;
                                        font-style: italic;
                                        vertical-align: middle;
                                    }
                                }
                            }
                            .views-exposed-widget {
                                padding: 0;
                                input.form-submit {
                                    background: #55b7e6;
                                    color: #fff;
                                    border: 0;
                                    cursor: pointer;
                                    height: 40px;
                                    width: 40px;
                                    margin: 0;
                                    border-radius: 0 8px 8px 0;
                                }
                            }
                        }
                        input.form-text {
                            width: 276px;
                        }
                    }
                    #block-bbva-search_content {
                        float: right;
                        width: 161px;
                        margin-left: 15px;
                        margin: 20px 0 0 0;
                        font-family: 'bbva light';
                        input#edit-keyword {
                            background-image: none;
                            width: 117px;
                            height: 40px;
                            color: #666;
                            border: 1px solid #e5e5e5;
                            border-radius: 8px 0 0 8px;
                            float: left;
                            padding: 6px 6px 6px 6px;
                            font-size: 10px;
                            text-align: center;
                            vertical-align: middle;
                            font-family: 'bbva light';
                        }
                        input#edit-submit, input#edit-submit--2 {
                            background: #55b7e6;
                            color: #fff;
                            border: 0;
                            cursor: pointer;
                            height: 40px;
                            width: 40px;
                            margin: 0;
                            border-radius: 0 8px 8px 0;
                        }
                    }
                }
            }
        }
    }
}