/** Homes vocabulary experience **/
.page-taxonomy-term {
	h1 {
		display: none;
	}

	#breadcrumb-wrapper {
		display: none;
	}

	.vocabulary-experience {
    #term-carousel {
			width: 100%;
			/*min-height: 880px;*/
			overflow: hidden;
			margin: 0 auto;

			ul {

				li {
					overflow: hidden;
					.row {
						background-size: 100%!important;
						background-repeat: no-repeat!important;

						.col-rows {
							width: 1180px;
							margin:0 auto;
							padding: 0;
							overflow: hidden;
							padding: 28% 0 15px 0;

              .field-logo {
              	float: right;
              	width: 382px;/*
              	min-height: 573px;*/
              	margin-left: 10px;
              	a{
              		outline: 0;
              	}
              	img {
                  width: 100%;
              	}
              }
						}
					}
					.row.only-bg {
						a {
							display: block;
							width: 100%;
							height: 850px;
						}
					}
				}
			}
		}
		.jcarousel-container-horizontal {
			position: relative;

			.jcarousel-prev {
        left: 15px;
				z-index: 999;
				top: 45%;
				width: 31px;
				height: 47px;
				position: absolute;
				display: block;
        text-indent: -500em;
        background: url("../../images/arrow_slide_left.png");
        cursor: pointer;
			}
			.jcarousel-next {
        right: 15px;
				z-index: 999;
				top: 45%;
				width: 31px;
				height: 47px;
				position: absolute;
				display: block;
        text-indent: -500em;
        background: url("../../images/arrow_slide.png");
        cursor: pointer;
			}
		}
	}

	.vocabulary-lista-experiencias {
		.group-header {
			.field-name-field-experience-volanta {
				background: #47423f;
			}
		}
	}

	#block-system-main {
    .content {
    	.view-mode-teaser {
    		display: none;
    	}
    }
	}
}


/** Experiencia Full **/

.node-type-experience {
	a{
		outline: 0!important;
	}
	#main {
		width: 100%;

    h1.title,
		#breadcrumb-wrapper{
			display: none;
		}

		#content {
			width: 100%!important;
			float: none;

			.view-mode-full {
				width: 100%;
				margin: 0 auto 30px;

				.group-header {
					.field-name-experience {
						#experience-content {
							position: relative;
							.field-image {
								height: 480px;
								img {
									width: 100%;
									max-height: 680px;
								}
							}

							.group-fields {
								position: absolute;
								left: 45%;
								top:0;
								color: $white;

								.field-title {
									padding: 10% 0 1% 0;
									font-size: 70px;
									line-height: 72px;
									color: #ffffff;
									text-align: left;
									font-family: 'bbva light';
									text-shadow:2px 0px 2px #000;

								}

								.field-volanta {
									padding: 0 0 3% 4px;
									font-size: 27px;
									line-height: 27px;
									color: #ffffff;
									text-align: left;
									min-height: 100px;
									font-family: 'bbva light';
									text-shadow: 2px 2px 1px #4A4A4C;
								}

								.field-link {
									padding: 14px 20px 14px 20px;
									font-size: 24px;
									color: #ffffff;
									text-transform: uppercase;
									text-align: center;
									font-family: 'bbva light';
									background-color: #09519d;
									float: left;

							      a {
							      	color: $white;
							      }
								}

							}
						}
					}
				}

        .group-left {
        	padding: 12px;
        	width: 45%;
        	ul{
        		margin: 0;
        		padding: 0;
        		li{
        			width: 200px;
        		}
        	}
        	#video-header{
					iframe{
						width: 97.6%!important;
					}
				}
			#experience-carrusel{
				width: 100%;
				float: left;
			}
        	.tabs-carrusel{
        		width: 100%;
        		float: left;
    				.tab-gallery,
    				.tab-video{
						width: 47%;
						height: 35px;
						line-height: 35px;
						float: right;
						text-align: center;
						margin:0 10px 10px 0;
						display: block;
						color: #fff;
						background:#b4b4b4;
						text-transform: uppercase;
						cursor: pointer;
						display: block;
    				}
    				.tab-video.active{
    					background: $blue;
    					float: left!important;
						
    				}
    				.tab-gallery.active{
    					background: $blue;
    					cursor: pointer;
    					float: left!important;
    				}
    			}

					.header-carousel {
						ul {
							li {
								width: 30%;
								margin: 0 13px 0 0;

								.field-image {
									img {
										max-width: 100%;
										height: auto;
									}
								}
							}
						}

						.jcarousel-container-horizontal {
							position: relative;
							.jcarousel-prev {
					            left: 0;
					            background: url('../../images/arrow_slide_left.png');
								width: 31px; height: 47px;
								top: 36%;
								text-indent: -500em;
								position: absolute;
								display: block;
								cursor: pointer;
							}

							.jcarousel-next {
							  right: 15px;
							  background: url('../../images/arrow_slide.png');
								width: 31px; height: 47px;
								top: 36%;
								text-indent: -500em;
								position: absolute;
								display: block;
								cursor: pointer;
							}
						}
					}
				}

				.group-right {
					width: 52%;
					float: left;
					padding: 54px 0 54px 0;
					font-family: 'bbva light';

					.field-name-field-experience-bajada {
						font-size: 23px;
						line-height: 42px;
						color: #00539B;
						text-align: left;
						font-family: 'bbva';
						margin-bottom: 20px;

					}
					.field-name-field-experience-bajada{
						.field-item{
							line-height: 29px;
						}
					}
					.field-name-field-experience-descripcion {
						line-height: 21px;
						font-size: 17px;
						color: #8a8a8a;
						text-align: left;
						font-family: 'bbva light';
						letter-spacing: 1px;

					}

					.field-name-field-experience-fija-titulo3 {
						font-size: 23px;
						line-height: 42px;
						color: #00539B;
						text-align: left;
						font-family: 'bbva';
						margin-bottom: 20px;
						height: 30px;

					}

					.field-name-field-experience-fija-texto3 {
						line-height: 21px;
						font-size: 17px;
						color: #8a8a8a;
						text-align: left;
						font-family: 'bbva light';
						letter-spacing: 1px;
					}
				}

				.group-footer {
					.field-name-experiences-related {
						background: #0079C1;
						margin: 28px 0 0 0;

						.field-items {
							width: 1185px;
							margin: 0 auto;

							.block-title {
								padding: 12px 0 0 0;
								margin: 0 0 0 8px;
								height: 45px;
								color: #09519d;
								font-family: 'bbva light';
								font-size: 16px;
								line-height:16px;
								background-color: #ffffff;
								width: 226px;
								text-align: center;
								font-weight: bold;
							}

							.view-experience-related {
								width: 1180px;
								margin: 0 auto;

								.views-row{
									float: left;
									width: 226px;
									margin: 10px 5px 0 5px;
									position: relative;

									img {
										width: 100%;
										height: auto;
									}

									.group-fields {
								     background: $white;
								     width: 206px;
								     min-height: 109px;
								     padding: 10px 12px;
								     margin: 0 auto;
								     position: absolute;
								     bottom: 10px;
								     left: 10px;

								     .views-field-title {
								       font-size: 17px;
								       line-height: 18px;
								       padding: 0 0 5px 0;
								       font-family: 'bbva';
								       font-weight: bold;

								       a {
								       	color: $blue;
								       }
								     }

								     .views-field-field-experience-volanta {
								       font-size: 15px;
								       font-family: 'bbva light';
								       color: #8a8a8a;
								       line-height: 16px;
								     }
									}
								}
							}
						}
					}
				}
			}
	  }
	}
}

/** Parallax **/
#parallax {
	// background: url(<?php print file_create_url($imagepath) ?>) 0 0 /100% no-repeat
	.intro-content {
	background-position: 0 0!important;
	background-size: 100% !important;
	min-height: 452px;
	margin: 0 auto;
	width: 100%;
	padding: 0;
	}

	.content-node-parallax {
    margin: 0 auto;
    width: 100%;
    clear: both;

    .group-title {
    	margin-top: -247px!important;
    	position: absolute;
    	width: 100%;
    	font-size: 70px;
    	color: $white;
    	text-align: center;
    	line-height: 71px;
    	text-shadow: 3px 2px 2px #000;
    }

    .group-header {
    	margin-top: -46px;

		  .section {
		  	width: 100%;
		  	margin: 0 auto;
		  	height: 47px;
		  	line-height: 47px;
		  	font-family: 'bbva light';
		  	a{
		  		color: white;
		  		cursor: pointer;
		  		display: block;
		  		outline: 0!important;
		  	}
		  	.icon-tarjeta {
		  		height: 47px;
		  		width: 65px;
		  		float: left;
		  		background-size: 85% auto;
		  		background-repeat: no-repeat;
		  		background-position: center center;
		  		background-color: #fff;
		  		text-indent: -500em;
		  	}

		  	.field-name-field-experience-volanta {
		  		display: block;
		  		float: left;
		  		font-size: 18px;
		  		color: $white;
		  		height: 46px;
		  		width: 280px;
		  		line-height: 47px;
		  		padding: 0 20px;
		  		text-align: center;
		  	}
		  }
		}

    .parallax-inner {
    	background-color: $white;
    	padding: 27px 0 34px 0;
    	overflow: hidden;
    	clear: both;

			.group-left {
				width: 49.9%;
				float: left;

				

				.section {
					font-family: 'bbva light';
					color: #47423f;
					font-size: 28px;
					line-height: 30px;
					padding: 0 ;
					text-align: right;
					float: right;
					width: 70%;
				}
			}

			.group-right {
				width: 49.9%;
				float: left;

				.section {
					padding: 4px 0 7px 20px;
					width: 602px;
					margin-top: 2px;
					.field-name-field-experience-descripcion {
						margin-bottom: 10px;
						font-family: 'bbva light';
						letter-spacing: 2px;
					}

					.field-name-field-experience-link a{
						font-size: 20px;
						color: #e91c24;
						width: 145px;
						text-align: center;
						font-family: 'bbva light';
						font-weight: normal;
						border: 1px solid #e91c24;
						padding: 1px 10px;
						outline: 0;				}
				}
			}
    }
  }
}

/** Lista de experiencias **/
#list-experiences{
	padding: 31% 0 0 0;
	width: 1190px;
	margin: 0 auto;

	.row {
		float: left;
		width: 380px;
		min-height: 580px;
		padding: 0;
		margin: 0 5px 10px 7px;
		position: relative;

		.group-fields {
      background: $white;
      width: 92%;
      min-height: 124px;
      padding: 10px 12px;
      position: absolute;
      bottom: 3%;
      left: 4%;

      .field-title {
        font-size: 23px;
        padding: 0 0 15px 0;
        font-family: 'bbva';
        font-weight: bold;

        a {
        	color: $blue;
        }
      }

      .field-volanta {
        font-size: 17px;
        font-family: 'bbva light';
        color: #8a8a8a;
        line-height: 21px;
      }
		}
	}
}

/** Fondos Lista de  experiencias **/

/** River **/
.page-experiencia-futbol-river-151 {
	#content {
		background: url('../../images/experiencias/imagen_river.jpg') no-repeat 0 0 / 100%;
	}
}

/** Boca **/
.page-experiencia-futbol-boca-152 {
	#content {
		background: url('../../images/experiencias/imagen_boca.jpg') no-repeat 0 0 / 100%;
	}
}

.page-experiencia-autos-peugeot-1671{
	#content {
		background: url('../../images/experiencias/imagen_peugeot.jpg') no-repeat 0 0 / 100%;
	}
}

/* Turismo  Km Lan Pass**/
.page-experiencia-turismo-km-lanpass-1259 {
	#content {
		background: url('../../images/experiencias/turismo_nivel3_lanpass.jpg') no-repeat 0 0 / 100%;
	}	
}

/** Turismo  Km Lan Pass**/
.page-experiencia-turismo-km-lanpass-1260 {
	#content {
		background: url('../../images/experiencias/turismo_nivel3_lan.jpg') no-repeat 0 0 / 100%;
	}	
}


/** Fondo Experiencia beneficios **/
.page-benefit-experience {
	.field-item{
		.group-fields{
			.field-quotes{
				margin: 9px 27px 0 0;
				font-size: 12px;
			}
		}
	}
	#main {
		background: url('../../images/beneficios_river/img_river.jpg') no-repeat 0 0 / 100%;
		background-position: 0 0 ;
		width: 100%;
		height: 100%;
		margin: 0;
		.region{
		}
		#content {
			#content-area{
				padding-top: 31%;
				.view-benefit-filters{
					width:1190px;
					margin: 4px auto;
					.views-view-grid{
						tbody{
							td{
								float: left;
								.field-items{
									width: 380px;
									.group-fields{
										width: 96%;
										height: 116px;
										padding: 15px 0 0 5px;
										.group-fields-logo{
											width: 126px;
											margin: -7px 0px 0px 22px;
										}
										.group-fields-promotion{
											font-size: 78px;
											width: 100px;
											margin-left: 18px;
										}
										.group-fields-duration{
											span.porcent{
												font-size: 68px;
											}
										}
									}
									.field-image{
										img{
											width: 100%;
											height: 100%;
										}
									}
								}
								.entity-benefit{
									margin:0 5px 10px 5px;
								}
							}
						}
					}
				}
			}
		}	
	}
}
.group-left{
    			
    		}

/*DESCRIPCION DE PRODUCTO*/

.node-type-product{
	#page{
		#main{
			#content{
				.field-name-title{
					h2{
					position: absolute;
					right: 5%;
					top: 5%;
					color: #fff;
					font-size: 97px;
					font-family: bbva light;
					width: 500px;
					line-height: 100px;
						text-align: right;
						text-shadow: 3px 2px 2px #000;
					}
				}
				.statistics_counter{
					display: none;
				}
				.group-footer{
					width: 1156px;
					margin: 20px auto;
					legend{
						display: none;
					}
					.group-inner-footer{
						width: 575px;
						float: left;
						.field-name-field-product-description-short{
							width: 570px;
							float: left;
							font-size: 70px;
							font-family: bbva light;
							color: $blue;
							line-height: 75px;
						}
						.field-name-field-product-tyc{
							float: left;
							position: relative;
							font-size: 14px;
							color: #b4b4b4;
							font-family: bbva light;
							text-decoration: underline;
						}
					}
					.group-inner-footer-right{
						width: 560px;
						margin-left: 20px;
						float: left;
						.field-name-field-product-titulo-descripcion{
							font-size: 18px;
							line-height: 27px;
							color: $blue;
							font-family: 'bbva';
							float: left;
							width: 540px;
							text-align: justify;
							margin-top: 11px;
						}
						ul{
						float: left;
						margin: 4px 0 0 14px;
						padding: 0 0 0 15px;
						font-size: 18px;
						line-height: 29px;
						color: $blue;
						font-family: 'bbva light';
							li{
								margin-bottom: -2px;
								list-style-image: url('../../images/list-dot.jpg')!important;
								float: none;
								letter-spacing: 2px;
							}
						}
					}
				}
				.field-type-image{
					width: 100%;
					img{
						width:100%;
						height: 100%;
					}
				}
				.field-name-field-product-image-button{
					width: 194px;
					height: 127px;
					float: left;
					position: absolute;
					right: 5%;
					top: 26.5%;
					even{
						display: none;
					}
					img{
						width: 100%;
						height: 100%;
					}
				}
				.field-name-field-product-link-button{
					position: absolute;
					right: 6.3%;
					top: 40%;
					a{
						padding: 14px 20px 40px 20px;
						font-size: 24px;
						line-height: 24px;
						color: #ffffff;
						text-transform: uppercase;
						text-align: center;
						height: 55px;
						font-family: 'bbva light';
						background-color: #09519d;
						float: left;
					}
				}
				
				.field-name-field-product-category{
					display: none;
				}/*
				*/
			}
		}
	}
}
.page-taxonomy-term-151{
	.node-sorteo{
		display: none;
	}
}