.page-benefit-benefit {
    .group-left {
        width: 100%;
        float: none;
        clear: both;
    }
    .field-item {
      #section-benefit{
        width: 940px;
        .row {
            width: 940px;
            .col-left {
                -webkit-box-shadow: 6px 0px 14px -3px rgba(0,0,0,0.75);
                -moz-box-shadow: 6px 0px 14px -3px rgba(0,0,0,0.75);
                box-shadow: 6px 0px 14px -3px rgba(0,0,0,0.75);
                position: relative;
                .field-title {
                    background: $blue_light;
                    font-size: 29px;
                    color: $white;
                    height: 44px;
                    line-height: 44px;
                    font-family: 'bbva light';
                    span {
                        margin-left: 20px;
                    }
                }
                .field-title span {
                    float: left;
                }
                .group-shares ul {
                    list-style-type: disc;
                    float: right;
                    margin: 0px;
                }
                .group-shares {
                    li {
                        height: 39px;
                        width: 39px;
                        margin-right: 2px;
                        margin-top: 2px;
                        a {
                            text-indent: -500em;
                            display: block;
                        }
                    }
                    .list-face {
                        background: url(../../images/face.jpg);
                        background-position: -1px;
                        cursor: pointer;
                    }
                    .list-twitter {
                        background: url(../../images/twitter.jpg);
                        background-position: -2px;
                        cursor: pointer;
                    }
                    .list-email {
                        background: url(../../images/mail.jpg);
                        cursor: pointer;
                    }
                }
                .field-image {
                    img {
                        width: 100%;
                    }
                }
                

                /*CAJITAS*/

                .benefit-group-container{
                  width: 100%;
                  position: absolute;
                  bottom: 20px;
                  padding: 3px 0 16px 0;
                  background:url('../../images/benefit-full-bg.png');
                  -webkit-box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.6);
                  -moz-box-shadow:    0px 6px 11px 0px rgba(0, 0, 0, 0.6);
                  box-shadow:         0px 6px 11px 0px rgba(0, 0, 0, 0.6);
                  .group-fields-full{
                    position: relative;
                    color: #fff;
                    margin: 0 auto;
                    padding-top: 6px;
                    .group-field-group{
                        width: 170px;
                        margin: 0 auto;
                    }

                    /*JS*/
                    .group-field-group-2{
                    width: 224px!important;
                    margin: 0 auto;
                    }
                    .group-fields-promotion-2{
                    float: left;
                    font-size: 95px!important;
                    line-height: 80px!important;
                    }
                    .porcent-2{
                        padding: 0;
                      font-size: 84px!important;
                      line-height: 80px!important;
                    }
                    .group-field-group-1{
                    width: 224px!important;
                    margin: 0 auto;
                    }
                    .group-fields-promotion-1{
                    float: left;
                    font-size: 105px!important;
                    line-height: 92px!important;
                    }
                    .porcent-1{
                        padding: 0;
                      font-size: 87px!important;
                      line-height: 93px!important;
                    }
                    /**/
                    .group-fields-1,
                    .group-fields-2,
                    .group-fields-3{
                      width: 220px;
                      float: left;
                      margin:0 20px;
                      position: relative;
                      .sin-porcent{
                      width: 100%;
                       float: left; 
                      text-align: center;
                      font-size: 44px;
                      line-height: 43px;
                      position: relative!important;
                      top: 24px!important;
                      padding-right: 0!important;
                      right: inherit!important  ;
                      margin-bottom: 39px!important;
                      }
                    }
                    .group-fields-1{
                      background: transparent;
                      color: #f7941d;
                    }
                    .group-fields-2{
                      background: transparent;
                      color: #52bdec;
                    }
                    .group-fields-3{
                      background: transparent;
                      color: #ca006b!important;
                    }
                    .group-fields-promotion{
                      float: left;
                      font-size: 75px;
                      line-height: 62px;          
                    }
                    .group-fields-duration{
                      float: left;
                      margin: 0;
                      line-height: 62px;
                      padding: inherit;
                      span.porcent{
                        padding: 0;
                      font-size:64px;
                      }
                    }
                    .field-quotes{
                      float: left;
                      font-family: bbva;
                      font-size: 14px;
                      text-transform: uppercase;
                      width: 100%;
                      text-align: right;
                      padding-right: 26px;
                      position: absolute;
                      top: 60px;
                    }
                    .leyendago,
                    .leyendanogo{
                      float: left;
                      width: 100%;
                      text-align: center;
                      margin-top: 8px;
                      font-size: 16px;
                    }
                    .leyendago,
                    .leyendanogo{
                        margin-top: 28px;
                    }
                    .leyendago{
                      margin-bottom: 15px;
                    }
                    .leyendago-2{
                      float: left;
                      width: 100%;
                      text-align: center;
                      margin: 26px 0 18px 0;
                      font-size: 16px;
                    }
                    .group-field-beneficio-no-cliente-1,
                    .group-field-beneficio-no-cliente-2,
                    .group-field-beneficio-no-cliente-3,
                    .group-field-beneficio-no-cliente-4{
                      a.inicia-sesion,
                      a.adquiri-cupon,
                      a.disfruta-mas{
                        width: 100%;
                        float: left;
                        text-align: center;
                        height: 40px;
                        display: block;
                        font-size: 24px;
                        line-height: 38px;
                        color: #fff;
                        font-family: bbva;
                      }
                      a.inicia-sesion,
                      a.disfruta-mas{
                        background: #f7941d;
                      }
                      a.adquiri-cupon{
                        background: #c91e61;
                      margin-top: 4px;

                      }
                    }
                    .group-fields-2{
                      .leyendanogo{
                        margin-bottom: 15px;
                      }

                      a.disfruta-mas{
                        background: #52bdec;
                      }
                      .group-field-beneficio-no-cliente-4{
                        .suscribite-no-cliente{
                          background: #52bdec;
                          width: 100%;
                          float: left;
                          text-align: center;
                          height: 40px;
                          display: block;
                          font-size: 24px;
                          line-height: 38px;
                          color: #fff;
                          font-family: bbva;
                        }
                      }
                    }
                    .group-field-beneficio-no-cliente-1,
                    .group-field-beneficio-no-cliente-2,
                    .group-field-beneficio-no-cliente-3,
                    .group-field-beneficio-no-cliente-4,
                    .group-field-beneficio-cliente{
                      float: left;
                      width: 100%;
                      text-align:  center;
                    }
                    p.field-description-no-cliente-no-logged,
                    p.field-description-no-cliente-no-logged-2{
                      width: 100%;
                      text-align: center;
                      float: left;
                      margin-top: 1px;
                      font-weight: bold;
                      font-family: bbva light;
                      font-size: 16px;
                      line-height: 20px;
                      margin-bottom: 10px;
                     
                    }

                    p.field-description-no-cliente-no-logged{
                      margin-top: 25px;
                      margin-bottom: 14px;
                      font-weight: normal!important;
                    }
                    p.field-title-cliente{
                      display: none;
                    }
                  }
                }
            }
        }
        .row-desc {
            width: 940px;
            float: left;
            font-family: 'bbva light';
            .title {
                font-size: 23px;
                background-color: #0079C1;
                color: #fff;
                padding: 11px;
                float: left;
                width: 100%;
            }
            .field-description {
                font-size: 17px;
                color: #898989;
                margin: 20px 0 20px 0;
                line-height: 21px;
                letter-spacing: 1px;
                font-family: 'bbva light';
                float: left;
                padding-top: 17px;
                .field-logo {
                        width: 125px;
                        float: left;
                        margin: -16px 30px 0 20px;
                        img {
                            width: 100%;
                        }
                }
                .description-beneficio{
                  p,ul{
                    float: left;
                  }
                  p{
                    margin-bottom: 10px;
                  }
                  ul{
                    margin:0 0 4px 0;
                  }
                  li{
                    margin-bottom: 6px;
                  }
                }
            }

        }
        .row-map{
          position: relative;
          width: 60%;
          float: left;
          margin-top: inherit;
        }
        .row-sucursales{
          float: left;
          width: 38%;
          margin-left: 2%;
          .field-link{
            a{
              text-transform: uppercase;
              display: block;
              background-color: #7fc241;
              color: #fff;
              padding: 20px 0 20px 0;
              text-align: center;
              font-size: 19px;
              font-family: bbva light;
              border-radius: 10px 10px 10px 10px;
              -moz-border-radius: 10px 10px 10px 10px;
              -webkit-border-radius: 10px 10px 10px 10px;
              height: 50px;
              line-height: 10px;
            }
          }
        }
        .row-legal{
          float: left;
          width: 38%;
          margin-left: 2%;
          .field-legal-title{
            text-transform: uppercase;
            display: block;
              background-color: #939598;
              color: #fff;
              padding: 20px 0 20px 0;
              text-align: center;
              font-size: 19px;
              font-family: bbva light;
              border-radius: 10px 10px 10px 10px;
              -moz-border-radius: 10px 10px 10px 10px;
              -webkit-border-radius: 10px 10px 10px 10px;
              font-weight: normal;
              height: 50px;
              line-height: 10px;
          }
          .field-legal-text{
            color: #939598;
            font-size: 11px;
            margin-top: 10px;
          }
        }
      }
    }
}

#content-header h1 {
    display: none;
}

