/** Page Beneficios Views **/
.page-benefit-experience {
    #main {
        #content {
            width: 100% !important;
        }
    }
}


.page-benefit-categories,
.page-benefit-experience,
.page-contents,
.page-benefit,
.page-voucher-voucher {
    font-family: 'bbva light';

    .views-row{
        .group-fields{
            padding: 8px;
        }
    }
    .view-benefit-filters {
		.field-item {
			position: relative;
			a{
				outline: 0;
			}
			.group-fields {
				position: absolute;
				bottom: 10px;
				left: 7px;
				width: 212px;
				height: 88px;
				background-color: $white;
				color: $blue_light;
				float: left;
				
				.group-fields-title {
					float: left;
					text-transform: uppercase;
					font-size: 15px !important;
					font-weight: bold !important;
					margin: 31px 2px 0 11px;
					font-family: bbva;
					width: 80px;
					text-align: center;
				}

				.field-quotes{
				  float: right;
				  margin-right: 7px;
				  margin-top: 3px;
				  font-size: 8px;
				  text-transform: uppercase;
				  font-family: bbva;
				}
				.sin-porcent{
					float: none;
					font-family: bbva;
					font-weight: bold;
					margin-top: 35px;
					font-size: 17px;
				}
				.field-volanta {
					font-size: 22px;
					line-height: 26px;
					font-family: 'bbva light';
				}
				.group-fields-logo {
					float: left;
					width: 77px;
					margin-right: 16px;
					img {
						margin-top: 23px;
						margin-left: 11px;
						width: 100%;
					}
				}
				.group-fields-promotion {
					padding: 36px 0 10px;
					font-size: 58px;
					font-family: 'bbva light';
					text-align: right;
					line-height: 6px;
					width: 70px;
					height: 45px;
					float: left;
					letter-spacing: -5px;
				}
			}
			.group-fields-duration {
				padding: 14px 0 0 0;
				font-family: 'bbva light';
				float: left;
				width: 35px;
				height: 45px;
				margin-top: 13px;
				margin-left: 1px;
				font-weight: normal;
				span.porcent {
					padding: 3px 0 0 0;
					font-size: 50px;
				}
				span.from {
					font-family: 'bbva light';
					text-transform: uppercase;
					font-size: 8px;
				}
			}
		}
	}
    #main {
        width: 1192px;
        margin: 15px auto;
        #sidebar-first {
            width: 220px;
            margin: 0 6px 0 0;
            float: left;
            border: 0;
            #sidebar-first-inner {
                width: 100%;
                padding: 0;
                .region-sidebar-first {
                    padding: 0;
                    ul {
                        li {
                            img {
                                height: 290px;
                            }
                        }
                    }
                }
                #edit-field-benefit-campaign-target-id-wrapper {
                    display: none;
                }
                .block-imageblock{
                    .imageblock-link{
                        outline: 0!important;
                    }
                }
            }
            .view-more {
                color: $blue;
                text-align: right;
                cursor: pointer;
                position: relative;
                top: -13px;
            }
            #block-views--exp-benefit_filters-page {
                padding: 0px 0;
                background-color: #f8f8f8;
                width: 220px;
                
                #edit-title-wrapper {
                    label {
                        display: none;
                    }
                    input.form-text {
                        width: 100%;
                    }
                }
                .views-exposed-widget {
                    padding: 0;
                    width: 100%;
                    background: $bg_grey;
                    .form-submit {
                        background: #55b7e6;
                        color: #fff;
                        border: 0;
                        cursor: pointer;
                        height: 27px;
                        position: relative;
                        width: 40px;
                        margin: 0;
                        border-radius: 0 8px 8px 0;
                        top: -51px;
                        float: right;
                        right: 15px;
                    }
                }
                .views-exposed-widget > label {
                    background: $blue;
                    color: $white;
                    font-size: 24px;
                    padding: 0 0 0 10px;
                    margin: 0px 0;
                    height: 42px;
                    line-height: 26px;
                    font-weight: normal;
                    line-height: 42px;
                    font-family: 'bbva light';
                }
                #edit-field-benefit-category-tid-1-wrapper > label{
                        background: #7fc241!important;
                }
                #edit-field-locality-province-tid-wrapper > label{
                    background: #f7941d!important;
                }
                #edit-field-benefit-card-tid-wrapper > label{
                    background: #ca006b!important;
                }
                #edit-field-benefit-category-tid-wrapper{
                    margin-top: -21px;
                    .views-widget{
                        margin-top: 0;
                    }
                }

                #edit-field-locality-province-tid-1-wrapper{
                    .views-widget{
                        margin-top: -21px;
                    }
                }
                .option {
                    color: $blue;
                }
                .views-exposed-widget > .views-widget {
                    padding: 0 10px;
                    margin-top: 25px;
                    margin-bottom: 22px;
                    label {
                        font-weight: normal;
                        position: relative;
                        top: -3px;
                    }
                    input.form-autocomplete {
                        width: 80%;
                        background-image: none;
                        position: relative;
                        top: -25px;
                        height: 25px;
                        color: #666;
                        border: 1px solid #e5e5e5;
                        border-radius: 8px 0 0 8px;
                        float: left;
                        padding: 6px 6px 6px 6px;
                        font-size: 13px;
                        font-style: italic;
                        vertical-align: middle;
                    }
                    #edit-field-benefit-type-target-id-1{
                        margin-top: -6px;
                    }
                }
            }
        }
        #content {
            padding: 0 0 0 16px;
            float: left;
            margin: 0 -9px;
            width: auto;
            #content-inner {
                margin: 0;
                .region-content{
                    #block-system-main{
                        .content{
                            .field-name-benefit-teaser{
                                .field-logo{
                                    color: #0079C1;
                                    text-transform: uppercase;
                                    font-weight: bolder;
                                    font-size: 32px;
                                    font-family: bbva;
                                    text-align: center;
                                    letter-spacing: 4px;
                                    line-height: 45px;
                                    text-align: center;
                                    white-space: nowrap;

                                }
                            }
                            .view-benefit-filters-search{
                                .field-name-benefit-teaser{
                                    .field-items{
                                        .field-item{
                                            margin: 0 10px 10px 0px;
                                        }
                                    }
                                }
                            }
                            .view-more{
                                background-color: #50b6e8;
                                background-image: url('../../images/vermas.jpg');
                                background-repeat: no-repeat;
                                background-position: center;
                                width: 942px;
                                height: 42px;
                                margin-top: 0px;
                                overflow: hidden;
                                clear: both;
                                text-indent: -500em;
                                a{
                                    color: white;
                                    font-size: 21px;
                                    line-height: 42px;
                                    text-align: center;
                                    text-transform: uppercase;
                                    display: block;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
            #content-area {
                .content {
                    .view-content {
                        .views-row {
                            margin-bottom: 10px;
                            .field {
                                .field-item {
                                    .field-image {
                                        img {
                                            width: 228px;
                                            height: 300px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .field-header {
                background: $blue_light;
                height: 42px;
                margin-top: 0px;
                overflow: hidden;
                clear: both;
                width: 942px;
                h3 {
                    color: white;
                    font-size: 21px;
                    line-height: 42px;
                    text-align: center;
                    font-weight: normal;
                    font-family: bbva light;
                    text-transform: uppercase;
                    a{
                        color: #fff;
                    }
                }
            }
            .view-benefit-group-categories,
            .view-benefit-filters {
                margin: 0 0 0 0;
                tbody{
                    td{
                        .entity-benefit{
                            margin:0 10px 10px 0;
                            min-width: 228px;
                        }
                    }
                }
                .jcarousel-container-horizontal {
                    min-width: 943px;
                    padding: 0px;
                    min-height: 310px !important;
                    .jcarousel-clip-horizontal {
                        width: 943px;

                        ul {
                            max-height: 310px;
                            width: 2000px!important;
                            li {
                                margin: 5px 10px 0 0;
                                width: 228px !important;
                                min-height: 300px;
                                border: 0px;
                                .view-mode-teaser {
                                    background-color: white;
                                    margin: 0 10px 16px 0;
                                    float: left;
                                    position: absolute;
                                    .field-item {
                                    position: relative;
                                        a{
                                            outline: 0!important;
                                        }
                                        .group-fields {
                                            position: absolute;
                                            bottom: 10px;
                                            left: 8px;
                                            width: 212px;
                                            height: 88px;
                                            background-color: $white;
                                            color: $blue_light;
                                            float: left;
                                            .group-fields-title{
                                                float: left;
                                                text-transform: uppercase;
                                                font-size: 15px !important;
                                                font-weight: bold !important;
                                                margin: 35px 5px 0 9px;
                                                text-size-adjust: auto;
                                                font-family: bbva;
                                            }
                                            .group-fields-logo {
                                                float: left;
                                                width: 77px;
                                                margin-right: 16px;
                                                margin-top: 8px;
                                                img {
                                                    margin-top: 19px;
                                                    margin-left: 14px;
                                                    width: 100%;
                                                }
                                            }
                                            .group-fields-promotion {
                                                padding: 36px 0 10px;
                                                font-size: 53px;
                                                font-family: 'bbva light';
                                                font-weight: normal;
                                                line-height: 13px;
                                                width: 72px;
                                                height: 45px;
                                                float: left;
                                                letter-spacing: -2px;
                                            }
                                            .group-fields-duration {
                                                padding: 13px 0 0 0;
                                                font-family: 'bbva light';
                                                float: left;
                                                width: 35px;
                                                height: 45px;
                                                margin-top: 12px;
                                                margin-left: -2px;
                                                span.porcent {
                                                    display: block;
                                                    padding: 7px 0 0 1px;
                                                    font-size: 50px;
                                                }
                                                span.from {
                                                    font-family: 'bbva light';
                                                    text-transform: uppercase;
                                                    font-size: 8px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .jcarousel-next-horizontal {
                        top: -30px;
                        background: url("../../images/flecha_der.png");
                        width: 11px;
                        height: 17px;
                        right: 14px;
                    }
                    .jcarousel-prev-horizontal {
                        top: -30px;
                        background: url("../../images/flecha_izq.png");
                        width: 11px;
                        height: 17px;
                        left: 14px;
                    }
                }
                .groups {
                    h2 {
                        text-align: center;
                        font-size: 26px;
                        color: #2598d3;
                    }
                    .jcarousel-container {
                        width: 900px;
                        height: 320px;
                        padding: 10px 0;
                        li {
                            background-color: $white;
                            width: 220px;
                            height: 290px;
                            border: 1px solid #d1d1d1;
                            margin: 0 7px 0 0;
                            float: left;
                            .body-area {
                                border: 1px solid #d1d1d1;
                                min-height: 288px;
                                margin-bottom: 12px;
                                position: relative;
                                .views-field-title {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    min-height: 30px;
                                    color: $white;
                                    background: url("../../images/transparent.png") repeat;
                                    width: 100%;
                                    line-height: 30px;
                                    text-align: center;
                                    a {
                                        color: #11539b;
                                        font-size: 18px;
                                        font-weight: bold;
                                    }
                                }
                                .views-field-field-benefit-promotion {
                                    color: #55b7e6;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    background: url("../../images/transparent.png") repeat;
                                    color: #11539b;
                                    font-size: 16px;
                                    text-align: center;
                                    width: 100%;
                                    text-align: center;
                                    padding: 10px 0;
                                }
                                .views-field-field-benefit-logo {
                                    padding: 0;
                                    min-height: 160px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
                .item-list {
                    ul {
                        margin: 20px;
                        li {
                            border: 0;
                            background: transparent;
                            margin: 0 10px;
                            font-size: 16px;
                            font-weight: normal;
                            font-family: 'bbva light';
                            a {
                                border: 0;
                                background: transparent !important;
                                color: #005c84;
                                margin: 0;
                                padding: 0;
                            }
                        }
                        li.pager-current {
                            border: 1px solid #005c84;
                            border-radius: 20px;
                            background: transparent;
                            margin: 3px 5px;
                            font-size: 16px;
                            font-weight: normal;
                            font-family: 'bbva light';
                        }
                    }
                }
            }
        }
    }
    .form-item-edit-field-benefit-category-tid-1437, .form-item-edit-field-locality-province-tid-1-330 {
        margin-top: -45px;
    }
    .field-legal-title {
        font-weight: bold;
        color: $blue;
        margin-top: 11px;
        font-size: 11px;
        font-family: 'bbva light';
    }
    .field-legal-text {
        font-weight: normal;
        color: $blue_light;
        text-transform: lowercase;
        line-height: 12px;
        font-size: 9px;
        font-family: 'bbva light';
        text-align: justify;
    }
    .row-map {
        margin-top: 11px;
    }
}

/*DRUPAL DEFAULTS*/
.jcarousel-skin-default{
    .jcarousel-container-horizontal{
        height: inherit;
    }
}
