.page-profile-baja{
	#main{
	background: url('../../images/editar-perfil-bg.jpg');
	background-size: cover;
		#bbva-profile-baja-form{
			width: 880px;
			margin: 0 auto;
			margin-bottom: 51px;
			h3{
			font-size: 50px;
			margin: 61px 0 34px;
			color: #fff;
			font-weight: normal;
			}
			p{  
			background: #00539B;
			height: 47px;
			color: #fff;
			font-size: 15px;
			font-weight: normal;
			padding-left: 19px;
			font-family: bbva light;
			margin: 0;
			display: table-cell;
			vertical-align: middle;
			width: 880px;
			}
			.group-botton-baja{
				background: #f4f4f4;
				padding: 40px 20px;
				.fieldset-wrapper{
					width: 650px;
					margin: 0 auto;
				}
				select{
					margin-left: 30px;  
					height: 35px;
					background: transparent;
					border: solid thin #cacaca;
					padding-left: 7px;
					width: 266px;
					color:#0079C1;
				}
				label{
					float: left;
					color: #00539B;
					padding-top: 8px;
				}
				.form-submit{
					float: left;
					background: #0079C1;
					color: #fff;
					border: none;
					width: 200px;
					height: 35px;
					text-transform: uppercase;
					margin-left: 30px;
				}
				.ajax-progress{
					width: 200px;
					margin-left: 94px;
				}
				.form-item-motivos{
					margin: 0;
					padding: 0;
					float: left;
				}
				legend{
					display: none;
				}
			}
		}
	}
}