
/* Home + Suscription Full */

.captcha {
  label {
    color: $blue;
    font-family: bbva;
    font-size: 9px;
    text-align: center;
    font-weight: normal!important;
  }
  .fieldset-legend {
    display: none;
  }
  .fieldset-wrapper {
    .fieldset-description {
      display: none;
    }
  }
  .description {
    display: none;
  }
}
#bbva-subscription-form{
  #edit-fields{
    float: left;
  }
  
}
.page-subscription{
  #bbva-subscription-form {
    fieldset.group-left {
      .fieldset-wrapper {
        a.colorbox-node.colorbox-subscription-ver-terminos{
          float: left!important;
          display: inherit!important;
          width: inherit!important;
          right: inherit!important;
        }
      }
    }
  }
}
.front,
.page-subscription {
  #block-system-main,
  #block-bbva_subscription-subscription_block {
    float: left;
    width: 406px;
    margin-top: 2px;
    select{
      font-size: 9px;
    }
    h2 {
      color: $white;
      font-family: 'bbva light';
      font-size: 23px;
      margin: 0;
      line-height: 46px;
      text-align: center;
      float: left;
      height: 46px;
      text-transform: uppercase;
    }
    #bbva-subscription-page,
    #bbva-subscription-form {
      background: #f4f4f4;
      overflow: hidden;
      padding-bottom: 23px;
      float: left;
      select{
        font-size: 11px!important;
      }
      .bbva-edit-zonas{
        float: left;
        width: 100%;
        height: 20px;
        margin-bottom: 4px;
      }
      .captcha{
        padding-bottom: 0px!important;
        position: relative;
        top: 12px;
        margin-left: 14px;
        float: left;
        img{
            height: 40px;
            width: 170px;
            float: left;
            margin-right: 28px;
            position: relative;
        }
        input{
            width: 170px;
        }
        .form-item-captcha-response{
          color: #00539B;
          font-family: bbva;
          font-size: 10px;
          float: left;
          position: relative;
          top: -5px;
        }
      }
      #all{
        background: #f4f4f4;
        padding: 5px 13px 8px 13px;
        position: relative;
        bottom: 9px;
        cursor: pointer;
      }
      .group-footer{
        width: 224px;
        float: right;
      }
      .group-left{
        .fieldset-wrapper{
          fieldset.collapsible{

          }
        }
      }
        .field-next3{
          background: transparent;
          border: none;
          font-size: 11px;
          color: #0079C1;
          position: relative;
          float: left;
          margin-top: 2px;
        }
        .colorbox-subscription-ver-terminos{
          position: relative;
        }
        .form-item-terminos{
            color: $blue;
            font-size: 13px!important;
            text-align: center;
            white-space: nowrap;
            float: left;
            height: 20px;
            width: 53%;
            margin-left: 13px;
            position: relative;
            input{
              float: left;
              margin: 0;
              padding: 0;
              margin-top: 5px;
              margin-right: 6px;
            }
            .option{
              float: left;
            }

        }
        /*label[for="edit-terminos--2"],label[for="edit-terminos--3"],label[for="edit-terminos--4"],label[for="edit-terminos--5"],label[for="edit-terminos--6"]{
          position: relative;
          top: -60px;
          left: -100px;
        }
        #edit-submit--6,#edit-submit--7{
          margin-left: 110px;
        }*/
     
      .error{
        background: white;
        color: red;
        border:none;
        padding-bottom: 0;
        position: relative;
        font-size: 12px;
        width: 100%;
        font-family: bbva light; 

        li {
          display: none;
        }
        li:first-child {
          display: block;
        }
      }
      .ajax-progress {
        position: absolute;
        left: -50px;
        top: 65px;
        float: left;
      }
      .message{
        color: $blue; 
      }
      .block-inner {
        background: url("../../images/degrade.jpg");
        height: 532px;
        .item-title {
          color: #FFF;
          font-size: 54px;
          width: 100%;
          letter-spacing: 2px;
          line-height: 50px;
          font-family: bbva;
          padding-top: 152px;
          margin: 0 auto;
          text-align: center;
        }
        .item-button {
                background: #1897d5;
                text-transform: uppercase;
                font-family: bbva;
                width: 90%;
                text-align: center;
                height: 42px;
                position: relative;
                line-height: 41px;
                top: 110px;
                margin: 0 auto;
                font-weight: bold;
                a {
                    color: #fff !important;
                }
                
            }
        .item-description {
          color: #fff;
          width: 100%;
          line-height: 22px;
          float: left;
          position: relative;
          text-align: center;
        }
        .item-description-sml{
          color: #fff;
          width: 84%;
          line-height: 15px;
          position: relative;
          font-size: 10px;
          text-align: center;
          margin: 0 auto;
        }
        .ingresar-button{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .bbva-form-item-sexo {
        margin-top: 0px;
        float: left;
        width: 64px;
        position: relative;
        left: 13px;
        .gender {
          width: 25px;
          height: 25px;
          float: left;
          text-align: center;
          color: #fff;
          padding: 3px;
        }
        #gender_suscripcion {
          height: 50px;
          float: left;
          position: absolute;
          top: 20px;
          margin-left: -1px;
        }
      }
      #form-item-title {
        color: #fff;
        background: #1897d5;
        font-family: 'bbva light';
        font-size: 23px;
        margin: 0;
        line-height: 46px;
        text-align: center;
        width: 270px;
        height: 46px;
        text-transform: uppercase;
      }
      #form-item-subtitle {
        background: #fff;
        color: $blue;
        font-size: 20px;
        text-align: left;
        line-height: 36px;
        font-family: 'bbva light';
        height: 36px;
        width: 408px;
        margin: 0;
        padding: 0 0 0 11px;
        font-weight: normal;
      }
      .form-item {
        margin-bottom: 0px;
        margin-top: 0px;

      }
      .form-item-todos-zonas-0{
        width: 180px;
        float: left;
        position: relative;
        margin-left: 14px;
        color: $blue;
      }
      .todos-rubros{
        color: $blue;
      }
      .field-next,.field-next2{
        background: transparent;
        border:none;
        color: $blue_light;
        font-size: 11px;
        position: relative;
      }
      .field-next{
        left: 270px;
        top: -20px;
      }
      .field-next2{
        left: 136px;
        top: -20px;
      }
      fieldset {
        legend {
          display: none;
        }
      }
      fieldset.group-left {
        .fieldset-wrapper {
          font-family: "bbva light" !important;

          input.form-text, select {
            border: 1px solid #cacaca;
            color: $blue_light;
            background: transparent;
          }
          label {
            color: $blue;
          }
          .pregunta-soy-cliente {
            margin: 19px 0 6px 13px;
            height: 35px;
            overflow: hidden;
            a {
              background: #b4b4b4;
              width: 170px;
              height: 35px;
              line-height: 35px;
              float: left;
              text-align: center;
              margin-right: 10px;
              display: block;
              color: $white;
            }
            a + a {
                    background: $blue_light;
                    width: 200px;
                }
          }
          .form-item-nombre {
            width: 170px;
            float: left;
            margin: 0 10px 0px 13px;
            height: 46px;
            input {
              width: 100%;
              height: 25px;
              padding: 0;
            }
          }
          .form-item-apellido {
            width: 200px;
            float: left;
            margin: 0;
            height: 46px;
            input {
              width: 100%;
              height: 25px;
              padding: 0;
            }
          }
          .form-item-document-type {
            float: left;
            width: 45px;
            margin: 0 10px 0px 13px;
            height: 53px;
            white-space: nowrap;
            select {
              height: 25px;
              background: $white;
              margin-top: 2px;
            }
          }
          .form-item-document-number {
            float: left;
            width: 252px;
            margin: 21px 0 12px 0px;
            input {
              width: 100%;
              height: 25px;
              padding: 0;
            }
          }
          .form-item-day {
            width: 170px;
            float: left;
            margin: 0 0 0 13px;
            height: 36px;
            input {
              width: 45px;
              height: 35px;
              padding: 0;
              text-align: center;
              margin: 1px 0 0 0;
            }
          }
          .form-item-month {
            width: 45px;
            float: left;
            margin: 20px 12px 0 -115px;
            height: 36px;
            input {
              width: 100%;
              height: 35px;
              padding: 0;
              text-align: center;
            }
          }
          .form-item-year {
            width: 60px;
            float: left;
            margin: 20px 10px 0 -59px;
            height: 36px;
            input {
              width: 100%;
              height: 35px;
              padding: 0;
              text-align: center;
            }
          }
          .form-type-select select {
            height: 25px;
            width: 100%;
            background: transparent;
          }
          .form-item-email {
            width: 200px;
            float: left;
            margin: 0;
            height: 56px;
            input {
              margin: 1px 0 0 0;
              width: 100%;
              height: 25px;
              padding: 0;
            }
          }
          .form-item-area {
            width: 170px;
            float: left;
            margin: 0 10px 0 13px;
            span.bbva_prefix{
              font-size: 10px;
            }
            input {
              width: 45px;
              height: 35px;
              padding: 0;
              margin-top: 2px;
              text-align: center;
            }
          }
          .form-item-celular {
            float: left;
            width: 110px;
            margin: 20px 0 12px -120px;
            input {
              width: 100%;
              height: 25px;
              padding: 0;
            }
          }
          .form-item-compania {
            width: 200px;
            float: left;
            margin: 0;
            height: 57px;
            select {
              margin: 1px 0 0 0;
              width: 100%;
              background: transparent;
              height: 25px;
              padding: 0;
              text-align: center;
            }
          }
          .form-item-pass1 {
            width: 170px;
            float: left;
            margin: 0 10px 0 13px;
            height: 52px;
            input {
              width: 100%;
              height: 25px;
              padding: 0;
              text-align: center;
            }
          }
          .form-item-pass2 {
            width: 200px;
            float: left;
            margin: 0;
            height: 52px;
            input {
              width: 100%;
              height: 25px;
              padding: 0;
              text-align: center;
            }
          }
          a.colorbox-node.colorbox-subscription-ver-terminos {
            float: right;
            display: block;
            width: 30px;
            right: 100px;
          }
         
        }
      }
      fieldset.group-right {
        .form-item-zonas {
          .form-item {
            margin-bottom: 1px;
            margin-top: 3px;
          }
        }
        .form-item-rubros {
          .form-item {
            margin-bottom: 1px;
            margin-top: 1.8px;
          }
        }
        .form-item-zonas,
        .form-item-rubros {
          label {
            height: 47px;
            background: #00539B;
            font-family: 'bbva light';
            color: #fff;
            font-size: 15px;
            padding: 15px;
            text-align: left;
            cursor: default;
          }
          .description {
            height: 36px;
            background: #fff;
            color: #00539B;
            padding-left: 17px;
            font-weight: normal !important;
            margin: 0;
            line-height: 36px;
          }
          .form-checkboxes{
            width: 797px;
            overflow: hidden;
            padding: 12px;
            background: #f4f4f4;
            .form-type-checkbox {
              width: 193px;
              min-height: 15px;
              max-height: 30px!important;
              float: left;
              label.option {
                background: transparent;
                color: #00539B;
                font-weight: normal;
                font-size: 1.3rem;
                padding: 0;
                text-align: left;
              }
            }
          }
        }
      }
      fieldset.group-footer {
        .form-submit {
          background: #0079C1;
          text-align: center;
          text-transform: uppercase;
          font-size: 15px;
          border: 0;
          font-family: 'bbva light';
          font-weight: normal!important;
          color: #fff;
          width: 197px;
          height: 31px;
          margin-top: 30px;
          margin-left: -80px;
        }
      }
      fieldset.group-zonas {
        .form-checkboxes.todos-rubros {
          width: 129px;
          height: 27px;
          float: left;
          margin-left: 3px;
          color: $blue;
        }
        .form-checkboxes.todos-zonas {
            width: 129px;
            height: 27px;
            float: left;
            margin-left: 13px;
            color: $blue;
        }
        .fieldset-wrapper {
            .field-next {
                float: left;
                margin-right: 2px;
                padding-top: 4px;
            }
            .field-next, .field-next2, .field-next3 {
                background: none;
                border: none;
                font-size: 11px;
                color: $blue_light;
                margin-bottom: 12px;
            }
            .field-next3 {
                background: none;
                border: none;
                font-size: 11px;
                color: #0079C1;
                position: relative;
                float: left;
                left: 220px;
                top: 14px;
            }
        }
        .todos_rubros_elegir {
            margin: 5px 0px 0px 5px;
            width: 60px;
            height: 30px;
            float: left;
            font-size: 10px;
            color: $blue;
        }
        .todos_zonas_elegir {
            margin: 5px 0px 0px 5px;
            width: 46px;
            height: 30px;
            float: left;
            margin-left: 2px;
            margin-bottom: 14px;
            font-size: 10px;
            color: $blue;
        }
      }
    }
    .content {
      .webform-client-form {
        #webform-component-fields {
          padding: 0;
          #webform-component-fields--fecha-de-nacimiento {
            display: none;
          }
        }
        #webform-component-rubros {
          display: none;
          padding: 14px;
        }
      }
      .form-item-preferencias {
        clear: both;
        margin: 10px 0 0 13px;
        .form-type-checkbox {
          float: left;
          margin: 0 70px 0 0;
          height: 40px;
        }
      }
    }
  }
}

/* Suscription Full */
.page-subscription {
  #block-system-main{
    .block-inner-suscription-full{
      width: 404px!important;
      margin: 100px auto!important;
    }
    #bbva-subscription-form {
      fieldset.group-left{
        .fieldset-wrapper{
          .form-item-pass1{
            height: 59px;
          }
        }
      }
      #edit-zonas{
        float: inherit;
        height: inherit;
        width: inherit;
      }

      
    }
  }
  #content-header {
    h1 {
      display: none;
      color: #015fa9;
      font-size: 20px;
      width: 1180px;
      margin: 0 auto;
    }
  }
  #main {
    background: url("../../images/registro.jpg");
    margin: 0 auto 0 auto;
    font-family: 'bbva light';
    #block-system-main {
      float: none;
      width: 1208px;
      margin: 0 auto;
      #bbva-subscription-form {
        background: transparent;
        margin-top: 100px;
        width: 1215px;
        padding-bottom: 97px;

        .fieldset-legend {
          display: none;
        }


        #form-item-subtitle {
          background: white;
          text-align: left;
        }
        fieldset.group-left {
          float: left;
          width: 408px;
          max-height: 539px;
          background: #f4f4f4;
          margin-right: 10px;
          position: relative;
        }
        fieldset.group-right {
          width: 505px;
          float: right;
        }
        fieldset.group-footer{
          width: 100%;
          padding-bottom: 7px;
          .form-submit{
            position: relative;
            margin: 30px 0 21px 109px;
          }
          .ajax-progress{
            padding-left: 0;
            float: left;
            margin-left: 200px;
          }
        }
        .captcha{
          float: left;
          width: auto;
          img{
            height: 40px!important; 
          }
          .form-item-captcha-response{
            input{
            }
            label{
              font-weight: normal!important;
              text-align: center!important;
              font-size: 9px!important;
              font-family: bbva light!important;
              text-align: center!important;
            }
          }
        }
      }
    }
  }
}


.front{
  .block-bbva-subscription{
    float: left;
    legend{
      display: none;
    }
    h2.block-title {
      color: $white;
      background: #5589c3; /* Old browsers */
      background: -moz-linear-gradient(top, #5589c3 0%, #45badd 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5589c3), color-stop(100%,#45badd)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #5589c3 0%,#45badd 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #5589c3 0%,#45badd 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #5589c3 0%,#45badd 100%); /* IE10+ */
      background: linear-gradient(to bottom, #5589c3 0%,#45badd 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5589c3', endColorstr='#45badd',GradientType=0 ); /* IE6-9 */
      font-family: 'bbva light';
      font-size: 23px;
      margin: 0;
      padding: 0 15px 0 15px;
      line-height: 46px;
      text-align: center;
      height: 46px;
      text-transform: uppercase;
    }
    .content{
      /*background-color: #f4f4f4;*/
    }
  }
  
}
