////////////////////////////////////////////////////////////////////////////////
// "vars" partial
// --------------------
//
////////////////////////////////////////////////////////////////////////////////

//
// Variables
////////////////////////////////////////



//
// Widths
//
$resp: 100%;
$first_sidebar_width: 190px;
$second_sidebar_width: 200px;
$page_width: 1280px; 

//
// Breakpoints
//
$tablet: $page_width; //This is set to page width by default
$mobile: 480px;

//
// Heights
//
$navigation_height: 40px;
$footer_height: auto;

//
// Padding
//
$section_padding: 10;
$mobile_padding: 5;

//
// Backgrounds, change these when you get started with your theme.
//
$border: 1px dotted #888;

$header_bg: #fff;
$footer_bg: #fff;
$sidebar_first_bg: #fff;
$sidebar_second_bg: #fff;
$navigation_bg: #fff;

//
// Fonts
//
$main_font: "Helvetica Neue", helvetica, Arial, sans-serif;
$monospace_font: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

//
// Colors
//
$text: #6d6968;
$white: #fff;
$blue_light: #0079C1;
$blue: #00539B;
$bg_grey: #f4f4f4;
$bg: #fff;
$link_color:$blue_light;
$visited_link_color: $link_color;
$active_link_color:$blue_light;
$main_text_color: #222;
$header_text_color: #000;
$selection_text_color: #fff;
$selection_bg_color: #fe57a1;


//
// Partials to be shared with all .scss files.
////////////////////////////////////////
@import "compass";                  // See http://compass-style.org
@import "compass/reset/utilities";
@import "mixins";                   // Import our custom mixins last.
