<style type="text/css">

.cupon-detalle {
  width: 90%;
  max-width: 720px;
  margin: 1.5rem auto;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.4);
  border-radius: .4rem;
  line-height: 1;
}
.cupon-detalle .content {
  overflow: hidden;
  display: table;
  width: 100%;
}
.cupon-detalle .content > div {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
@media screen and (max-width: 660px) {
  .cupon-detalle .content > div {
    width: 90%;
    display: table-row;
  }
}
.cupon-detalle .content .imagen {
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100%;
  overflow-y: hidden;
}
.cupon-detalle .content .info {
  padding: 1rem;
  text-align: center;
  color: #1f295e;
}
.cupon-detalle .content .info > div {
  margin: .8rem 0;
}
.cupon-detalle .content .info .logo img {
  width: 70%;
  height: auto;
  display: block;
  margin: auto;
}
.cupon-detalle .content .info .descuento {
  font-size: 5rem;
  font-weight: bold;
}
.cupon-detalle .content .info .tope {
  font-size: 1.5rem;
}
.cupon-detalle .content .info .mediosdepago {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
}
.cupon-detalle .content .info .codigo-wrapper {
  margin-top: 3rem;
}
.cupon-detalle .content .info .codigo-wrapper .codigo {
  display: table;
  border: .2rem solid #1f295e;
  padding: 2rem;
  position: relative;
  margin: auto;
  font-size: 1.6rem;
}
.cupon-detalle .content .info .codigo-wrapper .codigo span {
  position: absolute;
  top: -1.2rem;
  left: 1rem;
  background-color: #fff;
  font-size: 2rem;
  padding: 0 .5rem;
  font-weight: bold;
  text-align: center;
}
.cupon-detalle .footer {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  background-color: #F1F3F5;
}

</style>

<div class="cupon-detalle"  ng-show = "$ctrl.voucher">
  <div class="content">
    <div class="imagen" style="background-image: url({{$ctrl.voucher.coupon.image}});"></div>
    <div class="info">
      <div class="logo">
        <img ng-src={{$ctrl.voucher.coupon.imageSmall}}} alt="" />
      </div>
      <div class="descuento">-{{$ctrl.voucher.coupon.discount}}%</div>
      <div class="tope">{{$ctrl.voucher.coupon.top}}</div>
      <div class="mediosdepago">{{$ctrl.voucher.coupon.descMediosPago}}</div>
      <div class="codigo-wrapper">
        <div class="codigo">
          <span>Código</span>
          {{$ctrl.voucher.codigo}}
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div>{{$ctrl.voucher.coupon.legal}}</div>
  </div>
</div>
