/***************************************************************
** Dropdown Login Stylesheet
****************************************************************/

/*DROP DOWN ICON*/




#dropdown-login {float: right;
    position: relative;
    top: -22px;
}
.triangulo{
  float: right;
  position: absolute;
  right: 164px;
  top: -23px;
  width: 32px;
  height: 23px;
 background: url('images/triangulo.png');
}

#dropdown-login .messages .error {
    display:none;
}


#form-step-n{
  padding-bottom: 20px;
}
.ident-positiva-pregunta{
width: 255px;
  min-height: 40px;
  text-align: left;
  margin: 0 auto 0 auto;
  font-family: 'bbva light';
}

.ident-positiva-opciones{
  width: 258px;
  min-height: 99px;
  margin: 12px auto 8px auto

}
.ident-positiva-leyenda{
    width: 250px;
  height: 30px;
  margin: 0 auto 0 auto;
  font-family: 'bbva light';
}
.ident-positiva-norecuerdo{
  width: 250px;
  margin: 0 auto 0 auto;
}

.ident-positiva-norecuerdo input{
  background: #09519d;
  color: #fff;
  border: none;
  text-transform: uppercase;
}

.ident-positiva-norecuerdo a, .ident-positiva-norecuerdo a:hover{
  font-size: 12px!important; ;
  font-style: normal;
  text-decoration: underline!important; 
}

#dropdown-login .button{
   display: block;
  width: 58px;
  height: 14px;
  padding: 5px 10px;
  line-height: 14px;
  text-decoration: none;
  font-size: 0.929em;
  text-transform: uppercase;
  color: #3a358f;
  background: #fff;
  float: right;
  font-family: 'bbva light';
}
#dropdown-logout .button{
   display: block;
  width: 58px;
  height: 14px;
  margin-top: 4px;
  line-height: 14px;
  text-decoration: none;
  font-size: 8px;
  text-transform: uppercase;
  color:grey;
  background: #fff;
  float: right;
}
#dropdown-logout{
  font-family: 'bbva light';
  float: left;
  text-align: right;
  position: relative;
  right: 10px;
  color: #898989;
  position: relative;
  top: 23px;
  left: -7px;
}

#dropdown-logout .notifications-message ul{
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 999;
  text-align: left;
  background: #fff;
  width: 300px;
  padding: 0;
  color: #fff!important;
  max-height: 252px;
  overflow: auto;
  -webkit-box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.53);
  -moz-box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.53);
  box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.53);
}


#dropdown-logout .notifications-message ul a{
  text-align: left;
  color: #0079C1;
  display: block;
  padding: 10px 0;
  width: 100%!important;

}

#dropdown-logout .notifications-message ul .logo-content{
  float: left;
}


#dropdown-logout .notifications-message ul .notification-text{
  margin-left:50px;
}

#dropdown-logout .notifications-message ul li:first-child {
  padding-top: 10px;
}

#dropdown-logout .notifications-message .notification-item {
  padding: 10px 5px 0px 10px;
  background: #fff;
  cursor: pointer;
  width: 100%;
}
#dropdown-logout .notifications-message .notification-item:hover {
  background: #C4C4C4;
}
#dropdown-logout .notifications-message .notification-item-read {
  background: #FFFFFF;
}

#dropdown-logout .notifications-message .notification-item-not-read {
  background: #F7F7F7;
}

#dropdown-logout .notifications-message .notification-item-aviso {
  text-align: center;
}

#dropdown-logout .notifications-message .notification-item p{
  color: #0079C1;
}
.notifications-message ul li{
 float: left;
 list-style: none;
}

#dropdown-logout .profile-name{
/*margin-top: -4px;*/
}
#dropdown-logout .notifications{
  margin-top: 4px;
  font-size: 14px;
  color:#50b6e8;
  line-height: 12px;
  cursor: pointer;
}

#dropdown-login .button span , #dropdown-logout .button span{
    display: block;
}

#dropdown-login.enable-dd .button span span {
    background: url('images/arrow.png') 100% 50% no-repeat;
    padding: 0 10px 0 0;
}

#dropdown-login.enable-dd .active span span {
    background: url('images/arrow-up.png') 100% 50% no-repeat;
}

#dropdown-login .pregunta-soy-cliente {
    height: 73px;
    overflow: hidden;
    padding: 33px 20px;
}


#login_form_full .item-list{
    display: none;
}

#dropdown-login .dropdown {
  position: absolute;
  z-index: 999;
  display: none;
  width: 357px;
  min-height: 100px;
  background: #fff;
  border: 0;
  right: 186px;
  top: 107px;
  float: left;
  -webkit-box-shadow: 9px -8px 12px -8px rgba(0,0,0,1.73);
-moz-box-shadow: 9px -8px 12px -8px rgba(0,0,0,1.73);
box-shadow: 9px -8px 12px -8px rgba(0,0,0,1.73);
}

#configuracion ul{
  display: none;
  z-index: 999;
  position: absolute;
  top: 40px;
  left: 2px;
  z-index: 999;
  text-align: center!important;
  background: #0079C1;
  width: 93px;
  padding:0;
  color: #fff!important;
}
#configuracion a{
  text-align: center;
}

#configuracion li{
  width: 100%;
  border-bottom: solid 1px;
  height: 26px;
  line-height: 24px;
}


#dropdown-login .dropdown a, #dropdown-login .dropdown a + a {
    font-size: 12px;
    width: 153px;
    height: 27px;
    font-family: 'bbva light';
    line-height: 19px;
    font-weight: bold;
    cursor: pointer;  
}
#dropdown-login .dropdown .salir-leyenda  {
  width: 153px;
  background-color: #09519d;
  position: absolute;
  padding-top: 4px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  line-height: 19px;
  margin-left: -24px;
}

#dropdown-login .dropdown .salir-recupero  {
  width: 153px;
  background-color: #09519d;
  position: absolute;
  padding-top: 6px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  line-height: 16px;
  margin-left: 20px;
  font-family: 'bbva light';
  font-size: 12px;
}


#dropdown-login .dropdown  .footer-buton{
  padding-top: 10px;
  padding-bottom: 10px;
}

#dropdown-login .dropdown  .identificacion-positiva-form .footer-buton-recuperar{
    margin-top: 13px;
}

#dropdown-login .dropdown  .footer-buton-recuperar{
  padding-top: 10px;
  padding-bottom: 10px;
  height: 54px;
}

#dropdown-login .dropdown #soy_login:hover,
#dropdown-login .dropdown #nosoy_login:hover{
    background: #0079C1;
}

#dropdown-login .dropdown #soy_login{
    background: #09519e;
    line-height: 28px;
    float: left;
    text-align: center;

    display: block;
    color: white;
}

#dropdown-login .dropdown #nosoy_login{
    background: #09519e;
    line-height: 28px;
    float: right;
    text-align: center;
    display: block;
    color: white;
} 
#configuracion{
  width: 100px;
  height: 47px;
  float: left;
  padding-right: 2px;
  padding-left: 0;
  margin-top: 25px;
  border-left: 2px solid #ccc;
  font-family: 'bbva light';
  cursor: pointer;
  position: relative;
}
#configuracion p{
    color: #898989;
    text-align: center;
    font-size: 14px;
}
#configuracion a{
  color: #fff!important;
}

.configuracion-image{
    position: relative;
    width: 27px;
    height: 27px;
    margin: 0 auto 0 auto;  
    background:no-repeat url('images/ruedita.jpg');
}

#contacto {
	display: none;
}

.list-item-config{
  width: 100%;
    padding-bottom: 5px;
  padding-top: 5px;
}
.welcome-item-1{
    font-size: 10px;
}

#login_form_full {
    padding: 10px 10px 19px 10px;
    background: #fff;
    font-size: 14px;
    font-family:'bbva light';
    float: left;
    max-width: 357px;
}

.cabezal-ingresar{
  cursor: pointer;
}
.form-group {
    margin-bottom: 20px;
}

.form-group .form-control {
    border: 1px solid #e8e8e6;
    color: #09519e;
    font: 12px Arial,sans-serif;
    padding: .583em .755em .5em .755em;
    height: auto;
    margin: 0;
    width: 100%;
}

#dropdown-login .form-item label{
    color: #09519e;
    cursor: text;
}
#bbva-clave-usuario a, #bbva-clave-usuario a:visited {
    color: #09519e;
}



#bbva-clave-no-cliente a, #bbva-clave-no-cliente a:visited {
    color: #09519e;
}
.btn {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 0;
    text-align: center;
    width: 100%;
}

.logout {
    top: -17px;
}


.btn.large {
    padding: 3px 15px;
    font-size: 14px;
    line-height: 32px;
}



#dropdown-login select {
    height: 25px;
    margin-top: 3px;
    border: 1px solid #cacaca;
    color: #09519e;
    
}

#dropdown-login select[name=type_doc] {
   color: lightblue;
    
}
#tipodoc,#nrodoc{
   height: 25px;
   width: 155px;
   border: 1px solid #fff; 
   margin-left: 11px;
   position: relative;
   left: 12px;
}
#tipodoc2{
   height: 25px;
   border: 1px solid #fff;
   margin-left: 11px;
  position: relative;
  left: 12px;
}


#gender{
  width: 74px;
  height: 25px;
  position: relative;
  right: 22px;
  bottom: 71px;
  text-align: center;
  float: right;
  top: 3px;
}
#gender b{
    position: relative;
    top: 3px;
    color: #fff!important;
}
#g-masculino{
  background:rgb(180, 180, 180); 
  cursor: pointer;
}
#g-femenino{
  background:rgb(180, 180, 180); 
  margin-left: 11px;
  cursor: pointer;
}
.gender{
 width: 30px;
 height: 25px;   
 float: left;
}

#dropdown-login #gender_suscripcion{
  padding-top: 8px;
}
#dropdown-login #gender_suscripcion .gender{
  width: 25px;
  height: 25px;
  float: left;
  text-align: center;
  color: #fff;
  padding: 3px;
}

#form-step1 label{
    font-weight: normal;
}
.login-label{
    width: 100%;
    height: 20px;
}
#tipo-numero{
    margin-left: 21px;
    width: 100%;
    font-family: bbva light;
    float: left;
}
#sexo{
    width: 40px;
    font-family: bbva light;
    float: left;
}
#dropdown-login .form-item-type-doc{
float: left;
    margin: 0 10px 12px 13px;

}
#dropdown-login .form-item-document-number {

    float: left;
}

#dropdown-login .form-item-document-number input {
        width: 223px;
    height: 25px;
    padding: 0;
    border: 1px solid #cacaca;
    color: #1897d5;
    font-size: 100%;
    vertical-align: baseline;
    font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
    float: left;
}

#dropdown-login .form-item-remember-me {
    margin: 16px 10px 0 13px;
    width: 220px;
}

#dropdown-login .form-wrapper .form-submit{
    width: 314px;
    height: 31px;
    line-height: 27px!important;
    background:#7fc241;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    float: left;
    border: 0;
    color: white;
    font-family: bbva light;
}


#bbva-profile-pass-recovery-form{
	font-weight: normal;
	text-align: center;
	font-family: bbva light;
	color: rgb(9, 81, 158);
	min-height: 50px;
  padding-bottom: 1px;
}

#bbva-profile-pass-recovery-form .message,
#bbva-profile-pass-recovery-form .throbber{
  margin-top: 15px;
}

#bbva-profile-pass-recovery-form legend{
  display: none;
}

#bbva-profile-pass-recovery-form .group-recup-body {
  width: 204px;
  margin: 0 auto;
}

#bbva-profile-pass-recovery-form .form-item-document-type {
  width: 53px;
  float: left;
}
#bbva-profile-pass-recovery-form .messages.error{
  width: 316px;
  margin: 0 auto;
}
#bbva-profile-pass-recovery-form  .form-item-number {
  width: 141px;
  float: left;
  margin-left: 10px;
}

#bbva-profile-pass-recovery-form .form-item-number input {
  margin-top: 3px;
  height: 25px;
  border: 1px solid #cacaca;
}
#dropdown-login #bbva-profile-pass-recovery-form a{
  font-size: 12px;
}
#dropdown-login #bbva-profile-pass-recovery-form .form-submit {
  float: right;
  width: 48%;
  height: 27px;
  font-weight: normal;
  line-height: 28px;
  font-size: 12px;
  background-color: #09519e;
}

#bbva-profile-pass-recovery-form  .group-footer {
  width: 316px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

#bbva-profile-pass-recovery-form  .group-footer message {
  color: #FFFFFF;
} 

#bbva-profile-pass-recovery-form  .group-footer a {
  width: 48%;
  height: 27px;
  display: block;
  float: left;
  line-height: 28px;
  background: rgb(9, 81, 158);
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  float: left;
  border: 0;
  color: white;
  cursor: pointer;
}

#bbva-profile-pass-recovery-form .ajax-progress{
  margin: 0;
  position: absolute;
  left: 95px;
  bottom: -20px;
}

/***            CLIENTE LOGIN   **/

#dropdown-login .form-item-user-name-digital {
    float: left;
}
#dropdown-login #recover_pass_1 {
    clear: both;
    margin: -11px 59px 0 13px;
}

#bbva-clave-no-cliente .recover_pass a, #dropdown-login #recover_pass_2 a, #dropdown-login #recover_pass_1  a{
  font-size: 12px;
  font-style: normal;
  text-decoration: underline!important;
}

#dropdown-login #recover_pass_2 {
  position: relative;
  margin-left: 13px;
}
#dropdown-login .form-actions{
  margin-top: 12px;
  clear: both;
  margin-left: 12px;
}

#dropdown-login .dropdown  #recupero-continuar {
  width: 153px;
  height: 27px;
  line-height: 28px;
  background: rgb(9, 81, 158);
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  float: right;
  border: 0;
  color: white;
  margin-right: 20px;
}


.recover_pass {
    font-style: italic;
}

#dropdown-login .form-item-user-name-digital,#dropdown-login .form-item-pass {
    margin: 0 10px 5px 13px;
}


#dropdown-login .form-item-user-name-digital input {
    width: 150px;
    height: 25px;
    padding: 0;
    border: 1px solid #cacaca;
    color: #1897d5;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
    float: left;
}


#dropdown-login .form-item-pass input {
    width: 154px;
    height: 25px;
    padding: 0;
    border: 1px solid #cacaca;
    color: #1897d5;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
    float: left;
}

/***            NO CLIENTE LOGIN   **/

#dropdown-login .form-item-pass-nocliente {
    margin: 0 10px 16px 13px;
}

#bbva-clave-no-cliente .recover_pass {
    margin: 0 10px 5px 13px;
    padding-top: 14px;
}
#dropdown-login .captcha{
  margin-left: 12px;
}
.captcha img{  
  width: 165px;
  height: 40px !important;
  float: left;
}
/*#dropdown-login .captcha .form-item-captcha-response .form-text{
margin-left: 11px;
}*/
#dropdown-login .form-item-pass-nocliente input {
    width: 314px;
    height: 25px;
    padding: 0;
    border: 1px solid #cacaca;
    color: #1897d5;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
    float: left;
}


#dropdown-login #bbva-clave-usuario, #bbva-clave-no-cliente {
    clear:both;
}

#dropdown-login .identificacion-positiva {
  background-color: #fff;
  color: #1897D5;
  padding: 35px 39px;
  z-index: 999;
  position: absolute;
  margin-left: 0px;
  width: 357px;
  padding-top: 20px;
}

#dropdown-login .identificacion-positiva-form {
    background-color: #fff;
    color: #09519e;
    width: 357px;
    height: 164px;
    margin-left: 0px;
    z-index: 999;
}
.identificacion-positiva-form h3{
    color: #09519e;
    text-transform: uppercase;
    font-size: 15px;
  text-align: center;
  margin: 10px 0 4px 0;
  font-weight: normal;
}
#dropdown-login .identificacion-positiva-form .form-text{
    border: 1px solid #cacaca;


}
#dropdown-login .identificacion-positiva-form-answer {
    background-color: #fff;
    color: #09519d;
    width: 358px;
    margin-left: 0px;
    z-index: 999;
}

#dropdown-login .pregunta-recuperacion-form {
  background-color:#FFF ;
  color: #09519e;
  width: 358px;
  font-family: bbva light;
  margin: 0 auto;
  z-index: 999;
}

#dropdown-login .identificacion-positiva-form-enrrolar{
  background-color: #fff;
  color: #09519d;
  width: 350px;
  margin-left: 0px;
  padding-bottom: 14px;
  z-index: 999;
  font-family: bbva light;
  margin: 0 auto;
}


#form-recup h3, #form-recup h4{
  color: #09519d;
  text-align: center;
    font-family: bbva light;
  font-weight: normal;
  font-size: 15px;
}
.p-recupero{
  text-align: left;
  width: 289px;
  font-size: 12px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.pregunta-recupero{
  text-align: center;
} 
.input-respuesta{
  width: 169px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#block-dropdown_login-login_dropdown  .identificacion-positiva, 
#block-dropdown_login-login_dropdown  .identificacion-positiva-form,
#block-dropdown_login-login_dropdown  .identificacion-positiva-form #gender,
#block-dropdown_login-login_dropdown  .identificacion-positiva-form #sexo,
#block-dropdown_login-login_dropdown  .identificacion-positiva-form-answer,
#block-dropdown_login-login_dropdown  .recover-pass-nocliente,
#block-dropdown_login-login_dropdown  .pregunta-recuperacion-form-final,
#block-dropdown_login-login_dropdown  .identificacion-positiva-form-enrrolar{
    display: none;
}


#block-dropdown_login-login_dropdown  .identificacion-positiva-form-answer{
    margin: 0 auto;
}

#dropdown-login .pregunta-recuperacion-form,
#dropdown-login .pregunta-recuperacion-form-final {
    display: none;
}

.ident-comenzar-intro {
  background-color: #09519d;
  position: absolute;
  right: 24px;
  padding-top: 4px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  line-height: 16px;

}

#ident-submit-valid{
  background: #09519d;
  font-family: bbva light;
  height: 27px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  float: right;
  font-size: 12px;
}
#form-enrrolar label{
    margin-left: 59px;
    font-weight: normal;
}
.formInputEnrrolar{
  width: 221px;
  margin-left: 59px;
  height: 31px;
  background: transparent;
  border: solid 1px #cacaca;
  color: #09519d;
}
.p-enrrolar{
  width: 300px;
  margin-left: 12px;
  margin-top: 10px;
  text-align: center;
}
.clave-title{
  margin-left: 64px;
}
.identificacion-positiva-form,
.identificacion-positiva-form-answer,
.identificacion-positiva-form-enrrolar{
    display: none;
}


.captcha .fieldset-description, .captcha .fieldset-legend, .captcha .description {
    display: none;   
}

#edit-field-tags-tid{
  background-image: none;
  width: 179px;
  height: 40px;
  color: #666;
  border: 1px solid #e5e5e5;
  border-radius: 8px 0 0 8px;
  float: left;
  padding: 6px 6px 6px 6px;
  font-size: 16px;
  font-style: italic;
  vertical-align: middle;
}

#dropdown-login .form-item-captcha-response{
    width: 100%;
  margin: 0 auto 0 auto;
  margin-bottom: 14px;
  color: #fff;
  text-align: center;
} 
#dropdown-login .form-item-captcha-response label{
  font-family: bbva light!important;
  font-weight: normal!important;
}

#dropdown-login .form-item-remember-me .option{
  font-family: bbva light!important;

}

#dropdown-login .pregunta-recuperacion-form-final {
  background-color: #FFFFFF;
  color: #FFFFFF;
  height: 164px;
  z-index: 999;
  margin: 0 auto;
}

/**Adapto*/
#dropdown-login .dropdown .footer-buton-recuperar .siguiente-recupero {
  border: inherit !important;
  width: 153px;
  margin-right: 19px;
}



/* Inicio Ajustes: Pantalla Identifiacion 21/08/2015 */

@media only screen and (max-width: 960px){
#dropdown-login .identificacion-positiva{
  width:100%;
  text-align: left;
  color: #09519d!important  ;
}
#dropdown-login .dropdown .footer-buton .ident-comenzar-intro,
#dropdown-login .dropdown .footer-buton .salir-leyenda,
#dropdown-login .dropdown .footer-buton-recuperar .salir-recupero, 
#dropdown-login .dropdown .footer-buton-recuperar .siguiente-recupero{
  width: 103px!important;
  position: inherit;
  height: 30px!important;
  float: left;
  margin: 0 13px;
}

#dropdown-login .dropdown .footer-buton-recuperar .siguiente-recupero {
  border: inherit !important;
}

#dropdown-logout .welcome-item-1 {
	display: none;
}




#dropdown-login .dropdown .footer-buton,
#dropdown-login .dropdown .footer-buton-recuperar{
  width: 259px;
  margin: 0 auto;
}
.ident-positiva-encabezado1{
  font-size: 13px!important;
  margin-top: 20px;
  text-align: left;
}
#dropdown-login .form-item-remember-me{
  float: left;
  margin-bottom: 20px!important;
}
}

/** Cuando venga de mobile */
.ident-comenzar-intro-movil{
  position: inherit;
  height: 30px !important;
  float: left;
  background-color: #09519d;
  padding-top: 4px;
  text-align: center;
  color: white;
}

.siguiente-recupero-movil {
  width: 100%;
  margin: 0 auto;
}

.mensaje-exitoso {
	font-family: bbva light;
    color: rgb(9, 81, 158);
    margin-top: 12px;
    font-weight: bold;
    width: 292px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 12px;
}

@media only screen and (max-width: 375px){
#dropdown-login .identificacion-positiva-form-enrrolar{
  width: 320px;
}
}

