<div layout="column" layout-align="center center" ng-if="!$ctrl.load">
    <md-progress-circular flex="100" md-diameter="100">
    </md-progress-circular>
</div>
<div ng-show="$ctrl.load" class="beneficio">
    <div class="header">
        <div class="titulo-wrapper">
            <div class="titulo">{{$ctrl.beneficio.title }}</div>

        </div>
        <div class="detalle">
            <div class="imagen">
                <img ng-src="{{ $ctrl.beneficio.image_web }}" alt="" />
                <div class="opciones">
                    <div ng-if="$ctrl.beneficio.mostrar_cupon" class="opcion cupon">
                        <div class="porcentaje">-{{ $ctrl.beneficio.porcentaje_cupon }}%</div>
                        <!-- <div class="cuotas">999 cuotas</div> -->
                        <div class="leyenda">{{ $ctrl.beneficio.text_leyenda_cupon }}</div>

                    </div>
                    <div ng-if="$ctrl.beneficio.mostrar_tarjeta" class="opcion tarjeta">
                        <div ng-show='$ctrl.beneficio.porcentaje_tarjeta!==0' class="porcentaje">-{{ $ctrl.beneficio.porcentaje_tarjeta }}%</div>
                        <div ng-show="$ctrl.beneficio.cuota_tarjeta!==0" class="cuotas">{{ $ctrl.beneficio.cuota_tarjeta }} cuotas</div>
                        <div class="leyenda">{{ $ctrl.beneficio.text_leyenda_tarjeta }}</div>
                    </div>
                    <div ng-if="$ctrl.beneficio.mostrar_tarjeta_go" class="opcion go">
                        <div ng-show='$ctrl.beneficio.porcentaje_tarjeta_go!==0' class="porcentaje">-{{ $ctrl.beneficio.porcentaje_tarjeta_go }}%</div>
                        <div class="cuotas" ng-show="$ctrl.beneficio.cuota_tarjeta_go!==0">{{ $ctrl.beneficio.cuota_tarjeta_go }} cuotas</div>
                        <div class="leyenda">{{ $ctrl.beneficio.text_leyenda_tarjeta_go }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="detalle">
            <div class="titulo">
                {{ $ctrl.beneficio.text_title_beneficio }}
            </div>
            <div class="contenido">
                <div class="logo-comercio">
                    <img ng-if="$ctrl.beneficio.logo" ng-src="{{$ctrl.beneficio.logo}}" alt="" />
                    <h3 ng-if="$ctrl.beneficio.title && !$ctrl.beneficio.logo">{{ $ctrl.beneficio.title }}</h3>
                </div>
                <div class="copy">{{ $ctrl.beneficio.description }}</div>
            </div>
        </div>
        <div class="como-uso">
            <div class="titulo">
                {{ $ctrl.beneficio.text_title_cupon }}
            </div>
            <div class="contenido">
                <div class="canales">
                    <beneficio-detail-map-dialog is-enabled="$ctrl.beneficio.locales_fisicos" class='locales ' ng-class="$ctrl.beneficio.locales_fisicos ? 'activo' : ''" id-beneficio="$ctrl.beneficio.id">
                    </beneficio-detail-map-dialog>

               <div  class="venta-online" ng-class="$ctrl.isValidUrl($ctrl.beneficio.web) ? 'activo' : ''" >
                    <div  style="height: 100%;"  ng-click="$ctrl.isValidUrl($ctrl.beneficio.web)" >

                    </div>
                                         <p>Venta Online</p>

                </div>
                <div class="venta-telefonica" ng-class="$ctrl.beneficio.tel ? 'activo' : ''">
                    <div style="height: 100%;" >
                        <!-- locales_fisicos / {{ $ctrl.beneficio.text_title_cupon }}-->
                        <a ng-class="$ctrl.beneficio.tel ? '' : 'disabled'" href="{{$ctrl.beneficio.tel}}" class="with-tooltip" data-info="{{$ctrl.beneficio.tel}}">
                        </a>

                    </div>
                                    <p>Venta Telefonica</p>
                </div>
                </div>
                <div class="copy">
                    <ul>
                        <li ng-repeat="pasos_como_usar in $ctrl.beneficio.pasos_como_uso">{{ pasos_como_usar }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="terminos-y-condiciones">
            <div class="titulo">
                Términos y Condiciones
            </div>
            <div class="contenido">
                <div class="copy">
                    {{ $ctrl.beneficio.legal }}
                </div>
                <div class="cftna">
                    <div class="copy">CFTNA: {{ $ctrl.beneficio.cftna }}%</div>
                    <div class="copy2">COSTO FINANCIERO TOTAL NOMINAL ANUAL</div>
                </div>
            </div>
        </div>
    </div>
</div>
