<div layout="column" layout-align="center center" ng-if="!$ctrl.load">
    <md-progress-circular flex="100" md-diameter="100">
    </md-progress-circular>
</div>
<div layout="row" ng-show="$ctrl.load" layout-xs="column" ng-cloak="" style="height:400px">
    <md-content flex="35" flex-xs="100" style="height:400px;">
        <md-list>
            <md-list-item class="md-1-line" ng-repeat="comercio in $ctrl.comercios | orderBy:'logo':true">
                <div class=" md-list-item-text">

                    <h3>
                        {{comercio}}
                    </h3>
                    <h4>
                    </h4>
                </div>
                <md-divider inset="">
                </md-divider>
            </md-list-item>
            <md-list-item class="md-3-line" ng-repeat="dirrecion in $ctrl.direcciones  | orderBy:'distancia'" ng-click="$ctrl.setMapCenter(event,dirrecion.id)">
                <div class=" md-list-item-text">
                    <h3>
                        {{dirrecion.calle}}
                    </h3>
                    <h4>
                    </h4>
                </div>
                <div layout='column' layout-align="center center">
                    <md-button aria-label="Como Llego" href="https://maps.google.com?saddr=Current+Location&daddr={{dirrecion.marker[0]}},{{dirrecion.marker[1]}}" target="_blank" class="md-fab md-mini md-primary md-hue-2" layout="column">
                        <md-icon md-svg-src="assets/img/icons/ic_directions_white_48px.svg"></md-icon>
                    </md-button>
                    <div ng-show="$ctrl.distanciacalculated">
                        <span>{{dirrecion.distancia}} KMs</span>
                    </div>
                </div>
                <md-divider inset="">
                </md-divider>
            </md-list-item>
        </md-list>
    </md-content>
    <md-content flex="65" flex-xs="100" style="height:400px;">
        <ng-map center="[{{$ctrl.default_lat}},{{$ctrl.default_lon}}]" default-style="false" ng-if="$ctrl.render" style="height: 400px;" zoom="5" zoom-to-include-markers="auto">
            <info-window id="infoBeneficioMapa">
                <div ng-non-bindable="">
                    Calle : {{$ctrl.direcionInfo.calle}}
                </div>
            </info-window>
            <marker animation="Animation.BOUNCE" centered="true" position="[{{$ctrl.default_lat}},{{$ctrl.default_lon}}]" icon="{
        path:'M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94 3c-.46-4.17-3.77-7.48-7.94-7.94V1h-2v2.06C6.83 3.52 3.52 6.83 3.06 11H1v2h2.06c.46 4.17 3.77 7.48 7.94 7.94V23h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z',
         fillColor: '#0079C1',
    fillOpacity: 0.8,
    scale: 1.5,
    strokeColor: 'blue',
    strokeWeight: 0     }">
            </marker>
            <marker ng-if="$ctrl.comercios" dragglele="true" position="[{{$ctrl.beneficio[0].latitude}},{{$ctrl.beneficio[0].longitude}}]" title="afkaosd">
            </marker>
            <marker dragglele="true" id="#marker-{{p.id}}" ng-repeat="(id,p) in $ctrl.direcciones |    orderBy:'distancia'" on-click="$ctrl.setMapCenter(event,p.id)" position="{{p.marker}}">
            </marker>
        </ng-map>
    </md-content>
</div>
