<!DOCTYPE html>
<html ng-app="bbvaApp" lang="es" style="opacity: 0;">

<head>
	<title>BBVA Francés | Oferta Exclusiva</title>
	<link rel="shortcut icon" href="/fbin/css/img/favicon.ico">
	<meta name="robots" content="noindex">
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="-1" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta name="google" value="notranslate">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	 crossorigin="anonymous"> 
	<!--    Fix URL & en lugar de ?    -->
	<script>
		if (window.location.href.indexOf('&') > 0 && window.location.href.indexOf('?') < 0) {
			var newURL = window.location.href;
			window.location.href = newURL.replace('&', '?');
		}
	</script>
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
				new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-PJ67KW9');
	</script>
	<!-- End Google Tag Manager -->
	<script type="text/javascript" src="js/preLoadHead.js"></script>
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJ67KW9" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<header>
		<nav class="navbar navbar-fixed-top">
			<div class="container noPadNavbarAntiPhone">
				<div class="navbar-header">
					<a ng-href="#" class="brand-logo"><img alt="" class="logo" src="img/shared/logo.png"></a>
				</div>

				<div class="debugCheck" ng-if="showDebugSwitch()" ng-controller="DebugController">
					<input type="checkbox" ng-model="debug" ng-checked="debug" class="check-visible"> Debug?

					<div class="consola" id="elem" ng-show="debug">
						<div class="consola-header">
							<span id="titulo">Debug</span>
							<div id="navDebug">
							</div>
							<span id="x" class="x" ng-click="setDebug(false)">X</span>
						</div>
						<div class="consola-logs" id="divConsole">

						</div>
					</div>
				</div>

				<p class="navbar-text navbar-right" ng-bind-html="msg().tituloNavbar" />

			</div>
		</nav>
	</header>
	<main>
		<div class="block-bg"></div>
		<div id="mainContainer" class="container table-container">
			<div class="row table-row">
				<img class="banner hidden-md hidden-lg" alt="" ng-src="{{paso.banner}}" ng-if="paso.banner && !paso.bannerTemplate">
				<div class="hidden-md hidden-lg" id="bannerTemplateContainerMobile" ng-include="paso.bannerTemplate" ng-if="paso.bannerTemplate"></div>

				<div class="col-md-3 table-col sideInfo" ng-class="{'hidden-sm': !tituloYTextoEnMobile, 'hidden-xs': !tituloYTextoEnMobile}">
					<div class="pasoContainer">
						<p class="indicadorPaso fuente-azul" ng-if="paso.contador && !paso.hideStep" ng-bind-html="'paso ' + paso.numero + ' de ' + pasos"
						/>

						<h2 class="tituloPaso" ng-bind-html="paso.titulo"></h2>

						<img class="tilde" src="img/shared/ico_aside.png" ng-if="paso.feliz">

						<p class="textoDelPaso" ng-bind-html="paso.texto"></p>
					</div>

					<div class="hidden-sm" id="asideTemplateContainer" ng-include="paso.asideTemplate" ng-if="paso.asideTemplate"></div>
					<div class="proximoPasoContainer" ng-if="proximoPaso && proximoPaso.numero != 0 && !paso.hideStep">
						<p class="indicadorPaso fuente-azul" ng-bind-html="'paso ' + proximoPaso.numero + ' de ' + pasos"></p>
						<h2 class="tituloPaso" ng-bind-html="proximoPaso.titulo"></h2>
						<img class="tilde" src="img/shared/ico_aside.png" ng-if="paso.feliz">
					</div>
				</div>
				<div class="col-md-9 table-col noPadLeft">
					<img class="banner hidden-xs hidden-sm" alt="" ng-src="{{paso.banner}}" ng-if="paso.banner && !paso.bannerTemplate">
					<div class="hidden-xs hidden-sm" id="bannerTemplateContainer" ng-include="paso.bannerTemplate" ng-if="paso.bannerTemplate"></div>
					<div class="plusPadLeft clear-content" ng-view id="vista"></div>
				</div>
			</div>
		</div>
	</main>
	<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modalTitle">Modal title</h4>
				</div>
				<div class="modal-body">
					<p id="modalBody"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-continuar  ng-isolate-scope" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<footer class="page-footer fondo-azul fuente-blanca lighten-3">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					&nbsp;
				</div>
				<div class="col-xs-12">
					&nbsp;
				</div>
				<div class="col-md-4">
					<div id="copyReference" class="reference">
						<img src="img/shared/logo_footer.png">
						<div class="footer-line">&nbsp;</div>
						<p class="adelante">adelante</p>
					</div>
				</div>

				<div class="col-md-4 col-md-offset-4 hidden-xs hidden-sm">
					<div class="socialIconsContainer">
						<a ng-href="{{msg().facebook}}" target="_blank"><img class="socialIcon" src="img/shared/ico_facebook.png"></a>
						<a ng-href="{{msg().twitter}}" target="_blank"><img class="socialIcon" src="img/shared/ico_twitter.png"></a>
						<a ng-href="{{msg().youtube}}" target="_blank"><img class="socialIcon" src="img/shared/ico_youtube.png"></a>
					</div>
				</div>

				<div class="col-xs-12 no-event">
					&nbsp;
				</div>
				<div class="col-xs-12 no-event">
					&nbsp;
				</div>
				<div class="col-md-4 col-xs-12">
					<div x-copy-element data-id="copyReference">
						<a href="" data-toggle="modal" data-target="#avisoLegalModal" class="aviso" style="margin-right: 12px">Aviso Legal</a>
						<a href="" data-toggle="modal" data-target="#navegadoresModal" class="aviso" style="margin-left: 12px">Aviso Navegadores</a>

						<div ng-include="'views/avisoLegal.html'"></div>
						<div ng-include="'views/navegadores.html'"></div>

					</div>
				</div>
				<div class="col-md-12 no-event">
					&nbsp;
				</div>
				<div class="col-md-4">
					<p class="copyright">© 2017 BBVA Francés</p>
				</div>
				<div class="col-md-4 hidden-md hidden-lg m-b-20">
					<div class="socialIconsContainer">
						<a ng-href="{{msg().facebook}}" target="_blank"><img class="socialIcon" src="img/shared/ico_facebook.png"></a>
						<a ng-href="{{msg().twitter}}" target="_blank"><img class="socialIcon" src="img/shared/ico_twitter.png"></a>
						<a ng-href="{{msg().youtube}}" target="_blank"><img class="socialIcon" src="img/shared/ico_youtube.png"></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="js/lib/libs.js?ts=20170719.1049-16"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	 crossorigin="anonymous"></script>



	<script type="text/javascript" src="js/concat/scriptGlobalApp.js?ts=20170719.1049-16"></script>

	<!-- PIXELS -->
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js" charset="utf-8"></script>
	<div class="loader" style="display: none;">
		<div class="loaderContainer">
			<div>
				<img class="loaderImg" src="img/shared/kloader.gif">
				<p class="loaderText"></p>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/postLoadBody.js"></script>
	<script type="text/javascript">
		(function(){
			initPostLoad();		
		})();
	</script>
</body>

</html>