/* BACKEND DETALLE*/
#edit-grupo-imagen-comercio{
    width: 50%;
    margin: 0px auto;
}

.boton_positivo,
#edit-idimagen-upload-button{
    float: left;
    margin-top: 34px;
}

#borrar_imagen,
#edit-idimagen-remove-button,
#edit-submit{
    margin-top: 10px;
}

#edit-primer-paso,
#edit-primer-paso--2{
    border: 0px;
    box-shadow: none;
}
#edit-grupo-imagen-comercio,
#edit-tercer-paso--2,
#edit-tercer-paso{
    box-shadow: 0px -3px 0 #17a2b8;
}

#borrar_imagen,
#edit-idimagen-remove-button{
    background-color: #de2929!important;
    border-color: #de2929!important;
}

/* Nuevo comercio (sin logo) con boton guardar */
div.form-item-custom-content-block-image{
    width: 100%;
}
fieldset#edit-grupo-imagen-comercio{
    width: 100%;
    text-align: center;
}
fieldset#edit-grupo-imagen-comercio input.boton_positivo,
fieldset#edit-grupo-imagen-comercio input#edit-idimagen-upload-button{
    float: none;
}