

.horizontal-tabs-panes .column-left {
	float:left;
	width:31%;
	margin-right: 10px;
}
.horizontal-tabs-panes .column-middle {
	float:left;
	width:36%;
	margin-right: 10px;
}

.horizontal-tabs-panes .column-right {
	float:left;
	width:24%;
}

#field-term-items-multiple-values .form-submit {
	clear: both;
}

/** ocultar format text **/
.filter-wrapper {
	display: none;
}



/** ocultar css de backend nodes **/
.vertical-tabs,
#edit-custom-breadcrumbs-taxonomy-term {
	display: none;
}

/** ocultar cordenadas en mapa **/
.location-current-coordinates-fieldset {
	display: none;
}


/** profile View /edit **/
.page-user-edit #edit-picture,
.page-user-edit #edit-locale,
.page-user-edit #edit-field-profile-document-type,
.page-user-edit #edit-field-profile-document-number,
.page-user-edit #edit-field-profile-terminos,
.page-user-edit #edit-field-profile-zone,
.page-user-edit #edit-field-profile-category,
.page-user-edit #edit-field-profile-change-pass {
  display: none;
}
.page-user-edit div#edit-field-profile-nombre{
display: inherit;
}
#field-profile-nombre-add-more-wrapper{
	display: block!important;
}
#change-pwd-page-form{
}

.user-profile{
	margin: 20px 0 20px 30px;
}

/*
.admin-menu{
	font-family: bbva light;
}
.admin-menu .field-label-above{
	display: block;
	height: 20px;
}
.admin-menu .field-label{
	width:auto;
	float: left;
	white-space: nowrap;
	font-weight: bold;
	font-family: bbva;
	color: #0079C1 ;
}
.admin-menu .field-items{
	width: 60px;
	float: left;
	white-space: nowrap;
	color: #000;
}*/


/*PROFILE*/
.page-user-edit #main{
	background: url('../images/editar-perfil.jpg');
	background-size: cover;
}
.page-user-edit #page{
background: inherit;
}
.page-user-edit{
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}
.admin-menu .error, .admin-menu #edit-ckeditor{
	display: none;
}
.field-name-field-profile-apellido,
.field-name-field-profile-nombre,
.field-name-field-profile-apellido,
.field-name-field-profile-compania,
.field-name-field-profile-email{
width: 223px;
float: left;
margin-right: 10px;
}

.field-name-field-profile-celular{
	width: 289px;
	float: left;
}
.field-name-field-profile-sex,
.field-name-field-profile-month,
.field-name-field-profile-day,
.field-name-field-profile-year,
.field-name-field-profile-area{
width: 90px;
float: left;
margin-right: 10px;
}

.page-user-edit .view-mode-full .field-label,
.page-user-edit .view-mode-full .field-item{
float: left;
}
.view-mode-full .field-label{
	color:#00539B;
}
.page-user-edit .group-profile-left{
width: 100%;
padding: 0 0 0 13px;
border:none;
background: #f4f4f4;
float: left;
margin: 20px 0 0 ;
}
.page-user-edit #user-profile-form .group-profile-top{
	margin: 0 14px;
	padding: 0;
	float: left;
}
.page-user-edit #user-profile-form .group-profile-top input,
.page-user-edit #user-profile-form .group-profile-top select{
	height: 35px;
	background: transparent;
	border: solid thin #cacaca;
	padding-left: 7px;
}

.page-user-edit #user-profile-form .group-profile-top .group-preference {
	margin: 0;
	padding: 0;
	float: left;
}
.page-user-edit #user-profile-form .group-profile-top .group-preference .fieldset-wrapper{
	margin: 0;
	padding: 0;
}
.page-user-edit .group-profile-left label{
	font-weight: normal!important;
	color: #1897d5!important;
}
.page-user-edit .group-profile-left .fieldset-legend{
display: none;
}
.page-user-edit .field-name-field-profile-tipo-cliente{
	margin-top: 12px;
}

.page-user #user-profile-form #edit-group-botton-perfil{
width: 100%;
float: 	right;
background: #fff;
margin-bottom: 60px;
padding: 7px 0 7px 0;
}
.page-user .bbva-no-cliente-profile #edit-group-botton-perfil{
width: 846px!important;
}
.page-user #user-profile-form #edit-group-botton-perfil .fieldset-wrapper{
	width: 360px;
	margin: 0 auto;
}

.page-user #user-profile-form #edit-group-botton-perfil .fieldset-wrapper .form-submit,
.page-user #user-profile-form #edit-group-botton-perfil .fieldset-wrapper #profile_popup{
width: 170px!important;
height: 35px;
float: left;
font-family: bbva light;
cursor: pointer;
}
.page-user #user-profile-form #edit-group-botton-perfil .fieldset-wrapper #profile_popup{
	line-height: 35px;
	margin-top:inherit!important;
	background: #f4f4f4;
}
.page-user #user-profile-form #edit-group-botton-perfil .fieldset-wrapper #profile_popup a{
	font-weight: bold!important;
	color: #00539B;
}
.page-user #user-profile-form #edit-group-botton-perfil .fieldset-wrapper .form-submit{
	margin: 0 20px 0 0;
	background: #1897d5;
	color: #fff;
	border: none;
	text-transform: uppercase;
}

#edit-field-profile-nombre input,
#edit-field-profile-apellido input,
#edit-field-profile-sex select,
#edit-field-profile-month select,
#edit-field-profile-day select,
#edit-field-profile-year select,
#edit-field-profile-email input,
#edit-field-profile-area select,
#edit-field-profile-compania select,
#edit-field-profile-celular input{
width: 100%;
height: 23px;
padding: 0;
margin-bottom: 0;
}
#user-profile-form{
	width: 880px;
	margin: 0 auto;
}
#user-profile-form #edit-group-right .form-item-zonas label,
#user-profile-form #edit-group-right .form-item-rubros label{
  background: #00539B;
  height: 47px;
  color: #fff;
  font-size: 15px;
  line-height: 46px;
  font-weight: normal;
  padding-left: 19px;
}
.page-user-edit #label.option{
	background:inherit!important;
	height: inherit!important;
	color: #00539B!important;
	font-size: inherit!important;
	line-height: inherit!important;
	font-weight: inherit!important;
	padding-left: inherit!important;
}
#user-profile-form #edit-group-right{
  width: 854px;
  border: none;
  float: left;
}
#user-profile-form #edit-group-right .fieldset-legend{
	display: none;
}
#user-profile-form #all{
  cursor: pointer;
  padding-left: 18px;
  margin-bottom: 16px;
  background: #f4f4f4;
  clear: both;
  line-height: 32px;
}

#user-profile-form #edit-group-right .form-item-zonas{
height: 363px;
padding: 0;
background: #f4f4f4;
}
#user-profile-form #edit-group-right .form-item-rubros{
	height: 363px;
	position: relative;
	padding: 0;
background: #f4f4f4;

}
#user-profile-form h3{
font-size: 50px;
margin: 61px 0 21px;
color: #fff;
font-weight: normal;
}
.form-item-zonas label,
.form-item-rubros label{
	height: 47px;
  background: #00539B;
  font-family: 'bbva light';
  color: #fff;
  font-size: 15px;
  padding: 15px;
  text-align: left;
  cursor: default;
}
#edit-zonas label,
#edit-rubros label{
	background: inherit!important;
}
.page-user-edit div.description{
  height: 36px;
  background: #fff;
  color: #00539B!important;
  padding-left: 17px;
  font-weight: normal !important;
  margin: 0!important;
  line-height: 36px!important;
  font-style: italic;
}
#user-profile-form #edit-actions{
margin-bottom: 0;
}
#user-profile-form .form-actions .form-submit{
	border:none;
	color: white;
	float: left;
	text-transform: uppercase;
	text-align: center;
	border-radius:0;
	background: #0079C1;
	width: 232px;
	height: 25px;
	margin-bottom: 0;
}

#user-profile-form .group-preference,
#user-profile-form .group-profile-top{
	border:none;
}
#user-profile-form .fieldset-legend{
	display: none;
}

#profile_popup{
	width: 232px;
	text-align: center;
	margin-top: 4px;
}
#profile_popup a{
	color: #0079C1;
}
.page-user-edit #edit-zonas,
.page-user-edit #edit-rubros{
	padding: 10px 0 0 20px;
	background: #f4f4f4;
	float: left;
	width: 100%;

}

.page-user-edit #edit-rubros label, .page-user-edit #edit-zonas label{
	color: #09519e;
}

.page-user-edit #edit-rubros > div, .page-user-edit #edit-zonas > div{
	width: 30%;
	float: left;
}

.page-user-edit #page{
  margin: 0 auto;
}

#cboxWrapper{
	background-color: #000;
	border-radius: 0!important;
	-webkit-border-radius:0!important;
}
.form-item-motivos{
}


#popup-close{
	width: 47.5%;
	background: #0079C1;
	color: white;
	text-align: center;
  float: left;
  margin-right: 5%;
    line-height: 31px;
  font-size: 14px;
}
#popup-close a{
	color: white;
	display: block;
	height: 27px;
	line-height: 28px;
	text-transform: uppercase;
}

#popup-close a:visited{
	color: white;


}
#popup-close a:hover{
	text-decoration: none;
}

#cboxContent .form-submit{
	width: 47.5%;
	background: #0079C1;
	border-radius: 0!important;
	border:none;
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin-right: 0!important;
	height: 27px;
}
#edit-motivos{
width: 100%;
}
.form-item-motivos{
	margin-bottom: 19px;
}

label [for=edit-zonas]{
	background: #00539B;
  height: 47px;
  color: #fff;
  font-size: 15px;
  line-height: 46px;
  font-weight: normal;
  padding-left: 19px;
}

/*CHANGE PASS*/

.page-user-change-password #main{
	background: url('../images/editar-perfil.jpg');
	background-size: cover;
}
.page-user-change-password #main #change-pwd-page-form h3{
font-size: 21px;
margin: 61px 0 21px;
padding:10px;
color: #fff;
background: #00539B;
font-family: bbva light;
font-weight: normal;
text-transform: uppercase;
text-align: center;
}
.page-user-change-password #main #change-pwd-page-form{
	width: 290px;
	margin: 0 auto 80px;
	background: #f4f4f4;
	padding-bottom: 25px;
}
.page-user-change-password label{
	color: #1897d5;
	font-weight:;
}
.page-user-change-password #change-pwd-page-form{
	margin-left: 29px;
}

.page-user-change-password #change-pwd-page-form .form-submit{

}
.page-user-change-password .block-system{

}
.page-user-change-password .password-strength,
.page-user-change-password  .form-item-current-pass .description,
.page-user-change-password .password-suggestions{
	display: none;
}
.page-user-change-password #main #change-pwd-page-form .form-type-password{
	width: 209px;
	margin: 0 auto;
}
.page-user-change-password #main #change-pwd-page-form .form-type-password input{
	height: 35px;
	background: transparent;
	border: solid thin #cacaca;
	padding-left: 7px;
}
.page-user-change-password #main #change-pwd-page-form .form-submit{
	width: 209px!important;
	margin-left: 41px;
	margin-top: 20px;
	font-family: bbva light!important;
	border-radius: inherit!important;
	font-size: inherit!important;
	float: inherit!important;
	background:#00539B;
	font-weight: inherit!important;
	border:0;
	color: #fff;
	height: 40px;
	text-transform: uppercase;
}
.page-user-change-password #main #change-pwd-page-form{
	color: #1897d5;
}
.page-user-change-password label{
	cursor: text;
}
.page-user-change-password label span{
	display: none;
}

.page-user-edit .bbva-no-cliente-profile {
	width: 1307px!important;
}
.page-user-edit .bbva-no-cliente-profile .group-profile-top{
	width: 433px!important;
}
.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-apellido,
.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-nombre,
.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-apellido,
.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-compania,
.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-email{
	width: 157px;
}

.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-sex,
.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-month,
.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-day,
.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-year,
.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-area{
	width: 74px;
}
.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-celular{
	width: 159px;
}
.page-user-edit .bbva-no-cliente-profile  .form-item-zonas{
	margin-top: 7px;
}

.page-user-edit .bbva-no-cliente-profile .group-profile-left{
	margin-top: 7px;
}

.page-user-edit .bbva-no-cliente-profile #user-profile-form h3{
	margin: 61px 11px 23px!important;
}

@media only screen and (max-width: 1024px){

#user-profile-form{
	width: 880px!important;
}
.page-user-edit .bbva-no-cliente-profile .group-profile-top{
	width: 100%!important;
	margin: 0!important;
}
.page-user-edit #user-profile-form .group-profile-top{
	margin: 0!important
}
.page-user #user-profile-form #edit-group-botton-perfil{
	width: 100%!important;
}
.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-apellido,
.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-nombre,
.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-compania,
.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-email{
	width: 254px;
}
.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-celular{
	width: 241px;
}
}

@media only screen and (max-width: 960px){
	#user-profile-form{
	width: 620px!important;
}
#user-profile-form h3{
	font-size: 38px;
}
.page-user-edit .bbva-no-cliente-profile .group-profile-left{
	padding: 10px 0px 10px 15px;
}
.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-apellido,
.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-nombre{
	width: 290px;
}

.page-user-edit #edit-submit--5, .page-user-edit #bbva-search-form--2 input.form-submit,.page-user-edit #edit-submit{
	width: inherit!important;
	font-size: inherit;
	font-weight: inherit;
	border-radius: inherit;
}

.page-user-edit #edit-rubros > div, .page-user-edit #edit-zonas > div{
	width: 50%;
	float: left;
}

}

@media only screen and (max-width: 650px){
	#user-profile-form{
		width: 320px!important;
	}

	.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-email,
	.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-sex{
		width: 290px!important;
	}
	.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-month,
	.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-day,
	.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-year,
	.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-area,
	.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-compania,
	.page-user-edit .bbva-no-cliente-profile .group-profile-top .field-name-field-profile-celular{
		width: 90px;
	}

	.form-item-zonas label,
	.form-item-rubros label{
		height: 66px;
	}
	#user-profile-form h3{
		line-height: 40px;
		margin-bottom: 10px;
		font-family: 'bbva light';
		background-color: transparent;
	}

	.page-user-edit #edit-submit--5, .page-user-edit #bbva-search-form--2 input.form-submit,.page-user-edit #edit-submit{
		width: inherit!important;
		font-size: inherit;
		font-weight: inherit;
		border-radius: inherit;
	}
	.page-user #user-profile-form #edit-group-botton-perfil{
		background: inherit;
		width: 320px!important;
	}
	.page-user #user-profile-form #edit-group-botton-perfil .fieldset-wrapper{
		width: 320px!important;
	}
	.page-user #user-profile-form #edit-group-botton-perfil .fieldset-wrapper .form-submit,
	.page-user #user-profile-form #edit-group-botton-perfil .fieldset-wrapper #profile_popup{
		width: 150px!important;
	}

	.page-user-edit #edit-rubros > div, .page-user-edit #edit-zonas > div{
		width: 100%;
		float: left;
	}

}

.admin-menu .error, .admin-menu #edit-ckeditor {
    display: block;
}

#bbva-usuarios-view-ate-usuarios div.form-item{
	float: left;
	padding-right: 3%;
}
#bbva-usuarios-view-ate-usuarios #edit-submit{
    margin-top: 2.5%;
}

.ui-dialog {
    font-size: 0.9em;
}
.ui-dialog-title{
    font-size: 20px!important;
