body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li{
	max-width: 230px\0/;
	width: auto\0/;
	margin: 5px 5px 5px 0\0/;	
}
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .group-fields .sin-porcent{
	white-space: nowrap\0/;
}	