/*FIX TEXTO CUADRO BUSQUEDA */
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container{
	background: #fff!important;
}
@media only screen and (max-width: 360px){
	#menu-responsive #block-menu-menu-responsive{
		width: 100%;
	}
}

@media only screen and (min-width: 1025px){
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full{
		width: 83%!important;
		text-align: center;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-1, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-3{
		width: 28%!important;
		float: inherit!important;
		display: inline-block;

	}

	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4{
		height: 40px;
	}
	.group-field-beneficio-no-cliente-5 a.adquiri-cupon{
		background: #ca006b;
		width: 100%;
		float: left;
		text-align: center;
		height: 40px;
		display: block;
		font-size: 24px;
		line-height: 38px;
		color: #fff;
		font-family: bbva;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-3 .leyendanogo{
		display: none!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2 .leyendanogo{
		margin-top: 18px!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-1 .leyendago{
		margin-top: 1px!important;
		height: 72px;
		margin-bottom: 0!important;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 961px){
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-1, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-3{
		width: 23%!important;
		float: inherit!important;
		display: inline-block!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full{
		width: 93%!important;
		text-align: center!important;
	}
	.group-field-beneficio-no-cliente-4{
		height: 40px;
	}
	.group-field-beneficio-no-cliente-5 a.adquiri-cupon{
		background: #ca006b;
		width: 100%;
		float: left;
		text-align: center;
		height: 30px;
		display: block;
		font-size: 21px;
		line-height: 30px;
		color: #fff;
		font-family: bbva;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-3 a.inicia-sesion{
		height: 30px!important;
		font-size: 21px!important;
		line-height: 30px!important;
	}
	.group-fields-3.porcent-coupon .leyendanogo{
		display: none;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-group{
		width: 170px!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged-2{
		font-size: 15px!important;
		margin-left: -22px;
		margin-bottom: 21px;
		margin-top: 13px;
		width: 132%!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .leyendago{
		margin-bottom: 18px!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2 .leyendanogo{
		margin-bottom: 25px!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .field-quotes{
		right: -15px!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2 .group-field-beneficio-no-cliente-4 .suscribite-no-cliente{
		height: 100%!important;
		font-size: 22px!important;
		line-height: 30px!important;

	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-1 .sin-porcent, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2 .sin-porcent, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-3 .sin-porcent{
		font-size: 31px!important;
		margin-bottom: 20px!important;
	}
	.group-field-beneficio-no-cliente-4{
		height: 30px!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged-2{
		margin-top: 0px;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-1 .leyendago{
		margin-top: 10px!important;
	}

}
@media only screen and (max-width: 961px) and (min-width: 720px){
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full{
		width: 93%!important;
		text-align: center;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-1, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-3{
		width:146px!important;
		float: inherit!important;
		display: inline-block;

	}

	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-1 .sin-porcent, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2 .sin-porcent, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-3 .sin-porcent{
		font-size: 28px!important;
		margin-bottom: 20px!important;
	}
	.group-field-beneficio-no-cliente-5 a.adquiri-cupon{
		background: #ca006b;
		width: 100%;
		float: left;
		text-align: center;
		height: 30px;
		display: block;
		font-size: 21px;
		line-height: 30px;
		color: #fff;
		font-family: bbva;
	}
	.group-field-beneficio-no-cliente-4{
		height: 37px;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-1 a.inicia-sesion, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-1 a.adquiri-cupon, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-1 a.disfruta-mas, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-2 a.inicia-sesion, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-2 a.adquiri-cupon, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-2 a.disfruta-mas, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-3 a.inicia-sesion, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-3 a.adquiri-cupon, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-3 a.disfruta-mas, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4 a.inicia-sesion, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4 a.adquiri-cupon, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4 a.disfruta-mas{
		font-size: 21px!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2 .group-field-beneficio-no-cliente-4 .suscribite-no-cliente{
		height: 30px!important;
		line-height: 30px!important;
	}
	.group-field-beneficio-no-cliente-5 a.adquiri-cupon,
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2 .group-field-beneficio-no-cliente-4 .suscribite-no-cliente{
		font-size: 18px!important;
	}
	.group-field-beneficio-no-cliente-4{
		height: 30px!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-3 .leyendanogo{
		display: none;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged-2 {
		margin-top: 12px!important;
	}/*
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .porcent-coupon, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .porcent-menor{
		width: 30%!important;
	}*/
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2 .leyendanogo{
		width: 135px;
		margin: 16px auto;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-1 .leyendago{
		margin-top: 8px!important;
	}

}

@media only screen and (max-width: 719px) and (min-width: 481px){
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-1, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-3{
		width: 22%!important;
		min-width: 138px;
		float: inherit!important;
		display: inline-block!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full{
		width: 93%!important;
		text-align: center!important;
	}
	.group-field-beneficio-no-cliente-4{
		height: 53px;
	}
	.group-field-beneficio-no-cliente-5 a.adquiri-cupon{
		background: #ca006b;
		width: 100%;
		float: left;
		text-align: center;
		height: 30px;
		display: block;
		font-size: 21px;
		line-height: 30px;
		color: #fff;
		font-family: bbva;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .leyendago{
		margin-top: 10px!important;
	}
	.group-field-beneficio-no-cliente-4{
		height: 30px!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2 .leyendanogo{
		margin-bottom: 3px;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2 .group-field-beneficio-no-cliente-4 .suscribite-no-cliente{
		height: 30px;
		font-size: 19px;
		line-height: 30px;
	}

	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .porcent-coupon, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .porcent-menor{
		width: 24!important;
		font-size: 11px!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2 .leyendanogo{
		height: 46px;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-1 .leyendago{
		margin-top: 1px!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged-2{
		font-size: 11px!important;
	}
	 .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged-2{
	 	width: 102%!important;
	 }
	 .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .leyendago{
	 	margin-bottom: 2px!important;
	 }
	 .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged{
	 	margin-top: -16px!important;
	 }

}
@media only screen and (max-width: 480px) and (min-width: 379px){
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-1, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-3{
		width: 30%!important;
		min-width: 107px;
		float: inherit!important;
		display: inline-block!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full{
		width: 99%!important;
	}

	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-4{
		height: 46px;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-beneficio-no-cliente-3 a.inicia-sesion{
  height: 23px!important;
  font-size: 13px!important;
  line-height: 22px!important;
  margin-top: 9px!important;

	}
}
@media only screen and (max-width: 378px) and (min-width: 372px){
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-1, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-3{
		min-width: 100px!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .leyendago{
		margin: 4px 0 16px 0px!important;
	}
}
@media only screen and (max-width: 479px) and (min-width: 372px){
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-1, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-3{
		width: 27%!important;
		min-width: 103px;
		float: inherit!important;
		display: inline-block!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .field-quotes{
		float: left!important;
		width: 100%;
		right: inherit!important;
		text-align: center;
	}
	.group-field-beneficio-no-cliente-4{
		height: 23px!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2 .group-field-beneficio-no-cliente-4 .suscribite-no-cliente{
		height: 23px;
		line-height: 24px;
		font-size: 15px;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .porcent-coupon, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .porcent-menor{
		width: 30%!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2 .leyendanogo{
		width: 173px;
		margin: 9px auto;
	}
	.solo-cuotas{
		/*width: 106%!important;*/
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-group{
		width: 91px;
	}
	 .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2 .leyendanogo{
		width: 100%;
		height: 38px!important;
		margin-bottom: 0;
	 }
	 .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged-2{
	 	font-size: 9px!important;
	 	margin-top: 7px!important;
	 	width: 111%!important;
	 	margin-left: -8px;
	 }
	 .solo-cuotas{
	 	/*margin-bottom: 20px!important;*/
	 }

}
@media only screen and (max-width: 479px) and (min-width: 379px){
	 .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .leyendago{
	 	margin: 4px 0 7px 0px!important;
	 }
}

@media only screen and (max-width: 390px) and (min-width: 371px){
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged-2{
	width: 116%!important;
}
}
@media only screen and (max-width: 380px){
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-1 .sin-porcent, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2 .sin-porcent, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-3 .sin-porcent{
		font-size: 12px!important;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .solo-cuotas{
		height: inherit!important;
	}
}
@media only screen and (max-width: 371px){
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-1, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-3{
		width: 30%!important;
		float: inherit!important;
		display: inline-block!important;
	}
	.group-field-beneficio-no-cliente-4{
		height: 22px;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2 .group-field-beneficio-no-cliente-4 .suscribite-no-cliente{
		height: 23px;
		line-height: 24px;
		font-size: 15px;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-field-group{
		width: 92px!important;
		margin: 9px auto;
	}
	 .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged-2{
	 	font-size: 9px!important;
	 	line-height: 10px!important;
	 }
	 .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged-2{
	 	margin-bottom: 12px!important;
	 	margin-top: 12px!important;
	 	height: 43px!important;
	 }

	 .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .leyendanogo{
	 	margin: 0px 0 5px 0!important;
	 	height: 51px!important;
	 }

	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .solo-cuotas{
		width: 119%!important;
		margin-left: -8px!important;
	}
	  .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .leyendago-2{
	  	margin: 0px 0 22px -5px!important;
	  	width: 118%!important;
	  }
	  .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged{
	  	margin-top: 7px!important;
	  }

	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .leyendago{
		height: 50px!important;
	}
}
@media only screen and (min-width: 699px) and (max-width: 719px){
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged{
		margin-top: 3px!important;
	}
}
@media only screen and (min-width: 339px) and (max-width: 371px){
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged-2{
	 	font-size: 8px!important;
	 	  width: 111%!important;
  			margin-left: -3px;
	 }
}
@media only screen and (max-width: 338px){
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged-2{
	 	font-size: 8px!important;
	 	  width: 123%!important;
  			margin-left: -12px;
	 }
}
@media only screen and (max-width: 360px){
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .leyendago{
		width: 121%!important;
		margin:0 0 15px -10px!important;
	}
}

@media only screen and (max-width: 321px){
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged-2{
	width: 116%!important;
	margin:  12px 0 12px -3px!important;
}
}
@media only screen and (max-width: 320px){
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-1 .sin-porcent, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-2 .sin-porcent, .page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .group-fields-3 .sin-porcent{
	margin-bottom: 4px!important;
}
.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full .solo-cuotas{
	margin-bottom: -15px!important;
}
}
@media only screen and (max-width: 479px){

	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full{
		width: 93%!important;
		text-align: center!important;
	}
}
@media only screen and (max-width: 480px){
	.group-field-beneficio-no-cliente-5 a.adquiri-cupon{
		background: #ca006b;
		width: 100%;
		float: left;
		text-align: center;
		height: 23px;
		display: block;
		font-size: 13px;
		line-height: 22px;
		color: #fff;
		font-family: bbva;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .porcent-coupon .field-description-no-cliente-no-logged-2{
		display: inherit!important;
		color: #ca006b;
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-3 .leyendanogo{
		display: none;
	}
}

/* Ajustes en Beneficios Logos sin imagen*/

.page-benefit #main #content .view-benefit-group-categories .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li .view-mode-teaser .field-item .group-fields .group-fields-title, .page-benefit #main #content .view-benefit-filters .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li .view-mode-teaser .field-item .group-fields .group-fields-title{
  font-size: 12px!important;
  line-height: 12px;
  width: 91px;*/
}
.page-benefit-categories #main #content .view-benefit-group-categories .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li .view-mode-teaser .field-name-benefit-teaser .field-quotes{
	float: right;
  margin-right: 7px;
  margin-top: 3px;
  font-size: 8px;
  text-transform: uppercase;
  font-family: bbva;
}

.page-benefit-categories #main #content .view-benefit-group-categories .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li .view-mode-teaser .field-name-benefit-teaser .sin-porcent{
	  font-size: 17px!important;
  margin: 31px 14px 0 0!important;
}
.page-benefit #main #content #content-inner .region-content #block-system-main .content .field-name-benefit-teaser .field-logo{
white-space: inherit!important;
  font-size: 17px;
  width: 193px;
  line-height: 25px;
}
.page-benefit-categories #main #content .view-benefit-group-categories .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li .view-mode-teaser .field-item .group-fields .group-fields-title{
  font-size: 12px!important;
  line-height: 12px;
}

/* Ajustes menu de notificaciones */
@media only screen and (max-width: 960px){
body #page #header .container .region-header{
	display: block;
	width: 100%!important;
	left: 0;
	position: absolute;
	z-index: 99999999;
}
body #page #header .container .region-header #block-bbva-search_content{
	display: none;
}
body #page #header .container .region-header #block-menu-menu-experience{
	display: none;
}
#configuracion{
	display: none;
}
#dropdown-logout .notifications{
	display: none;
}
#dropdown-logout .profile-name{
	display: none;
}
#dropdown-logout .notifications-message ul{
	top: -41px;
}
.login{
	display: none!important;
}
.suscribite{
	display: none;
}
#dropdown-login .dropdown{
	top: 0px!important;
}
}
@media only screen and (max-width: 907px){
#dropdown-logout .notifications-message ul{
	/*left: -128px;*/
}
}
@media only screen and (max-width: 837px){
#dropdown-logout .notifications-message ul{
	/*left: -142px;*/
}
}
@media only screen and (max-width: 769px){
	#dropdown-logout .notifications-message ul{
		right: 32px;
		top: -40px;
	}
}
@media only screen and (max-width: 717px){
	#dropdown-logout .notifications-message ul{
		/*left: -177px;*/
	}
}
@media only screen and (max-width: 626px){
	#dropdown-logout .notifications-message ul{
		/*left: -192px;*/
	}
}
@media only screen and (max-width: 535px){
	#dropdown-logout .notifications-message ul{
		/*left: -204px;*/
	}
}
@media only screen and (max-width: 432px){
	#dropdown-logout .notifications-message ul{
		/*left: -219px;*/
	}
}
@media only screen and (max-width: 322px){
	#dropdown-logout .notifications-message ul{
		/*left: -207px;*/
	}
	.page-benefit-benefit .field-item #section-benefit .row .col-left .benefit-group-container .group-fields-full p.field-description-no-cliente-no-logged{
		width: 120%!important;
	}
}

/* Ajustes filtros beneficios */
.page-benefit-categories #main #sidebar-first #block-views--exp-benefit_filters-page #edit-field-benefit-category-tid-wrapper, .page-benefit-experience #main #sidebar-first #block-views--exp-benefit_filters-page #edit-field-benefit-category-tid-wrapper, .page-contents #main #sidebar-first #block-views--exp-benefit_filters-page #edit-field-benefit-category-tid-wrapper, .page-benefit #main #sidebar-first #block-views--exp-benefit_filters-page #edit-field-benefit-category-tid-wrapper, .page-voucher-voucher #main #sidebar-first #block-views--exp-benefit_filters-page #edit-field-benefit-category-tid-wrapper{
	/* margin-top: -40px; */
	/* padding-bottom: 20px; */
}
.form-item-field-benefit-card-tid{
	margin-top: 0!important;
}
.page-benefit-categories #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget, .page-benefit-experience #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget, .page-contents #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget, .page-benefit #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget, .page-voucher-voucher #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget{
	/* padding-bottom: 20px; */
}
.views-widget-filter-field_locality_province_tid_1{
	/* margin-top: -20px; */
}
.form-item-field-card-group-tid{
	margin-top: 0!important;
}
.page-benefit-categories #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget .form-submit, .page-benefit-experience #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget .form-submit, .page-contents #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget .form-submit, .page-benefit #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget .form-submit, .page-voucher-voucher #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget .form-submit{
	/* top: -71px!important; */
}
.page-benefit #main #sidebar-first #block-views--exp-benefit_filters-page .views-widget-filter-field_benefit_card_tid > .views-widget{
margin-top: -40px;
}
@media only screen and (max-width: 960px){
.page-benefit-categories #main #sidebar-first #block-views--exp-benefit_filters-page #edit-field-benefit-category-tid-wrapper, .page-benefit-experience #main #sidebar-first #block-views--exp-benefit_filters-page #edit-field-benefit-category-tid-wrapper, .page-contents #main #sidebar-first #block-views--exp-benefit_filters-page #edit-field-benefit-category-tid-wrapper, .page-benefit #main #sidebar-first #block-views--exp-benefit_filters-page #edit-field-benefit-category-tid-wrapper, .page-voucher-voucher #main #sidebar-first #block-views--exp-benefit_filters-page #edit-field-benefit-category-tid-wrapper{
	/* margin-top: -20px!important; */
}
.views-widget-filter-field_card_group_tid{
margin-top: 0px!important;
}
.views-widget-filter-field_card_group_tid .views-widget{
	margin-top: 47px!important;
}
.page-benefit #main #sidebar-first #block-views--exp-benefit_filters-page .views-widget-filter-field_card_group_tid > .views-widget{
	margin-top: 30px!important;
}
.page-benefit #main #sidebar-first #block-views--exp-benefit_filters-page .views-widget-filter-field_benefit_card_tid > .views-widget{
	margin-top: -30px!important;
}
}

/* Ajustes solicitud de tarjeta */

.page-node-84 #main #content-inner .webform-client-form fieldset label{
	font-size: 14px!important;
}
#webform-component-row-group--row-3--pre-fijo, #webform-component-row-group--row-4--codigo-area,
#webform-component-row-group--row-3--numero, #webform-component-row-group--row-4--numero,
#webform-component-row-group--row-3--carateristica, #webform-component-row-group--row-4--caracteristica-cel{
width: 32%!important;
}
/*Notificaciones al 100% en mobile*/

@media only screen and (max-width: 480px){
	body #page #header .container .region-header #block-dropdown_login-login_dropdown{
		width: 100%;
		float: left!important;
	}
	#dropdown-logout{
		width: 100%!important;
	}
	#dropdown-logout .notifications-message ul{
		left: 0!important;
		width: 102%;
	}
}

/*MI CUPONERA RESPONSIVE*/

@media only screen and (max-width: 1025px) and (min-width: 960px){

.view-mi-cuponera .views-field-nothing-1{
	width: 54%;
	float: left;
}
.view-mi-cuponera .views-field-nothing-1 img{
	height: 100%;
}
.view-mi-cuponera .views-field-nothing{
	float: left;
	width: 40%;
	margin-left: inherit;
}
.view-mi-cuponera p.medio-pagos,
.view-mi-cuponera p.vencimiento{
	width: 42%;
	font-size: 10px;
	float: left;
	text-align: center;
	margin:0;
	padding: 0;
}
.view-mi-cuponera p.ver-mas{
	width: 9%;
	float: right;
	margin-right: 6px;
}
.views-field.views-field-nothing-2{
	float: left;
	width: 100%;
	overflow: inherit;
}
p img{
	float: inherit;
	margin: 0 auto;
}

.view-mi-cuponera .views-row, .view-mi-cuponera .view-content .views-row{
	width: 43%!important;
}
}
@media only screen and (max-width: 960px) and (min-width: 650px){
	.view-mi-cuponera .views-row, .view-mi-cuponera .view-content .views-row{
		width: 47.4%!important;
	}

}
@media only screen and (max-width: 649px){
	.view-mi-cuponera .views-row, .view-mi-cuponera .view-content .views-row{
		width: 100%!important;
	}
	.tab1,
	.tab2{
		width: 49%;
		font-size: 13px!important;
		margin: 0!important;
		padding: 9px 2px 10px 46px!important;
	}
	.mi-cuponera-tab{
		padding: 7px!important;
	}
}

@media only screen and (max-width: 500px){

	.tab1,
	.tab2{
		width: 49%;
		font-size: 10px!important;
	}
}

@media only screen and (max-width: 420px){
.mi-cuponera-tab .tab1,
.mi-cuponera-tab .tab2{
	padding: 11px 2px 10px 27px!important;
}
.mi-cuponera-tab .tab2{
	background-position:6px -21px!important;
}
.mi-cuponera-tab .tab1{
	background-position:6px -54px!important;
}
}

/*Ajustes Beneficios busqueda*/
@media only screen and (min-width: 1025px){
	.page-contents #main{
		/*width: 1195px!important;*/
	}
	.page-contents #content{
		/*width: 987px!important;*/
	}
}
@media only screen and (max-width: 1024px) and (min-width: 960px){

	.page-contents #content{
		width: 750px!important;
	}
	.page-contents #main{
		width: 959px!important;
	}
}
@media only screen and (max-width: 959px) and (min-width: 720px){

	.page-contents #content{
		width: 505px!important;
	}
	.page-contents #main{
		width: 715px!important;
	}
}
@media only screen and (max-width: 719px){

	.page-contents #main{
		width: 100%!important;
	}
	.page-contents #content{
		width: 100%!important;
	}
	.views-view-grid{
		width: 480px;
		margin: 0 auto;
	}
	.page-benefit-categories #main #sidebar-first,
	.page-benefit-experience #main #sidebar-first,
	.page-contents #main #sidebar-first,
	.page-benefit #main #sidebar-first,
	.page-voucher-voucher #main #sidebar-first{
		width: 100%!important;
	}
	.page-benefit-categories #main #sidebar-first #block-views--exp-benefit_filters-page,
	.page-benefit-experience #main #sidebar-first #block-views--exp-benefit_filters-page,
	.page-contents #main #sidebar-first #block-views--exp-benefit_filters-page,
	.page-benefit #main #sidebar-first #block-views--exp-benefit_filters-page,
	.page-voucher-voucher #main #sidebar-first #block-views--exp-benefit_filters-page{
		width: 100%;
	}
	.page-contents #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget{
		width: 100%;
	}
}
@media only screen and (max-width: 480px){
	.views-view-grid{
		width: 240px;
		margin: 0 auto;
	}
}
.page-contents .view-benefit-filters-search .entity-benefit{
	min-width: 228px!important;
}
.page-contents .view-benefit-filters-search td{
	float: left;
}
.page-contents .view-benefit-filters-search .field-item{
position: relative;
}
.page-contents .view-benefit-filters-search .group-fields{
	position: absolute;
	bottom: 10px;
	left: 7px;
	width: 94%	;
	height: 88px;
	background-color: white;
	color: #0079c1;
	/*float: left;*/
	display: table ;
}
.page-contents .view-benefit-filters-search .group-fields .group-fields-title{
	/*float: left;*/
	text-transform: uppercase;
	font-size: 14px !important;
	font-weight: bold !important;
	font-family: bbva;
	text-align: center;
	margin: 0px 2px 0 11px;
	width: 100px;
	padding-left: 2%;
	/*display: table-cell;*/
	vertical-align: middle;
}
.page-contents .view-benefit-filters-search .group-fields .group-fields-logo{
  float: left;
  width: 77px;
  margin-right: 16px;
}
.page-contents .view-benefit-filters-search .group-fields .group-fields-logo img{
  margin-top: 23px;
  margin-left: 11px;
  width: 100%;
}
.page-contents .view-benefit-filters-search .group-fields .group-fields-promotion{
	padding: 36px 0 10px;
  font-size: 40px;
  font-family: 'bbva light';
  text-align: right;
  line-height: 6px;
  width: 70px;
  height: 45px;
  float: left;
  letter-spacing: -5px;
}
.page-contents .view-benefit-filters-search .group-fields .group-fields-duration{
	padding: 14px 0 0 0;
  font-family: 'bbva light';
  float: left;
  width: 30px;
  height: 45px;
  margin-top: 13px;
  margin-left: 1px;
  font-weight: normal;
}
.page-contents .view-benefit-filters-search .group-fields .group-fields-duration span.porcent{
	font-size: 40px;
	padding: 3px 0 0 0;
}
.page-contents .view-benefit-filters-search .group-fields .field-quotes{
  float: right;
  margin-right: 7px;
  margin-top: 3px;
  font-size: 8px;
  text-transform: uppercase;
  font-family: bbva;
}

.page-contents .view-benefit-filters-search .group-fields .field-quotes.sin-porcent{
	font-size: 20px;
	margin-top: 32px;
}

/*Ajstes home*/
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .even .field-logo-empty{
	font-size: 16px!important;
	width: 112px!important;
	margin: 0 19px 0 11px!important;
}
@media only screen and (max-width: 1024px) and (min-width: 960px){
	body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .even .field-logo-empty{
		margin: 0 3px 0 4px!important;
	}
}
@media only screen and (max-width: 720px){
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .even .field-logo-empty{
	margin: 0 19px 0 -16px!important;
}
}
@media only screen and (max-width: 600px){
body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .even .field-logo-empty{
	margin: 0 2px 0 0px!important;
	font-size: 12px!important;
	width: 95px!important;
}
}
@media only screen and (max-width: 480px){
	body #page #higlighted-area .region-highlight #block-views-solo_por_hoy-block .content .views-slideshow-controls-top .views-slideshow-pager-field-item .even .field-logo-empty{
		  margin: 0 10px 0 0px!important;
  font-size: 17px!important;
  width: 133px!important;
	}
}
/*BOTON SUSCRIPCION*/
.mid-1336{
	margin-top: inherit!important;
}

/*BUSCADOR FILTROS*/

@media only screen and (max-width: 961px){
	.views-widget-filter-field_benefit_type_target_id{
		margin-bottom: 30px;
	}
	.page-benefit #main #sidebar-first #block-views--exp-benefit_filters-page .views-widget-filter-field_tags_tid, .page-benefit-categories #main #sidebar-first #block-views--exp-benefit_filters-page .views-widget-filter-field_tags_tid, .page-voucher-voucher #main #sidebar-first #block-views--exp-benefit_filters-page .views-widget-filter-field_tags_tid{
		display: block!important;
	}
	.page-benefit #main #sidebar-first #block-views--exp-benefit_filters-page .views-submit-button, .page-benefit-categories #main #sidebar-first #block-views--exp-benefit_filters-page .views-submit-button, .page-voucher-voucher #main #sidebar-first #block-views--exp-benefit_filters-page .views-submit-button{
		display: block!important;
	}
		.page-benefit #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget > .views-widget input.form-autocomplete, .page-benefit-categories #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget > .views-widget input.form-autocomplete{
		width: 99%!important;
	}
}

/*CONTACTO*/

@media only screen and (min-width: 1025px){
	body #page #header .container .region-header #block-menu-menu-menu-principal{
		width: 171px!important;
	}
	.contacto{
		border: none!important;
		margin: 0!important;
	}
	.contacto a{
		background: url("../images/pregunta.png") center top no-repeat !important;
	}
}
@media only screen and (min-width: 961px) and (max-width: 1024px){
	body #page #header .container .region-header #block-menu-menu-menu-principal{
		width: 144px!important;
		margin-right: 0!important;
	}
	.contacto{
		border: none!important;
		margin: 0!important;
	}
	.contacto a{
		background: url("../images/pregunta.png") no-repeat !important;
		background-position-x: 12px!important;
	}
}
@media only screen and (max-width: 960px){
	.contacto{
		display: none;
	}
	#menu-responsive #block-menu-menu-responsive .contacto{
		display: inherit!important;
		background: url("../images/pregunta_2.png") 15px 5px no-repeat !important;
	}
}

/*Ajustes tamaños de letra*/
.node-type-experience #main #content .view-mode-full .group-header .field-name-experience #experience-content .group-fields .field-title{
	font-size: 59px!important;
}
@media only screen and (max-width: 1024px){
.node-type-experience #main #content .view-mode-full .group-header .field-name-experience #experience-content .group-fields .field-volanta{
	min-height: inherit;
}
}
@media only screen and (min-width:961px) and (max-width: 1024px){
.node-type-experience #main #content .view-mode-full .group-header .field-name-experience #experience-content .group-fields .field-title{
	font-size: 58px;
}
}
@media only screen and (min-width:721px) and (max-width: 960px){
.node-type-experience #main #content .view-mode-full .group-header .field-name-experience #experience-content .group-fields .field-title{
	  font-size: 48px!important;
  line-height: 56px;
  padding-top: 37px;
}
}
@media only screen and (min-width:480px) and (max-width: 720px){
.node-type-experience #main #content .view-mode-full .group-right .field-name-field-experience-bajada .field-item,
.node-type-experience #main #content .view-mode-full .group-right .field-name-field-experience-fija-titulo3{
	line-height: 23px!important;
	height: inherit!important;
	margin-bottom: 20px!important;
}
.node-type-experience #main #content .view-mode-full .group-right{
	margin-top: 25px!important;
	margin-bottom: 33px!important;
}


.node-type-experience #main #content .view-mode-full .group-header .field-name-experience #experience-content .group-fields .field-title{
	font-size: 29px!important;
	line-height:33px!important;
	padding: 3% 0 1% 0!important;
}
.node-type-experience #main #content .view-mode-full .group-header .field-name-experience #experience-content .group-fields .field-volanta{
	font-size: 19px!important;
}
.node-type-experience #main #content .view-mode-full .group-header .field-name-experience #experience-content .group-fields .field-link{
	margin-bottom: 20px!important;
}

.node-type-experience #main #content .view-mode-full .group-right .field-name-field-experience-fija-titulo3{
	float: left;
}
.node-type-experience #main #content .view-mode-full .group-right .field-name-field-experience-fija-texto3{}
}
@media only screen and (max-width:479px){
.node-type-experience #main #content .view-mode-full .group-right .field-name-field-experience-bajada .field-item,
.node-type-experience #main #content .view-mode-full .group-right .field-name-field-experience-fija-titulo3{
	line-height: 23px!important;
	height: inherit!important;
	margin-bottom: 20px!important;
}
.node-type-experience #main #content .view-mode-full .group-header .field-name-experience #experience-content .group-fields .field-title{
	font-size: 28px!important;
}
.node-type-experience #main #content .view-mode-full .group-header .field-name-experience #experience-content .group-fields .field-volanta{
	padding: 10px 0 10px 0!important;
}
.node-type-experience #main #content .view-mode-full .group-right .field-name-field-experience-bajada{
	margin-top: 10px!important;
}
.node-type-experience #main #content .view-mode-full .group-footer .field-name-experiences-related .field-items .view-experience-related .view-content .views-row-1{
	display: inherit!important;
}
}

/*Ajustes Tarjeta RIVER*/

@media only screen and (max-width:479px){
.node-type-product #page #main #content .field-name-title h2{
	top: 2%!important;
}
.node-type-product #page #main #content .field-name-field-product-image-button{
	top: 6.9%!important;
}
.node-type-product #page #main #content .field-name-field-product-link-button{
	top: 10.5%!important;
}
}
@media only screen and (min-width:1025px){
/*Link Contacto Logueado*/
#block-dropdown_login-login_dropdown .content #contacto{
	border-left: 2px solid #ccc;
  padding: 0 0px 0 6px;
  font-size: 14px;
  position: relative;
  left: -4px;
  float: left;
  top: 22px;
  height: 47px;
  font-size: 14px;
  font-family: bbva light;
  background: url("../images/pregunta.png") top center no-repeat;
  line-height: 79px;
  margin-left: 3px;
}
#block-dropdown_login-login_dropdown .content #contacto a{
  color: #898989;
  height: 52px;
  display: block;
}

.welcome-item-1{
	font-size: inherit!important;
}
#dropdown-logout .notifications{
	float: right;
}
}
@media only screen and (min-width:961px) and (max-width:1024px){
	#block-dropdown_login-login_dropdown .content #contacto{
	border-left: 2px solid #ccc;
  padding: 0 0px 0 6px;
  font-size: 12px;
  position: relative;
  left: -4px;
  float: left;
  top: 22px;
  height: 47px;
  font-size: 12px;
  font-family: bbva light;
  background: url("../images/pregunta.png") no-repeat !important;
  background-position-x: 12px!important;
  line-height: 79px;
  margin-left: 3px;
}
#block-dropdown_login-login_dropdown .content #contacto a{
  color: #898989;
}
body #page #header .container .region-header{
	width: 82%!important;
}
body #page #header .container .region-header #block-menu-menu-experience{
	/*width: 367px!important;*/
}

}
@media only screen and (max-width:960px){
		#block-dropdown_login-login_dropdown .content #contacto{
			display: none;
		}

}

/*404 RESPONSIVE*/
@media only screen and (max-width:960px){
	.page-node-189 #block-system-main #node-189 .content{
		width: 90%;
	}
	.page-node-189 #block-system-main #node-189 .content .field-items .field-title,
	.page-node-189 #block-system-main #node-189 .content p{
		text-align: left;
	}
	.page-node-189 #block-system-main #node-189 .content .field-items .field-title{
		line-height: 80px;
		background: transparent!important;
	}
	.page-node-189 #block-system-main #node-189 .content p{
		line-height: 16px;
		font-size: 27px;
	}
	.page-node-189 #block-system-main #node-189 .content p{
		padding-bottom: 20px;
	}
}
@media only screen and (max-width:620px){
	.page-node-189 #block-system-main #node-189 .content p{
		line-height: 11px;
		font-size: 18px;
	}
	.page-node-189 #block-system-main #node-189 .content .field-items .field-title{
		font-size: 56px;
		line-height: 57px;
	}
}
@media only screen and (max-width:420px){
	.page-node-189 #block-system-main #node-189 .content p{
		line-height: 8px;
		font-size: 13px;
	}
	.page-node-189 #block-system-main #node-189 .content .field-items .field-title{
		font-size: 41px;
		line-height: 40px;
	}
}

/*Ajustes suscripcion full*/
@media screen and (max-width: 480px){
.page-subscription #main {
  background: none;
  margin: 0px;
  background: url("../images/registro.jpg")!important;
}
.page-subscription #main #block-system-main{
	margin-top: 40px!important;
}
}

/*FORMULARIO FULL 320*/
@media only screen and (max-width: 320px){
	.page-subscription #main #block-system-main{
		width: 296px!important;
	}
	.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .pregunta-soy-cliente a, .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .pregunta-soy-cliente a + a{
		width: 46%!important;
	}
	.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-nombre, .page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-apellido{
		width: 46%;
	}

	.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-document-number{
		width: 235px;
	}

	.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-pass1{
		width: 140px!important;
	}
	.page-subscription #block-system-main #bbva-subscription-form .captcha .form-item-captcha-response{
		margin-left: 0!important;
	}

	.fecha_nacimiento{
		//width: 155px !important;
	}
	.front #block-bbva_subscription-subscription_block #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-celular{
		width: 99px!important;
	}
	.front #block-bbva_subscription-subscription_block #bbva-subscription-form .form-item .todos-rubros{
		margin: 4px 0 0 3px!important;
	}

	.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-item-area{
		margin-right: 5px!important;
	}

	.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .fieldset-wrapper .form-type-select select#edit-area{
		width: 43px!important;
	}

	.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .fecha_nacimiento select{
		margin: 0!important;
	}
	.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-month select,
	.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-day select,
	.page-subscription #main #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-year select{
		width: 100%!important;
	}
	.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-day,
	.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-month,
	.page-subscription #block-system-main #bbva-subscription-form fieldset.group-left .group-left-fields .fieldset-wrapper .form-item-year{
		width: 26%;
	}
	.front #block-bbva_subscription-subscription_block #bbva-subscription-form #form-item-subtitle{
		line-height: 33px!important;
	}
}

/**/

@media only screen and (min-width: 962px) and (max-width: 1024px){
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul{
	width: 960px!important;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li{
	width: 180px!important;
}
body #page #pre-footer .inner .region-pre-footer #block-quicktabs-quicktabs #quicktabs-container-quicktabs .view-content .jcarousel-container-horizontal{
max-width: 960px!important;
 }
 body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal{
 	min-height: inherit!important;
 }
 .front .jcarousel-clip-horizontal ul li{
 	min-height: inherit!important;
 }
 .jcarousel-skin-default .jcarousel-item{
 	height:inherit!important;
 }
 body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li{
 	min-height: inherit!important;
 }
 body #page #pre-footer .inner .region-pre-footer
 #block-quicktabs-quicktabs #quicktabs-container-quicktabs .view-content .jcarousel-container-horizontal{
 	min-height: inherit!important;
 }
 body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal{
 	min-height: inherit!important;
 }
 body #page #pre-footer .inner .region-pre-footer
 #block-quicktabs-quicktabs #quicktabs-container-quicktabs .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li .field-item .group-fields .group-fields-logo img{
 	width: 100%!important;
 	margin-top: 40%!important;
 }
 body #page #pre-footer .inner .region-pre-footer
 #block-quicktabs-quicktabs #quicktabs-container-quicktabs .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li .field-item .group-fields .group-fields-logo{
 	width: 74px!important;
 	margin-top: -1px!important;
 	margin-left: 0!important;
 }
 body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li .field-item .group-fields .group-fields-logo{
 	margin-left: 5px!important;
 }

body #page #pre-footer .inner #block-quicktabs-quicktabs #quicktabs-container-quicktabs .content .jcarousel-container-horizontal{
	width: 100%!important;
	padding-top: 0px!important;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul{
	width: 100%!important;
}
body #page #pre-footer .inner .region-pre-footer
 #block-quicktabs-quicktabs .block-inner #quicktabs-quicktabs #quicktabs-tabpage-quicktabs-1 .jcarousel-list-horizontal .field-items .sin-porcent{
 	width: 80px;
 	float: left;
 	margin-top: 25px;
 	margin-right:
 }
 body #page #pre-footer .inner .region-pre-footer
 #block-quicktabs-quicktabs .block-inner #quicktabs-quicktabs #quicktabs-tabpage-quicktabs-1 .jcarousel-list-horizontal .field-items .field-quotes{
 	margin-right: 5px!important;
 }
}
@media only screen and (min-width: 481px) and (max-width: 961px){
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li{
	width: 170px!important;
	margin: 10px 5px!important;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li .field-item .group-fields .group-fields-promotion{
	font-size: 34px!important;
	line-height: 11px!important;
	width: 40px!important;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li .field-item .group-fields .group-fields-duration{
	margin-top: 9px!important;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li .field-item .group-fields .group-fields-duration span.porcent{
	font-size: 31px!important;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul{
	width: 100%!important;
	  max-height: 250px!important;
}
body #page #pre-footer .inner #block-quicktabs-quicktabs #quicktabs-container-quicktabs .content .jcarousel-container-horizontal{
	width: 543px!important;
	padding-top: 0px!important;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li .field-item .group-fields{
	width: 90%!important;
	margin: 0 auto!important;
}

body #page #pre-footer .inner .region-pre-footer .block-quicktabs .block-inner .quicktabs-wrapper .quicktabs-tabpage .jcarousel-list-horizontal .field-items .sin-porcent{
	  margin-top: 24px!important;
}
.front .jcarousel-clip-horizontal ul li{
	min-height: inherit!important;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal{
	min-height: inherit!important;
}
.jcarousel-skin-default .jcarousel-item{
	height: inherit!important;
}
body #page #pre-footer .inner #block-quicktabs-quicktabs #quicktabs-container-quicktabs .content .jcarousel-container-horizontal{
	min-height: inherit!important;
}
.front .jcarousel-clip-horizontal{
	min-height: inherit!important;
}
body #page #pre-footer .inner #block-quicktabs-quicktabs #quicktabs-container-quicktabs .content .jcarousel-container-horizontal{
	padding: 0!important;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li .field-item .group-fields .group-fields-logo{
	width: 73px!important;
	margin: 26px 0 0 0!important;
}
body #page #pre-footer .inner .block-quicktabs .item-list ul.quicktabs-tabs{
	width: 780px!important;
}
}
@media only screen and (max-width: 719px){
body #page #pre-footer .inner .block-quicktabs{
	display: inherit!important;
}
body #page #pre-footer .inner #block-quicktabs-quicktabs #quicktabs-container-quicktabs .view-content .jcarousel-container-horizontal{
	padding: 0 0!important;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal{
	height: inherit!important;
	min-height: inherit!important;
}
.front .jcarousel-clip-horizontal{
	min-height: inherit!important;
}
.front .jcarousel-clip-horizontal ul li{
	min-height: inherit!important;
}
}

/*Ajustes en busqueda*/
.page-contents #main #sidebar-first #block-views--exp-benefit_filters-page .views-widget-filter-field_card_group_tid{
	padding-bottom: 0px!important;
}
.page-contents #main #sidebar-first #block-views--exp-benefit_filters-page .views-widget-filter-field_card_group_tid .views-widget{
	margin-bottom: 0px!important;
}
.page-contents #main #sidebar-first #block-views--exp-benefit_filters-page .views-widget-filter-field_benefit_card_tid .views-widget{
	margin-top: 0px!important;
}
@media only screen and (max-width: 960px){
.page-contents #main #sidebar-first #block-views--exp-benefit_filters-page .views-widget-filter-field_card_group_tid .views-widget{
	margin-top: 30px!important;
}
.page-contents #main #sidebar-first #block-views--exp-benefit_filters-page .views-widget-filter-field_benefit_card_tid .views-widget{
	margin-top: -15px!important;
}
}

/*BUG BIENVENIDOS*/
@media only screen and (min-width: 961px){
#contacto{
	display: block!important;
}
}
@media only screen and (max-width: 960px){
	.logged-in #page #header .container .region-header #block-dropdown_login-login_dropdown .welcome-item-1{
		display: none!important;
	}
	.page-benefit-categories #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget > .views-widget input.form-autocomplete, .page-benefit-experience #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget > .views-widget input.form-autocomplete, .page-contents #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget > .views-widget input.form-autocomplete, .page-benefit #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget > .views-widget input.form-autocomplete, .page-voucher-voucher #main #sidebar-first #block-views--exp-benefit_filters-page .views-exposed-widget > .views-widget input.form-autocomplete{
		width: 95%!important;
		margin-top: 30px;
	}
}

/*Tabs Otraqs oportunidades tablet*/

@media only screen and (min-width: 480px)(max-width: 960px){

}


/*Ajustes footer*/

@media only screen and (max-width: 480px){

	body #page #footer .region-footer #block-bbva-footer_mobile .block-inner .block-title, body #page #footer .region-footer #block-bbva-footer_socials .block-inner .block-title,
	body #page #footer .region-footer #block-bbva-footer_video .block-inner .block-title{
		font-size: 21px!important;
	}
	body #page #footer .region-footer #block-bbva-footer_mobile .block-inner .field-subtitle, body #page #footer .region-footer #block-bbva-footer_socials .block-inner .field-subtitle,
	body #page #footer .region-footer #block-bbva-footer_video .block-inner .field-subtitle{
		font-size: 20px!important;
	}
	body #page #footer .region-footer #block-bbva-footer_mobile .block-inner .field-description, body #page #footer .region-footer #block-bbva-footer_socials .block-inner .field-description, body #page #footer .region-footer #block-bbva-footer_video .block-inner .field-description{
		font-size: 13px!important;
	}
	body #page #footer .region-footer #block-bbva-footer_mobile .block-inner .field-mobiles .link-android{
		background:url("../images/android-footer-mobile.png") no-repeat;
		width: 65px!important;
	}
	body #page #footer .region-footer #block-bbva-footer_mobile .block-inner .field-mobiles .link-iphone{
		background:url("../images/iphone-footer-mobile.png") no-repeat;
		  background-position: 11px;
		width: 56px!important;
	}
	body #page #footer .region-footer #block-bbva-footer_mobile .block-inner .field-mobiles .link-wphone{
		background:url("../images/win8-footer-mobile.png") no-repeat;
		  width: 91px!important;
	}
	body #page #footer .region-footer #block-bbva-footer_mobile .block-inner .field-mobiles{
		width: 236px!important;
	}

}

/*Ajustes tabs*/

@media only screen and (max-width: 960px){
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view--experiences .view-content .views-row{
	width: 170px!important;
	margin: 8px 5px;
}
body #page #pre-footer .inner .block-quicktabs #block-views-_experiences-block{
	margin-bottom: 15px;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view--experiences{
	/*width: 540px!important;*/
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal .jcarousel-next,
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal .jcarousel-prev{
	display: none!important;
}
}
@media only screen and (min-width: 481px) and (max-width: 540px){
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view--experiences{
	width: 501px!important;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view--experiences .view-content .views-row{
	width: 157px!important;
	margin-bottom: 0px;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li{
	width: 157px!important;
}
body #page #pre-footer .inner #block-quicktabs-quicktabs #quicktabs-container-quicktabs .view-content .jcarousel-container-horizontal{
	width: 501px!important;
}
body #page #pre-footer .inner .region-pre-footer .block-quicktabs .block-inner .quicktabs-wrapper .quicktabs-tabpage .jcarousel-list-horizontal .field-items .sin-porcent{
	font-size: 14px;
}
}
@media only screen and (max-width: 480px){

body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul li{
	width: 230px!important;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal ul{
	width: 235px!important;
	margin: 6px auto!important;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view--experiences{
	width: 230px!important;
}
body #page #pre-footer .inner .block-quicktabs .quicktabs_main .view--experiences .view-content .views-row{
	width: 230px!important;
	margin-bottom: 0px;
}
.front .jcarousel-clip-horizontal ul li {
  min-height: 303px!important;
  margin: 3px 0!important;
}
body #page #pre-footer .inner .block-quicktabs #block-views-_experiences-block{
	margin-bottom: 15px;
}
}

/*Ajuste dorpdown login*/

@media only screen and (max-width: 1025px) and (min-width: 962px){
#dropdown-login .dropdown{
	right: 134px!important;
  top: 107px!important;
}
}
