table .table {
  width: 100%!important;
  margin: auto!important;
}

.banner {
  width: 100%;
}
td.logo {
  background: #082247;
}

.banner-content {
  max-height: 400px;
  overflow: hidden;
}
.banner img {
  width: 100%;
}
.banner-content .banner-copy {
  position: absolute;
  top: 200px;
  left: 100px;
  text-transform: uppercase;
  text-align: left;
  line-height: 28px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
}
.banner-content .banner-link {}
.table-responsive {
  overflow-x: auto;
}

body {
	-webkit-text-size-adjust:none;
	background-color:#fff;
	width:650px;
	font-family:Open-sans, sans-serif;
	color:#555454;
	font-size:13px;
	line-height:18px;
}

@media only screen and (min-width: 301px) and (max-width: 375px) {
  body {
    width: 100% !important;
    margin: auto!important;
  }
  thead,
  tbody {
    width: 100%
  }
  .table {
    width: 90% !important;
    margin: auto!important;
  }
  .logo,
  .titleblock,
  .linkbelow,
  .box,
  .footer,
  .space_footer {
    width: auto!important;
    display: block!important;
  }
}

@media only screen and (max-device-width: 480px) {
  body {
    width: 100%!important;
    margin: auto!important;
  }
  thead,
  tbody {
    width: 100%;
  }
  .table {
    width: 100%!important;
    margin: auto!important;
  }
  .logo,
  .titleblock,
  .linkbelow,
  .box,
  .footer,
  .space_footer {
    width: auto!important;
    display: block!important;
  }
  .table-recap {
    width: 295px!important;
  }
  .table-recap tr td,
  .conf_body td {
    text-align: center!important;
  }
  .address {
    display: block !important;
    margin-bottom: 10px !important;
  }
  .space_address {
    display: none !important;
  }
}

