/* BACKEND LISTA */

.vgt-responsive {
    overflow-x: hidden;
    margin-bottom: -10px;
}
.vgt-table.striped td,
.vgt-table.striped th {
    text-align: center;
    vertical-align:middle;
    font-size: 1.1em;
    font-weight: 400;
    color: #212529;
}
#admin_container h1{
    font-size: 2.2em;
    color: rgb(117, 117, 117);
}
thead th span{
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em;
}
.vgt-table thead th{
    background: none #81bcc5;
}
.vgt-table thead th span{
    color: white;
}
.vgt-table thead th span:hover{
    color: #dbe3e4;
}
.vgt-global-search{
    background: none #81bcc5;
    border-radius: 6px;
    padding: 10px;
    border: 0;
    margin-bottom: 7px;
}
.vgt-table tbody tr:hover th,
.vgt-table tbody tr:hover td{
    background-color: #dae8ea;
}
.vgt-wrap__footer{
    background: none #81bcc5;
}
.vgt-wrap__footer .footer__row-count__label{
    color: white;
}
.vgt-wrap__footer .footer__navigation__page-btn .chevron span,
.vgt-wrap__footer .footer__navigation__page-btn span,
.vgt-wrap__footer .footer__navigation__info,
.vgt-wrap__footer .footer__row-count__select{
    color: white;
}
.vgt-wrap__footer{
    padding: 0.5%;
}
.footer__row-count,
.breadcrumb{
    display: none;
}
.spinner_backend{
    top: 50%;
    width: 800px;
    height: 100px;
    margin:0 auto;
    text-align: center;
    color:#81bcc5;
    font-size: 3em;
    text-shadow: 1px 1px 1px #ccc;
}
table.vgt-table {
    font-size: 13px;
}
#particles-js{
    position: fixed;
    width: 90%;
    height: 530px;
}
#container-particles-js{
    position: absolute;
}

/* Info Seleccionados */
#admin_container .fila_seleccionada{
    background-color: #daedef;
    color: #4939d2;
}
#admin_container .fila_seleccionada button{
    background-color: #17a2b8;
    border-color: #17a2b8;
}

/* Botones Default */
input.form-submit:focus{
    outline: 0px!important;
}
#admin_container button,
form input[type=submit],
.boton_fgo{
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    padding: .375rem .75rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    opacity: 1;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.boton_positivo,
form input[type=submit]{
    background-color: #17a2b8!important;
    border-color: #17a2b8!important;
}
input[id*="remove-button"],
.boton_negativo{
    background-color: #de2929!important;
    border-color: #de2929!important;
}
input[id*="remove-button"]:hover,
.boton_negativo:hover{
    border: 1px solid transparent!important;
    border-radius: .25rem!important;
}
#admin_container button:hover,
.boton_fgo:hover,
form input[type=submit]:hover,
form input[type=submit] button:hover{
    opacity: 0.7!important;
}

/* BACKEND DETALLE DEFAULT */
#im-area{
    text-align: center;
    vertical-align: middle;
}
.form-item {
    width: 50%;
    float: left;
}

/* B-Card (Bootstrap Cards)*/
.card{
    margin-right: 10px;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.card:hover {
    opacity: 0.9;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.card-title{
    font-size: 20px;
    font-weight: bold;
}
.card-text{
    font-size: 15px;
}


/*****************************************************
* MODALS
*****************************************************/
div.vuedal{
    top: 20%;
    width: 30%;
    text-align: center;
}
div.vuedal p{
    margin: 0;
}
.sweet-modal .sweet-content .sweet-modal-icon {
    margin-bottom: 36px;
}
/*
Good Modal
*/
.sweet-modal-icon.sweet-modal-success {
    border-color: #4CAF50;
}
.sweet-modal-icon {
    position: relative;
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    box-sizing: content-box;
}
icon.sweet-modal-success:before,
.sweet-modal-icon.sweet-modal-success:after {
    content: '';
    position: absolute;
    border-radius: 40px;
    width: 60px;
    height: 120px;
    background: white;
    transform: rotate(45deg);
}
.animateSuccessTip {
    animation: animateSuccessTip 0.75s;
}
.sweet-modal-icon.sweet-modal-success .sweet-modal-line {
    display: block;
    position: absolute;
    z-index: 2;
    height: 5px;
    background-color: #4CAF50;
    border-radius: 2px;
}
.sweet-modal-icon.sweet-modal-success .sweet-modal-line.sweet-modal-tip {
    width: 25px;
    left: 10px;
    top: 46px;
    transform: rotate(45deg);
}
.sweet-modal-icon.sweet-modal-success .sweet-modal-line.sweet-modal-long {
    width: 47px;
    right: 2px;
    top: 38px;
    transform: rotate(-45deg);
}
.sweet-modal-icon.sweet-modal-success .sweet-modal-line {
    display: block;
    position: absolute;
    z-index: 2;
    height: 5px;
    background-color: #4CAF50;
    border-radius: 2px;
}
.animateSuccessLong {
    animation: animateSuccessLong 0.75s;
}
.sweet-modal-icon.sweet-modal-success .sweet-modal-placeholder {
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
    width: 76px;
    height: 76px;
    border: 1px solid rgba(76, 175, 80, 0.2);
    border-radius: 50%;
}

.sweet-modal-icon.sweet-modal-success.animate:after {
    animation: rotatePlaceholder 4.25s ease-in;
}
.sweet-modal-icon.sweet-modal-success:after {
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    transform: rotate(-45deg);
    -webkit-transform-origin: 0px 60px;
    transform-origin: 0px 60px;
}
.sweet-modal-icon.sweet-modal-success:before,
.sweet-modal-icon.sweet-modal-success:after {
    content: '';
    position: absolute;
    border-radius: 40px;
    width: 0px;
    height: 120px;
    background: white;
    transform: rotate(45deg);
}
/*
Bad Modal
*/
.sweet-modal-icon.sweet-modal-warning {
    border-color: #ff0000;
}
.pulseWarning {
    animation: pulseWarning 0.75s infinite alternate;
}
.sweet-modal-icon.sweet-modal-warning .sweet-modal-body {
    position: absolute;
    width: 5px;
    height: 47px;
    left: 50%;
    top: 4px;
    margin-left: -2px;
    border-radius: 2px;
    background-color: #ff0000;
}
.pulseWarningIns {
    animation: pulseWarningIns 0.75s infinite alternate;
}
.sweet-modal-icon.sweet-modal-warning .sweet-modal-dot {
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 7px;
    height: 7px;
    margin-left: -3px;
    border-radius: 50%;
    background-color: #ff0000;
}
.pulseWarningIns {
    animation: pulseWarningIns 0.75s infinite alternate;
}

.deeplinking {
    width: 50%;
    padding: 5px;
}
.copyLink {
    position: relative;
    padding: 15px 0;
}