/* Backend Comunicaciones */

#edit-grupo-imagen-beneficio{
    width: 50%;
    margin: 0px auto;
}

#borrar_imagen,
#edit-idimagen-remove-button,
#edit-submit{
    margin-top: 10px;
}

#edit-primer-paso,
#edit-primer-paso--2{
    border: 0px;
    box-shadow: none;
}
#edit-grupo-imagen-beneficio,
#edit-tercer-paso--2,
#edit-tercer-paso{
    box-shadow: 0px -3px 0 #17a2b8;
}

/* Nuevo comunicaciones (sin logo) con boton guardar */
div.form-item-custom-content-block-image{
    width: 100%;
}
fieldset#edit-grupo-imagen-beneficio{
    width: 100%;
    text-align: center;
}
fieldset#edit-grupo-imagen-beneficio input.boton_positivo,
fieldset#edit-grupo-imagen-beneficio input#edit-idimagen-upload-button{
    float: none;
}
