<div>
    <div class="row">
        <h1 class="text-center main-title">Ingres&aacute; tu documento para conocer la oferta exclusiva que tenemos para vos:</h1>
    </div>
    <form name="form.datosConsulta" class="clear-content form-width">
        <div class="clear-content dni-container">
            <div class="form-group left-component">
                <label class="control-label">Tipo</label>
                <select id="idTipoDocumento" name="tipoDocumento" class="btn-select form-control" ng-model="data.consultaOferta.tipoDoc"
                    ng-options="td.descripcion for td in tiposDocumentos track by td.value">
                </select>
            </div>
            <div class="form-group right-component">
                <label class="control-label">Número</label>
                <input id="idNumeroDocumento" type="text" name="numeroDocumento" ng-model="data.datosConsulta.nroDoc" maxlength="8" class="form-control"
                    placeholder="Ej: 32996410" required x-only-num set-error></input>
            </div>
        </div>
        <div class="text-center bt-step-one conocer-oferta">
            <button elemento="consultar" submit class="btn btn-enviar" form="form.datosConsulta" id="consultaOfertaID" callback="revisarDocumento">Conocer Oferta</button>
        </div>
    </form>
    <!-- telefono -->
    <div class="row">
        <div class="condiciones-container">
            <div>
                <p class="mesajeTelefono bold">¿Necesit&aacute;s ayuda?</p>
                <p class="mesajeTelefono">Pod&eacute;s realizar tus consultas telef&oacute;nicamente.</p>
            </div>
            <div>
                <a href="" class="hidden-xs hidden-sm" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
                <a ng-href="tel:+{{msg().telefono}}" class="hidden-md hidden-lg" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
            </div>
        </div>
    </div>
</div>