<div class="row">
	<div class="col-xs-12">
		<h1 class="titulo">Conversiones</h1>
	</div>
</div>
<div class="container-busqueda">
	<div class="component dni">
		<label for="tipoDoc" class="control-label">Documento</label>
		<div class="select">
			<select id="tipoDoc" class="btn-select" ng-model="tipoDoc">
				<option value="00">DNI</option>
				<option value="31">DNE</option>
				<option value="25">LE</option>
				<option value="26">LC</option>
				<option value="27">DNI Masculino</option>
				<option value="28">DNI Femenino</option>
			</select>
		</div>
		<div class="input-dni">
			<input type="text" id="nroDoc" class="form-control"
				placeholder="n&uacute;mero de documento" ng-model="nroDoc"
				ng-class="{errorEnInput: nroDocError}">
		</div>
	</div>
	<div class="component search-button">
		<div class="fecha">
			<label for="fechaConversion" class="control-label">Fecha</label>
			<input type="text" id="fechaConversion" class="form-control" placeholder="Ej. 18/02/1984" ng-model="fechaConversion">
		</div>
		<div class="search">
			<button class="btn" ng-click="buscarConParametros()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
		</div>
	</div>
	<div class="component volver-margin">
		<a class="volver clickeable" ng-click="reset()">Resetear</a>
	</div>
</div>
<div class="header-container">
	<div class="component subtitulo">
		<h2>Se encontraron: {{resultados.length}} resultados</h2>
	</div>
	<div class="component imagen">
		<img class="btn-download-excel" ng-click="downloadExcel()"/>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<table class="table">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Nro Cliente</th>
					<th>Tipo Documento</th>
					<th>Nro Documento</th>
					<th>Opci&oacute;n Elegida</th>
					<th>Vendedor</th>
					<th>Email</th>
					<th>Tel&eacute;fono</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="resultado in resultados">
					<td>{{resultado.fechaDeConversion}}</td>
					<td>{{resultado.numeroDeCliente}}</td>
					<td>{{resultado.descTipoDoc}}</td>
					<td>{{resultado.numeroDoc}}</td>
					<td>{{resultado.opcionElegida.descripcionBreve}}</td>
					<td>{{resultado.vendedor}}</td>
					<td>{{resultado.emailElegido}}</td>
					<td>{{resultado.celularElegido}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
