<div class="row plusPadLeft step4 form-width">
	<div>
		<h2 class="text-center main-title">Ayudanos a contactarte de la mejor manera.</h2>
		<form name="form.datosEnvio">
			<div class="contacto-container">
				<div class="left-component form-group">
					<label class="control-label label-envio">Email</label>
					<input id="idEmail" type="text" name="email" ng-model="data.datosEnvio.email" class="form-control" placeholder="Ej: mariagonzalez@gmail.com"
					 required validate-email set-error></input>
				</div>
				<div class="right-component form-group">
					<label class="control-label label-envio">Celular</label>
					<input id="idCelular" type="text" name="celular" ng-model="data.datosEnvio.celular" class="form-control" placeholder="Ej: 1169167656"
					 maxlength="20" required set-error x-only-num></input>
				</div>
			</div>
			<h2 class="text-center texto-opciones-envio">Por &uacute;ltimo</h2>
			<h2 class="text-center texto-opciones-envio">Eleg&iacute; entre las siguientes opciones para formalizar la oferta</h2>
			<div class="col-xs-12 p-0" ng-if="callcenter">
				<p class="font-14 p-info-envio">Seleccion&aacute; “Quiero que me llamen” para dejarnos t&uacute; tel&eacute;fono y podamos contactarte, &oacute; “Quiero ir
					a una sucursal” para completar la solicitud personalmente.</p>
			</div>
			<div class="center-wrapper form-group col-md-12 clear-both radio-envio" ng-class="{'no-visible-margin': data.radio.selected != '1'}">
				<div radio-button radio-options="data.radio"></div>
			</div>
			<div class="form-group col-md-12 clear-both sucursal-container" ng-class="{'no-visible': data.radio.selected != '1'}">
				<select id="idSucursal" name="sucursal" class="btn-select" ng-if="data.radio.selected == '1'" combo-required sucursal="{{data.radio.selected}}" ng-model="data.datosEnvio.sucursal" set-error>
					<option  value="" disabled selected="selected" >Seleccione la sucursal</option>
					<option ng-repeat="sucursal in sucursales" value="{{sucursal}}">
						{{sucursal.numeroSucursal}} - {{sucursal.descripcionSucursal}} -
						{{sucursal.direccionSucursal}}</option>
				</select>
			</div>
	</div>
	</form>
	<div class="row">
		<div class="col-xs-12 text-center">
			<button submit id="consultaContableID" form="form.datosEnvio" class="btn btn-enviar confirm" callback="confirmar">Confirmar</button>
		</div>
	</div>
	<!-- telefono -->
	<div class="row">
		<div class="condiciones-container">
			<div>
				<p class="mesajeTelefono bold">¿Necesit&aacute;s ayuda?</p>
				<p class="mesajeTelefono">Pod&eacute;s realizar tus consultas telef&oacute;nicamente.</p>
			</div>
			<div>
				<a href="" class="hidden-xs hidden-sm" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
				<a ng-href="tel:+{{msg().telefono}}" class="hidden-md hidden-lg" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
			</div>
		</div>
	</div>