<div class="error-tecnico-container">
    <a class="masInfo-d hidden-sm masInfoMargen info-oro" title=""></a>
    <div class="msj-oro">
        <p class="msj-error-oro-b">En estos momentos no podemos procesar su solicitud.</p>
        <p class="msj-error-oro"> Por favor int&eacute;ntelo nuevamente mas tarde o comun&iacute;quese telef&oacute;nicamente con nosotros.Muchas gracias. </p>
    </div>
</div>
<!-- telefono -->
<div class="row">
    <div class="condiciones-container">
        <div>
            <p class="mesajeTelefono bold">¿Necesit&aacute;s ayuda?</p>
            <p class="mesajeTelefono">Pod&eacute;s realizar tus consultas telef&oacute;nicamente.</p>
        </div>
        <div>
            <a href="" class="hidden-xs hidden-sm" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
            <a ng-href="tel:+{{msg().telefono}}" class="hidden-md hidden-lg" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
        </div>
    </div>
</div>