<div class="detalle-gracias desktop">
    <div ng-show="codigoInterno == esPremiumWorld">
        <div ng-include="'modules/ofertaExclusiva/templates/asideThankyouPagePremiumWorld.html'"></div>
    </div>
    <div ng-show="codigoInterno == esPremium">
        <div ng-include="'modules/ofertaExclusiva/templates/asideThankyouPagePremium.html'"></div>
    </div>
    <div ng-show="codigoInterno == esLibreton">
        <div ng-include="'modules/ofertaExclusiva/templates/asideThankyouPageLibreton.html'"></div>
    </div>
</div>
<div class="contactar-container desktop">
    <div class="component" ng-show="opcion==teContactamos">
        <p>Te contactaremos al <span class="bold" ng-bind-html="telefono"/> a la brevedad para terminar el proceso.</p>
    </div>
    <div class="component" ng-show="opcion==teEsperamos">
        <p>Te esperamos en la <span class="bold" ng-bind-html="sucursal"/> ubicada en <span ng-bind-html="direccionSucursal"/> para terminar con el proceso.</p>
    </div>
</div>
<div class="contactar-container mobile">
    <div class="component" ng-show="opcion==teContactamos">
        <p>Te contactaremos al <span class="bold" ng-bind-html="telefono"/> a la brevedad para terminar el proceso.</p>
    </div>
    <div class="component" ng-show="opcion==teEsperamos">
        <p>Te esperamos en la <span class="bold" ng-bind-html="sucursal"/> ubicada en <span ng-bind-html="direccionSucursal"/> para terminar con el proceso.</p>
    </div>
</div>
<div class="detalle-gracias mobile">
    <div ng-show="codigoInterno == esPremiumWorld">
        <div ng-include="'modules/ofertaExclusiva/templates/asideThankyouPagePremiumWorld.html'"></div>
    </div>
    <div ng-show="codigoInterno == esPremium">
        <div ng-include="'modules/ofertaExclusiva/templates/asideThankyouPagePremium.html'"></div>
    </div>
    <div ng-show="codigoInterno == esLibreton">
        <div ng-include="'modules/ofertaExclusiva/templates/asideThankyouPageLibreton.html'"></div>
    </div>
</div>
<!-- telefono -->
<div class="row">
    <div class="condiciones-container">
        <div>
            <p class="mesajeTelefono bold">¿Necesit&aacute;s ayuda?</p>
            <p class="mesajeTelefono">Pod&eacute;s realizar tus consultas telef&oacute;nicamente.</p>
        </div>
        <div>
            <a href="" class="hidden-xs hidden-sm" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
            <a ng-href="tel:+{{msg().telefono}}" class="hidden-md hidden-lg" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
        </div>
    </div>
</div>