<div>
    <div class="row">
        <p class="text-center main-title tituloPrincipal" ng-bind-html="titulo"></p>
    </div>
    <div class="clear-content detalleOfertaContainer">
        <div class="form-group component clear-fix">
            <div class="left">
                <span class="pBonificado">2 a&ntilde;os todo bonificado</span><span class="layer">(1)</span><br>
                <span class="resaltar">$</span><span class="resaltar" ng-bind-html="valorTarjetaVisa"/> <span class="letra-regular" ng-bind-html="tarjetaVisa"/><br>
                <span class="resaltar">$</span><span class="resaltar" ng-bind-html="valorTarjetaMaster"/> <span class="letra-regular" ng-bind-html="tarjetaMaster"/><br>
            </div>
            <div class="right">
                <div ng-show="codigoInterno == esPremiumWorld">
                    <div id="imgBonificadoPW"></div>
                </div>
                <div ng-show="codigoInterno == esPremium">
                    <div id="imgBonificadoP"></div>
                </div>
                <div ng-show="codigoInterno == esLibreton">
                    <div id="imgBonificadoL"></div>
                </div>
            </div>
        </div>
        <div class="form-group component-mobile clear-fix">
            <div class="left-mobile">
                <div ng-show="codigoInterno == esPremiumWorld">
                    <div id="imgBonificadoPW"></div>
                </div>
                <div ng-show="codigoInterno == esPremium">
                    <div id="imgBonificadoP"></div>
                </div>
                <div ng-show="codigoInterno == esLibreton">
                    <div id="imgBonificadoL"></div>
                </div>
            </div>
            <div class="right-mobile">
                <span class="pBonificado">2 a&ntilde;os todo bonificado</span><span class="layer">(1)</span><br>
                <span class="resaltar">$</span><span class="resaltar" ng-bind-html="valorTarjetaVisa"/> <span class="letra-regular" ng-bind-html="tarjetaVisa"/><br>
                <span class="resaltar">$</span><span class="resaltar" ng-bind-html="valorTarjetaMaster"/> <span class="letra-regular" ng-bind-html="tarjetaMaster"/><br>
            </div>
        </div>
        <hr>
        <div class="form-group component clear-fix">
            <div class="left">
                <span class="resaltar" ng-bind-html="cantidadKm"/> <span class="resaltar">KMS. LATAM</span> <span class="letra-regular">de bienvenida</span><span class="layer2">(2)</span><br>
                <span class="letra-regular">para viajar a donde elija.</span><br>
                <span class="letra-chica">Pasajes Ida y Vuelta desde:</span>
                <div ng-show="codigoInterno == esPremiumWorld">
                    <div ng-include="'modules/ofertaExclusiva/templates/tablaPremiumWorld.html'"></div>
                </div>
                <div ng-show="codigoInterno == esPremium">
                    <div ng-include="'modules/ofertaExclusiva/templates/tablaPremium.html'"></div>
                </div>
                <div ng-show="codigoInterno == esLibreton">
                    <div ng-include="'modules/ofertaExclusiva/templates/tablaLibreton.html'"></div>
                </div>
            </div>
            <div class="right">
                <div ng-show="codigoInterno == esPremiumWorld">
                    <div id="imgKmPW"></div>
                </div>
                <div ng-show="codigoInterno == esPremium">
                    <div id="imgKmP"></div>
                </div>
                <div ng-show="codigoInterno == esLibreton">
                    <div id="imgKmL"></div>
                </div>
            </div>
        </div>
        <div class="form-group component-mobile clear-fix">
            <div class="left-mobile">
                <div ng-show="codigoInterno == esPremiumWorld">
                    <div id="imgKmPW"></div>
                </div>
                <div ng-show="codigoInterno == esPremium">
                    <div id="imgKmP"></div>
                </div>
                <div ng-show="codigoInterno == esLibreton">
                    <div id="imgKmL"></div>
                </div>
            </div>
            <div class="right-mobile">
                <span class="resaltar" ng-bind-html="cantidadKm"/> <span class="resaltar">KMS. LATAM</span> <span class="letra-regular">de bienvenida</span><span class="layer2">(2)</span><br>
                <span class="letra-regular">para viajar a donde elija.</span><br>
                <span class="letra-chica">Pasajes Ida y Vuelta desde:</span>
                <div ng-show="codigoInterno == esPremiumWorld">
                    <div ng-include="'modules/ofertaExclusiva/templates/tablaPremiumWorld.html'"></div>
                </div>
                <div ng-show="codigoInterno == esPremium">
                    <div ng-include="'modules/ofertaExclusiva/templates/tablaPremium.html'"></div>
                </div>
                <div ng-show="codigoInterno == esLibreton">
                    <div ng-include="'modules/ofertaExclusiva/templates/tablaLibreton.html'"></div>
                </div>
            </div>
        </div>
        <hr ng-show="prestamo">
        <div class="form-group component clear-fix" ng-show="prestamo">
            <div class="left">
                <p class="letra-regular">Pr&eacute;stamo Personal Preaprobado de <span class="resaltar" ng-bind-html="valorPrestamo"/> hasta 60 cuotas con <span class="resaltar">tasa fija exclusiva</span></p> 
                <p><span class="resaltar tna" ng-bind-html="valorTna"/><span class="resaltar tna"> (TNA)</span><span class="layer">(5)</span></p>
            </div>
            <div class="right">
                <div ng-show="codigoInterno == esPremiumWorld">
                    <div id="imgTnaPW"></div>
                </div>
                <div ng-show="codigoInterno == esPremium">
                    <div id="imgTnaP"></div>
                </div>
                <div ng-show="codigoInterno == esLibreton">
                    <div id="imgTnaL"></div>
                </div>
            </div>
        </div>
        <div class="form-group component-mobile clear-fix" ng-show="prestamo">
            <div class="left-mobile">
                <div ng-show="codigoInterno == esPremiumWorld">
                    <div id="imgTnaPW"></div>
                </div>
                <div ng-show="codigoInterno == esPremium">
                    <div id="imgTnaP"></div>
                </div>
                <div ng-show="codigoInterno == esLibreton">
                    <div id="imgTnaL"></div>
                </div>
            </div>
            <div class="right-mobile">
                <p class="letra-regular">Pr&eacute;stamo Personal Preaprobado de <span class="resaltar" ng-bind-html="valorPrestamo"/> hasta 60 cuotas con <span class="resaltar">tasa fija exclusiva</span></p> 
                <p><span class="resaltar tna" ng-bind-html="valorTna"/><span class="resaltar tna"> (TNA)</span><span class="layer">(5)</span></p>
            </div>
        </div>
    </div>
    <div class="text-center bt-step-one me-interesa">
        <button elemento="Me interesa" submit class="btn btn-enviar" id="meInteresaID" callback="meInteresa">Me interesa</button>
    </div>
</div>
<!-- telefono -->
<div class="row">
    <div class="condiciones-container">
        <div>
            <p class="mesajeTelefono bold">¿Necesit&aacute;s ayuda?</p>
            <p class="mesajeTelefono">Pod&eacute;s realizar tus consultas telef&oacute;nicamente.</p>
        </div>
        <div>
            <a href="" class="hidden-xs hidden-sm" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
            <a ng-href="tel:+{{msg().telefono}}" class="hidden-md hidden-lg" style="cursor: default;"><img src="img/shared/ico_tel.png"><span class="telefono">{{msg().telefono}}</span></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="has-icon">
        <div class="condiciones-container">
            <div class="left-component">
                <a class="masInfo hidden-xs hidden-sm masInfoMargen" x-tool-tip data-placement="left" data-toggle="tooltip"></a>
                <span class="legales">CONDICIONES</span>
            </div>
            <div class="right-component">
                <img src="./modules/ofertaExclusiva/img/latamPass.png">
            </div>
            <div class="block-info">
                <p ng-bind-html="condiciones"></p>
            </div>
        </div>
    </div>
</div>