/* LISTA */
html body{
    overflow-y: visible!important;
}
form{
    position: relative;
    padding: 11px!important;
    background-color: white!important;
}
.container_form{
    display: block;
    border: 3px #17a2b8 solid;
    border-radius: 3px!important;
    -webkit-border-radius: 3px!important;
    -o-border-radius: 3px!important;
    margin-bottom: 12px;
}

/* Hidding the radiobuttons & checkboxes */
input[type=checkbox] {
    display: none!important;
}

input[type=checkbox] + label{
    font-weight: 500;
    font-size: 1.5em!important;
}

input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f096";
    letter-spacing: 14px;
    width: 38px;
    transform: scale(2);
    cursor: pointer;
} /* space between checkbox and label */

input[type=checkbox]:checked + label:before {
    content: "\f046";
    letter-spacing: 14px;
    width: 38px;
    transform: scale(2);
    color: DarkTurquoise;
    cursor: pointer;
} /* allow space for check mark */