@charset "UTF-8";
* {
  box-sizing: border-box;
}

.beneficio .info .como-uso .canales > div {
 height: 100%;
}

.hover-effect, .beneficio .header .titulo-wrapper .social li, .beneficio .header .detalle .imagen .opciones .opcion .boton, .beneficio .info .como-uso .canales .activo {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

*:focus {
    outline: none;
}




.with-tooltip {
  position: relative;
  display: block;
  z-index: 10;
}
.with-tooltip:after {
  content: "Hacé tu pedido por teléfono comunicándote al " attr(data-info);
  position: absolute;
  z-index: 12;
  width: 80%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #000;
  padding: 4px;
  opacity: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-size: 12px;
  text-align: center;
  line-height: 1.5;
  color: #fff;
}
.with-tooltip:before {
  content: '';
  width: 0;
  height: 0;
  z-index: 11;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: transparent;
  border-top: 7px solid #000;
  border-right: 7px solid #000;
  border-bottom: 7px solid transparent;
  border-left: 7px solid transparent;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  opacity: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  color: #fff;
}
.with-tooltip:hover:after {
  opacity: 1;
  bottom: 30px;
}
.with-tooltip:hover:before {
  opacity: 1;
  bottom: 25px;
}

.beneficio {
  width: 90%;
  max-width: 940px;
  margin: 15px auto;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(51, 51, 51, 0.6);
}
.beneficio img {
  width: 100%;
  height: auto;
}
.beneficio ul {
  list-style: none;
}
.beneficio a, .beneficio a:visited, .beneficio a:active, .beneficio a:focus {
  text-decoration: none;
  color: #fff !important;
}
.beneficio li {
  float: none;
}
.beneficio .titulo, .beneficio .header .titulo-wrapper {
  background-color: #0079C1;
  color: #fff;
  padding: 8px;
  font-size: 2.2rem;
}
.beneficio .header .titulo-wrapper {
  width: 100%;
  display: table;
}
.beneficio .header .titulo-wrapper > * {
  display: table-cell;
  vertical-align: middle;
}
.beneficio .header .titulo-wrapper .titulo, .beneficio .header .titulo-wrapper .titulo-wrapper {
  font-size: 3rem;
  line-height: 1.1;
}
.beneficio .header .titulo-wrapper .social {
  text-align: right;
}
.beneficio .header .titulo-wrapper .social li {
  display: inline-block;
  background: #49BBEF;
  width: 32px;
  height: 32px;
  padding: 4px;
  margin: 4px auto;
}
.beneficio .header .detalle .imagen {
  position: relative;
}
.beneficio .header .detalle .imagen .opciones {
  position: absolute;
  bottom: 30px;
  background: rgba(255, 255, 255, 0.95);
  width: 99%;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 15px;
  text-align: center;
  box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.6);
  min-height: 100px;
}
@media screen and (max-width: 540px) {
  .beneficio .header .detalle .imagen .opciones {
    position: initial;
    box-shadow: none;
  }
}
.beneficio .header .detalle .imagen .opciones .hide {
  display: none;
}


.venta-telefonica  {
    background: url(/fgo/sites/all/themes/boilerplate/images/telefonica_no.png) no-repeat center;

    background-size: contain;
}
.venta-telefonica.activo {
    background: url(/fgo/sites/all/themes/boilerplate/images/telefonica_si.png) no-repeat center;
    background-size: contain;

}

.venta-online  {
    background: url(/fgo/sites/all/themes/boilerplate/images/online_no.png) no-repeat center;
    background-size: contain;
}
.venta-online.activo {
    background: url(/fgo/sites/all/themes/boilerplate/images/online_si.png) no-repeat center;
    background-size: contain;

}

.locales  {
    background: url(/fgo/sites/all/themes/boilerplate/images/locales_no.png) no-repeat center;

    background-size: contain;
}
.locales.activo  {
    background: url(/fgo/sites/all/themes/boilerplate/images/locales_si.png) no-repeat center;
    background-size: contain;

}


.beneficio .header .detalle .imagen .opciones .opcion {
  display: inline-block;
  max-width: 30%;
  vertical-align: top;
  height: 100%;
  margin: 0 4px;
  text-align: center;
  line-height: 1;
}
@media screen and (max-width: 540px) {
  .beneficio .header .detalle .imagen .opciones .opcion {
    max-width: 90%;
    margin-top: 15px;
  }
}
.beneficio .header .detalle .imagen .opciones .opcion > * {
  margin: 15px auto;
  color: inherit;
}
.beneficio .header .detalle .imagen .opciones .opcion.cupon {
  color: #c91e61;
}
.beneficio .header .detalle .imagen .opciones .opcion.cupon .boton {
  background-color: #c91e61;
}
.beneficio .header .detalle .imagen .opciones .opcion.tarjeta {
  color: #52bdec;
}
.beneficio .header .detalle .imagen .opciones .opcion.tarjeta .boton {
  background-color: #52bdec;
}
.beneficio .header .detalle .imagen .opciones .opcion.go {
  color: #f7941d;
}
.beneficio .header .detalle .imagen .opciones .opcion.go .boton {
  background-color: #f7941d;
}
.beneficio .header .detalle .imagen .opciones .opcion .porcentaje {
  font-size: 6rem;
}
.beneficio .header .detalle .imagen .opciones .opcion .cuotas {
  font-size: 3rem;
  font-weight: bold;
}
.beneficio .header .detalle .imagen .opciones .opcion .leyenda {
  font-size: 1.5rem;
  width: 80%;
  margin: auto;
}
.beneficio .header .detalle .imagen .opciones .opcion .boton {
  width: 90%;
  padding: 8px 4px;
  color: #fff;
  font-size: 2.2rem;
}
.beneficio .header .detalle .imagen .opciones .opcion .boton a {
  display: block;
}
.beneficio .info .contenido {
  padding: 15px;
  text-align: justify;
}
.beneficio .info .detalle .contenido {
  display: table;
}
.beneficio .info .detalle .contenido > * {
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 480px) {
  .beneficio .info .detalle .contenido > * {
    display: table-row;
  }
}
.beneficio .info .detalle .contenido .logo-comercio {
  width: 30%;
  text-align: center;
}
.beneficio .info .detalle .contenido .logo-comercio h3 {
  background-color: transparent !important;
}
.beneficio .info .detalle .contenido .copy {
  padding-left: 15px;
  font-size: 2rem;
  line-height: 1.2;
}
.beneficio .info .como-uso .canales {
  width: 100%;
  margin: auto;
  text-align: center;
  height: 120px;  
}
.beneficio .info .como-uso .canales > *  {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  text-align: center;
  color: grey;
  cursor: not-allowed;
  margin: 1%;
  height: 100%;
}

.text-botton {
color:black;
text-align: center;
margin: 0;
padding: 0;
}


.disabled  {

  cursor: not-allowed;
}
.beneficio .info .como-uso .canales > button {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  text-align: center;
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
  margin: 1%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .beneficio .info .como-uso .canales > * {
    width: 30%;
    height: 64ṕx;
  }
}
.beneficio .info .como-uso .canales img {
  max-width: 106px;
  margin-top: 15px;
}
.beneficio .info .como-uso .canales .activo {
  cursor: pointer;
}
.beneficio .info .como-uso .canales .activo p {
  color: black;
}
.beneficio .info .terminos-y-condiciones .contenido {
  font-weight: bold;
}
.beneficio .info .terminos-y-condiciones .contenido .copy {
  font-size: .8em;
  line-height: 1.3;
}

.copy {
  margin-top: 50px;
  }
.terminos-y-condiciones .contenido .copy {
  margin-top: 10px;
  }
.beneficio .info .terminos-y-condiciones .contenido .cftna {
  text-align: center;
  line-height: 1.3;
  color: #52bdec;
}
.beneficio .info .terminos-y-condiciones .contenido .cftna .copy {
  font-size: 8rem;
}
@media screen and (max-width: 768px) {
  .beneficio .info .terminos-y-condiciones .contenido .cftna .copy {
    font-size: 6rem;
  }
}
@media screen and (max-width: 480px) {
  .beneficio .info .terminos-y-condiciones .contenido .cftna .copy {
    font-size: 5rem;
  }
}
@media screen and (max-width: 320px) {
  .beneficio .info .terminos-y-condiciones .contenido .cftna .copy {
    font-size: 4rem;
  }
}
.beneficio .info .terminos-y-condiciones .contenido .cftna .copy2 {
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .beneficio .info .terminos-y-condiciones .contenido .cftna .copy2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .beneficio .info .terminos-y-condiciones .contenido .cftna .copy2 {
    font-size: 1rem;
  }
}

