/* DRAG AND DROP */

body {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

.col-md-3 {
    float: left;
    margin-bottom: 20px;
}

@media (min-width: 768px){
    .col-md-3 {
        float: left;
    }
}
/* BACKEND DETALLE*/
input[type=submit],
button#boton_guardar_slide,
button#borrar_slide_aceptar,
button#borrar_slide_cancelar{
    margin-top: 10px;
}
input[type=submit]:hover,
button#boton_guardar_slide:hover,
button#borrar_slide_aceptar:hover,
button#borrar_slide_cancelar:hover{
    opacity: 0.8;
}

/* LISTA SLIDES */
input#edit-imagenapp-remove-button,
input#edit-imagenweb-remove-button,
button#borrar_slide_aceptar{
    background-color: #de2929!important;
    border-color: #de2929!important;
}
form#fgo-backend-home-editar-slide-form div.image-preview img,
form#fgo-backend-home-editar-slide-form div.image-preview img{
    object-fit: cover;
}
img.lista_imagen{
    object-fit: contain;
}

/* ORDERNAR LISTA SLIDES */
div.bootstrap-datetimepicker-widget table th {
    background: transparent!important;
}

div.bootstrap-datetimepicker-widget ul,
div.bootstrap-datetimepicker-widget .block ul,
div.bootstrap-datetimepicker-widget .item-list ul {
    list-style-type: none!important;
}

div.container-ordenar-lista{
    text-align: center;
}

div.container-ordenar-lista div.row{
    text-align: center;
    margin-bottom: 50px;
}

div.container-ordenar-lista li.sortable-ghost{
    opacity: 0.5;
    background-color: #81bcc5;
    color: white;
}

div.container-ordenar-lista div.container_header_mini{
    padding: 6px;
    text-align: center;
    background: #6da1a9;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
    background: -moz-linear-gradient(left, rgba(109, 161, 169, 0) -190%, rgba(109, 161, 169, 1) 49%, rgba(109, 161, 169, 0) 190%);
    background: -webkit-gradient(linear, left top, right top, color-stop(-190%, rgba(109, 161, 169, 0)), color-stop(49%, rgba(109, 161, 169, 1)), color-stop(190%, rgba(109, 161, 169, 0)));
    background: -webkit-linear-gradient(left, rgba(109, 161, 169, 0) -190%, rgba(109, 161, 169, 1) 49%, rgba(109, 161, 169, 0) 190%);
    background: -o-linear-gradient(left, rgba(109, 161, 169, 0) -190%, rgba(109, 161, 169, 1) 49%, rgba(109, 161, 169, 0) 190%);
    background: -ms-linear-gradient(left, rgba(109, 161, 169, 0) -190%, rgba(109, 161, 169, 1) 49%, rgba(109, 161, 169, 0) 190%);
    background: linear-gradient(to right, rgba(109, 161, 169, 0) -190%, rgba(109, 161, 169, 1) 49%, rgba(109, 161, 169, 0) 190%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
    background: linear-gradient(to right, rgba(109, 161, 169, 0) -190%, rgba(109, 161, 169, 1) 49%, rgba(109, 161, 169, 0) 190%);
}

div.container-ordenar-lista h2{
    font-weight: 500;
    margin: 2px;
}

div.container-ordenar-lista .form-control:focus {
    border-color: #81bcc5;;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #81bcc5;
}

div.container-ordenar-lista li.list-group-item {
    overflow: hidden;
    cursor: move;
    transition: all 0.3s ease;
    opacity: 1;
}
div.container-ordenar-lista li.list-group-item:hover {
    overflow: hidden;
    cursor: move;
    transition: all 0.3s ease;
    opacity: 0.8;
}
div.container-ordenar-lista .item_lista_slides_imagen_tag{
    position: absolute;
    text-shadow: none;
    color: black;
    padding: 2px 4px;
    border: #6da1a9 1px solid;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px!important;
    -webkit-border-radius: 4px!important;
    -o-border-radius: 4px!important;
    box-shadow: none;
}
div.container-ordenar-lista .item_lista_slides_imagen_tag.app{
    top: 12px;
    left: 86px;
}
div.container-ordenar-lista .item_lista_slides_imagen_tag.web{
    right: 19px;
    top: 10px;
}

div.container-ordenar-lista div.item_lista_slides_imagen,
div.container-ordenar-lista div.item_lista_slides_fechas{
    width: 33%;
    float: left;
}

div.container-ordenar-lista div.item_lista_slides_fechas,
div.container-ordenar-lista div.item_lista_slides_imagen.web{
    padding-top: 25px;
}

div.container-ordenar-lista div.item_lista_slides_imagen img{
    max-width: 100%;
    height: auto;
    border-radius: 4px!important;
    -webkit-border-radius: 4px!important;
    -o-border-radius: 4px!important;
}

div.accion_editar_slide{
    width: 70%;
    float: left
}

div.accion_borrar_slide{
    width: 29%;
    float: left;
    padding-top: 3px;
    cursor: pointer;
}

div.accion_borrar_slide i{
    color: red;
    opacity: 1;
}

div.accion_borrar_slide i:hover {
    opacity: 0.5;
}

button#boton_agregar_slide{
    color: #17a2b8!important;
    background-color: white!important;
    border: 1px solid transparent!important;
}

form#fgo-backend-home-editar-slide-form .form-item,
form#fgo-backend-home-agregar-slide-form .form-item{
    width: 100%;
}

/*
* MEDIA SCREEN
*/
@media only screen and (min-width:530px){
    fieldset#edit-grupo-slide div[id$="ajax-wrapper"],
    fieldset#add-grupo-slide div[id$="ajax-wrapper"]{
        width: 50%;
        float: left;
    }
}
