<ul class="element-table">
    <li class="element-row">
        <h1 ng-bind="cardData.name"></h1>
        <h2 ng-bind="cardData.numberKms"></h2>
        <h3>KMS LATAM PASS</h3>
    </li>
    <li class="element-row">
        <img src="{{cardData.srcCard}}" alt="">
    </li>
    <li class="element-row">
        <ul>
            <li class="option-item" ng-repeat="option in cardData.options">
                <span class="bullet-point">.</span><span ng-bind="option.text"></span>
        </ul>
        </li>
</ul>