<section class="additional-section">
     <div class="has-icon">
        <a class="hidden-xs hidden-sm" href="" data-toggle="modal" data-target='#infoOfertaLibretonModal'>+ INFO</a>
        <img alt="tarjetas" src="./modules/ofertaExclusiva/img/libreton/tarjetas_desk.png" class="card-img">
    </div>
</section>
<div ng-include="'modules/ofertaExclusiva/views/modal/infoAsideLibreton.html'"></div>
