<section class="additional-section">
    <h3> Y adem&aacute;s...</h3>
    <div class="has-icon">
        <span class="icon-g-_ico_regalo"></span>
        <div class="block--info-aside">
            <p class="light">KMS. LATAM Pass de bienvenida.</p>
        </div>
    </div>
    <div class="has-icon">
        <span class="icon-g-_ico_discount"></span>
        <div class="block--info-aside">
            <p class="light">Tasa preferencial para Pr&eacute;stamos Personales.</p>
        </div>
    </div>
</section>