<div class="detalle-gracias-container">
    <div class="row">
        <div id="thankyouPW">
            <div class="content">
                <p class="title">Cuenta Premium World</p>
                <div class="has-icon">
                    <img alt="tarjetas" src="./modules/ofertaExclusiva/img/premiumWorld/visa_black.png" class="card-img left">
                    <img alt="tarjetas" src="./modules/ofertaExclusiva/img/premiumWorld/master_black.png" class="card-img right">
                </div>
                <p><span class="icon-g-ico_check"></span> Tarjeta BBVA Franc&eacute;s Visa Platinum y Master Card Platinum</p>
                <p><span class="icon-g-ico_check"></span> Caja de Ahorro en pesos y Cuenta Corriente con acuerdo de sobregiro</p>
                <p>Ademas: </p>
                <p><span class="icon-g-_ico_regalo"></span> KMS. LATAM Pass de bienvenida</p>
                <p><span class="icon-g-_ico_discount"></span> Tasa preferencial para pr&eacute;stamos personales</p>
            </div>
        </div>
    </div>
</div>