<div class="detalle-gracias-container">
    <div class="row">
        <div id="thankyouL">
            <div class="content">
                <p class="title">Cuenta Libert&oacute;n Full</p>
                <div class="has-icon">
                    <img alt="tarjetas" src="./modules/ofertaExclusiva/img/libreton/visa_gold.png" class="card-img left">
                    <img alt="tarjetas" src="./modules/ofertaExclusiva/img/libreton/master_gold.png" class="card-img right">
                </div>
                <p><span class="icon-g-ico_check"></span> Tarjeta BBVA Franc&eacute;s Visa Platinum y Master Card Platinum</p>
                <p><span class="icon-g-ico_check"></span> Caja de Ahorro en pesos</p>
                <p>Ademas: </p>
                <p><span class="icon-g-_ico_regalo"></span> KMS. LATAM Pass de bienvenida</p>
                <p><span class="icon-g-_ico_discount"></span> Tasa preferencial para pr&eacute;stamos personales</p>
            </div>
        </div>
    </div>
</div>