<div class="tabla-conteiner">  
    <div class="heading">
        <div class="cell">  
            <p>14.000 KMS</p>
        </div>
        <div class="cell">  
            <p>28.000 KMS</p>
        </div>
        <div class="cell">
            <p>70.000 KMS</p>
        </div>  
    </div>   
    <div class="Row">  
        <div class="cell">
            <p>Argentina</p>
        </div>
        <div class="cell">
            <p>Brasil</p>
        </div>
        <div class="cell">
            <p>USA/Caribe</p>
        </div>  
    </div>  
</div>