<div class="" ng-cloak="">
    <md-content>
        <md-tabs md-border-bottom="" md-dynamic-height="">
            <md-tab label="Vigentes">
                <cupon cupon="cupon" ng-repeat="cupon in $ctrl.cuponesVigentes.vouchers">
                </cupon>
            </md-tab>
            <md-tab label="Usados">
                <cupon cupon="cupon" ng-repeat="cupon in $ctrl.cuponesUsados.vouchers">
                </cupon>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
