<div class="containerMontoPrecalificacion" ng-controller="PrecalificacionController">
    <span class="importe-page-title monto-precalificacion">$ </span>
    <span class="importe-page-title monto-precalificacion" ng-bind="datosResultado.montoMaximo"></span>
</div>
<div class="kms-latam">
    <img class="img-responsive center-block avion-aside" src="/sales/modules/empresas/img/-g-fly_blue.svg">
    <div class="textos-latam-aside">
        <p class="recibimos-latam">Te recibimos con</p>
        <p class="kms-bienvenida-latam">30.000 KMS de bienvenida</p>
    </div>
</div>
<p class="back-p-aside textoDelPaso">Regresando al paso anterior podrás verificar los datos ingresados.</p>