<div id="graciasHeader">
	<h1>{{msg().razonSocial}} queremos contarte sobre nuestras líneas de financiación de forma personalizada</h1>
</div>

<style>
	div#graciasHeader {
		width: 100%; 
		height: 250px; 
		background-color: #006cc4;
	}

	div#graciasHeader h1{
	    position: relative;
	    top: 50%;
	    transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    text-align: center;
	    color: white;
	    font-family: 'BBVA Web Book';
	    margin-top: 0px;
    }
    
    @media (min-width: 992px){
    	div#graciasHeader h1{
		    position: relative;
		    top: 50%;
		    transform: translateY(-50%);
		    -webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		    text-align: center;
		    color: white;
		    font-family: 'BBVA Web Book';
		    margin-top: 0px;
		    margin-right:100px;
		    margin-left:100px;
    	}	
    }

</style>